Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: struggling with kotlin? `man mouaad` in the cli
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
Due: yarn cli format java generators

chore: a fix that isn't a real fix
  templates/kotlin/tests/param_value.mustache
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix(specs): Separators are non-alphanumeric characters
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): Separators are non-alphanumeric characters (#3978)
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

chore: alors peut-etre que
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  specs/common/schemas/SearchResponse.yml
  templates/kotlin/tests/param_value.mustache
  tests/CTS/requests/search/setSettings.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): multiple clients fixes (#3971)
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/common/schemas/SearchResponse.yml
  specs/search/paths/keys/common/schemas.yml
  specs/search/paths/objects/getObjects.yml
  specs/search/paths/synonyms/common/schemas.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-10-16
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

trigger
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

chore: bump vitest
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
Due: yarn fix:json

chore: no parallel
  templates/javascript/clients/package.mustache
Due: none

chore: add co-author to generated commit
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

fix: one empty line
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: idk
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

chore: do not delete package.json
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: maybe just that actually
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: or just that
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: delete with find
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: add searchSingleIndex snippet
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

chore: add co-author to generated commit (#3980)
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: release 2024-10-17 [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

fix(scripts): properly generate commit
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

fix: remove parentID
  specs/ingestion/common/schemas/event.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove `parentID` from ingestion specs [skip-bc] (#3981)
  scripts/ci/codegen/pushGeneratedCode.ts
  specs/ingestion/common/schemas/event.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove from ingestion specs [skip-bc] (#3981) (generated) [skip-ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/Event.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_event.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/Event.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/event.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/Event.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/Event.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/event.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/event.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/Event.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/Event.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
Due: yarn eslint --ext=yml --fix

chore: use skip-checks trailers [skip-bc]
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: command instead
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: generated branch
  specs/ingestion/spec.yml
Due: yarn eslint --ext=yml --fix

chore: generated branch (generated)
  specs/bundled/ingestion.doc.yml
Due: yarn eslint --ext=yml --fix

chore: add searchSingleIndex snippet [skip-bc] (#3975)
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

foo
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: add searchSingleIndex snippet [skip-bc] (#3975) (generated) [skip-ci]
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  specs/bundled/search.doc.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: better en securite than desole
  scripts/ci/codegen/pushGeneratedCode.ts
Due: none

chore: use skip-checks trailers [skip-bc] (#3982)
  scripts/ci/codegen/pushGeneratedCode.ts
  specs/ingestion/spec.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-10-17 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
