Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: prepare release 2024-04-09
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-04-08 (#2983)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix: enum for event type
  specs/personalization/common/schemas/eventScoring.yml
Due: yarn eslint --ext=yml --fix

fix(specs): a/b testing (#2981)
  .github/workflows/check.yml
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/AddABTestsVariant.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/abtesting/paths/abtest.yml
  specs/abtesting/paths/abtests.yml
  specs/abtesting/paths/stopABTest.yml
  specs/abtesting/spec.yml
Due: yarn cli format java generators, yarn github-actions:lint --fix, yarn eslint --ext=yml --fix

fix cts
  tests/CTS/requests/personalization/setPersonalizationStrategy.json
Due: yarn fix:json

fix: this @Fluf22?
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

chore(ci): retry setup if it fails
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: continue-on-error
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(specs): Personalization API (#2982)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/personalization/common/parameters.yml
  specs/personalization/common/schemas/eventScoring.yml
  specs/personalization/common/schemas/facetScoring.yml
  specs/personalization/common/schemas/personalizationStrategy.yml
  specs/personalization/paths/deleteUserProfile.yml
  specs/personalization/paths/getUserTokenProfile.yml
  specs/personalization/paths/personalizationStrategy.yml
  specs/personalization/spec.yml
  tests/CTS/requests/personalization/setPersonalizationStrategy.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore: retry.yml
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: update support link
  CONTRIBUTING.md
  clients/algoliasearch-client-python/setup.cfg
  clients/algoliasearch-client-ruby/algolia.gemspec
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  playground/python/pyproject.toml
  snippets/python/pyproject.toml
  templates/python/pyproject.mustache
  tests/output/python/pyproject.toml
Due: none

feat(specs): update shopify source and task inputs
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

docs: fix typo
  website/docs/contributing/docs.md
Due: none

docs: fix typo (#2988)
  website/docs/contributing/docs.md
Due: none

Apply suggestions from code review
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

fix(ci): use workaround for Swift setup action
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix(ci): use workaround for Swift setup action (#2989)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

Update specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

fix(specs): attribute and index names case sensitive
  specs/abtesting/common/parameters.yml
  specs/common/parameters.yml
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/ingestion/common/schemas/destination.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfiguration.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsIndexName.yml
  specs/search/paths/objects/multipleBatch.yml
Due: yarn eslint --ext=yml --fix

fix: insights index name
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix: must not be empty string
  tests/CTS/requests/search/search.json
Due: yarn fix:json

feat(specs): update shopify source and task inputs (#2987)
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

progress to flat config
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  eslint/src/index.ts
  package.json
  scripts/.eslintrc.cjs
  scripts/ci/githubActions/setRunVariables.ts
  scripts/eslint.config.js
  scripts/next-branch-generation/cleanup-repository
  yarn.lock
Due: yarn fix:json

fix(specs): attribute and index names case sensitive (#2990)
  specs/abtesting/common/parameters.yml
  specs/common/parameters.yml
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/ingestion/common/schemas/destination.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfiguration.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsIndexName.yml
  specs/search/paths/objects/multipleBatch.yml
  tests/CTS/requests/search/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(javascript): allow custom connect timeout
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
Due: none

feat(javascript): allow custom connect timeout (#3010)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
Due: none

chore: prepare release 2024-04-15
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-04-16
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-04-15 (#3011)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
