Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(ci): run swift everytime, default success to false (#3379)
  .github/workflows/check.yml
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn github-actions:lint --fix, yarn fix:json

chore: prepare release 2024-07-15
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore: prepare release 2024-07-16
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

fix(go): use functional options pattern (#3306)
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-go/algolia/errs/wait_err.go
  clients/algoliasearch-client-go/algolia/utils/options.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  playground/go/ingestion.go
  playground/go/insights.go
  playground/go/personalization.go
  playground/go/recommend.go
  playground/go/search.go
  templates/csharp/tests/client/suite.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/search_helpers.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/go/tests/requests/helpers.mustache
  templates/go/tests/requests/requests.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/java/tests/requests/requests.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/ruby/tests/client/suite.mustache
  templates/ruby/tests/e2e/e2e.mustache
  templates/scala/tests/client/suite.mustache
  templates/scala/tests/e2e/e2e.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/e2e/e2e.mustache
Due: none

fix(go): use options for more helpers
  clients/algoliasearch-client-go/algolia/utils/options.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/go/tests/requests/requests.mustache
Due: yarn cli format java generators

fix playground
  playground/go/personalization.go
  playground/go/search.go
Due: none

wft isOptional
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

required pain
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

verbose
  .github/workflows/check.yml
  scripts/cts/runCts.ts
Due: yarn github-actions:lint --fix

fix(go): use options for more helpers (#3383)
  clients/algoliasearch-client-go/algolia/utils/options.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  playground/go/personalization.go
  playground/go/search.go
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/go/tests/requests/requests.mustache
Due: yarn cli format java generators

chore: generated code for commit 7d2b420026c4e4c0a2956793bf0d0e9f74b106fc. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/api_abtesting.go
  clients/algoliasearch-client-go/algolia/analytics/api_analytics.go
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-go/algolia/insights/api_insights.go
  clients/algoliasearch-client-go/algolia/monitoring/api_monitoring.go
  clients/algoliasearch-client-go/algolia/personalization/api_personalization.go
  clients/algoliasearch-client-go/algolia/query-suggestions/api_query_suggestions.go
  clients/algoliasearch-client-go/algolia/recommend/api_recommend.go
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-go/algolia/usage/api_usage.go
  tests/output/go/tests/client/search_test.go
  tests/output/go/tests/requests/abtesting_test.go
  tests/output/go/tests/requests/analytics_test.go
  tests/output/go/tests/requests/ingestion_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/go/tests/requests/monitoring_test.go
  tests/output/go/tests/requests/personalization_test.go
  tests/output/go/tests/requests/query-suggestions_test.go
  tests/output/go/tests/requests/recommend_test.go
  tests/output/go/tests/requests/search_test.go
  tests/output/go/tests/requests/usage_test.go
Due: none

feat(clients): generate test for wait api key helpers
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  playground/swift/playground/playground/main.swift
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/waitForApiKey.ts
  templates/swift/tests/client/suite.mustache
  tests/CTS/client/search/helpers.json
Due: yarn cli format java generators, yarn fix:json

fix(javascript): waitForApiKey consistency
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/tests/client/suite.mustache
Due: none

fix(python): waitForApiKey consistency
  templates/python/search_helpers.mustache
  templates/python/tests/client/suite.mustache
Due: none

fix(csharp): waitForApiKey consistency
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/tests/client/suite.mustache
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

fix(java): waitForApiKey consistency
  scripts/cts/testServer/waitForApiKey.ts
  templates/java/api_helpers.mustache
  templates/java/tests/client/suite.mustache
  tests/output/java/gradle/wrapper/gradle-wrapper.jar
  tests/output/java/gradle/wrapper/gradle-wrapper.properties
  tests/output/java/gradlew
  tests/output/java/gradlew.bat
Due: none

fix: change port
  scripts/cts/testServer/waitForApiKey.ts
  tests/CTS/client/search/helpers.json
Due: yarn fix:json

support multiple lang
  scripts/cts/runCts.ts
  scripts/cts/testServer/waitForApiKey.ts
  tests/CTS/client/search/helpers.json
  tests/output/java/gradle/wrapper/gradle-wrapper.jar
  tests/output/java/gradle/wrapper/gradle-wrapper.properties
  tests/output/java/gradlew
  tests/output/java/gradlew.bat
Due: yarn fix:json

fix(php): waitForApiKey consistency
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
Due: none

fix(csharp): wait for api key test is generated
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

fix(ruby): parameter order
  templates/ruby/search_helpers.mustache
Due: none

fix(tests): add test case on every clients
  templates/go/tests/client/suite.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/ruby/tests/client/suite.mustache
  templates/scala/tests/client/suite.mustache
Due: none

fix go again
  tests/CTS/client/search/helpers.json
Due: yarn fix:json

fix(kotlin): update test template for json string
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  templates/kotlin/tests/client/suite.mustache
  tests/CTS/client/search/helpers.json
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.jar
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/output/kotlin/gradlew
  tests/output/kotlin/gradlew.bat
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Assert.kt
Due: yarn fix:json

fix(ruby): make sure to return a status code from an http error
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  templates/ruby/search_helpers.mustache
Due: none

fix(kotlin): parameter order
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

fix go
  scripts/cts/testServer/waitForApiKey.ts
  specs/search/helpers/waitForApiKey.yml
  tests/CTS/client/search/helpers.json
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.jar
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/output/kotlin/gradlew
  tests/output/kotlin/gradlew.bat
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(php): pass linear timeout and return response
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  templates/php/api.mustache
Due: none

unused prop
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/dart/tests/request_param.mustache
  templates/kotlin/tests/request_param.mustache
Due: yarn cli format java generators

feat(clients): add api key helper test (#3338)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  playground/swift/playground/playground/main.swift
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/waitForApiKey.ts
  specs/search/helpers/waitForApiKey.yml
  templates/csharp/tests/client/suite.mustache
  templates/dart/tests/request_param.mustache
  templates/go/tests/client/suite.mustache
  templates/java/api_helpers.mustache
  templates/java/tests/client/suite.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/tests/client/suite.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/kotlin/tests/request_param.mustache
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/suite.mustache
  templates/ruby/search_helpers.mustache
  templates/ruby/tests/client/suite.mustache
  templates/scala/tests/client/suite.mustache
  templates/swift/tests/client/suite.mustache
  tests/CTS/client/search/helpers.json
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Assert.kt
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore: generated code for commit a68907d1c4e8e64dcbc770832b64ddebc8ed7931. [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  specs/bundled/search.yml
  tests/output/csharp/src/generated/client/Search.test.cs
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/client/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/client/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/client/Monitoring.test.java
  tests/output/java/src/test/java/com/algolia/client/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/client/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/client/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/java/src/test/java/com/algolia/client/Usage.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
  tests/output/ruby/test/client/search_test.rb
  tests/output/swift/Tests/client/SearchTests.swift
Due: yarn eslint --ext=yml --fix

fix(specs): update shopify feature flags (#3380)
  .github/workflows/check.yml
  scripts/cts/runCts.ts
  specs/ingestion/common/schemas/source.yml
Due: yarn github-actions:lint --fix, yarn eslint --ext=yml --fix

chore: generated code for commit 280037178b3a9fdf26c1ce58545db7dfe4741b53. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/SourceShopify.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/SourceUpdateShopify.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_source_shopify.go
  clients/algoliasearch-client-go/algolia/ingestion/model_source_update_shopify.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/SourceShopify.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/SourceUpdateShopify.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateShopify.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/SourceShopify.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/SourceUpdateShopify.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceInput.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceShopify.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceUpdateInput.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceUpdateShopify.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/source_shopify.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/source_update_shopify.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/source_shopify.rb
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/source_update_shopify.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/SourceShopify.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/SourceUpdateShopify.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/SourceShopify.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/SourceUpdateShopify.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
Due: yarn eslint --ext=yml --fix

new lines
  templates/dart/tests/client/method.mustache
  templates/java/tests/client/method.mustache
  templates/javascript/tests/client/method.mustache
  templates/kotlin/tests/client/method.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/php/tests/client/method.mustache
  templates/python/tests/client/method.mustache
  templates/ruby/tests/client/method.mustache
  templates/scala/tests/client/method.mustache
  templates/swift/tests/client/method.mustache
Due: none

chore(cts): reuse method template
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/runCts.ts
  scripts/cts/testServer/timeout.ts
  templates/csharp/tests/method.mustache
  templates/dart/tests/client/method.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/method.mustache
  templates/go/tests/requests/requests.mustache
  templates/java/tests/client/method.mustache
  templates/javascript/tests/client/method.mustache
  templates/kotlin/tests/client/method.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/php/tests/client/method.mustache
  templates/python/tests/client/method.mustache
  templates/ruby/tests/client/method.mustache
  templates/scala/tests/client/method.mustache
  templates/swift/tests/client/method.mustache
  tests/CTS/client/abtesting/parameters.json
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/common/commonApi.json
  tests/CTS/client/ingestion/parameters.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/monitoring/parameters.json
  tests/CTS/client/recommend/api.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/helpers.json
  tests/CTS/client/search/parameters.json
  tests/CTS/client/usage/api.json
Due: yarn cli format java generators, yarn fix:json
