Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore(ci): use GitHub App client ID (#6556)
  .github/workflows/check.yml
  .github/workflows/push-to-repository.yml
  .github/workflows/renovate.yml
  .github/workflows/scheduled-release.yml
Due: yarn github-actions:lint --fix

feat(search): add SemanticSearchSettings schema for /semanticSearch/settings endpoint
  specs/search/paths/settings/semanticSearchSettings.yml
Due: yarn eslint --ext=yml --fix

feat(search): add /semanticSearch/settings GET and PUT path spec
  specs/search/paths/settings/semanticSearchSettingsPath.yml
Due: yarn eslint --ext=yml --fix

feat(search): register /semanticSearch/settings in Search API spec
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

fix: extract neuralSearchMode and neuralSearchPreset enums out of line
  specs/search/common/enums.yml
Due: yarn eslint --ext=yml --fix

fix: use $ref for neuralSearchMode and neuralSearchPreset enums
  specs/search/paths/settings/semanticSearchSettings.yml
Due: yarn eslint --ext=yml --fix

chore(dart): update CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_agent_studio/CHANGELOG.md
Due: none

chore: update pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_agent_studio/pubspec.yaml
Due: none

fix: remove non-existent Timeout.yml ref and incorrect 201 response
  specs/search/paths/settings/semanticSearchSettingsPath.yml
Due: yarn eslint --ext=yml --fix

test(specs): add CTS for getSemanticSearchSettings and setSemanticSearchSettings
  tests/CTS/requests/search/getSemanticSearchSettings.json
Due: yarn fix:json

test(specs): add CTS for setSemanticSearchSettings
  tests/CTS/requests/search/setSemanticSearchSettings.json
Due: yarn fix:json

test(cts): skip e2e for getSemanticSearchSettings (endpoint not yet live)
  tests/CTS/requests/search/getSemanticSearchSettings.json
Due: yarn fix:json

test(cts): skip e2e for setSemanticSearchSettings (endpoint not yet live)
  tests/CTS/requests/search/setSemanticSearchSettings.json
Due: yarn fix:json

Upgrade json4s from 4.1.0 to 4.1.1
  clients/algoliasearch-client-scala/build.sbt
  playground/scala/build.sbt
Due: none

Bump Scala 13 version
  clients/algoliasearch-client-scala/build.sbt
Due: none

test(cts): rename test to avoid Kotlin overload conflict
  tests/CTS/requests/search/setSemanticSearchSettings.json
Due: yarn fix:json

fix(dart): publish ingestion package
  clients/algoliasearch-client-dart/.github/workflows/release.yml
Due: none

fix(specs): remove agent studio beta metadata
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(javascript): promote agent studio package
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: yarn cli format java generators

fix(dart): promote agent studio package
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
Due: yarn cli format java generators

fix(templates): remove agent studio runtime warnings
  templates/python/api.mustache
  templates/ruby/api.mustache
Due: none

fix(templates): remove agent studio deprecation markers
  templates/csharp/api.mustache
  templates/javascript/clients/api-single.mustache
  templates/php/api.mustache
Due: none

fix(templates): remove agent studio JVM beta docs
  templates/java/api.mustache
  templates/kotlin/api.mustache
  templates/scala/api.mustache
Due: none

fix(templates): remove agent studio beta docs
  templates/dart/api.mustache
  templates/go/client.mustache
  templates/swift/api.mustache
Due: none

fix(specs): keep agent studio beta docs warning
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(dart): remove agent studio package version override
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
Due: yarn cli format java generators

fix(javascript): remove agent studio package version override
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: yarn cli format java generators

feat(clients): release Agent Studio package updates (#6573)
  clients/algoliasearch-client-dart/.github/workflows/release.yml
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  specs/agent-studio/spec.yml
  templates/csharp/api.mustache
  templates/dart/api.mustache
  templates/go/client.mustache
  templates/java/api.mustache
  templates/javascript/clients/api-single.mustache
  templates/kotlin/api.mustache
  templates/php/api.mustache
  templates/python/api.mustache
  templates/ruby/api.mustache
  templates/scala/api.mustache
  templates/swift/api.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

chore: agent studio js version bump
  clients/algoliasearch-client-javascript/packages/agent-studio/package.json
Due: yarn fix:json

test(cts): rename test to avoid Kotlin overload conflict
  tests/CTS/requests/search/getSemanticSearchSettings.json
Due: yarn fix:json

fix(clients): bump replaceAllObjects default maxRetries from 100 to 800
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ChunkedHelperOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/chunked_helper_options.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/transformation.dart
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ChunkedHelperOptions.java
  clients/algoliasearch-client-javascript/packages/client-common/src/constants.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-php/lib/Support/ChunkedHelperOptions.php
  clients/algoliasearch-client-python/algoliasearch/http/chunked_helper_options.py
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ChunkedHelperOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/SearchExtensions.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/ChunkedHelperOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  templates/go/api.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

fix(swift): return generic type from getObject
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/api.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/requests/requests.mustache
Due: none

fix(swift): keep deprecated AnyCodable getObject overloads for zero BC
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/api.mustache
  templates/swift/snippets/method.mustache
Due: none

refactor(ruby): route replaceAllObjects retries through ChunkedHelperOptions.resolve
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  templates/ruby/search_helpers.mustache
Due: none

fix(specs): allow null records in getObjects response
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  specs/search/paths/objects/getObjects.yml
  templates/csharp/generic_type.mustache
  templates/javascript/clients/client/model/types/dataTypeGeneric.mustache
  templates/swift/generic_type.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

test(search): cover getObjects null record deserialization
  scripts/cts/testServer/algoliaMock.ts
  tests/CTS/client/search/getObjects.json
Due: yarn fix:json

fix(ruby): preserve null array elements in tests and serialization
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/RubyNilLambda.java
  templates/ruby/base_object.mustache
  templates/ruby/tests/client/tests.mustache
Due: yarn cli format java generators

style(generators): format RubyNilLambda javadoc
  generators/src/main/java/com/algolia/codegen/cts/lambda/RubyNilLambda.java
Due: yarn cli format java generators

docs(javascript): correct replaceAllObjects maxRetries default in helper docstrings
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/client/api/helpers.mustache
Due: none

fix(clients): bump replaceAllObjects default maxRetries from 100 to 800 (#6580)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ChunkedHelperOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/chunked_helper_options.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/transformation.dart
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ChunkedHelperOptions.java
  clients/algoliasearch-client-javascript/packages/client-common/src/constants.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-php/lib/Support/ChunkedHelperOptions.php
  clients/algoliasearch-client-python/algoliasearch/http/chunked_helper_options.py
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ChunkedHelperOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/SearchExtensions.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/ChunkedHelperOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  templates/go/api.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none
