Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

feat(specs): create ingestion specs
  specs/ingestion/common/schemas/observability.yml
Due: none

feat(javascript): create ingestion client
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/yarn.lock
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/GenericPropagator.java
  playground/javascript/node/ingestion.ts
  playground/javascript/node/package.json
  templates/javascript/clients/api-single.mustache
  yarn.lock
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

add package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
Due: yarn fix:json

add to test package.json
  tests/output/javascript/package.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix test
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
Due: none

revert useAlgoliaTracking
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  playground/javascript/node/ingestion.ts
  specs/ingestion/paths/runs/tasks/taskID.yml
  templates/javascript/clients/api-single.mustache
Due: docker exec -t api-client yarn cli format java generators

remove files
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  specs/ingestion/common/schemas/observability.yml
Due: yarn fix:json

remove from tests
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

bump cache
  .github/.cache_version
Due: none

don't update yarn.lock
  yarn.lock
Due: none

remove from playground
  playground/javascript/node/package.json
Due: yarn fix:json

disable CTS for now
  scripts/cts/generate.ts
Due: none

Update config/openapitools.json
  config/openapitools.json
Due: yarn fix:json

feat(javascript): create ingestion client (#1101)
  .github/.cache_version
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/GenericPropagator.java
  playground/javascript/node/ingestion.ts
  playground/javascript/node/package.json
  scripts/cts/generate.ts
  specs/ingestion/paths/runs/tasks/taskID.yml
  templates/javascript/clients/api-single.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix(doc): add ingestion link
  .redocly.yaml
Due: none

fix(ingestion): replace sources client with ingestion
  .codesandbox/ci.json
  .redocly.yaml
  clients/README.md
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/openapitools.json
  playground/javascript/node/package.json
  playground/javascript/node/sources.ts
  renovate.json
  specs/sources/common/enums.yml
  specs/sources/common/schemas/Task.yml
  specs/sources/paths/ingest/postUrl.yml
  specs/sources/spec.yml
  tests/CTS/client/sources/api.json
  tests/CTS/client/sources/parameters.json
  tests/CTS/methods/requests/sources/postIngestUrl.json
  tests/output/javascript/package.json
  tests/output/javascript/yarn.lock
  website/docs/contributing/CLI/clients-commands.md
  website/docs/contributing/CLI/cts-commands.md
  yarn.lock
Due: yarn fix:json

remove old generated files
  clients/algoliasearch-client-javascript/packages/client-sources/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-sources/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-sources/index.d.ts
  clients/algoliasearch-client-javascript/packages/client-sources/index.js
  clients/algoliasearch-client-javascript/packages/client-sources/model/authenticationType.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/errorBase.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/method.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/operationType.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/postIngestUrlResponse.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/postURLJob.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/postURLJobAuth.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/postURLJobInput.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/postURLJobTarget.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/productType.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/task.ts
  clients/algoliasearch-client-javascript/packages/client-sources/model/taskType.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/tsconfig.json
  tests/output/javascript/src/client/sources.test.ts
  tests/output/javascript/src/methods/requests/sources.test.ts
Due: yarn fix:json

chore: prepare release 2022-12-15
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2022-12-15 (#1179)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-12-15 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

chore: bump docs deps
  netlify.toml
  website/package.json
  website/yarn.lock
Due: yarn fix:json

loader
  website/yarn.lock
Due: none

chore: bump docs deps (#1180)
  netlify.toml
  website/package.json
  website/yarn.lock
Due: yarn fix:json

Correct? hostnames for Algolia Search
  specs/search/spec.yml
Due: none

fix(specs): new CT source input
  specs/ingestion/common/schemas/source.yml
Due: none

fix(specs): Algolia Search hostnames (#1189)
  specs/search/spec.yml
Due: none

format
  specs/ingestion/common/schemas/source.yml
Due: none

chore: generated code for commit 377e091d7d49015d2da15e930a63fd898df1cb77. [skip ci]
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
Due: none

fix(specs): new CT source input (#1190)
  specs/ingestion/common/schemas/source.yml
Due: none

fix(javascript): pass with no tests
  tests/output/javascript/package.json
Due: yarn fix:json

fix(javascript): pass with no tests (#1191)
  tests/output/javascript/package.json
Due: yarn fix:json

fix(javascript): update ingestion specs
  specs/ingestion/common/schemas/source.yml
Due: none

fix(javascript): update ingestion specs (#1192)
  specs/ingestion/common/schemas/source.yml
Due: none

chore: generated code for commit 494c2b77e5b86592dcd1f1a9b34e6e4064bcb666. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceCommercetools.ts
  specs/bundled/ingestion.yml
Due: none

chore: prepare release 2022-12-23
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2022-12-23 (#1193)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json
