Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

Update clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
Due: none

fix(specs): deprecate `condition` field in rule schemas for backward compatibility
  specs/composition/common/schemas/components/CompositionRule.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

Update CompositionRule.yml
  specs/composition/common/schemas/components/CompositionRule.yml
Due: yarn eslint --ext=yml --fix

Update schemas.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

Add missing parameter to chunkedPush method call in saveObjectsWithTransformation
  templates/php/api.mustache
Due: none

fix(javascript): Added warning in comment (#5961)
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
Due: none

Add missing parameter to chunkedPush method call in partialUpdateObjectsWithTransformation
  templates/php/api.mustache
Due: none

fix(javascript): Added warning in comment (#5961) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore: prepare release 2026-02-17
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(php): with transformation missing param (#5986)
  templates/php/api.mustache
Due: none

fix(php): with transformation missing param (#5986) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none

fix(specs): restore deprecated `condition` field in rule schemas for backward compatibility
  specs/composition/common/schemas/components/CompositionRule.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

chore(deps): update coverlet.collector to version 8.0.0
  templates/csharp/tests/Algolia.Search.Tests.csproj.mustache
Due: none

chore: prepare release 2026-02-17
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2026-02-17 (#5987)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore(deps): dependencies 2026-02-16 (#5965)
  .nvmrc
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-scala/project/build.properties
  config/.dart-version
  config/.go-version
  config/.php-version
  docs/guides/ruby/Gemfile.lock
  package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/python/requirements.txt
  playground/scala/project/build.properties
  scripts/package.json
  templates/csharp/tests/Algolia.Search.Tests.csproj.mustache
  templates/javascript/clients/package.mustache
  tests/output/ruby/Gemfile.lock
  tests/output/scala/project/build.properties
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2026-02-16 (#5965) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: yarn fix:json

fix(javascript): Added pre- and post-tags snippet for highlighting doc
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

feat(specs): add optional feedID to composition result set
  specs/composition/common/schemas/responses/runResponseComponents/SingleResultSet.yml
Due: yarn eslint --ext=yml --fix

fix: migrate httpsnippet to @readme/httpsnippet and update related code
  scripts/package.json
  scripts/specs/format.ts
  yarn.lock
Due: yarn fix:json

fix: update golangci-lint version to v2.10.1 in action.yml and Dockerfile.base
  .github/actions/setup/action.yml
  scripts/docker/Dockerfile.base
Due: yarn github-actions:lint --fix

fix(javascript): Created more setSettings snippets for docs
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

feat(specs): add optional feedID to composition result set (#5991)
  specs/composition/common/schemas/responses/runResponseComponents/SingleResultSet.yml
Due: yarn eslint --ext=yml --fix

feat(abTest): implement A/B testing logic based on user token
  templates/javascript/guides/search/abTestImplementationChecklist.mustache
Due: none

test: add test
  tests/CTS/requests/composition/putComposition.json
Due: yarn fix:json

fix(composition): invalid API format for multi feed
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

fix example
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

fix(javascript): Update deprecated index.setSettings calls (#5990)
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix(javascript): Update deprecated index.setSettings calls (#5990) (generated) [skip ci]
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

try fix
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

fix
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

fix: improve host initialization in getDefaultHosts function and update golangci-lint configuration
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-go/algolia/transport/requester.go
  templates/go/client.mustache
Due: none

chore: add tests/CTS/**/composition to CODEOWNERS
  CODEOWNERS
Due: none

fix(specs): invalid API format for multi feed in Comp API (#5993)
  CODEOWNERS
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
  tests/CTS/requests/composition/putComposition.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(deps): httpsnippet migration (#5992)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-go/algolia/transport/requester.go
  scripts/docker/Dockerfile.base
  scripts/package.json
  scripts/specs/format.ts
  templates/go/client.mustache
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
