Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: release 2024-10-23 [skip ci]
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/README.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/README.md
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/README.md
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/README.md
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/README.md
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/README.md
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/README.md
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/README.md
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/README.md
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/README.md
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/src/client/abtesting.test.ts
  tests/output/javascript/src/client/analytics.test.ts
  tests/output/javascript/src/client/ingestion.test.ts
  tests/output/javascript/src/client/insights.test.ts
  tests/output/javascript/src/client/monitoring.test.ts
  tests/output/javascript/src/client/personalization.test.ts
  tests/output/javascript/src/client/querySuggestions.test.ts
  tests/output/javascript/src/client/recommend.test.ts
  tests/output/javascript/src/client/search.test.ts
Due: none

chore(javascript): update release script
  clients/algoliasearch-client-javascript/.github/workflows/release.yml
  config/generation.config.mjs
Due: none

Revert "chore: release 2024-10-23 [skip ci]"
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/README.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/README.md
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/README.md
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/README.md
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/README.md
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/README.md
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/README.md
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/README.md
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/README.md
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/README.md
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/src/client/abtesting.test.ts
  tests/output/javascript/src/client/analytics.test.ts
  tests/output/javascript/src/client/ingestion.test.ts
  tests/output/javascript/src/client/insights.test.ts
  tests/output/javascript/src/client/monitoring.test.ts
  tests/output/javascript/src/client/personalization.test.ts
  tests/output/javascript/src/client/querySuggestions.test.ts
  tests/output/javascript/src/client/recommend.test.ts
  tests/output/javascript/src/client/search.test.ts
Due: none

Revert "chore: prepare release 2024-10-23 (#4021)"
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix(specs): results in getObjects is required
  specs/search/paths/objects/getObjects.yml
Due: yarn eslint --ext=yml --fix

chore: indentation is hard
  specs/search/paths/objects/getObjects.yml
Due: yarn eslint --ext=yml --fix

fix(specs): results in getObjects is required (#4024)
  specs/search/paths/objects/getObjects.yml
Due: yarn eslint --ext=yml --fix

fix(specs): results in getObjects is required (#4024) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Search/GetObjectsResponse.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/get_objects_response.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/get_objects_response.g.dart
  clients/algoliasearch-client-go/algolia/search/model_get_objects_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/GetObjectsResponse.java
  clients/algoliasearch-client-javascript/packages/client-search/model/getObjectsResponse.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/GetObjectsResponse.kt
  clients/algoliasearch-client-php/lib/Model/Search/GetObjectsResponse.php
  clients/algoliasearch-client-python/algoliasearch/search/models/get_objects_response.py
  clients/algoliasearch-client-ruby/lib/algolia/models/search/get_objects_response.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/GetObjectsResponse.scala
  clients/algoliasearch-client-swift/Sources/Search/Models/GetObjectsResponse.swift
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-10-23
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

chore: prepare release 2024-10-23 (#4025)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix(specs): update time range number types
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

remove more dup
  specs/recommend/common/responses/common.yml
  specs/recommend/common/schemas/RecommendRule.yml
Due: yarn eslint --ext=yml --fix

remove dup
  specs/common/schemas/Rule.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

feat(clients): make custom generic
  specs/common/schemas/CustomRequest.yml
Due: yarn eslint --ext=yml --fix

fix(ruby): provide default ttl
  clients/algoliasearch-client-ruby/lib/algolia.rb
Due: none

husky
  clients/algoliasearch-client-ruby/lib/algolia/defaults.rb
  config/generation.config.mjs
Due: none

fix(ruby): provide default ttl (#4027)
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/defaults.rb
  config/generation.config.mjs
Due: none

fix java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

fix(ruby): provide default ttl (#4027) (generated) [skip ci]
  clients/algoliasearch-client-ruby/lib/algolia/defaults.rb
Due: none

fix(specs): update time range number types [skip-bc] (#4023)
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  specs/common/schemas/Rule.yml
  specs/recommend/common/responses/common.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

fix(specs): update time range number types [skip-bc] (#4023) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Recommend/TimeRange.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Search/TimeRange.cs
  clients/algoliasearch-client-go/algolia/recommend/model_time_range.go
  clients/algoliasearch-client-go/algolia/search/model_time_range.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/TimeRange.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/TimeRange.java
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/TimeRange.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/TimeRange.kt
  clients/algoliasearch-client-php/lib/Model/Recommend/TimeRange.php
  clients/algoliasearch-client-php/lib/Model/Search/TimeRange.php
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/TimeRange.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/TimeRange.scala
  clients/algoliasearch-client-swift/Sources/Recommend/Models/RecommendTimeRange.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchTimeRange.swift
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn eslint --ext=yml --fix

chore(swift): fix configuration protection level
  templates/swift/client_configuration.mustache
Due: none

chore(swift): fix configuration protection level (#4028)
  templates/swift/client_configuration.mustache
Due: none

feat(clients): cleanup after replaceAllObjects failure
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsFailed.ts
  templates/Bug_report.yml
  templates/go/search_helpers.mustache
  tests/CTS/client/search/replaceAllObjects.json
Due: yarn fix:json

chore(swift): add cleanup method to replace all objects helper
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  scripts/cts/testServer/replaceAllObjectsFailed.ts
Due: none

feat(specs): add missing message attribute to GetObjectsResponse
  specs/search/paths/objects/getObjects.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add missing message attribute to GetObjectsResponse [skip-bc] (#4029)
  specs/search/paths/objects/getObjects.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add missing message attribute to GetObjectsResponse [skip-bc] (#4029) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Search/GetObjectsResponse.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/get_objects_response.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/get_objects_response.g.dart
  clients/algoliasearch-client-go/algolia/search/model_get_objects_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/GetObjectsResponse.java
  clients/algoliasearch-client-javascript/packages/client-search/model/getObjectsResponse.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/GetObjectsResponse.kt
  clients/algoliasearch-client-php/lib/Model/Search/GetObjectsResponse.php
  clients/algoliasearch-client-python/algoliasearch/search/models/get_objects_response.py
  clients/algoliasearch-client-ruby/lib/algolia/models/search/get_objects_response.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/GetObjectsResponse.scala
  clients/algoliasearch-client-swift/Sources/Abtesting/AbtestingClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Analytics/AnalyticsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Insights/InsightsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Monitoring/MonitoringClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Personalization/PersonalizationClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/QuerySuggestions/QuerySuggestionsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Recommend/RecommendClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/GetObjectsResponse.swift
  clients/algoliasearch-client-swift/Sources/Search/SearchClientConfiguration.swift
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

feat(clients): expose `waitForTasks` to batch helpers
  templates/python/search_helpers.mustache
Due: none

feat: javascript
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: none

fix(python): false -> False
  templates/python/search_helpers.mustache
Due: none

fix: python playground
  playground/python/app/search.py
  playground/python/poetry.lock
  scripts/playground.ts
Due: none

fix(specs): support synonyms type in camel case
  specs/search/paths/synonyms/common/parameters.yml
Due: yarn eslint --ext=yml --fix

fix: weird enum names
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
Due: yarn cli format java generators

feat: java
  templates/java/api_helpers.mustache
Due: none

feat: ruby
  templates/ruby/search_helpers.mustache
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
