Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat(commercetools): useImagesObjects source input parameter
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

fix(specs): crawler logs file response
  specs/crawler/paths/crawlerLogsFile.yml
Due: yarn eslint --ext=yml --fix

fix(guides): error in deleteMultipleIndices guide
  templates/go/guides/search/deleteMultipleIndices.mustache
Due: none

guides: fix error in deleteMultipleIndices template for Go (#5619)
  templates/go/guides/search/deleteMultipleIndices.mustache
Due: none

dependabots issues
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/yarn.lock
  website/yarn.lock
Due: none

guides: fix error in deleteMultipleIndices template for Go (#5619) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/guides/go/src/deleteMultipleIndices.go
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

fix indentation
  specs/composition/common/schemas/requestBodies/RulesBatchCompositionAction.yml
Due: yarn eslint --ext=yml --fix

template
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/EnumConverter.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/QueryStringHelper.cs
  templates/csharp/snippets/dotnet-tools.mustache
Due: none

fix(specs): crawler logs file response (#5601)
  specs/crawler/paths/crawlerLogsFile.yml
Due: yarn eslint --ext=yml --fix

fix(specs): crawler logs file response (#5601) (generated) [skip ci]
  docs/bundled/crawler.json
  docs/bundled/crawler.yml
  specs/bundled/crawler.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add useImagesObjects property in commercetools source input (#5586)
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

upgrade to v10
  config/.csharp-version
  playground/csharp/Performances/Performances.csproj
  playground/csharp/Playground/Playground.csproj
  templates/csharp/netcore_project.mustache
  templates/csharp/snippets/src.csproj.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

feat(specs): add useImagesObjects property in commercetools source input (#5586) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/SourceCommercetools.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/SourceUpdateCommercetools.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_source_commercetools.go
  clients/algoliasearch-client-go/algolia/ingestion/model_source_update_commercetools.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/SourceCommercetools.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/SourceUpdateCommercetools.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceCommercetools.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateCommercetools.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/SourceCommercetools.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/SourceUpdateCommercetools.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceCommercetools.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceInput.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceUpdateCommercetools.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/SourceUpdateInput.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/source_commercetools.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/source_update_commercetools.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/source_commercetools.rb
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/source_update_commercetools.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/SourceCommercetools.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/SourceUpdateCommercetools.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/SourceCommercetools.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/SourceUpdateCommercetools.swift
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  specs/bundled/ingestion.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): Add title values to key oneOfs (#5581)
  specs/abtesting-v3/common/schemas/AddABTestsVariant.yml
  specs/abtesting/common/schemas/AddABTestsVariant.yml
  specs/composition/common/schemas/requestBodies/BatchCompositionAction.yml
  specs/composition/common/schemas/requestBodies/RulesBatchCompositionAction.yml
  specs/composition/paths/compositions/composition.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/transformation.yml
  specs/recommend/common/schemas/RecommendationsResponse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): Add title values to key oneOfs (#5581) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/CompositionClient.cs
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/api/composition_client.dart
  clients/algoliasearch-client-go/algolia/composition/api_composition.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/CompositionClient.java
  clients/algoliasearch-client-javascript/packages/composition/src/compositionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/CompositionClient.kt
  clients/algoliasearch-client-php/lib/Api/CompositionClient.php
  clients/algoliasearch-client-python/algoliasearch/composition/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/composition_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/CompositionClient.scala
  clients/algoliasearch-client-swift/Sources/Composition/CompositionClient.swift
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  docs/bundled/abtesting.json
  docs/bundled/abtesting.yml
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  docs/bundled/recommend.json
  docs/bundled/recommend.yml
  specs/bundled/abtesting-v3.yml
  specs/bundled/abtesting.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/composition.yml
  specs/bundled/ingestion.yml
  specs/bundled/recommend.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

revert
  config/.go-version
Due: none

chore(go): test the support of multiple go versions
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  templates/go/snippets/go.mod.mustache
  templates/go/tests/go.mod.mustache
Due: yarn cli format java generators, yarn fix:json

chore(deps): dependencies 2025-11-10 (#5585) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/EnumConverter.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/QueryStringHelper.cs
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/csharp/.config/dotnet-tools.json
  docs/guides/csharp/src/mcmSearchWithout.cs
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/.config/dotnet-tools.json
  docs/snippets/csharp/src/src.csproj
  tests/output/csharp/global.json
  tests/output/javascript/package.json
Due: yarn fix:json

chore(csharp): test the support of multiple dotnet versions
  config/clients.config.json
  config/clients.schema.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  templates/csharp/snippets/src.csproj.mustache
  templates/csharp/tests/Algolia.Search.Tests.csproj.mustache
Due: yarn cli format java generators, yarn fix:json

fix jsonassert
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/requests/requests.mustache
Due: yarn cli format java generators

remove global.json
  clients/algoliasearch-client-csharp/.github/workflows/release.yml
  clients/algoliasearch-client-csharp/global.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  renovate.json
  scripts/ci/githubActions/createMatrix.ts
  templates/csharp/globaljson.mustache
  templates/csharp/tests/Algolia.Search.Tests.csproj.mustache
  tests/output/csharp/global.json
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: yarn cli format java generators, yarn fix:json

update in the playground
  .github/workflows/check.yml
  playground/csharp/Playground/Playground.csproj
  scripts/buildLanguages.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/cli/index.ts
  scripts/install.sh
  scripts/package.json
  scripts/playground.ts
Due: yarn github-actions:lint --fix, yarn fix:json

nice
  scripts/playground.ts
Due: none

reverse
  scripts/playground.ts
Due: none

only minor
  scripts/playground.ts
Due: none

chore(go): test the support of multiple go versions (#5621)
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/go/snippets/go.mod.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/go.mod.mustache
  templates/go/tests/requests/requests.mustache
Due: yarn cli format java generators, yarn fix:json

chore(go): test the support of multiple go versions (#5621) (generated) [skip ci]
  tests/output/go/tests/e2e/abtesting_test.go
  tests/output/go/tests/e2e/composition_test.go
  tests/output/go/tests/e2e/ingestion_test.go
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/e2e/query-suggestions_test.go
  tests/output/go/tests/e2e/recommend_test.go
  tests/output/go/tests/e2e/search_test.go
  tests/output/go/tests/requests/abtesting-v3_test.go
  tests/output/go/tests/requests/abtesting_test.go
  tests/output/go/tests/requests/analytics_test.go
  tests/output/go/tests/requests/composition_test.go
  tests/output/go/tests/requests/ingestion_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/go/tests/requests/monitoring_test.go
  tests/output/go/tests/requests/personalization_test.go
  tests/output/go/tests/requests/query-suggestions_test.go
  tests/output/go/tests/requests/recommend_test.go
  tests/output/go/tests/requests/search_test.go
Due: none

im blind
  playground/csharp/Performances/Performances.csproj
Due: none

fix(specs): update run reason in observability
  specs/ingestion/common/schemas/run.yml
Due: yarn eslint --ext=yml --fix

pass the version to snippets and guides
  .github/workflows/check.yml
  scripts/buildLanguages.ts
  scripts/cli/index.ts
  scripts/docs/generate.ts
Due: yarn github-actions:lint --fix

skip java
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(specs): update run reason in observability (#5623)
  specs/ingestion/common/schemas/run.yml
Due: yarn eslint --ext=yml --fix

broken
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

swap
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(specs): add tags and scope to rules
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix
