Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: facet order naming
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

fix: fix typos
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: move forgotten `x-categories`
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: bad ref for `Analytics`
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

fix: enum proposal
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): mutualise code between Search API & Comp API for search query parameters
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/composition-full/common/params/Search.yml
Due: yarn eslint --ext=yml --fix

feat(clients): add new abtesting-v3 package to clients + stabilize alpha js package
  config/clients.config.json
Due: yarn fix:json

remove format date
  specs/abtesting-v3/common/schemas/Timeseries.yml
Due: yarn eslint --ext=yml --fix

fix: javascript
  config/clients.config.json
  config/clients.schema.json
Due: yarn fix:json

chore: bump abtestingv3 to stable
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
Due: yarn fix:json

fix(clients): retry strategy on error
  scripts/cts/runCts.ts
  scripts/cts/testServer/error.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix(go/transport) Fix retry strategy because of req.Body read multiple times.
  clients/algoliasearch-client-go/algolia/transport/transport.go
Due: none

fix: python assertion
  scripts/cts/testServer/error.ts
Due: none

fix: go
  clients/algoliasearch-client-go/algolia/transport/transport.go
Due: none

chore: err
  clients/algoliasearch-client-go/algolia/transport/transport.go
Due: none

fix(go): retry strategy (#5159)
  clients/algoliasearch-client-go/algolia/transport/transport.go
  scripts/cts/runCts.ts
  scripts/cts/testServer/error.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix(go): retry strategy (#5159) (generated) [skip ci]
  tests/output/csharp/src/generated/client/Search.test.cs
  tests/output/dart/test/client/search_test.dart
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
  tests/output/ruby/test/client/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/client/SearchTest.scala
  tests/output/swift/Tests/client/SearchTests.swift
Due: none

chore: prepare release 2025-07-25
  clients/algoliasearch-client-go/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-07-25 (#5160)
  clients/algoliasearch-client-go/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: release 2025-07-25 [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/composition/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  tests/output/go/tests/client/abtesting_test.go
  tests/output/go/tests/client/analytics_test.go
  tests/output/go/tests/client/ingestion_test.go
  tests/output/go/tests/client/insights_test.go
  tests/output/go/tests/client/monitoring_test.go
  tests/output/go/tests/client/personalization_test.go
  tests/output/go/tests/client/query-suggestions_test.go
  tests/output/go/tests/client/recommend_test.go
  tests/output/go/tests/client/search_test.go
Due: none

make abtesting standAlone again
  config/clients.config.json
Due: yarn fix:json

chore(deps): update rubygems/release-gem digest to ebe1ec6 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/ruby/insights.rb
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
Due: yarn fix:json

Update clients/algoliasearch-client-java/.java-version
  clients/algoliasearch-client-java/.java-version
Due: none

chore(deps): dependencies 2025-07-28 (#5161)
  clients/algoliasearch-client-dart/packages/client_composition/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  clients/algoliasearch-client-java/.java-version
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
  docs/guides/csharp/.config/dotnet-tools.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/.config/dotnet-tools.json
  docs/snippets/csharp/src/src.csproj
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/java/build.gradle
  playground/javascript/browser/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  yarn.lock
Due: yarn fix:json

fix: javascript
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: none

fix: javascript
  playground/javascript/node/abtestingV3.ts
Due: none

fix: swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

fix: dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/build.yaml
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/example/example.dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/test/version_test.dart
  tests/output/dart/pubspec.yaml
Due: none

fix: unit
  tests/CTS/requests/abtesting-v3/listABTests.json
Due: yarn fix:json

fix: dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/lib/src/extension.dart
  tests/output/dart/pubspec.yaml
Due: none

fix: dart generation
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  templates/dart/analysis_options.tests.mustache
  templates/dart/pubspec.tests.mustache
  templates/dart/pubspec_overrides.tests.mustache
  tests/output/dart/pubspec.yaml
  tests/output/dart/pubspec_overrides.yaml
Due: yarn cli format java generators

fix: pubspec
  templates/dart/pubspec.tests.mustache
Due: none

fix: dart generation
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  templates/dart/pubspec.tests.mustache
  tests/output/dart/pubspec.yaml
Due: yarn cli format java generators

fix(clients): add batchSize to accountCopyIndex
  scripts/cts/testServer/accountCopyIndex.ts
  specs/search/helpers/accountCopyIndex.yml
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/CTS/client/search/accountCopyIndex.json
Due: yarn fix:json, yarn eslint --ext=yml --fix
