Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(java): dont use watch=true in replaceAllObjectsWithTransformation (#5516)
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
  templates/java/api_helpers.mustache
Due: none

revert
  specs/common/schemas/SearchParams.yml
  specs/composition/common/params/Search.yml
Due: yarn eslint --ext=yml --fix

fix(java): dont use watch=true in replaceAllObjectsWithTransformation (#5516) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/IngestionClient.java
Due: none

chore: prepare release 2025-10-21
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

feat(php): add `setWaitTaskTimeBeforeRetry` method for Search and Ingestion clients (#5514)
  templates/php/client_config.mustache
Due: none

feat(php): add `setWaitTaskTimeBeforeRetry` method for Search and Ingestion clients (#5514) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Configuration/IngestionConfig.php
  clients/algoliasearch-client-php/lib/Configuration/SearchConfig.php
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

bc
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

feat(specs): add `facets` query parameter available at run time (#5486)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

leave >6
  templates/dart/pubspec.mustache
Due: none

rebase
  tests/output/javascript/yarn.lock
Due: none

messed up
  clients/algoliasearch-client-javascript/yarn.lock
  package.json
  playground/python/poetry.lock
  playground/python/pyproject.toml
  redocly.yaml
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/next-branch-generation/cleanup-repository
  templates/python/pyproject.mustache
  templates/python/snippets/pyproject.mustache
  tests/output/javascript/yarn.lock
  tests/output/python/pyproject.toml
  website/yarn.lock
Due: yarn fix:json

locks
  clients/algoliasearch-client-python/poetry.lock
  clients/algoliasearch-client-python/pyproject.toml
  config/.php-version
  docs/guides/python/poetry.lock
  docs/guides/python/pyproject.toml
  docs/snippets/python/poetry.lock
  docs/snippets/python/pyproject.toml
  tests/output/python/poetry.lock
  yarn.lock
Due: none

chore(deps): dependencies 2025-10-20 (#5487) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/src.csproj
  tests/output/javascript/package.json
Due: yarn fix:json

chore: prepare release 2025-10-22
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-10-22 (#5528)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

crawler
  specs/crawler/paths/crawlerStats.yml
Due: yarn eslint --ext=yml --fix

chore(deps): update dependency php/php-src to v8.4.14 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/php/src/Insights.php
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
Due: yarn fix:json

chore(deps): update dependency golang to v1.25.3 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/go/src/insights.go
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
Due: yarn fix:json

chore(deps): update dependency @cloudflare/vitest-pool-workers to v0.10.0 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/javascript/src/insights.ts
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: yarn fix:json

chore(deps): update kotlin monorepo to v2.2.21 (#5537) (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
Due: yarn fix:json

test
  eslint/tests/validACL.test.ts
Due: none

feat(specs): add `renderingContent` query parameter in Composition API main injection
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/components/Injection.yml
Due: yarn eslint --ext=yml --fix

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

update mock
  scripts/ci/codegen/__tests__/__snapshots__/createGithubReleases.test.ts.snap
Due: none

upgrade to vitest 4 config
  clients/algoliasearch-client-javascript/packages/algoliasearch/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.workspace.ts
Due: none

upgrade to vitest 4 config
  clients/algoliasearch-client-javascript/packages/algoliasearch/vitest.config.ts
  config/generation.config.mjs
Due: none

feat(specs): add `renderingContent` query parameter in Composition API main injection (#5549)
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/components/Injection.yml
Due: yarn eslint --ext=yml --fix

exclude crawler
  eslint/src/rules/validACL.ts
Due: none

set all aliases
  clients/algoliasearch-client-javascript/packages/algoliasearch/vitest.config.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

chore(deps): dependencies 2025-10-27 (#5530)
  .github/workflows/check.yml
  .nvmrc
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/.php-version
  config/generation.config.mjs
  eslint/package.json
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/codegen/__tests__/__snapshots__/createGithubReleases.test.ts.snap
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2025-10-27 (#5530) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  tests/output/javascript/package.json
Due: yarn fix:json

feat(specs): add specific documentation for `facets` query parameter in Composition API
  specs/composition/common/params/Composition.yml
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/components/Injection.yml
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
