Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix: maybe oneof primitive?
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  specs/search/paths/objects/common/schemas.yml
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix: test expect
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

fix(specs): filter run list by type (#3577)
  scripts/ci/githubActions/createMatrix.ts
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/paths/runs/runs.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-08-27
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(specs): push source type
  specs/ingestion/common/schemas/source.yml
  tests/CTS/requests/ingestion/createSource.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): push source type (#3600)
  specs/ingestion/common/schemas/source.yml
  tests/CTS/requests/ingestion/createSource.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2024-08-27 (#3601)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: one more test
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

any
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/ModelPruner.java
  scripts/formatter.ts
  specs/common/schemas/ErrorBase.yml
  specs/search/paths/objects/common/schemas.yml
  specs/search/paths/objects/partialUpdate.yml
  specs/search/spec.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

lint
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/cache/browser-local-storage-cache.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/cache/memory-cache.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/cache/null-cache.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-iterable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/cache/createBrowserLocalStorageCache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/cache/createFallbackableCache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/cache/createMemoryCache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/cache/createNullCache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createAlgoliaAgent.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createAuth.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createEchoRequester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/getAlgoliaAgent.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createStatefulHost.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/responses.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/stackTrace.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/cache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/attributeToUpdate.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/src/__tests__/browser-xhr-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/src/createXhrRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/__tests__/fetch-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/createFetchRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/__tests__/node-http-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/createHttpRequester.ts
  clients/algoliasearch-client-javascript/scripts/publish.ts
  clients/algoliasearch-client-javascript/scripts/tsconfig.json
  clients/algoliasearch-client-javascript/tests/utils.ts
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: lint common js
  scripts/generate.ts
Due: none

chore: chaining
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
Due: none

chore: no param reassign
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
Due: none

chore: oki
  scripts/generate.ts
Due: none

chore: wiff not azert
  clients/algoliasearch-client-javascript/scripts/publish.ts
Due: none

chore: publish path
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

fix java and csharp
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/tests/generateInnerParams.mustache
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn cli format java generators, yarn fix:json

chore: maybe fix kotlin
  templates/kotlin/tests/param_json_element.mustache
Due: none

chore: maybe fix scala
  templates/scala/tests/param_json_element.mustache
Due: none

Revert "chore: maybe fix kotlin"
  templates/kotlin/tests/param_json_element.mustache
Due: none

fix kotlin
  templates/kotlin/tests/param_json_element.mustache
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

revert cts
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

always lint
  scripts/generate.ts
Due: none

revert js
  clients/algoliasearch-client-javascript/packages/client-search/model/attributeToUpdate.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
Due: yarn fix:json

revert js
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
Due: yarn fix:json

better spec ?
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  specs/search/paths/objects/partialUpdate.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

keep attributeToUpdate for backward compat
  specs/search/paths/objects/common/schemas.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

chore(snippets): build
  .github/workflows/check.yml
  scripts/buildClients.ts
  scripts/cli/index.ts
  scripts/install.sh
Due: yarn github-actions:lint --fix

fix(java): make the japicmp mandatory
  .github/workflows/check.yml
  clients/algoliasearch-client-java/api/build.gradle
  config/generation.config.mjs
  playground/java/build.gradle
  playground/java/settings.gradle
  snippets/java/settings.gradle
  templates/java/tests/build.mustache
Due: yarn github-actions:lint --fix

correct path
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: prepare release 2024-08-28
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-08-28 (#3604)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

always cat
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
