Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: build
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

chore: cts
  templates/javascript/tests/requests/requests.mustache
Due: none

chore: cts
  tests/CTS/client/realtime-personalization/api.json
Due: yarn fix:json

chore: cts
  templates/javascript/tests/client/createClient.mustache
Due: none

add test on prop
  tests/CTS/requests/ingestion/createSource.json
Due: yarn fix:json

chore: js snippets
  templates/javascript/snippets/init.mustache
Due: none

feat(clients): add new realtime-personalization api (#4613)
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_realtime_personalization/build.yaml
  clients/algoliasearch-client-dart/packages/client_realtime_personalization/lib/src/extension.dart
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-realtime-personalization/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  playground/javascript/node/package.json
  playground/javascript/node/realtimePersonalization.ts
  specs/realtime-personalization/common/enums.yml
  specs/realtime-personalization/common/parameters.yml
  specs/realtime-personalization/common/schemas/user.yml
  specs/realtime-personalization/paths/getUser.yml
  specs/realtime-personalization/spec.yml
  templates/dart/lib.mustache
  templates/javascript/snippets/init.mustache
  templates/javascript/tests/client/client.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/javascript/tests/requests/requests.mustache
  tests/CTS/client/realtime-personalization/api.json
  tests/CTS/requests/realtime-personalization/getUser.json
  tests/output/dart/pubspec.yaml
  tests/output/dart/pubspec_overrides.yaml
  tests/output/javascript/yarn.lock
  yarn.lock
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore: do not generate realtime personalization
  config/clients.config.json
Due: yarn fix:json

chore: leftover
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-realtime-personalization/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/dart/pubspec.yaml
  tests/output/dart/pubspec_overrides.yaml
Due: yarn fix:json

chore: do not generate realtime personalization (#4655)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-realtime-personalization/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  tests/output/dart/pubspec.yaml
  tests/output/dart/pubspec_overrides.yaml
Due: yarn fix:json

chore: do not generate realtime personalization (#4655) (generated) [skip ci]
  clients/algoliasearch-client-dart/packages/client_composition/lib/algolia_client_composition.dart
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat(specs): add CT Query predicate property (#4654)
  specs/ingestion/common/schemas/source.yml
  tests/CTS/requests/ingestion/createSource.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: add json schema for clients config
  config/clients.config.json
  config/clients.schema.json
Due: yarn fix:json

chore: description
  config/clients.schema.json
Due: yarn fix:json

chore: iterate
  scripts/common.ts
Due: none

chore: prepare release 2025-03-25
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix: types
  scripts/config.ts
  scripts/husky/pre-commit.mjs
  scripts/release/updateAPIVersions.ts
Due: none

fix: types
  scripts/common.ts
Due: none

chore: prepare release 2025-03-25 (#4658)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: add json schema for clients config (#4657)
  config/clients.config.json
  config/clients.schema.json
  scripts/common.ts
  scripts/config.ts
  scripts/husky/pre-commit.mjs
  scripts/release/updateAPIVersions.ts
Due: yarn fix:json

chore: reduce manual intervention on javascript clients
  config/clients.config.json
  config/clients.schema.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
Due: yarn cli format java generators, yarn fix:json

chore: reduce manual intervention on javascript clients (#4659)
  config/clients.config.json
  config/clients.schema.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
Due: yarn cli format java generators, yarn fix:json

docs: use the correct cURL
  scripts/specs/format.ts
Due: none

docs: use the correct cURL
  scripts/specs/format.ts
  specs/query-suggestions/common/schemas/IndexName.yml
Due: yarn eslint --ext=yml --fix

cond
  scripts/specs/format.ts
Due: none

all good
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

docs: use the correct cURL (#4660)
  scripts/specs/format.ts
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
  specs/composition/spec.yml
  specs/query-suggestions/common/schemas/IndexName.yml
Due: yarn eslint --ext=yml --fix

docs: use the correct cURL (#4660) (generated) [skip ci]
  docs/bundled/abtesting.yml
  docs/bundled/analytics.yml
  docs/bundled/composition-full.yml
  docs/bundled/composition.yml
  docs/bundled/ingestion.yml
  docs/bundled/insights.yml
  docs/bundled/monitoring.yml
  docs/bundled/personalization.yml
  docs/bundled/query-suggestions.yml
  docs/bundled/recommend.yml
  docs/bundled/search.yml
  specs/bundled/composition.yml
  specs/bundled/query-suggestions.yml
Due: yarn eslint --ext=yml --fix

chore(deps): update dependency vite to v6.2.3 [security] (#4662) (generated)
  clients/algoliasearch-client-php/composer.lock
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore: build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

chore: lock
  yarn.lock
Due: none

chore: typescript eslint
  playground/javascript/browser/package.json
Due: yarn fix:json

chore: ts ignore
  eslint/src/rules/endWithDot.ts
  eslint/src/rules/hasType.ts
  eslint/src/rules/noBigInt.ts
  eslint/src/rules/noFinalDot.ts
  eslint/src/rules/outOfLineRule.ts
  eslint/src/rules/refCommon.ts
  eslint/src/rules/singleQuoteRef.ts
  eslint/src/rules/validACL.ts
  eslint/src/rules/validInlineTitle.ts
Due: none

chore: js longer tests
  templates/javascript/tests/client/tests.mustache
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
