Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

js
  scripts/ci/codegen/upsertGenerationComment.ts
Due: none

test space in path param
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

with space in index
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

chore(cts): partial assert on e2e
  templates/javascript/tests/requests/requests.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/requests/requests.mustache
  tests/CTS/requests/search/search.json
  tests/output/javascript/src/helpers.ts
  tests/output/python/poetry.lock
  tests/output/python/tests/helpers.py
Due: yarn fix:json

fix(python): less breaking changes
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/imports.mustache
  templates/python/model.mustache
  templates/python/pyproject.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/client/variable.mustache
  templates/python/tests/requests/requests.mustache
  tests/output/python/poetry.lock
  tests/output/python/requirements.txt
Due: none

fix: js ci
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

docs: add client helpers and e2e in docs
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/add-new-language.md
  website/docs/contributing/testing/common-test-suite.md
Due: none

docs: yarn docker -> apic
  website/docs/contributing/CLI/clients-commands.md
  website/docs/contributing/CLI/cts-commands.md
  website/docs/contributing/CLI/specs-commands.md
  website/docs/contributing/release-process.md
  website/docs/contributing/testing/playground.md
Due: none

chore: links
  website/docs/contributing/add-new-api-client.md
Due: none

chore: revert requirements
  tests/output/python/requirements.txt
Due: none

chore: review
  website/docs/contributing/add-new-api-client.md
Due: none

docs: add client helpers and e2e in docs (#2443)
  website/docs/contributing/CLI/clients-commands.md
  website/docs/contributing/CLI/cts-commands.md
  website/docs/contributing/CLI/specs-commands.md
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/add-new-language.md
  website/docs/contributing/release-process.md
  website/docs/contributing/testing/common-test-suite.md
  website/docs/contributing/testing/playground.md
Due: none

chore: review
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(cts): partial assert on e2e (#2441)
  .github/workflows/check.yml
  templates/javascript/tests/requests/requests.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/requests/requests.mustache
  tests/CTS/requests/search/search.json
  tests/output/javascript/src/helpers.ts
  tests/output/python/poetry.lock
  tests/output/python/tests/helpers.py
Due: yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit 349bf6e0a0d859dac2d947e882ca948688e709e5. [skip ci]
  clients/algoliasearch-client-php/composer.lock
  tests/output/javascript/src/requests/algoliasearch.test.ts
  tests/output/javascript/src/requests/search.test.ts
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
Due: none

chore(cli): bash autocomplete for apic
  scripts/install.sh
Due: none

last change
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(python): less breaking changes (#2442)
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/imports.mustache
  templates/python/model.mustache
  templates/python/pyproject.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/client/variable.mustache
  templates/python/tests/requests/requests.mustache
  tests/output/python/poetry.lock
Due: none

partial match
  .github/actions/setup/action.yml
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  scripts/common.ts
  scripts/cts/runCts.ts
  scripts/formatter.ts
  scripts/playground.ts
  templates/ruby/api.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/output/ruby/test/helpers.rb
  website/docs/contributing/testing/common-test-suite.md
Due: yarn github-actions:lint --fix

use main
  website/docs/contributing/testing/common-test-suite.md
Due: none

fix index
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

fix js
  templates/javascript/tests/requests/requests.mustache
Due: none

chore(cli): bash autocomplete for apic (#2444)
  .github/workflows/check.yml
  scripts/install.sh
Due: yarn github-actions:lint --fix

bump cache
  .github/.cache_version
Due: none

feat(ruby): e2e CTS (#2439)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  scripts/common.ts
  scripts/cts/runCts.ts
  scripts/formatter.ts
  scripts/playground.ts
  templates/javascript/tests/requests/requests.mustache
  templates/ruby/api.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/CTS/requests/search/searchSingleIndex.json
  tests/output/ruby/Gemfile
  tests/output/ruby/Gemfile.lock
  tests/output/ruby/test/helpers.rb
  website/docs/contributing/testing/common-test-suite.md
Due: yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit e0527a573dfb2ab0c13d61a124b42ab6a93d90e8. [skip ci]
  clients/algoliasearch-client-ruby/lib/algolia/api/abtesting_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/analytics_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/insights_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/monitoring_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/personalization_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/query_suggestions_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/recommend_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/analytics_test.rb
  tests/output/ruby/test/requests/ingestion_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/ruby/test/requests/monitoring_test.rb
  tests/output/ruby/test/requests/personalization_test.rb
  tests/output/ruby/test/requests/query_suggestions_test.rb
  tests/output/ruby/test/requests/recommend_test.rb
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
Due: none

feat(ruby): client tests
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/echo_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/response.rb
  templates/ruby/api.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/ruby/tests/client/method.mustache
  templates/ruby/tests/client/step.mustache
  templates/ruby/tests/client/suite.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/CTS/client/insights/parameters.json
  tests/output/ruby/.rubocop.yml
Due: yarn fix:json

feat(ruby): client tests (#2445)
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/echo_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/response.rb
  templates/ruby/api.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/ruby/tests/client/method.mustache
  templates/ruby/tests/client/step.mustache
  templates/ruby/tests/client/suite.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/CTS/client/insights/parameters.json
  tests/output/ruby/.rubocop.yml
Due: yarn fix:json

chore: generated code for commit 1281c2d105cfb7d349ab79db13a4c32aa2c00251. [skip ci]
  clients/algoliasearch-client-ruby/lib/algolia/api/abtesting_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/analytics_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/insights_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/monitoring_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/personalization_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/query_suggestions_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/recommend_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  tests/output/dart/test/client/insights_test.dart
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/javascript/src/client/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/InsightsTest.kt
  tests/output/php/src/client/InsightsTest.php
  tests/output/python/tests/client/insights_test.py
  tests/output/ruby/test/client/abtesting_test.rb
  tests/output/ruby/test/client/analytics_test.rb
  tests/output/ruby/test/client/ingestion_test.rb
  tests/output/ruby/test/client/insights_test.rb
  tests/output/ruby/test/client/monitoring_test.rb
  tests/output/ruby/test/client/personalization_test.rb
  tests/output/ruby/test/client/query_suggestions_test.rb
  tests/output/ruby/test/client/recommend_test.rb
  tests/output/ruby/test/client/search_test.rb
  tests/output/ruby/test/requests/abtesting_test.rb
  tests/output/ruby/test/requests/analytics_test.rb
  tests/output/ruby/test/requests/ingestion_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/ruby/test/requests/monitoring_test.rb
  tests/output/ruby/test/requests/personalization_test.rb
  tests/output/ruby/test/requests/query_suggestions_test.rb
  tests/output/ruby/test/requests/recommend_test.rb
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/client/InsightsTest.scala
Due: none

chore(ruby): setup release
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
Due: none

use github secret
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
Due: none

cache
  .github/.cache_version
Due: none

chore(ruby): setup release (#2446)
  .github/.cache_version
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
Due: none

goimports
  .github/actions/setup/action.yml
  Dockerfile
  scripts/formatter.ts
  scripts/package.json
Due: yarn github-actions:lint --fix, yarn fix:json

fix(ruby): support ruby alpha format
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/__tests__/updateAPIVersions.test.ts
  scripts/release/createReleasePR.ts
Due: none

fix com
  scripts/release/createReleasePR.ts
Due: none

fix(ruby): support ruby alpha format (#2447)
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/__tests__/updateAPIVersions.test.ts
  scripts/release/createReleasePR.ts
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
