Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

chore: config generator
  config/generation.config.mjs
Due: none

review
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  scripts/buildClients.ts
Due: docker exec -t api-client yarn cli format java generators

refacto
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  scripts/common.ts
  scripts/config.ts
  scripts/cts/generate.ts
  scripts/generate.ts
  scripts/pre-gen/generateOpenapitools.ts
  scripts/snippets/generate.ts
  scripts/types.ts
  website/docs/contributing/add-new-api-client.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

review
  scripts/ci/githubActions/createMatrix.ts
Due: none

cache ?
  .github/.cache_version
Due: none

build scripts
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

review
  templates/csharp/netcore_project.mustache
Due: none

fix(csharp): enforce dotnet sdk version (#2517)
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
  templates/csharp/globaljson.mustache
  templates/csharp/netcore_project.mustache
Due: docker exec -t api-client yarn cli format java generators

fix js
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators

merge
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
Due: docker exec -t api-client yarn cli format java generators

chore: generated code for commit 1f6654a2428e5d89b48bf49327a6e7a4b91e3424. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-swift/Sources/Core/Networking/AlgoliaRetryStrategy.swift
  tests/output/csharp/global.json
Due: yarn fix:json

review
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators

fix: dart output folders
  config/clients.config.json
  playground/dart/lib/algoliasearch.dart
  playground/dart/lib/insights.dart
  playground/dart/lib/recommend.dart
  playground/dart/lib/search.dart
Due: yarn fix:json

fix js
  .github/workflows/check.yml
  scripts/cli/index.ts
Due: yarn github-actions:lint --fix

chore: fix dockerfile
  Dockerfile
  scripts/docker/build.sh
Due: none

oops
  scripts/cli/index.ts
Due: none

review
  tests/output/csharp/.editorconfig
Due: none

zzz
  Dockerfile
Due: none

review
  templates/csharp/tests/requests/requests.mustache
Due: none

break
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: docker exec -t api-client yarn cli format java generators

fix(scripts): own cli for snippets (#2519)
  .github/.cache_version
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/cli/index.ts
  scripts/common.ts
  scripts/config.ts
  scripts/cts/generate.ts
  scripts/generate.ts
  scripts/install.sh
  scripts/pre-gen/generateOpenapitools.ts
  scripts/snippets/generate.ts
  scripts/types.ts
  website/docs/contributing/add-new-api-client.md
Due: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

fix(swift): add RequestOptions
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/JSONDataEncoding.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionImplementations.swift
  playground/swift/playground/playground/main.swift
  templates/swift/api.mustache
Due: none

review
  templates/csharp/tests/generateInnerParams.mustache
  templates/csharp/tests/maybeConvertOneOf.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

chore(scripts): use 1 docker image per language
  .lintstagedrc
  Dockerfile
  config/clients.config.json
  docker-compose.yml
  package.json
  scripts/buildClients.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/config.ts
  scripts/cts/generate.ts
  scripts/cts/runCts.ts
  scripts/docker/Dockerfile
  scripts/docker/build.sh
  scripts/docker/mount.sh
  scripts/formatter.ts
  scripts/generate.ts
  scripts/install.sh
  scripts/next-branch-generation/cleanup-repository
  scripts/package.json
  scripts/playground.ts
  scripts/snippets/generate.ts
  scripts/tsconfig.json
  scripts/types.ts
  scripts/website/build.sh
  website/docs/contributing/add-new-language.md
  website/docs/contributing/setup-repository.md
  yarn.lock
Due: yarn fix:json

self review
  scripts/cts/runCts.ts
  scripts/formatter.ts
  scripts/package.json
  scripts/tsconfig.json
  yarn.lock
Due: yarn fix:json

fixes
  docker-compose.yml
  scripts/ci/githubActions/createMatrix.ts
  scripts/cts/runCts.ts
  scripts/formatter.ts
  scripts/snippets/generate.ts
Due: none

fix(swift): add RequestOptions (#2523)
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/JSONDataEncoding.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionImplementations.swift
  playground/swift/playground/playground/main.swift
  templates/swift/api.mustache
Due: none

chore: generated code for commit c0bf57093092ac6e11d6de9e640cb4b889a73d52. [skip ci]
  clients/algoliasearch-client-swift/Sources/Abtesting/AbtestingClient.swift
  clients/algoliasearch-client-swift/Sources/Analytics/AnalyticsClient.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClient.swift
  clients/algoliasearch-client-swift/Sources/Insights/InsightsClient.swift
  clients/algoliasearch-client-swift/Sources/Monitoring/MonitoringClient.swift
  clients/algoliasearch-client-swift/Sources/Personalization/PersonalizationClient.swift
  clients/algoliasearch-client-swift/Sources/QuerySuggestions/QuerySuggestionsClient.swift
  clients/algoliasearch-client-swift/Sources/Recommend/RecommendClient.swift
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
Due: none

less images and alphabetical order
  .github/actions/setup/action.yml
  .github/workflows/pr-title.yml
  config/clients.config.json
  config/generation.config.mjs
  config/release.config.json
  docker-compose.yml
  package.json
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/common.ts
  scripts/config.ts
  scripts/cts/runCts.ts
  scripts/docker/Dockerfile
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  scripts/docker/setup.sh
  scripts/formatter.ts
  scripts/playground.ts
  scripts/pre-gen/removeExistingCodegen.ts
Due: yarn github-actions:lint --fix, yarn fix:json

remove objc intercompat
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: docker exec -t api-client yarn cli format java generators

update snapshot
  scripts/release/__tests__/createReleasePR.test.ts
Due: none

chore(scripts): use 1 docker image per language (#2524)
  .github/actions/setup/action.yml
  .github/workflows/pr-title.yml
  .lintstagedrc
  Dockerfile
  config/clients.config.json
  config/generation.config.mjs
  config/release.config.json
  docker-compose.yml
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  package.json
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/config.ts
  scripts/cts/generate.ts
  scripts/cts/runCts.ts
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  scripts/docker/build.sh
  scripts/docker/mount.sh
  scripts/docker/setup.sh
  scripts/formatter.ts
  scripts/generate.ts
  scripts/install.sh
  scripts/next-branch-generation/cleanup-repository
  scripts/playground.ts
  scripts/pre-gen/removeExistingCodegen.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/snippets/generate.ts
  scripts/types.ts
  scripts/website/build.sh
  website/docs/contributing/add-new-language.md
  website/docs/contributing/setup-repository.md
Due: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit 547febf7d2a2fa7b6eae1780d30d89ab969d320c. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/node.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/go/go.mod
  tests/output/go/go.sum
  tests/output/javascript/package.json
Due: yarn fix:json

chore: support fish for setup
  scripts/docker/setup.sh
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
