Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

chore: release 2022-12-23 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

feat(ingestion): add source json
  specs/ingestion/common/schemas/source.yml
Due: none

feat(specs): add source json to ingestion client (#1200)
  specs/ingestion/common/schemas/source.yml
Due: none

refactor segment conditions to use new syntax
  specs/predict/responses/Segment.yml
Due: none

chore: generated code for commit dd4fdefd023223ec72e56176a2acb14f09c221e9. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/methodType.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceInput.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceJson.ts
  specs/bundled/ingestion.yml
Due: none

chore: prepare release 2022-12-28
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2022-12-28 (#1201)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-12-28 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

add examples
  specs/predict/responses/Segment.yml
Due: none

fix(specs): authenticationID is not required in source
  specs/ingestion/common/schemas/source.yml
Due: none

fix generator
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
Due: docker exec -t api-client yarn cli format java generators

fix: enabled nullable
  specs/search/paths/rules/searchRules.yml
Due: none

fix(specs): example should be integer
  specs/search/paths/advanced/getTask.yml
Due: none

fix(specs): numberOfPendingTasks
  specs/search/common/schemas/listIndicesResponse.yml
Due: none

fix(specs): example should be integer (#1210)
  specs/search/paths/advanced/getTask.yml
Due: none

chore: generated code for commit e77a46b96834b219e3d0a577d84446de0507dc05. [skip ci]
  specs/bundled/search.yml
Due: none

fix: make numberOfPendingTasks required
  specs/search/common/schemas/listIndicesResponse.yml
Due: none

fix: replicas and primary nullable
  specs/search/common/schemas/listIndicesResponse.yml
Due: none

Revert "fix: replicas and primary nullable"
  specs/search/common/schemas/listIndicesResponse.yml
Due: none

fix(specs): numberOfPendingTasks is plural (#1211)
  specs/search/common/schemas/listIndicesResponse.yml
Due: none

chore: generated code for commit 75c9a8628a2e36644136d93de765beb38f1678b5. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/FetchedIndex.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/fetchedIndex.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/fetchedIndex.ts
  clients/algoliasearch-client-php/lib/Model/Search/FetchedIndex.php
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
Due: none

chore: prepare release 2023-01-04
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2023-01-04 (#1213)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-01-04 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(specs): make enabled nullable (#1212)
  specs/search/paths/rules/searchRules.yml
Due: none

chore: generated code for commit 8fc33195ecd9112e00f236def0e6c544088dc5c9. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/model/searchRulesParams.ts
  specs/bundled/search.yml
Due: none

remove content attributes from models
  specs/predict/common/schemas/modelsParams.yml
  specs/predict/responses/Models.yml
  tests/CTS/methods/requests/predict/activateModelInstance.json
  tests/CTS/methods/requests/predict/updateModelInstance.json
Due: yarn fix:json

chore: prepare release 2023-01-10
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

fix(specs): authenticationID is not required in destination
  specs/ingestion/common/schemas/destination.yml
Due: none

fix(specs): move lastRun and nextRun to task.trigger
  specs/ingestion/common/schemas/task.yml
Due: none

fix(specs): move lastRun and nextRun to task.trigger (#1228)
  specs/ingestion/common/schemas/task.yml
Due: none

chore: generated code for commit 9acdc96b6130396ee9fffd03f0fa00d0599353ab. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/task.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/trigger.ts
  specs/bundled/ingestion.yml
Due: none

fix(specs): authenticationID is not required in source and destination (#1203)
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/source.yml
Due: none

chore: generated code for commit 28d826039fa5b87144a19fc12a3dec1923256671. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/destination.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/source.ts
  specs/bundled/ingestion.yml
Due: none

fix(specs): remove input from auth list
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/paths/authentications/authenticationID.yml
Due: none

scope is not required
  specs/ingestion/common/schemas/authentication.yml
Due: none

remove lastRun and nextRun from taskCreate
  specs/ingestion/common/schemas/task.yml
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
