Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

Merge branch 'main' into fix/csharp-reset-strategy (generated)
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

fix(clients): Increased timeout delta for Python and Swift tests
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
  scripts/cts/testServer/timeout.ts
Due: none

fix: update currency spec to match ISO 4217 validation
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

feat(php): Improved testing.
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
  clients/algoliasearch-client-php/tests/TimeoutIntegrationTest.php
Due: none

revert: description to original
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix(specs): update currency validation rules (#5890)
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix(specs): update currency validation rules (#5890) (generated) [skip ci]
  clients/algoliasearch-client-python/algoliasearch/insights/models/added_to_cart_object_ids.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/added_to_cart_object_ids_after_search.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/purchased_object_ids.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/purchased_object_ids_after_search.py
  docs/bundled/insights.json
  docs/bundled/insights.yml
  specs/bundled/insights.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): more accurate composition behavior typing
  specs/composition/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

fix(specs): more accurate composition behavior typing (#5892)
  specs/composition/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

feat(ingestion): new code property in oauth authentication
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

feat(dart): Improved retry strategy.
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retryable_host.dart
  clients/algoliasearch-client-dart/packages/client_core/test/timeout_integration_test.dart
  scripts/cts/runCts.ts
Due: none

fix(clients): Increased timeout delta for Python and Swift tests (#5893)
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
  scripts/cts/testServer/timeout.ts
Due: none

fix(clients): Increased timeout delta for Python and Swift tests (#5893) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

fix(csharp): Implement host reset (#5886)
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/RetryStrategy.cs
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  scripts/cts/runCts.ts
  templates/csharp/netcore_project.mustache
Due: yarn cli format java generators

fix(csharp): Implement host reset (#5886) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

feat(php): Implement retry strategy (#5891)
  .codacy.yml
  clients/algoliasearch-client-php/lib/Exceptions/TimeoutException.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ClusterHosts.php
  clients/algoliasearch-client-php/lib/RetryStrategy/Host.php
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
  clients/algoliasearch-client-php/tests/TimeoutIntegrationTest.php
  config/generation.config.mjs
  scripts/cts/runCts.ts
  scripts/cts/testServer/timeout.ts
Due: none

feat(php): Implement retry strategy (#5891) (generated) [skip ci]
  clients/algoliasearch-client-php/tests/TimeoutIntegrationTest.php
Due: none

fix(specs): insights-api timestamp documentation
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove additionalProperties: false
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove `additionalProperties: false` from POST v1/events body (#5926)
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove `additionalProperties: false` from POST v1/events body (#5926) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/bundled/insights.json
  docs/bundled/insights.yml
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  specs/bundled/insights.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(mcp): Push snippets to clients MCP repo
  .github/workflows/push-to-repository.yml
  scripts/ci/codegen/pushToRepository.ts
  scripts/ci/codegen/types.ts
Due: yarn github-actions:lint --fix

authentication: keep only url as required field for oauth
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

feat(specs): Ingestion API: new `code` property in oauth authentication (#5897)
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

feat(specs): Ingestion API: new `code` property in oauth authentication (#5897) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthInput.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthOAuth.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthOAuthPartial.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_input.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_o_auth.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_o_auth_partial.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthInput.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthOAuth.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthOAuthPartial.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/authOAuth.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authOAuthPartial.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthInput.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthOAuth.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthOAuthPartial.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthInput.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthInputPartial.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthOAuth.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthOAuthPartial.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/auth_o_auth.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/auth_o_auth_partial.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/auth_o_auth.rb
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/auth_o_auth_partial.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthInput.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthOAuth.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthOAuthPartial.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthOAuth.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthOAuthPartial.swift
  docs/bundled/ingestion-snippets.json
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  docs/snippets/scala/src/main/scala/Ingestion.scala
  specs/bundled/ingestion.yml
  tests/output/scala/src/test/scala/algoliasearch/requests/IngestionTest.scala
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): update @actions dependencies to latest versions
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/package.json
  yarn.lock
Due: yarn fix:json

chore: prepare release 2026-02-03
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: update CHANGELOG for breaking changes in multiple APIs
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
Due: none

chore(deps): dependencies 2026-02-02 (#5898)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_composition/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-scala/project/build.properties
  config/.dart-version
  package.json
  playground/javascript/browser/package.json
  playground/scala/project/build.properties
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/javascript/yarn.lock
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/scala/project/build.properties
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2026-02-02 (#5898) (generated) [skip ci]
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_composition/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
Due: yarn fix:json

chore: prepare release 2026-02-05
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: update CHANGELOG for breaking changes in multiple APIs
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
Due: none

chore: prepare release 2026-02-05 (#5931)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

refactor(csharp): move timeout integration tests to tests/output folder
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  scripts/cts/runCts.ts
  templates/csharp/netcore_project.mustache
  tests/output/csharp/src/TimeoutIntegrationTests.cs
Due: yarn cli format java generators

refactor(csharp): move timeout integration tests to tests/output folder (#5932)
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  scripts/cts/runCts.ts
  templates/csharp/netcore_project.mustache
  tests/output/csharp/src/TimeoutIntegrationTests.cs
Due: yarn cli format java generators

refactor(csharp): move timeout integration tests to tests/output folder (#5932) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
