Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(python): 3.8 compatibility and CI multi-version [skip-bc] (#3613)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  clients/algoliasearch-client-python/algoliasearch/http/helpers.py
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/user_agent.py
  clients/algoliasearch-client-python/setup.cfg
  config/clients.config.json
  playground/python/poetry.lock
  playground/python/pyproject.toml
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
  scripts/config.ts
  snippets/python/pyproject.toml
  templates/python/imports.mustache
  tests/output/python/pyproject.toml
Due: yarn github-actions:lint --fix, yarn fix:json

chore: prepare release 2024-08-29
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: troubleshooting guide
  templates/javascript/clients/README.mustache
Due: none

chore: prepare release 2024-08-29 (#3615)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  templates/javascript/clients/README.mustache
Due: yarn fix:json

skip scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  templates/kotlin/snippets/method.mustache
  templates/scala/snippets/method.mustache
  templates/scala/tests/param_optional.mustache
Due: yarn cli format java generators

chore: prepare release 2024-08-29
  scripts/release/createReleasePR.ts
  templates/javascript/clients/README.mustache
Due: none

revert
  templates/javascript/clients/README.mustache
Due: none

close the tag please
  templates/kotlin/snippets/method.mustache
Due: none

chore: prepare release 2024-08-29 [skip-bc] (#3617)
  scripts/release/createReleasePR.ts
Due: none

chore: some type improvements
  templates/python/config.mustache
Due: none

chore: gen cts sync tests
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/python/api.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/client.mustache
  templates/python/tests/client/method.mustache
  templates/python/tests/client/tests.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/requests.mustache
Due: yarn cli format java generators

chore(javascript): add license to the root of the repo (#3610)
  clients/algoliasearch-client-javascript/README.md
Due: none

chore(javascript): add license to the root of the repo (#3610) (generated) [skip ci]
  clients/algoliasearch-client-javascript/README.md
Due: none

feat(python): add sync client
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  templates/python/api.mustache
  templates/python/search_helpers.mustache
Due: yarn cli format java generators

docs(insights): Example event name should change with eventType
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: yarn eslint --ext=yml --fix

still run benchmark server for swift
  scripts/cts/runCts.ts
Due: none

fix(specs): ignorePlurals can be a boolean string
  scripts/cts/runCts.ts
  specs/common/schemas/IndexSettings.yml
  templates/go/tests/e2e/e2e.mustache
  tests/CTS/requests/search/getRule.json
  tests/CTS/requests/search/searchRules.json
  tests/output/csharp/src/generated/e2e/Analytics.test.cs
  tests/output/go/tests/e2e/analytics_test.go
  tests/output/go/tests/echo.go
  tests/output/java/src/test/java/com/algolia/e2e/Analytics.test.java
  tests/output/javascript/src/e2e/analytics.test.ts
  tests/output/php/src/e2e/AnalyticsTest.php
  tests/output/python/tests/e2e/analytics_test.py
  tests/output/ruby/test/e2e/analytics_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/AnalyticsTest.scala
  tests/output/swift/Tests/e2e/AnalyticsTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

docs(insights): Example event name should change with eventType (#3619)
  scripts/cts/runCts.ts
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: yarn eslint --ext=yml --fix

docs(insights): Example event name should change with eventType (#3619) (generated) [skip ci]
  specs/bundled/insights.doc.yml
  specs/bundled/insights.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn eslint --ext=yml --fix

new json formatter
  .eslintrc.cjs
  eslint/tsconfig.json
  package.json
  tests/CTS/requests/search/getRule.json
  yarn.lock
Due: yarn fix:json

fix: dont extend $ref
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: yarn eslint --ext=yml --fix

fix all
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/schemas/IndexSettings.yml
  templates/javascript/clients/algoliasearch/builds/models.mustache
  tests/CTS/requests/search/getRule.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix(clients): usage hosts
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/python/config.mustache
Due: yarn cli format java generators

chore: csharp
  templates/csharp/Configuration.mustache
Due: none

chore: dart
  templates/dart/api.mustache
Due: none

chore: go
  templates/go/client.mustache
Due: none

chore: java
  templates/java/api.mustache
Due: none

chore: javascript
  templates/javascript/clients/client/api/hosts.mustache
Due: none

chore: kotlin
  templates/kotlin/api.mustache
Due: none

chore: php
  templates/php/api.mustache
Due: none

chore: ruby
  templates/ruby/api.mustache
Due: none

chore: scala
  templates/scala/api.mustache
Due: none

chore: swifty nifty formatty urly usagy
  templates/swift/client_configuration.mustache
Due: none

fix(generators): differentiate from appIDs hosts
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/csharp/Configuration.mustache
  templates/dart/api.mustache
  templates/go/client.mustache
  templates/java/api.mustache
  templates/javascript/clients/client/api/hosts.mustache
  templates/kotlin/api.mustache
  templates/php/api.mustache
  templates/python/config.mustache
  templates/ruby/api.mustache
  templates/scala/api.mustache
  templates/swift/client_configuration.mustache
Due: yarn cli format java generators

chore: swifty inliny
  templates/swift/client_configuration.mustache
Due: none

fix: cts
  tests/CTS/client/usage/api.json
Due: yarn fix:json

fix: scala,
  templates/scala/api.mustache
Due: none
