Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix test
  tests/CTS/requests/advanced-personalization/deleteUser.json
  tests/CTS/requests/advanced-personalization/getUser.json
  tests/CTS/requests/advanced-personalization/getUsers.json
  tests/CTS/requests/advanced-personalization/putConfig.json
Due: yarn fix:json

fix(deps): update dependency requests to v2.32.4 [security] (#4978) (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/python/insights.py
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
Due: yarn fix:json

Revert "chore: skip e2e composition (#4973)"
  tests/CTS/requests/composition-full/listCompositions.json
Due: yarn fix:json

Revert "chore: skip e2e composition (#4973)" (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): update dependency @types/node to v24 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/javascript/src/insights.ts
  tests/output/javascript/package.json
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: yarn fix:json

chore(deps): update eslint monorepo to v9.29.0 (#4989) (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.lock
  docs/bundled/insights-snippets.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/csharp/src/src.csproj
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

format
  renovate.json
Due: yarn fix:json

migrate
  scripts/formatter.ts
Due: none

feat(clients): add real-time personalization to advanced-personalization [PRED-3870] (#4976)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  config/clients.schema.json
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  playground/javascript/node/advancedPersonalization.ts
  playground/javascript/node/package.json
  scripts/common.ts
  specs/advanced-personalization/common/enums.yml
  specs/advanced-personalization/common/parameters.yml
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
  specs/advanced-personalization/paths/computeRealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
  specs/advanced-personalization/spec.yml
  specs/realtime-personalization/common/enums.yml
  specs/realtime-personalization/spec.yml
  tests/CTS/client/advanced-personalization/parameters.json
  tests/CTS/client/realtime-personalization/api.json
  tests/CTS/requests/advanced-personalization/computeRealtimeUser.json
  tests/CTS/requests/advanced-personalization/deleteUser.json
  tests/CTS/requests/advanced-personalization/getConfig.json
  tests/CTS/requests/advanced-personalization/getRealtimeUser.json
  tests/CTS/requests/advanced-personalization/getUser.json
  tests/CTS/requests/advanced-personalization/getUsers.json
  tests/CTS/requests/advanced-personalization/putConfig.json
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix(search): processingTimeMS should be optional
  specs/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

okay ?
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_web.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
Due: none

templates
  templates/dart/snippets/pubspec.mustache
  tests/output/dart/lib/algolia_test.dart
  tests/output/dart/pubspec.yaml
Due: none

lock
  clients/algoliasearch-client-javascript/yarn.lock
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  tests/output/javascript/yarn.lock
  website/yarn.lock
  yarn.lock
Due: none

template
  templates/csharp/snippets/src.csproj.mustache
Due: none

chore(deps): dependencies 2025-06-16 (#4977) (generated) [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_search/pubspec.yaml
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/dart/pubspec.yaml
  docs/snippets/dart/pubspec.yaml
  tests/output/java/build.gradle
  tests/output/javascript/package.json
  tests/output/python/poetry.lock
Due: yarn fix:json

chore: enable e2e test for composition (#4980)
  tests/CTS/requests/composition-full/listCompositions.json
Due: yarn fix:json

feat(specs): add new ingestion property for push
  specs/ingestion/paths/push.yml
Due: yarn eslint --ext=yml --fix

fix(clients): processingTimeMS should be optional (#5004)
  specs/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

fix: java
  specs/ingestion/paths/push.yml
  templates/java/api_helpers.mustache
Due: yarn eslint --ext=yml --fix

fix: java 2
  tests/CTS/requests/ingestion/push.json
Due: yarn fix:json

fix: java
  tests/CTS/requests/ingestion/push.json
Due: yarn fix:json

feat(specs): add new ingestion property for push (#5007)
  specs/ingestion/paths/push.yml
  templates/java/api_helpers.mustache
  tests/CTS/requests/ingestion/push.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add new ingestion property for push (#5007) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionClient.cs
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/IngestionClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/IngestionClient.kt
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/IngestionClient.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClient.swift
  docs/bundled/ingestion-snippets.json
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  docs/snippets/csharp/src/Ingestion.cs
  docs/snippets/go/src/ingestion.go
  docs/snippets/java/src/test/java/com/algolia/Ingestion.java
  docs/snippets/javascript/src/ingestion.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Ingestion.kt
  docs/snippets/php/src/Ingestion.php
  docs/snippets/python/ingestion.py
  docs/snippets/ruby/ingestion.rb
  docs/snippets/scala/src/main/scala/Ingestion.scala
  docs/snippets/swift/Sources/Ingestion.swift
  specs/bundled/ingestion.yml
  tests/output/csharp/src/generated/requests/Ingestion.test.cs
  tests/output/go/tests/requests/ingestion_test.go
  tests/output/java/src/test/java/com/algolia/requests/Ingestion.test.java
  tests/output/javascript/src/requests/ingestion.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/IngestionTest.kt
  tests/output/php/src/requests/IngestionTest.php
  tests/output/python/tests/requests/ingestion_test.py
  tests/output/ruby/test/requests/ingestion_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/IngestionTest.scala
  tests/output/swift/Tests/requests/IngestionTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(javascript): add `replaceAllObjectsWithTransformation`
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
  specs/search/helpers/chunkedPush.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/spec.yml
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  tests/CTS/client/search/replaceAllObjectsWithTransformation.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: playground
  playground/javascript/node/algoliasearch.ts
Due: none

chore: prepare release 2025-06-17
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-06-17 (#5009)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(predict): fix type in realtime_user
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
Due: yarn eslint --ext=yml --fix

chore: review
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: none

fix: object
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
Due: yarn eslint --ext=yml --fix

fix(specs): fix type in realtime_user (#5012)
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
Due: yarn eslint --ext=yml --fix

fix(specs): fix type in realtime_user (#5012) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/advanced-personalization/model/index.ts
  clients/algoliasearch-client-javascript/packages/advanced-personalization/model/realtimeUser.ts
  clients/algoliasearch-client-javascript/packages/advanced-personalization/src/advancedPersonalizationClient.ts
  docs/bundled/advanced-personalization.json
  docs/bundled/advanced-personalization.yml
  specs/bundled/advanced-personalization.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

docs(abtests) v3 api
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/ABTestResponse.yml
  specs/abtesting-v3/common/schemas/AddABTestsVariant.yml
  specs/abtesting-v3/common/schemas/EstimateABTestResponse.yml
  specs/abtesting-v3/common/schemas/ScheduleABTestResponse.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/abtest.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/estimate.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
  specs/abtesting-v3/paths/stopABTest.yml
  specs/abtesting-v3/spec.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
