Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat(php): add bridge to transformation on search
  scripts/cts/runCts.ts
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/java/api.mustache
  templates/php/api.mustache
  templates/php/client_config.mustache
Due: yarn eslint --ext=yml --fix

feat: i know php ok
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/client/createClient.mustache
Due: none

chore: playground
  playground/php/loadEnv.php
  playground/php/src/abtesting.php
  playground/php/src/analytics.php
  playground/php/src/insights.php
  playground/php/src/personalization.php
  playground/php/src/query-suggestions.php
  playground/php/src/recommend.php
  playground/php/src/search.php
Due: none

CHORE: YES
  playground/php/src/search.php
  templates/php/api.mustache
Due: none

feat(java): add bridge to transformation on search (#4939) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  docs/bundled/search-snippets.json
  docs/bundled/search.json
  docs/snippets/java/src/test/java/com/algolia/Search.java
  specs/bundled/search.yml
  tests/output/java/src/test/java/com/algolia/benchmark/Search.test.java
  tests/output/java/src/test/java/com/algolia/client/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/client/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/client/Composition.test.java
  tests/output/java/src/test/java/com/algolia/client/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/client/Monitoring.test.java
  tests/output/java/src/test/java/com/algolia/client/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/client/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/client/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): dependencies 2025-06-09 (#4943)
  .github/actions/setup/action.yml
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  clients/algoliasearch-client-java/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-python/.github/workflows/release.yml
  clients/algoliasearch-client-scala/project/build.properties
  eslint/package.json
  gradle/gradle/wrapper/gradle-wrapper.properties
  package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/scala/project/build.properties
  scripts/docker/Dockerfile.swift
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/scala/project/build.properties
  website/.yarn/releases/yarn-4.9.1.cjs
  website/.yarn/releases/yarn-4.9.2.cjs
  website/.yarnrc.yml
  website/package.json
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2025-06-09 (#4943) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/java/build.gradle
  tests/output/java/src/test/java/com/algolia/requests/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/package.json
Due: yarn fix:json

feat(php): add bridge to transformation on search (#4940)
  playground/php/loadEnv.php
  playground/php/src/abtesting.php
  playground/php/src/analytics.php
  playground/php/src/insights.php
  playground/php/src/personalization.php
  playground/php/src/query-suggestions.php
  playground/php/src/recommend.php
  playground/php/src/search.php
  scripts/cts/runCts.ts
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/java/api.mustache
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/client/createClient.mustache
Due: yarn eslint --ext=yml --fix

feat(php): add bridge to transformation on search (#4940) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/CompositionClient.php
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Configuration/SearchConfig.php
  docs/bundled/search-snippets.json
  docs/bundled/search.json
  docs/snippets/php/src/Search.php
  specs/bundled/search.yml
  tests/output/php/src/client/AbtestingTest.php
  tests/output/php/src/client/AnalyticsTest.php
  tests/output/php/src/client/CompositionTest.php
  tests/output/php/src/client/IngestionTest.php
  tests/output/php/src/client/InsightsTest.php
  tests/output/php/src/client/MonitoringTest.php
  tests/output/php/src/client/RecommendTest.php
  tests/output/php/src/client/SearchTest.php
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: skip e2e composition
  tests/CTS/requests/composition-full/listCompositions.json
Due: yarn fix:json

chore: skip e2e composition (#4973)
  tests/CTS/requests/composition-full/listCompositions.json
Due: yarn fix:json

chore: skip e2e composition (#4973) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat(specs): update try transformation specs for no-code
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/tryTransformation.json
  tests/CTS/requests/ingestion/tryTransformationBeforeUpdate.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

add historical filters
  specs/realtime-personalization/common/schemas/user.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove required fields to not break existing integrations
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

Revert "add historical filters"
  specs/realtime-personalization/common/schemas/user.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update try transformation specs for no-code (#4974)
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/tryTransformation.json
  tests/CTS/requests/ingestion/tryTransformationBeforeUpdate.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add user profile computation & amend existing user profile endpoints [PRED-3876] (#4944)
  specs/common/responses/Accepted.yml
  specs/common/responses/Conflict.yml
  specs/common/responses/TooManyRequests.yml
  specs/realtime-personalization/common/enums.yml
  specs/realtime-personalization/paths/computeUser.yml
  specs/realtime-personalization/spec.yml
Due: yarn eslint --ext=yml --fix

merge real-time perso into advanced-personalization
  config/clients.config.json
  config/clients.schema.json
  specs/advanced-personalization/common/enums.yml
  specs/advanced-personalization/common/parameters.yml
  specs/advanced-personalization/paths/computeRealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
  specs/advanced-personalization/spec.yml
  specs/realtime-personalization/common/enums.yml
  specs/realtime-personalization/common/schemas/user.yml
  specs/realtime-personalization/spec.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

add realtime user object
  specs/advanced-personalization/paths/getRealtimeUser.yml
Due: yarn eslint --ext=yml --fix

add realtime user object
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
Due: yarn eslint --ext=yml --fix

add test
  clients/algoliasearch-client-javascript/yarn.lock
  specs/bundled/README.md
  tests/CTS/client/advanced-personalization/api.json
Due: yarn fix:json

reset readme
  specs/bundled/README.md
Due: none

remove c#
  config/clients.config.json
Due: yarn fix:json

add to playground
  playground/javascript/node/advancedPersonalization.ts
  playground/javascript/node/package.json
  tests/CTS/client/advanced-personalization/api.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

chore: build step
  clients/algoliasearch-client-javascript/package.json
  scripts/common.ts
Due: yarn fix:json

fix: build and rename
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  playground/javascript/node/advancedPersonalization.ts
  playground/javascript/node/package.json
Due: yarn fix:json

chore: metis app
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

feat: add tests
  tests/CTS/client/advanced-personalization/parameters.json
  tests/CTS/requests/advanced-personalization/computeRealtimeUser.json
  tests/CTS/requests/advanced-personalization/getRealtimeUser.json
Due: yarn fix:json

tests
  specs/advanced-personalization/paths/user.yml
  tests/CTS/requests/advanced-personalization/getConfig.json
  tests/CTS/requests/advanced-personalization/getUser.json
  tests/CTS/requests/advanced-personalization/getUsers.json
  tests/CTS/requests/advanced-personalization/putConfig.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix test
  tests/CTS/requests/advanced-personalization/getUser.json
  tests/CTS/requests/advanced-personalization/getUsers.json
  tests/CTS/requests/advanced-personalization/putConfig.json
Due: yarn fix:json

add deleteUser
  specs/advanced-personalization/paths/user.yml
Due: yarn eslint --ext=yml --fix

add deleteUser
  tests/CTS/requests/advanced-personalization/deleteUser.json
Due: yarn fix:json
