Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

chore: prepare release 2023-10-10 (#2104)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(abtests): Add revenue and filter effects typing
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
Due: none

fix(javascript): release process
  config/generation.config.mjs
  scripts/release/createReleasePR.ts
Due: none

chore: inline ternary like cool kids
  config/generation.config.mjs
Due: none

fix: comment
  config/generation.config.mjs
Due: none

fix(javascript): release process (#2106)
  config/generation.config.mjs
  scripts/release/createReleasePR.ts
Due: none

chore: prepare release 2023-10-11 [skip ci]
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2023-10-11 [skip ci]
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  scripts/package.json
  scripts/release/createReleasePR.ts
Due: yarn fix:json

chore: generated code for commit 2c58deae3ed329440c8937307f8dda2c417c8dd1. [skip ci]
  clients/algoliasearch-client-php/composer.lock
Due: none

chore: prepare release 2023-10-11 (#2108)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  scripts/package.json
  scripts/release/createReleasePR.ts
Due: yarn fix:json

chore: release 2023-10-11 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

feat(specs): revenue and filterEffects typing updates (#2105)
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
Due: none

go mod tidy
  playground/go/go.mod
  playground/go/go.sum
  tests/output/go/go.mod
Due: none

chore: generated code for commit b5ec54151360d3c40970a20fd3c687487bb63706. [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/ABTest.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/CurrenciesValue.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/FilterEffects.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/FilterEffectsEmptySearch.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/FilterEffectsOutliers.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/Variant.java
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/aBTest.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/currenciesValue.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/filterEffects.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/filterEffectsEmptySearch.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/filterEffectsOutliers.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/variant.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/ABTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/CurrenciesValue.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/FilterEffects.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/FilterEffectsEmptySearch.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/FilterEffectsOutliers.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/Variant.kt
  clients/algoliasearch-client-php/lib/Model/Abtesting/ABTest.php
  clients/algoliasearch-client-php/lib/Model/Abtesting/CurrenciesValue.php
  clients/algoliasearch-client-php/lib/Model/Abtesting/FilterEffects.php
  clients/algoliasearch-client-php/lib/Model/Abtesting/FilterEffectsEmptySearch.php
  clients/algoliasearch-client-php/lib/Model/Abtesting/FilterEffectsOutliers.php
  clients/algoliasearch-client-php/lib/Model/Abtesting/Variant.php
  specs/bundled/abtesting.yml
Due: none

chore: prepare release 2023-10-12 [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

refactor: kotlin one of impl
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/InternalAlgoliaClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/iosMain/kotlin/com/algolia/client/configuration/internal/Platform.kt
  playground/kotlin/build.gradle.kts
  playground/kotlin/src/main/kotlin/com/algolia/playground/Insights.kt
  playground/kotlin/src/main/kotlin/com/algolia/playground/Recommend.kt
  playground/kotlin/src/main/kotlin/com/algolia/playground/Search.kt
  templates/kotlin/oneof_compound.mustache
  templates/kotlin/oneof_interface.mustache
  templates/kotlin/tests/param_list.mustache
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Number.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/RunTest.kt
Due: none

wip
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/AlgoliaAgent.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Gzip.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/transport/internal/Gzip.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/macosMain/kotlin/com/algolia/client/configuration/internal/Platform.macos.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/transport/internal/Gzip.native.kt
  generators/gradle/wrapper/gradle-wrapper.jar
  generators/gradle/wrapper/gradle-wrapper.properties
  generators/gradlew
  generators/gradlew.bat
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  playground/kotlin/src/main/kotlin/com/algolia/playground/Search.kt
Due: docker exec -t api-client yarn cli format java generators

add gzip for jvm
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/AlgoliaAuth.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/Platform.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Gzip.kt
  clients/algoliasearch-client-kotlin/client/src/iosMain/kotlin/com/algolia/client/configuration/internal/Platform.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/CompressionType.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/internal/GzipPlugin.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/internal/Platform.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/internal/Platform.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/transport/internal/Gzip.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/macosMain/kotlin/com/algolia/client/configuration/internal/Platform.macos.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/internal/Platform.native.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/transport/internal/Gzip.native.kt
  playground/kotlin/gradle/wrapper/gradle-wrapper.jar
  playground/kotlin/gradle/wrapper/gradle-wrapper.properties
  playground/kotlin/gradlew
  playground/kotlin/gradlew.bat
  playground/kotlin/src/main/kotlin/com/algolia/playground/Search.kt
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.jar
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/output/kotlin/gradlew
  tests/output/kotlin/gradlew.bat
Due: none

fix kotlin cts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/AlgoliaAuth.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/java/tests/generateParamsValue.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/kotlin/tests/param_value.mustache
Due: docker exec -t api-client yarn cli format java generators

update version to beta.1
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

clearnup algolia agent
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/AlgoliaAgent.kt
Due: none

update wait to use duration for timeouts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Retry.kt
Due: none

remove linux target
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
Due: none

fix http client
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/CompressionType.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/internal/GzipPlugin.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/internal/Platform.native.kt
Due: none

bump cache version
  .github/.cache_version
Due: none

fix lint
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
Due: none

store the go.sum
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore: prepare release 2023-10-12 (#2112)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: generated code for commit ad9daf0bba4cf7bac97a24061c95e6ccd734931b. [skip ci]
  clients/algoliasearch-client-php/composer.lock
  tests/output/go/go.sum
Due: none

update changelog
  clients/algoliasearch-client-kotlin/CHANGELOG.md
Due: none

fix(specs): remove duplicate objectID
  specs/search/paths/rules/common/parameters.yml
  specs/search/paths/rules/rule.yml
Due: none

fix(specs): remove duplicate objectID (#2113)
  specs/search/paths/rules/common/parameters.yml
  specs/search/paths/rules/rule.yml
Due: none

chore: generated code for commit a5ff0a76aae1cab08b5f2534bdf3f49b87138c6a. [skip ci]
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
