Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore(scripts): correct var env for scala release
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

fix(clients): add batchSize to accountCopyIndex (#5181)
  scripts/cts/testServer/accountCopyIndex.ts
  specs/search/helpers/accountCopyIndex.yml
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/CTS/client/search/accountCopyIndex.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: size
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

chore: review
  website/docs/testing/common-test-suite.md
Due: none

fix(php): WithTransformation methods
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/pushMock.ts
  templates/php/client_config.mustache
  tests/CTS/client/search/partialUpdateObjectsWithTransformation.json
  tests/CTS/client/search/saveObjectsWithTransformation.json
Due: yarn fix:json

fix: java
  templates/java/api_helpers.mustache
Due: none

fix: java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/TaskUtils.java
Due: none

chore(scripts): correct var env for scala release (#5182)
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

feat(clients): add new abtesting-v3 package to clients + stabilize alpha js package (#5157)
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/build.yaml
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/example/example.dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/test/version_test.dart
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  config/clients.schema.json
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  playground/javascript/node/abtestingV3.ts
  specs/abtesting-v3/common/schemas/Timeseries.yml
  templates/dart/analysis_options.tests.mustache
  templates/dart/pubspec.tests.mustache
  templates/dart/pubspec_overrides.tests.mustache
  templates/dart/snippets/pubspec.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  tests/CTS/requests/abtesting-v3/listABTests.json
  tests/output/dart/pubspec_overrides.yaml
  website/docs/testing/common-test-suite.md
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix(clients): WithTransformation methods retry logic (#5183)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/TaskUtils.java
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/pushMock.ts
  templates/java/api_helpers.mustache
  templates/php/client_config.mustache
  tests/CTS/client/search/partialUpdateObjectsWithTransformation.json
  tests/CTS/client/search/saveObjectsWithTransformation.json
Due: yarn fix:json

fix(clients): WithTransformation methods retry logic (#5183) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-php/lib/Configuration/IngestionConfig.php
  docs/bundled/search-snippets.json
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
Due: yarn fix:json

docs: use the correct link for replaceAllObjects
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
Due: none

new line
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
Due: none

docs: use the correct link for replaceAllObjects (#5185)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
Due: none

fix(scala): release process
  scripts/ci/codegen/spreadGeneration.ts
Due: none

checkout the tag
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

fix(scala): prefix tags with v (#5186)
  clients/algoliasearch-client-scala/.github/workflows/release.yml
  scripts/ci/codegen/spreadGeneration.ts
Due: none

fix(scala): prefix tags with v (#5186) (generated) [skip ci]
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

chore(scripts): allow retry of the release
  .github/workflows/check.yml
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/waitForAllReleases.ts
Due: yarn github-actions:lint --fix

chore(scripts): allow retry of the release (#5223)
  .github/workflows/check.yml
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/waitForAllReleases.ts
Due: yarn github-actions:lint --fix

template
  templates/csharp/snippets/src.csproj.mustache
Due: none

chore(scripts): allow retry of the release (#5223) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

use testClasses
  clients/algoliasearch-client-java/algoliasearch/build.gradle
  config/clients.config.json
  gradle/gradle/wrapper/gradle-wrapper.jar
  scripts/buildLanguages.ts
  templates/java/snippets/build.mustache
  templates/java/tests/build.mustache
Due: yarn fix:json

upgrade outdated foojay
  .nvmrc
  tests/output/java/settings.gradle
Due: none

upgrade for java
  clients/algoliasearch-client-java/algoliasearch/build.gradle
Due: none

rollback
  .nvmrc
  scripts/buildLanguages.ts
Due: none

update template
  .nvmrc
  clients/algoliasearch-client-javascript/.nvmrc
  templates/csharp/snippets/dotnet-tools.mustache
Due: none

lock yarn
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/yarn.lock
  website/yarn.lock
  yarn.lock
Due: none

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

chore(deps): dependencies 2025-08-04 (#5187) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/java/build.gradle
  docs/guides/javascript/package.json
  docs/snippets/java/build.gradle
  docs/snippets/javascript/package.json
  tests/output/java/build.gradle
  tests/output/javascript/package.json
  yarn.lock
Due: yarn fix:json

fix: move forgotten `x-categories`
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: bad ref for `Analytics`
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): mutualise code between Search API & Comp API for search query parameters
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/composition-full/common/params/Search.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
