Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat(cts): add compression strategy test (#2680)
  clients/algoliasearch-client-go/algolia/compression/compression.go
  clients/algoliasearch-client-go/algolia/debug/utils.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-swift/Sources/Core/Networking/CompressionAlgorithm.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Configuration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cli/index.ts
  scripts/cts/runCts.ts
  scripts/cts/testServer.ts
  scripts/docker/Dockerfile.swift
  scripts/install.sh
  scripts/package.json
  templates/csharp/tests/client/createClient.mustache
  templates/csharp/tests/client/suite.mustache
  templates/go/tests/client/createClient.mustache
  templates/go/tests/client/suite.mustache
  templates/java/tests/client/createClient.mustache
  templates/java/tests/client/suite.mustache
  templates/kotlin/tests/client/createClient.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/scala/tests/client/createClient.mustache
  templates/swift/Extensions.mustache
  templates/swift/Package.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/model.mustache
  templates/swift/tests/client/createClient.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/requests/requests.mustache
  tests/CTS/client/search/api.json
  tests/output/swift/Tests/Utils/Utils.swift
  yarn.lock
Due: yarn cli format java generators, yarn fix:json

fix(cts): add e2e for ingestion
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/sourceParameters.yml
  tests/CTS/requests/ingestion/enableTask.json
  tests/CTS/requests/ingestion/getSource.json
  tests/CTS/requests/ingestion/searchTasks.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(swift): remove some flakiness
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  templates/swift/Extensions.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/model.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

add playground
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SecuredApiKeyRestrictionHelper.cs
  playground/csharp/Playground/.env.example
  playground/csharp/Playground/Model/Configuration.cs
  playground/csharp/Playground/Playground.csproj
  playground/csharp/Playground/Playgrounds/Search.cs
  playground/csharp/Playground/Utils/Configuration.cs
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
Due: none

rename
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ClientExtensions.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
Due: none

add test with qp
  tests/CTS/requests/ingestion/getAuthentications.json
Due: yarn fix:json

chore(swift): remove some flakiness (#2738)
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  templates/swift/Extensions.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/model.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

suppress warnings
  scripts/cts/runCts.ts
Due: none

review
  clients/algoliasearch-client-csharp/algoliasearch/Http/ClientUtils.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestriction.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SecuredApiKeyRestrictionHelper.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
Due: none

review
  playground/.env.example
  playground/csharp/Playground/.env.example
  playground/csharp/Playground/Playgrounds/ABTesting.cs
  playground/csharp/Playground/Playgrounds/Ingestion.cs
  playground/csharp/Playground/Playgrounds/Monitoring.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  playground/csharp/Playground/Utils/Configuration.cs
Due: none

test fix
  specs/ingestion/common/schemas/authentication.yml
  tests/CTS/requests/ingestion/getAuthentications.json
  tests/output/python/tests/helpers.py
Due: yarn fix:json, yarn eslint --ext=yml --fix

bump cache
  .github/.cache_version
Due: none

review
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestriction.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
Due: none

bump again ??
  .github/.cache_version
Due: none

feat(csharp): add last helpers (#2694)
  .github/.cache_version
  clients/algoliasearch-client-csharp/algoliasearch/Http/ClientUtils.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestriction.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/HmacShaHelper.cs
  playground/.env.example
  playground/csharp/Playground/.env.example
  playground/csharp/Playground/Model/Configuration.cs
  playground/csharp/Playground/Playground.csproj
  playground/csharp/Playground/Playgrounds/ABTesting.cs
  playground/csharp/Playground/Playgrounds/Ingestion.cs
  playground/csharp/Playground/Playgrounds/Monitoring.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  playground/csharp/Playground/Utils/Configuration.cs
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
Due: none

chore: generated code for commit cd4f35f59b40b219beadd33b434fccdfe34266ec. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
Due: none

python test is still broken
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  specs/ingestion/common/schemas/source.yml
  templates/python/model_oneof.mustache
  templates/python/tests/requests/requests.mustache
Due: yarn eslint --ext=yml --fix

Merge `ClientUtil` into `QueryHelper`
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaUserAgent.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/ClientUtils.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/QueryStringHelper.cs
  templates/csharp/api.mustache
Due: none

rework README to prepare version 7 release
  clients/algoliasearch-client-csharp/README.md
Due: none

disable force nullable option in tests.
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

move Echo requester and response
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/QueryStringHelper.cs
  templates/csharp/tests/client/suite.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/src/AddSegmentToUserAgentTests.cs
  tests/output/csharp/src/CompressionTests.cs
  tests/output/csharp/src/Utils/EchoHttpRequester.cs
  tests/output/csharp/src/Utils/EchoResponse.cs
Due: none

cleaning
  clients/algoliasearch-client-csharp/algoliasearch/Http/HttpRequestHeadersExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/InternalRequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/Request.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/AbstractSchema.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
  templates/csharp/modelOneOf.mustache
Due: none

add and clean logs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/DefaultSerializer.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/EnumConverter.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/AsyncHelper.cs
Due: none

chore: prepare release 2024-02-20
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

refactor(csharp): move, tiny additions and cleanings (#2740)
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaUserAgent.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/ClientUtils.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/HttpRequestHeadersExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/InternalRequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/Request.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/AbstractSchema.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/DefaultSerializer.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/EnumConverter.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/AsyncHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/QueryStringHelper.cs
  templates/csharp/api.mustache
  templates/csharp/modelOneOf.mustache
  templates/csharp/tests/client/suite.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/src/AddSegmentToUserAgentTests.cs
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/csharp/src/CompressionTests.cs
  tests/output/csharp/src/Utils/EchoHttpRequester.cs
  tests/output/csharp/src/Utils/EchoResponse.cs
Due: none

still not working
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  templates/python/tests/requests/requests.mustache
  tests/output/python/tests/helpers.py
Due: none

python is working
  templates/python/model_oneof.mustache
Due: none

feat(specs): add CustomFields to CT Source Input
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

add discriminators to fix scala
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add Source Update
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add description
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update description
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

feat(specs): fix
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

fix(cts): add e2e for ingestion API (#2739)
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  scripts/cts/runCts.ts
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/sourceParameters.yml
  templates/python/model_oneof.mustache
  templates/python/tests/requests/requests.mustache
  tests/CTS/requests/ingestion/enableTask.json
  tests/CTS/requests/ingestion/getAuthentications.json
  tests/CTS/requests/ingestion/getSource.json
  tests/CTS/requests/ingestion/searchTasks.json
  tests/output/python/tests/helpers.py
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix for damcou
  .github/workflows/check.yml
  scripts/cli/index.ts
  scripts/cts/runCts.ts
Due: yarn github-actions:lint --fix
