Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore(go): downgrade jsonassert version to v1.1.0
  tests/output/go/go.mod
  tests/output/go/go.sum
Due: none

refactor(specs): move file & directories with a more accurate name
  specs/composition-full/paths/compositions/batch.yml
  specs/composition-full/paths/compositions/composition.yml
  specs/composition-full/paths/compositions/list.yml
  specs/composition-full/spec.yml
Due: yarn eslint --ext=yml --fix

chore(python): remove redundant check
  clients/algoliasearch-client-python/algoliasearch/http/retry.py
  playground/python/app/search.py
  playground/python/poetry.lock
Due: none

chore(python): remove redundant check (#5338)
  clients/algoliasearch-client-python/algoliasearch/http/retry.py
  playground/python/app/search.py
  playground/python/poetry.lock
Due: none

chore(python): remove redundant check (#5338) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

refactor(specs): move file & directories with a more accurate name (#5332)
  specs/composition-full/paths/compositions/batch.yml
  specs/composition-full/paths/compositions/composition.yml
  specs/composition-full/paths/compositions/list.yml
  specs/composition-full/spec.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): move file & directories with a more accurate name (#5332) (generated) [skip ci]
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  specs/bundled/composition-full.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): you cannot save composition / composition rules only with `getSettings` ACL
  specs/composition-full/paths/compositions/composition.yml
  specs/composition-full/paths/rules/rule.yml
Due: yarn eslint --ext=yml --fix

add additional tests
  tests/CTS/requests/composition-full/multipleBatch.json
  tests/CTS/requests/composition-full/putCompositionRule.json
  tests/CTS/requests/composition-full/saveRules.json
Due: yarn fix:json

update metadata and external injection tests
  tests/CTS/requests/composition-full/putComposition.json
  tests/CTS/requests/composition-full/putCompositionRule.json
  tests/CTS/requests/composition-full/search.json
Due: yarn fix:json

ADD: rule tags definition
  specs/composition-full/common/schemas/components/CompositionRule.yml
Due: yarn eslint --ext=yml --fix

test(javascript): update compositions testcases for metadata and external injected items (#5331)
  specs/composition-full/common/schemas/components/CompositionRule.yml
  tests/CTS/requests/composition-full/multipleBatch.json
  tests/CTS/requests/composition-full/putComposition.json
  tests/CTS/requests/composition-full/putCompositionRule.json
  tests/CTS/requests/composition-full/saveRules.json
  tests/CTS/requests/composition-full/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

test(javascript): update compositions testcases for metadata and external injected items (#5331) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-composition/model/compositionRule.ts
  docs/bundled/composition-full-snippets.json
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/snippets/javascript/src/compositionFull.ts
  specs/bundled/composition-full.yml
  tests/output/javascript/src/requests/compositionFull.test.ts
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): apply the right category tags to composition query parameter
  specs/composition-full/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

fix(specs): you cannot save composition / composition rules only with `getSettings` ACL (#5334)
  specs/composition-full/paths/compositions/composition.yml
  specs/composition-full/paths/rules/rule.yml
Due: yarn eslint --ext=yml --fix

fix(specs): normalize spelling of summaries
  specs/ingestion/paths/sources/validate.yml
  specs/ingestion/paths/sources/validateID.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
  specs/ingestion/paths/tasks/v2/taskID.yml
Due: yarn eslint --ext=yml --fix

fix(specs): normalize spelling of summaries (#5340)
  specs/ingestion/paths/sources/validate.yml
  specs/ingestion/paths/sources/validateID.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
  specs/ingestion/paths/tasks/v2/taskID.yml
Due: yarn eslint --ext=yml --fix

fix(specs): normalize spelling of summaries (#5340) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionClient.cs
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/IngestionClient.java
  clients/algoliasearch-client-javascript/packages/client-composition/src/compositionClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/IngestionClient.kt
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/IngestionClient.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClient.swift
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  specs/bundled/composition-full.yml
  specs/bundled/ingestion.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add pushToRepo entry for n8n-nodes-algolia repo (#5313)
  scripts/ci/codegen/types.ts
Due: none

feat(specs): add pushToRepo entry for n8n-nodes-algolia repo (#5313) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

fix(specs): apply the right category tags to composition query parameter (#5339)
  specs/composition-full/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

fix(specs): apply the right category tags to composition query parameter (#5339) (generated) [skip ci]
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  specs/bundled/composition-full.yml
  specs/bundled/composition.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): allow filtering transformations type
  specs/ingestion/common/transformationParameters.yml
  specs/ingestion/paths/transformations/transformations.yml
  tests/CTS/requests/ingestion/listTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: check tags value
  specs/composition/paths/advanced/getTask.yml
  specs/composition/paths/rules/rule.yml
  specs/composition/paths/rules/saveRules.yml
  specs/composition/paths/rules/searchRules.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

update description
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

feat(specs): merge `composition` & `composition-full`
  specs/composition-full/spec.yml
  specs/composition/common/params/Composition.yml
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/Identifiers.yml
  specs/composition/common/schemas/components/Composition.yml
  specs/composition/common/schemas/components/CompositionBehavior.yml
  specs/composition/common/schemas/components/CompositionRule.yml
  specs/composition/common/schemas/components/Injection.yml
  specs/composition/common/schemas/components/InjectionSource.yml
  specs/composition/common/schemas/requestBodies/Batch.yml
  specs/composition/common/schemas/requestBodies/BatchCompositionAction.yml
  specs/composition/common/schemas/requestBodies/RulesBatchCompositionAction.yml
  specs/composition/common/schemas/requestBodies/RunParams.yml
  specs/composition/common/schemas/responses/GetTaskResponse.yml
  specs/composition/common/schemas/responses/Hit.yml
  specs/composition/common/schemas/responses/ListCompositionsResponse.yml
  specs/composition/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition/common/schemas/responses/SearchResponse.yml
  specs/composition/helpers/waitForCompositionTask.yml
  specs/composition/paths/advanced/getTask.yml
  specs/composition/paths/compositions/batch.yml
  specs/composition/paths/compositions/composition.yml
  specs/composition/paths/compositions/list.yml
  specs/composition/paths/rules/parameters.yml
  specs/composition/paths/rules/rule.yml
  specs/composition/paths/rules/saveRules.yml
  specs/composition/paths/rules/searchRules.yml
  specs/composition/paths/search/search.yml
  specs/composition/paths/search/searchForFacetValues.yml
  specs/composition/paths/urlParams.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

test: update tests
  tests/CTS/client/composition-full/api.json
  tests/CTS/client/composition/api.json
Due: yarn fix:json

fix: update `config/clients.config/json`
  config/clients.config.json
Due: yarn fix:json

fix: cts
  tests/CTS/requests/ingestion/listTransformations.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix: cts
  tests/CTS/requests/ingestion/listTransformations.json
Due: yarn fix:json

remove more occurences
  CODEOWNERS
  config/clients.schema.json
  docs/bundled/composition-full-snippets.json
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/snippets/javascript/src/compositionFull.ts
  eslint/src/rules/refCommon.ts
  playground/javascript/node/compositionFull.ts
  specs/bundled/composition-full.yml
  tests/CTS/requests/composition-full/search.json
  tests/CTS/requests/composition-full/searchForFacetValues.json
  tests/CTS/requests/composition/deleteComposition.json
  tests/CTS/requests/composition/deleteCompositionRule.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/composition/getRule.json
  tests/CTS/requests/composition/getTask.json
  tests/CTS/requests/composition/listCompositions.json
  tests/CTS/requests/composition/multipleBatch.json
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/putCompositionRule.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/search.json
  tests/CTS/requests/composition/searchCompositionRules.json
  tests/output/javascript/src/client/compositionFull.test.ts
  tests/output/javascript/src/e2e/compositionFull.test.ts
  tests/output/javascript/src/requests/compositionFull.test.ts
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: cts
  specs/ingestion/paths/transformations/transformations.yml
  tests/CTS/requests/ingestion/listTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): allow filtering transformations type (#5363)
  specs/ingestion/common/transformationParameters.yml
  specs/ingestion/paths/transformations/transformations.yml
  tests/CTS/requests/ingestion/listTransformations.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): allow filtering transformations type (#5363) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionClient.cs
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/IngestionClient.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/IngestionClient.kt
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/IngestionClient.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClient.swift
  docs/bundled/ingestion-snippets.json
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  docs/snippets/csharp/src/Ingestion.cs
  docs/snippets/go/src/ingestion.go
  docs/snippets/java/src/test/java/com/algolia/Ingestion.java
  docs/snippets/javascript/src/ingestion.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Ingestion.kt
  docs/snippets/php/src/Ingestion.php
  docs/snippets/python/ingestion.py
  docs/snippets/ruby/ingestion.rb
  docs/snippets/scala/src/main/scala/Ingestion.scala
  docs/snippets/swift/Sources/Ingestion.swift
  specs/bundled/ingestion.yml
  tests/output/csharp/src/generated/requests/Ingestion.test.cs
  tests/output/go/tests/requests/ingestion_test.go
  tests/output/java/src/test/java/com/algolia/requests/Ingestion.test.java
  tests/output/javascript/src/requests/ingestion.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/IngestionTest.kt
  tests/output/php/src/requests/IngestionTest.php
  tests/output/python/tests/requests/ingestion_test.py
  tests/output/ruby/test/requests/ingestion_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/IngestionTest.scala
  tests/output/swift/Tests/requests/IngestionTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
