Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(javascript): assert helpers and fix setClientApiKey helper
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  templates/javascript/clients/api-single.mustache
Due: none

chore: == not === but == update with ===
  templates/javascript/clients/api-single.mustache
Due: none

fix ruff version
  playground/python/pyproject.toml
  renovate.json
  snippets/python/pyproject.toml
  templates/python/pyproject.mustache
  tests/output/python/pyproject.toml
  website/docs/setup-repository.md
Due: yarn fix:json

double equal
  out.txt
  playground/python/pyproject.toml
  snippets/python/pyproject.toml
  templates/python/pyproject.mustache
  tests/output/python/pyproject.toml
Due: none

fix(javascript): assert helpers and fix setClientApiKey helper (#3663)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  templates/javascript/clients/api-single.mustache
Due: none

go mod tidy
  playground/go/go.mod
  playground/go/go.sum
  snippets/go/go.mod
  snippets/go/go.sum
  tests/output/go/go.mod
  tests/output/go/go.sum
Due: none

fix(javascript): assert helpers and fix setClientApiKey helper (#3663) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-usage/src/usageClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

fix regex
  renovate.json
Due: yarn fix:json

build action
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

rm log
  out.txt
Due: none

chore: more explicit templates
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/csharp/tests/method.mustache
  templates/dart/snippets/method.mustache
  templates/javascript/snippets/method.mustache
  templates/javascript/tests/method.mustache
  templates/python/api.mustache
  templates/python/search_helpers.mustache
  templates/python/snippets/method.mustache
  templates/python/tests/client/client.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/method.mustache
  templates/python/tests/client/tests.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/requests.mustache
  templates/scala/tests/client/method.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/method.mustache
Due: yarn cli format java generators

chore: revert generated files
  tests/output/python/pyproject.toml
Due: none

chore: revert generated files
  tests/output/python/poetry.lock
  tests/output/python/requirements.txt
Due: none

more versions
  renovate.json
Due: yarn fix:json

chore(deps): dependencies 2024-09-09 (#3662) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-python/poetry.lock
  clients/algoliasearch-client-python/pyproject.toml
Due: yarn fix:json

chore: lock
  clients/algoliasearch-client-python/poetry.lock
Due: none

feat(python): add sync client (#3609)
  clients/algoliasearch-client-python/algoliasearch/http/base_transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/helpers.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
  clients/algoliasearch-client-python/poetry.lock
  clients/algoliasearch-client-python/pyproject.toml
  clients/algoliasearch-client-python/requirements.txt
  clients/algoliasearch-client-python/setup.cfg
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/cts/testServer/chunkWrapper.ts
  scripts/cts/testServer/replaceAllObjects.ts
  scripts/cts/testServer/timeout.ts
  templates/csharp/tests/method.mustache
  templates/dart/snippets/method.mustache
  templates/javascript/snippets/method.mustache
  templates/javascript/tests/method.mustache
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/imports.mustache
  templates/python/pyproject.mustache
  templates/python/search_helpers.mustache
  templates/python/snippets/method.mustache
  templates/python/tests/client/client.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/method.mustache
  templates/python/tests/client/tests.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/helpers.mustache
  templates/python/tests/requests/requests.mustache
  templates/scala/tests/client/method.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/method.mustache
Due: yarn cli format java generators

fix: swiftformat
  clients/algoliasearch-client-swift/.swiftformat
  templates/swift/snippets/Package.mustache
  templates/swift/tests/Package.mustache
  tests/output/swift/.swiftformat
Due: none

chore: prepare release 2024-09-09
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix kotlin flakyness
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: prepare release 2024-09-09 (#3678)
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn github-actions:lint --fix, yarn fix:json

chore(ci): fallback step name when they are skipped
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

dont always build the website
  .github/workflows/check.yml
  scripts/ci/githubActions/utils.ts
  scripts/formatter.ts
Due: yarn github-actions:lint --fix

chore(ci): fallback step name when they are skipped (#3679)
  .github/workflows/check.yml
  scripts/ci/githubActions/utils.ts
  scripts/formatter.ts
Due: yarn github-actions:lint --fix

chore(ci): fallback step name when they are skipped (#3679) (generated) [skip ci]
  tests/output/csharp/src/generated/client/Search.test.cs
Due: none

feat(javascript): add workerd exports
  clients/algoliasearch-client-javascript/base.tsup.config.ts
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/clients/tsup.config.mustache
Due: yarn fix:json

feat: real fetch bundle
  clients/algoliasearch-client-javascript/base.tsup.config.ts
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/clients/tsup.config.mustache
Due: yarn cli format java generators

fix(javascript): use transporter directly
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/api-single.mustache
Due: none

fix: algoliasearch builds
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: none

fix(javascript): use transporter directly (#3682)
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/api-single.mustache
Due: none

fix(javascript): use transporter directly (#3682) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-usage/src/usageClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
Due: none

chore: prepare release 2024-09-09
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-09-09 (#3683)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
Due: yarn fix:json

chore: release 2024-09-09 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-usage/src/usageClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/src/client/abtesting.test.ts
  tests/output/javascript/src/client/analytics.test.ts
  tests/output/javascript/src/client/ingestion.test.ts
  tests/output/javascript/src/client/insights.test.ts
  tests/output/javascript/src/client/monitoring.test.ts
  tests/output/javascript/src/client/personalization.test.ts
  tests/output/javascript/src/client/querySuggestions.test.ts
  tests/output/javascript/src/client/recommend.test.ts
  tests/output/javascript/src/client/search.test.ts
  tests/output/javascript/src/client/usage.test.ts
Due: none

feat(dart): implement setClientApiKey
  clients/algoliasearch-client-dart/packages/chopper_requester/lib/src/auth_interceptor.dart
  clients/algoliasearch-client-dart/packages/chopper_requester/lib/src/chopper_requester.dart
Due: none

chore: assert with miniflare
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.fetch.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/jest.config.cjs
  clients/algoliasearch-client-javascript/packages/client-common/src/createEchoRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/index.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/index.ts
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/package.mustache
Due: yarn fix:json

chore: resolve from source
  templates/javascript/tests/client/client.mustache
  templates/javascript/tests/requests/requests.mustache
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
