Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore(javascript): remove some non needed props from generators
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/README.md
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/node.mustache
  templates/javascript/clients/package.mustache
Due: docker exec -t api-client yarn cli format java generators

chore(javascript): remove some non needed props from generators (#2412)
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/README.md
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/node.mustache
  templates/javascript/clients/package.mustache
Due: docker exec -t api-client yarn cli format java generators

feat(python): add release process (#2372)
  clients/algoliasearch-client-python/.github/workflows/release.yml
  config/clients.config.json
Due: yarn fix:json

chore: generated code for commit 1c7c0351a27915a671a7b9e5d4ed0609341478af. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/__init__.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/__init__.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/analytics/__init__.py
  clients/algoliasearch-client-python/algoliasearch/analytics/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/http/__init__.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/__init__.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/insights/__init__.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/__init__.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/personalization/__init__.py
  clients/algoliasearch-client-python/algoliasearch/personalization/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/recommend/__init__.py
  clients/algoliasearch-client-python/algoliasearch/recommend/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/search/__init__.py
  clients/algoliasearch-client-python/algoliasearch/search/models/__init__.py
  clients/algoliasearch-client-python/pyproject.toml
Due: none

fix: scala casing
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/AlgoliaAgent.scala
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
Due: docker exec -t api-client yarn cli format java generators

working for search
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/echo_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/response.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  playground/ruby/search.rb
  templates/ruby/api.mustache
  templates/ruby/partial_model_generic.mustache
  templates/ruby/tests/requests/generateParams.mustache
  tests/CTS/methods/requests/search/deleteRule.json
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix: URL encoding
  templates/python/api.mustache
  tests/CTS/client/common/commonApi.json
  tests/CTS/methods/requests/search/deleteRule.json
  tests/output/python/poetry.lock
Due: yarn fix:json

fix(generators): add generic to top level
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  templates/java/generic_type.mustache
Due: docker exec -t api-client yarn cli format java generators

fix: scala test index
  templates/scala/tests/client/suite.mustache
  templates/scala/tests/requests/requests.mustache
Due: none

fix array return type
  playground/ruby/search.rb
  templates/ruby/api.mustache
Due: none

fix: kotlin test index
  templates/kotlin/tests/client/suite.mustache
  templates/kotlin/tests/requests/requests.mustache
Due: none

add a testName
  tests/CTS/methods/requests/search/deleteRule.json
Due: yarn fix:json

chore(cts): add index to default test name
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: docker exec -t api-client yarn cli format java generators

fix: prevent poetry upgrade locks
  scripts/cts/runCts.ts
  scripts/formatter.ts
  tests/output/python/poetry.lock
Due: none

chore(cli): add apic alias to bypass yarn scripts
  package.json
  scripts/install.sh
Due: yarn fix:json

typo
  scripts/install.sh
Due: none

review
  package.json
Due: yarn fix:json

chore(cts): add index to default test name (#2414)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/cts/runCts.ts
  scripts/formatter.ts
  tests/output/python/poetry.lock
Due: docker exec -t api-client yarn cli format java generators

Revert "fix: scala test index"
  templates/scala/tests/client/suite.mustache
  templates/scala/tests/requests/requests.mustache
Due: none

Revert "fix: kotlin test index"
  templates/kotlin/tests/client/suite.mustache
  templates/kotlin/tests/requests/requests.mustache
Due: none

remove tsc everywhere else
  scripts/package.json
Due: yarn fix:json

chore: generated code for commit 22158d801068581021c9fe3f61b2787653d995a3. [skip ci]
  tests/output/dart/test/methods/requests/insights_test.dart
  tests/output/dart/test/methods/requests/recommend_test.dart
  tests/output/dart/test/methods/requests/search_test.dart
  tests/output/go/tests/methods/requests/insights_test.go
  tests/output/go/tests/methods/requests/query-suggestions_test.go
  tests/output/go/tests/methods/requests/recommend_test.go
  tests/output/go/tests/methods/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/methods/requests/Insights.test.java
  tests/output/java/src/test/java/com/algolia/methods/requests/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/methods/requests/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/src/methods/requests/insights.test.ts
  tests/output/javascript/src/methods/requests/querySuggestions.test.ts
  tests/output/javascript/src/methods/requests/recommend.test.ts
  tests/output/javascript/src/methods/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/QuerySuggestionsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/RecommendTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/SearchTest.kt
  tests/output/php/src/methods/requests/InsightsTest.php
  tests/output/php/src/methods/requests/QuerySuggestionsTest.php
  tests/output/php/src/methods/requests/RecommendTest.php
  tests/output/php/src/methods/requests/SearchTest.php
  tests/output/python/tests/methods/requests/insights_test.py
  tests/output/python/tests/methods/requests/query_suggestions_test.py
  tests/output/python/tests/methods/requests/recommend_test.py
  tests/output/python/tests/methods/requests/search_test.py
  tests/output/scala/src/test/scala/algoliasearch/methods/requests/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/methods/requests/QuerySuggestionsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/methods/requests/RecommendTest.scala
  tests/output/scala/src/test/scala/algoliasearch/methods/requests/SearchTest.scala
Due: none

chore(cli): add apic alias to bypass yarn scripts (#2415)
  package.json
  scripts/install.sh
  scripts/package.json
Due: yarn fix:json

chore: review
  website/docs/contributing/add-new-language.md
Due: none

feat(python): add clients CTS (#2411)
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/user_agent.py
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/AlgoliaAgent.scala
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/CodeSnakeCaseLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/tests/client/__init__.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/method.mustache
  templates/python/tests/client/step.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/client/variable.mustache
  templates/python/tests/requests/requests.mustache
  tests/CTS/client/common/commonApi.json
  tests/CTS/methods/requests/search/deleteRule.json
  website/docs/contributing/add-new-language.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

revert playground
  playground/ruby/search.rb
Due: none

chore(python): cleanup and variable names
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/tests/client/suite.mustache
Due: none

chore: remove todo from readme
  clients/algoliasearch-client-python/README.md
Due: none

adapt generic to higher level
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  playground/csharp/Algolia-Generated-Client/Program.cs
  templates/csharp/generic_type.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/modelOneOf.mustache
Due: docker exec -t api-client yarn cli format java generators

playground
  playground/csharp/Algolia-Generated-Client/.gitignore
Due: none

playground
  playground/csharp/.gitignore
Due: none

playground
  playground/csharp/Algolia-Generated-Client/.gitignore
  playground/csharp/Algolia-Generated-Client/Algolia-Generated-Client.csproj
  playground/csharp/Algolia-Generated-Client/PlaygroundSetting.cs
  playground/csharp/Algolia-Generated-Client/Program.cs
  playground/csharp/Algolia-Generated-Client/appsettings.example.json
Due: yarn fix:json

chore(python): cleanup and variable names (#2416)
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/tests/client/suite.mustache
Due: none

chore: generated code for commit 19ddcb18f799dcca44147fc191166b6ae8e0abe7. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-python/algoliasearch/search/config.py
  tests/output/python/tests/client/abtesting_test.py
  tests/output/python/tests/client/analytics_test.py
  tests/output/python/tests/client/ingestion_test.py
  tests/output/python/tests/client/insights_test.py
  tests/output/python/tests/client/monitoring_test.py
  tests/output/python/tests/client/personalization_test.py
  tests/output/python/tests/client/query_suggestions_test.py
  tests/output/python/tests/client/recommend_test.py
  tests/output/python/tests/client/search_test.py
Due: none

feat(cts): add e2e
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  generators/src/main/java/com/algolia/codegen/cts/tests/Request.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/python/tests/requests/requests.mustache
  tests/CTS/methods/requests/search/search.json
  tests/output/python/.env.example
  tests/output/python/poetry.lock
  tests/output/python/pyproject.toml
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

feat: assert body
  generators/src/main/java/com/algolia/codegen/cts/tests/Request.java
  templates/python/tests/requests/requests.mustache
  tests/CTS/methods/requests/search/search.json
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix: actions
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix: test template
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/python/tests/requests/requests.mustache
Due: docker exec -t api-client yarn cli format java generators

fix(ruby): support additionalProperties: true
  templates/ruby/base_object.mustache
  templates/ruby/partial_model_generic.mustache
Due: none
