Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: prepare release 2024-10-29 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

feat: first endpoints
  config/clients.config.json
  specs/common/responses/CompositionNotFound.yml
  specs/composition/common/parameters.yml
  specs/composition/common/schemas/Batch.yml
  specs/composition/common/schemas/GetTaskResponse.yml
  specs/composition/common/schemas/batchCompositionAction.yml
  specs/composition/common/schemas/compositionBehavior.yml
  specs/composition/common/schemas/listCompositionsResponse.yml
  specs/composition/paths/advanced/getTask.yml
  specs/composition/paths/manage_compositions/listCompositions.yml
  specs/composition/paths/objects/multipleBatch.yml
  specs/composition/paths/objects/objects.yml
  specs/composition/spec.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2024-10-29 [skip-bc] (#4053)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

feat(specs): add secrets authentications to ingestion
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

fix: oneOf
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

fix: loose type
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

fix: avoid permission issues on wsl
  scripts/generate.ts
Due: none

feat(specs): add secrets authentications to ingestion (#4054)
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add secrets authentications to ingestion (#4054) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthInput.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthenticationType.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_input.go
  clients/algoliasearch-client-go/algolia/ingestion/model_authentication_type.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthInput.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthenticationType.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/authInput.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authenticationType.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthInput.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthenticationType.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthenticationType.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/auth_input.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/authentication_type.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/auth_input.rb
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/authentication_type.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthInput.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthenticationType.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthInput.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthenticationType.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-10-30
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

chore: prepare release 2024-10-30 (#4055)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix: check for wsl
  scripts/common.ts
  scripts/generate.ts
Due: none

fix(generators): skip pre-releases in algoliasearch
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: yarn cli format java generators

fix(composition): set version to pre-release
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
Due: yarn fix:json

feat: add estimate path and responses
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/EstimateResponse.yml
  specs/abtesting/paths/estimate.yml
Due: yarn eslint --ext=yml --fix

fix: build and playground
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  playground/javascript/node/composition.ts
  playground/javascript/node/package.json
Due: yarn fix:json

fix: cts
  specs/composition/spec.yml
  templates/javascript/tests/e2e/e2e.mustache
  templates/javascript/tests/package.mustache
  tests/CTS/client/composition/api.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/composition/getTask.json
  tests/CTS/requests/composition/listCompositions.json
  tests/CTS/requests/composition/multipleBatch.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(tests): init client
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  templates/javascript/tests/client/client.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/javascript/tests/requests/requests.mustache
Due: yarn cli format java generators

fix(javascript): allow import from dist
  templates/javascript/clients/package.mustache
Due: none

fix(specs): add secrets payload for updates
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

fix: conditional client name
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  templates/javascript/tests/client/client.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/javascript/tests/requests/requests.mustache
Due: yarn cli format java generators

feat(clients): cleanup after replaceAllObjects failure
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsFailed.ts
  templates/Bug_report.yml
  templates/go/search_helpers.mustache
  tests/CTS/client/search/replaceAllObjects.json
Due: yarn fix:json

chore(swift): add cleanup method to replace all objects helper
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  scripts/cts/testServer/replaceAllObjectsFailed.ts
Due: none

chore(java): cleanup
  templates/java/api_helpers.mustache
Due: none

chore(scala): cleanup
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

chore(kotlin): cleanup
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

fix: requests tests
  tests/CTS/requests/composition/getTask.json
  tests/CTS/requests/composition/multipleBatch.json
Due: yarn fix:json

feat: add ai-personalization spec file
  specs/ai-personalization/common/enums.yml
  specs/ai-personalization/common/responses/BadRequest.yml
  specs/ai-personalization/common/responses/BaseResponse.yml
  specs/ai-personalization/common/responses/ConfigurationNotFound.yml
  specs/ai-personalization/common/responses/InternalServerError.yml
  specs/ai-personalization/common/responses/InvalidUserID.yml
  specs/ai-personalization/common/responses/Unauthorized.yml
  specs/ai-personalization/common/responses/UserNotFound.yml
  specs/ai-personalization/common/schemas/User.yml
  specs/ai-personalization/common/schemas/UsersParams.yml
  specs/ai-personalization/common/schemas/configuration.yml
  specs/ai-personalization/paths/config.yml
  specs/ai-personalization/paths/user.yml
  specs/ai-personalization/paths/users.yml
  specs/ai-personalization/spec.yml
Due: yarn eslint --ext=yml --fix

chore(python): cleanup
  templates/python/search_helpers.mustache
Due: none

chore(javascript): cleanup
  templates/javascript/clients/client/api/helpers.mustache
Due: none

chore(csharp): cleanup
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

chore(php): cleanup
  templates/php/api.mustache
Due: none

chore(ruby): cleanup
  templates/ruby/search_helpers.mustache
Due: none

fix: bundle ai-personalization
  scripts/common.ts
Due: none

fix: issue with casing
  specs/ai-personalization/common/schemas/Configuration.yml
Due: yarn eslint --ext=yml --fix

fix(javascript): allow import from dist (#4060)
  templates/javascript/clients/package.mustache
Due: none

fix(javascript): allow import from dist (#4060) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
Due: yarn fix:json

feat(kotlin): add browse helpers
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Iterable.kt
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
