Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(specs): broken link (#3559)
  .github/workflows/check.yml
  specs/search/paths/objects/deleteBy.yml
Due: yarn github-actions:lint --fix, yarn eslint --ext=yml --fix

fix(csharp): changelog location
  templates/csharp/netcore_project.mustache
Due: none

chore: golang readme
  clients/algoliasearch-client-go/README.md
Due: none

fix(specs): broken link (#3559) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchClient.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

chore: doc links and other readmes
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-php/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  templates/csharp/netcore_project.mustache
  templates/javascript/clients/README.mustache
  templates/kotlin/README.mustache
Due: none

chore: kotlin
  clients/algoliasearch-client-kotlin/README.md
Due: none

chore: kotlin
  templates/kotlin/README.mustache
Due: none

chore: tired
  templates/kotlin/README.mustache
Due: none

prevent generation of AbstractModel.php
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
Due: yarn cli format java generators

feat(php): removed $waitForTasks param from `SearchClient::replaceAllObjects()`
  templates/php/api.mustache
Due: none

fix(clients): mention `main` branch instead of `master` (#3566)
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-php/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  templates/csharp/netcore_project.mustache
  templates/javascript/clients/README.mustache
  templates/kotlin/README.mustache
Due: none

fix(clients): mention branch instead of (#3566) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/README.md
  clients/algoliasearch-client-javascript/packages/client-abtesting/README.md
  clients/algoliasearch-client-javascript/packages/client-analytics/README.md
  clients/algoliasearch-client-javascript/packages/client-insights/README.md
  clients/algoliasearch-client-javascript/packages/client-personalization/README.md
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/README.md
  clients/algoliasearch-client-javascript/packages/client-search/README.md
  clients/algoliasearch-client-javascript/packages/client-usage/README.md
  clients/algoliasearch-client-javascript/packages/ingestion/README.md
  clients/algoliasearch-client-javascript/packages/monitoring/README.md
  clients/algoliasearch-client-javascript/packages/recommend/README.md
Due: none

fix(php): native return types for AbstractModel methods (#3563)
  clients/algoliasearch-client-php/lib/Model/AbstractModel.php
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
Due: yarn cli format java generators

fix(clients): highlight and snippet results e2e
  templates/csharp/netcore_project.mustache
  tests/CTS/requests/search/search.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix(php): native return types for AbstractModel methods (#3563) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Model/AbstractModel.php
Due: none

feat(php): waitForTasks param for various SearchClient methods (#3565)
  templates/php/api.mustache
Due: none

chore: do not assert query params
  tests/CTS/requests/search/search.json
Due: yarn fix:json

feat(php): waitForTasks param for various SearchClient methods (#3565) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none

chore(ci): automaticaly create jira issues on gh issue (#3564)
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/csharp/issue.yml
  templates/dart/issue.yml
  templates/go/issue.yml
  templates/issue.yml
  templates/java/issue.yml
  templates/javascript/clients/issue.yml
  templates/kotlin/issue.yml
  templates/php/issue.yml
  templates/python/issue.yml
  templates/ruby/issue.yml
  templates/scala/issue.yml
  templates/swift/issue.yml
Due: yarn cli format java generators

chore(ci): automaticaly create jira issues on gh issue (#3564) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/workflows/issue.yml
  clients/algoliasearch-client-dart/.github/workflows/issue.yml
  clients/algoliasearch-client-go/.github/workflows/issue.yml
  clients/algoliasearch-client-java/.github/workflows/issue.yml
  clients/algoliasearch-client-javascript/.github/workflows/issue.yml
  clients/algoliasearch-client-kotlin/.github/workflows/issue.yml
  clients/algoliasearch-client-php/.github/workflows/issue.yml
  clients/algoliasearch-client-python/.github/workflows/issue.yml
  clients/algoliasearch-client-ruby/.github/workflows/issue.yml
  clients/algoliasearch-client-scala/.github/workflows/issue.yml
  clients/algoliasearch-client-swift/.github/workflows/issue.yml
Due: none

chore: this makes kotlin break
  tests/CTS/requests/search/search.json
Due: yarn fix:json

fix: expect
  tests/CTS/requests/search/search.json
Due: yarn fix:json

feat: kotlin e2e
  templates/kotlin/tests/e2e/e2e.mustache
  templates/kotlin/tests/intercept.mustache
  templates/kotlin/tests/method.mustache
  templates/kotlin/tests/requests/requests.mustache
  tests/output/kotlin/build.gradle.kts
Due: none

feat: kotlin e2e p2
  templates/kotlin/tests/e2e/e2e.mustache
Due: none

use JSONAssert
  templates/kotlin/tests/client/client.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  tests/output/kotlin/build.gradle.kts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Assert.kt
Due: none

fix abtest
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix qs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Json.kt
Due: none

chore(specs): breaking change method names mapping table
  specs/major-breaking-changes-rename.json
Due: yarn fix:json

chore: trigger
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore: search for facets
  specs/major-breaking-changes-rename.json
Due: yarn fix:json

fix(javascript): exports type field
  templates/javascript/clients/package.mustache
Due: none

chore: commaaa
  templates/javascript/clients/package.mustache
Due: none

fix(javascript): exports type field (#3569)
  templates/javascript/clients/package.mustache
Due: none

chore: include in push to specs
  scripts/ci/codegen/pushToAlgoliaDoc.ts
Due: none

fix(javascript): exports type field (#3569) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

fix very specific nested allOf discriminator inside oneOf
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
  t.txt
  templates/go/model_oneof.mustache
Due: yarn cli format java generators

chore(specs): breaking change method names mapping table (#3568)
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/ci/githubActions/createMatrix.ts
  specs/major-breaking-changes-rename.json
Due: yarn fix:json

simplify go oneOf
  clients/algoliasearch-client-go/algolia/utils/utils.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
  specs/abtesting/common/schemas/AddABTestsVariant.yml
  t.txt
  templates/go/model_oneof.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

fix: another wrong link
  specs/search/paths/objects/objects.yml
Due: yarn eslint --ext=yml --fix

more discriminator
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
  specs/common/schemas/HighlightResult.yml
  specs/common/schemas/SnippetResult.yml
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix
