Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: cleanup
  scripts/release/sla.ts
Due: none

fix: cleaner usage
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
  scripts/release/types.ts
Due: none

feat(specs): add transformation copilot to ingestion (#3479)
  scripts/cts/runCts.ts
  specs/ingestion/common/schemas/transformation.yml
  specs/ingestion/paths/transformations/transformationsModels.yml
  specs/ingestion/spec.yml
  tests/CTS/requests/ingestion/listTransformationModels.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(swift): upgrade version
  config/.swift-version
Due: none

chore(swift): update renovate to handle swift-version file
  renovate.json
Due: yarn fix:json

feat(scripts): provide SLA for every existing versions (#3480)
  .gitignore
  config/release.config.json
  scripts/release/__tests__/sla.test.ts
  scripts/release/createReleasePR.ts
  scripts/release/sla.ts
  scripts/release/types.ts
Due: yarn fix:json

fix(scripts): add end of support date for patch versions
  config/release.config.json
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: yarn fix:json

fix(scripts): add end of support date for patch versions (#3483)
  config/release.config.json
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: yarn fix:json

chore: prepare release 2024-08-06
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore: prepare release 2024-08-06 (#3484)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

fix(scripts): prevent errors on push to docs
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/common.ts
Due: none

fix(specs): partial update operation
  specs/search/paths/objects/common/schemas.yml
  specs/search/paths/objects/partialUpdate.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ingestion search endpoint
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/searchTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: add tests
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

fix(scripts): prevent errors on push to docs (#3485)
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/common.ts
Due: none

fix(specs): ingestion search endpoint (#3487)
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/searchTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): ingestion docker task input
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

chore: add test
  tests/CTS/requests/ingestion/createTask.json
  tests/CTS/requests/ingestion/createTaskV1.json
Due: yarn fix:json

fix: ref
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/paths/transformations/transformationsTry.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ingestion search endpoint (#3487) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/TransformationSearch.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_transformation_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/TransformationSearch.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/transformationSearch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/TransformationSearch.kt
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/TransformationSearch.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/transformation_search.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/transformation_search.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/TransformationSearch.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/TransformationSearch.swift
  snippets/csharp/src/Ingestion.cs
  snippets/go/src/ingestion.go
  snippets/guides/ingestion-snippets.json
  snippets/java/src/test/java/com/algolia/Ingestion.java
  snippets/javascript/src/ingestion.ts
  snippets/kotlin/src/main/kotlin/com/algolia/snippets/Ingestion.kt
  snippets/php/src/Ingestion.php
  snippets/python/ingestion.py
  snippets/ruby/ingestion.rb
  snippets/scala/src/main/scala/Ingestion.scala
  snippets/swift/Sources/Ingestion.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
  tests/output/csharp/src/generated/requests/Ingestion.test.cs
  tests/output/go/tests/requests/ingestion_test.go
  tests/output/java/src/test/java/com/algolia/requests/Ingestion.test.java
  tests/output/javascript/src/requests/ingestion.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/IngestionTest.kt
  tests/output/php/src/requests/IngestionTest.php
  tests/output/python/tests/requests/ingestion_test.py
  tests/output/ruby/test/requests/ingestion_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/IngestionTest.scala
  tests/output/swift/Tests/requests/IngestionTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: naming
  tests/CTS/requests/ingestion/tryTransformation.json
Due: yarn fix:json

fix: test
  tests/CTS/requests/ingestion/createTask.json
Due: yarn fix:json

chore: karma
  tests/CTS/requests/ingestion/createTask.json
  tests/CTS/requests/ingestion/createTaskV1.json
Due: yarn fix:json

fix(specs): ingestion docker task input (#3488)
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/paths/transformations/transformationsTry.yml
  tests/CTS/requests/ingestion/createTask.json
  tests/CTS/requests/ingestion/createTaskV1.json
  tests/CTS/requests/ingestion/tryTransformation.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add generate code endpoint to ingestion specs
  specs/ingestion/paths/transformations/transformationsModels.yml
  tests/CTS/requests/ingestion/generateTransformationCode.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: payload not response
  specs/ingestion/paths/transformations/transformationsModels.yml
  tests/output/javascript/yarn.lock
Due: yarn eslint --ext=yml --fix

fix: resp
  tests/CTS/requests/ingestion/generateTransformationCode.json
Due: yarn fix:json

fix(scripts): 2 years sla skips
  config/release.config.json
  scripts/cli/index.ts
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: yarn fix:json

chore: new shape
  specs/ingestion/paths/transformations/transformationsModels.yml
  specs/ingestion/spec.yml
  tests/CTS/requests/ingestion/generateTransformationCode.json
  tests/CTS/requests/ingestion/listTransformationModels.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: cts
  tests/CTS/requests/ingestion/generateTransformationCode.json
Due: yarn fix:json

feat(specs): add generate code endpoint to ingestion specs (#3489)
  specs/ingestion/paths/transformations/transformationsModels.yml
  specs/ingestion/spec.yml
  tests/CTS/requests/ingestion/generateTransformationCode.json
  tests/CTS/requests/ingestion/listTransformationModels.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(scripts): 2 years sla skips (#3490)
  config/release.config.json
  scripts/cli/index.ts
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: yarn fix:json

chore: prepare release 2024-08-08
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

fix(scripts): sla update date
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: none

fix(scripts): sla update date (#3492)
  scripts/release/__tests__/sla.test.ts
  scripts/release/sla.ts
Due: none

chore: prepare release 2024-08-08
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json
