Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix: query
  clients/algoliasearch-client-csharp/Algolia.Search.sln
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: isSnippet
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: saveRule
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  tests/CTS/requests/search/saveRule.json
Due: yarn cli format java generators, yarn fix:json

chore: format
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: escape and tests
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: go TEMPLATE
  templates/go/tests/method.mustache
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

fix: go but don't look at it
  templates/go/tests/method.mustache
Due: none

fix: saveRule
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: partialUpdateObject
  tests/CTS/requests/search/partialUpdateObject.json
  tests/CTS/requests/search/saveRule.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix: hasResponse in client tests
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/python/tests/method.mustache
Due: yarn cli format java generators

fix: ruby with http info
  templates/ruby/tests/method.mustache
Due: none

fix: automaticFacetFilter
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix(ruby): rename object_id reserved word to algolia_object_id
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  playground/ruby/Gemfile.lock
Due: yarn cli format java generators

fix: java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/java/tests/generateParams.mustache
  tests/CTS/requests/search/saveRule.json
Due: yarn cli format java generators, yarn fix:json

fix: cts
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix(swift): test template in case of response
  templates/swift/tests/client/method.mustache
Due: none

fix java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

fix go
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

chore: ball in the pied
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

guides: fix saveObjects
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

add test server for saveObjects
  scripts/cts/testServer/algoliaMock.ts
  scripts/cts/testServer/index.ts
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

fix: generate
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

feat: saveRule
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

fix: saveObjects
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

fix: csharp
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/go/api.mustache
Due: none

fix: csharp
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

refacto all the lambdas
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/CodeIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeRubyKeywordsLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/JavaEnumLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/RubyIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/ScalaIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/SwiftIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/ScalaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  templates/csharp/tests/generateInnerParams.mustache
  templates/python/tests/client/tests.mustache
  templates/ruby/api.mustache
  templates/ruby/model.mustache
  templates/ruby/tests/client/tests.mustache
  templates/ruby/tests/generateParams.mustache
  templates/ruby/version.mustache
  templates/scala/tests/param_object.mustache
  templates/scala/tests/request_param.mustache
  templates/swift/tests/generateParams.mustache
  templates/swift/tests/paramValue.mustache
  tests/output/dart/lib/src/run.dart
  tests/output/javascript/yarn.lock
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Nullable.kt
Due: yarn cli format java generators

undo yarn.lock
  tests/output/javascript/yarn.lock
Due: none

fix(ruby): rename object_id reserved word to algolia_object_id (#4381)
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/CodeIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeRubyKeywordsLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/JavaEnumLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/RubyIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/ScalaIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/SwiftIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/ScalaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  playground/ruby/Gemfile.lock
  templates/csharp/tests/generateInnerParams.mustache
  templates/python/tests/client/tests.mustache
  templates/ruby/api.mustache
  templates/ruby/model.mustache
  templates/ruby/tests/client/tests.mustache
  templates/ruby/tests/generateParams.mustache
  templates/ruby/version.mustache
  templates/scala/tests/param_object.mustache
  templates/scala/tests/request_param.mustache
  templates/swift/tests/generateParams.mustache
  templates/swift/tests/paramValue.mustache
  tests/output/dart/lib/src/run.dart
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Nullable.kt
Due: yarn cli format java generators

fix scala
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/scala/tests/param_list.mustache
Due: yarn cli format java generators

fix: revert action changes
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: missing is snippet and duplicate name
  tests/CTS/requests/search/partialUpdateObject.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

we control config
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  tests/output/javascript/yarn.lock
Due: none

playground
  playground/javascript/node/search.ts
Due: none
