Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore(ci): only warn when an upstream image was rebuilt under its pinned tag (API-480)
  scripts/docker/check-version-drift.sh
Due: none

chore(ci): pin docker images to digests and checksum the dockerfile downloads (API-480) (#6943)
  .github/workflows/check.yml
  docker-compose.yml
  renovate.json
  scripts/ci/githubActions/utils.ts
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  scripts/docker/check-version-drift.sh
  scripts/docker/sdkman-install.sh
  scripts/docker/setup.sh
  scripts/docker/update-pins.sh
Due: yarn github-actions:lint --fix, yarn fix:json

chore(ci): verify artifact checksums between CI jobs (API-480) (#6944)
  .github/workflows/check.yml
  scripts/ci/actions/restore-artifacts/action.yml
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/__tests__/checksums.test.ts
  scripts/ci/actions/restore-artifacts/src/checksums.ts
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: yarn github-actions:lint --fix

feat(kotlin): wait and retry on 429 with Retry-After
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestRateLimitRetry.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  scripts/cts/testServer/rateLimit.ts
  templates/kotlin/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  website/docs/add-a-new-language.md
Due: yarn fix:json

feat(java): wait and retry on 429 with Retry-After
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/ClientOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  scripts/cts/testServer/rateLimit.ts
  templates/java/tests/client/client.mustache
  templates/java/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/java/src/test/java/com/algolia/manual/RateLimitRetryTest.java
  website/docs/add-a-new-language.md
Due: yarn fix:json

feat(scala): wait and retry on 429 with Retry-After
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/ClientOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  scripts/cts/testServer/rateLimit.ts
  templates/scala/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/scala/src/test/scala/algoliasearch/manual/RateLimitRetryTest.scala
  website/docs/add-a-new-language.md
Due: yarn fix:json

chore(ci): pin and checksum the setup action downloads (API-480) (#6942)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  docker-compose.yml
  renovate.json
  scripts/ci/githubActions/utils.ts
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  scripts/docker/check-version-drift.sh
  scripts/docker/sdkman-install.sh
  scripts/docker/setup.sh
  scripts/docker/update-pins.sh
Due: yarn github-actions:lint --fix, yarn fix:json

refactor(csharp): tidy the 429 retry loop and mirror maxRateLimitRetries on TransformationOptions
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/TransformationOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/RetryAfter.cs
  templates/csharp/api.mustache
  tests/output/csharp/src/RateLimitRetryTests.cs
Due: none

refactor(go): resolve timeouts once per host and mirror MaxRateLimitRetries on TransformationOptions
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/client.mustache
  templates/go/transformation_options.mustache
Due: none

fix(go): keep the Correlation-ID of rate-limited attempts and use the Ingestion default for the transformation client
  clients/algoliasearch-client-go/algolia/transport/rate_limit.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit_test.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit_transport_test.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/client.mustache
  templates/go/transformation_options.mustache
Due: none

fix(csharp): keep the Ingestion default for the transformation client's 429 retries
  clients/algoliasearch-client-csharp/algoliasearch/Clients/TransformationOptions.cs
  templates/csharp/api.mustache
  tests/output/csharp/src/RateLimitRetryTests.cs
Due: none

fix(swift): keep the Ingestion default for the transformation sub-client's 429 retries
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/TransformationOptions.swift
  config/generation.config.mjs
  tests/output/swift/Tests/manual/RateLimitRetryTests.swift
Due: none

docs(go): drop the dated fail-fast clause from the MaxRateLimitRetries godoc
  clients/algoliasearch-client-go/algolia/transport/configuration.go
Due: none

refactor(swift): unwrap the 429 HTTPError once in the transporter
  clients/algoliasearch-client-swift/Sources/Core/Networking/RateLimitRetry.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  tests/output/swift/Tests/manual/RateLimitRetryTests.swift
Due: none

feat(csharp): wait and retry on 429 with Retry-After (#6976)
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/TransformationOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/RetryAfter.cs
  config/generation.config.mjs
  scripts/cts/testServer/rateLimit.ts
  templates/csharp/api.mustache
  templates/csharp/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/csharp/src/RateLimitRetryTests.cs
  tests/output/csharp/src/generated/client/Ingestion.test.cs
  tests/output/csharp/src/generated/client/Search.test.cs
  website/docs/add-a-new-language.md
Due: yarn fix:json

fix(ci): realign dotnet SDK digest pin and hoist vitest mocks
  scripts/ci/codegen/__tests__/createGithubReleases.test.ts
  scripts/docker/Dockerfile.base
Due: none

feat(go): wait and retry on 429 with Retry-After (#6977)
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit_test.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit_transport_test.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  scripts/cts/testServer/rateLimit.ts
  templates/go/client.mustache
  templates/go/tests/client/createClient.mustache
  templates/go/transformation_options.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/go/tests/client/ingestion_test.go
  tests/output/go/tests/client/search_test.go
  website/docs/add-a-new-language.md
Due: yarn fix:json

fix(swift): treat non-ASCII digits in Retry-After as junk and keep waited-out 429s in the intermediate errors
  clients/algoliasearch-client-swift/Sources/Core/Networking/RateLimitRetry.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/TransformationOptions.swift
  tests/output/swift/Tests/manual/RateLimitRetryTests.swift
Due: none

chore(deps): hold vitest below v5 until the Cloudflare workers pool supports it
  renovate.json
Due: yarn fix:json

feat(kotlin): type FilterGroup.Or by family
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FacetFilterDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/Filter.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterGroup.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterLegacyConverter.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterQuote.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterSqlConverter.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/NumericFilterDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/TagFilterDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DslSerializationTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/FilterConverterTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/RuleSynonymDslTest.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl.mustache
  templates/kotlin/dsl_filter_helper.mustache
  website/docs/custom-helpers.md
Due: yarn cli format java generators

docs(kotlin): drop the custom-helpers DSL section
  website/docs/custom-helpers.md
Due: none

feat(swift): wait and retry on 429 with Retry-After (#6978)
  clients/algoliasearch-client-swift/Sources/Abtesting/AbtestingClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/AbtestingV3/AbtestingV3ClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/AgentStudio/AgentStudioClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Analytics/AnalyticsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Composition/CompositionClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/BaseConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RateLimitRetry.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/IngestionClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Insights/InsightsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Monitoring/MonitoringClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Personalization/PersonalizationClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/QuerySuggestions/QuerySuggestionsClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Recommend/RecommendClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/TransformationOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/SearchClientConfiguration.swift
  config/generation.config.mjs
  scripts/cts/testServer/rateLimit.ts
  templates/swift/client_configuration.mustache
  templates/swift/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/swift/Tests/client/IngestionTests.swift
  tests/output/swift/Tests/client/SearchTests.swift
  tests/output/swift/Tests/manual/RateLimitRetryTests.swift
  website/docs/add-a-new-language.md
Due: yarn fix:json

feat(java): keep waited-out 429s in AlgoliaRetryException and pin the shared budget
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  tests/output/java/src/test/java/com/algolia/manual/RateLimitRetryTest.java
Due: none

feat(dart): wait and retry on 429 with Retry-After
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/rate_limit.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/test/dio_requester_rate_limit_test.dart
  scripts/cts/testServer/rateLimit.ts
  templates/dart/api.mustache
  templates/dart/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/dart/test/manual/rate_limit_retry_test.dart
  website/docs/add-a-new-language.md
Due: yarn fix:json

feat(ruby): wait and retry on 429 with Retry-After
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/defaults.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  scripts/cts/testServer/rateLimit.ts
  templates/ruby/api.mustache
  templates/ruby/search_helpers.mustache
  templates/ruby/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/ruby/test/manual/rate_limit_retry_test.rb
  website/docs/add-a-new-language.md
Due: yarn fix:json

docs(ruby): mark the transport sleeper writer as a private API
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
Due: none

chore(dart): mark the RetryStrategy sleep seam as visible for testing
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
Due: none

feat(java): keep a reason phrase on the recorded 429 over HTTP/2
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  tests/output/java/src/test/java/com/algolia/manual/RateLimitRetryTest.java
Due: none

fix(ci): hold kotlin client at 2.3.21, pin php platform, bump templates
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  templates/csharp/snippets/dotnet-tools.mustache
  templates/go/tests/go.mod.mustache
  templates/php/composer.mustache
Due: none

refactor(ruby): keep the transport sleeper seam private and make the same-host test load-bearing
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  tests/output/ruby/test/manual/rate_limit_retry_test.rb
Due: none

feat(java): share the maxRateLimitRetries default between ClientOptions and RetryStrategy
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/ClientOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
Due: none

docs(dart): name Retry-After as a reader of error response headers
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
Due: none

test(kotlin): pin the 429 retry budget as per request across hosts
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestRateLimitRetry.kt
Due: none

feat(scala): keep waited-out 429s in the retry errors
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/RateLimitRetryTest.scala
Due: none

test(kotlin): stub the 429 wait in unit tests through an internal hook
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestRateLimitRetry.kt
Due: none

feat(java): wait and retry on 429 with Retry-After (#7058)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/ClientOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  scripts/cts/testServer/rateLimit.ts
  templates/java/tests/client/client.mustache
  templates/java/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/java/src/test/java/com/algolia/manual/RateLimitRetryTest.java
  website/docs/add-a-new-language.md
Due: yarn fix:json

fix(dart): restore the connect timeout before the 429 wait and loosen the meta floor
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  tests/output/dart/test/manual/rate_limit_retry_test.dart
Due: none

fix(ruby): let max_rate_limit_retries: false disable 429 retries
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  tests/output/ruby/test/manual/rate_limit_retry_test.rb
Due: none

feat(kotlin): keep waited-out 429s in AlgoliaRetryException
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestRateLimitRetry.kt
Due: none

test(kotlin): pin the real-time contract of the 429 wait under runTest
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestRateLimitRetry.kt
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
