Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(swift): valid podspec
  .gitignore
  clients/algoliasearch-client-swift/Cartfile
  clients/algoliasearch-client-swift/Sources/Core/Common/BridgedTask.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Iterable.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Compression/Gzip.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionLinux.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
Due: yarn cli format java generators

chore(scala): fix scala release ci (#2833)
  clients/algoliasearch-client-scala/.github/workflows/release.yml
  clients/algoliasearch-client-scala/build.sbt
Due: none

fix(swift): templates and handwritten tests
  templates/swift/tests/client/createClient.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/handwritten/SecuredAPIKeyHelpers.swift
Due: none

chore: generated code for commit 14e19ef79031f3d9a3cdc5671443dfb42e4f5a22. [skip ci]
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
Due: none

feat(algoliasearch): support recommend methods
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  scripts/buildSpecs.ts
  scripts/types.ts
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
  templates/javascript/clients/package.mustache
Due: yarn cli format java generators

fix(swift): test request templates
  clients/algoliasearch-client-swift/Sources/Search/Extra/SecuredApiKeyRestrictionExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

fix: remove attributes from test
  tests/CTS/requests/search/search.json
Due: yarn fix:json

fix search dictionary response
  specs/search/paths/dictionaries/common/schemas/SearchDictionaryEntriesResponse.yml
  tests/CTS/requests/search/searchDictionaryEntries.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(scripts): use glob to apply wildcard before rm (#2832)
  .github/workflows/check.yml
  scripts/pre-gen/removeExistingCodegen.ts
Due: yarn github-actions:lint --fix

chore: generated code for commit 31ec74593f3fff3e8c52f146149dfc080d3d1aaf. [skip ci]
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

Update specs/search/paths/rules/clearRules.yml
  specs/search/paths/rules/clearRules.yml
Due: yarn eslint --ext=yml --fix

fix(specs): update nullable position
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): we still want it to be nullable
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit 7fdf35edcbf5dd45fc5c29a927feb53577fd2338. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
  tests/output/java/build.gradle
  tests/output/javascript/package.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(swift): wait for tasks while sending chunk batches
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchHelpers.swift
Due: none

docs: update helpers docs
  specs/common/parameters.yml
  specs/search/common/schemas/SearchQuery.yml
  specs/search/common/schemas/SearchResponse.yml
  specs/search/helpers/generateSecuredApiKey.yml
  specs/search/helpers/waitForApiKey.yml
  specs/search/paths/advanced/getLogs.yml
  specs/search/paths/dictionaries/common/parameters.yml
  specs/search/paths/keys/common/schemas.yml
  specs/search/paths/multiclusters/getTopUserIds.yml
  specs/search/paths/multiclusters/hasPendingMappings.yml
  specs/search/paths/multiclusters/searchUserIds.yml
  specs/search/paths/multiclusters/userId.yml
  specs/search/paths/multiclusters/userIds.yml
  specs/search/paths/synonyms/common/schemas.yml
Due: yarn eslint --ext=yml --fix

docs: update get settings
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

fix: rename CSharp to C#
  scripts/buildSpecs.ts
  scripts/types.ts
Due: none

fix(go): update switch to avoid fallthrough
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

Revert "fix: rename CSharp to C#"
  scripts/buildSpecs.ts
  scripts/types.ts
Due: none

fix(swift): wait for tasks while sending chunk batches (#2856)
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchHelpers.swift
Due: none

docs: insights api reference
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/paths/deleteUserToken.yml
  specs/insights/paths/pushEvents.yml
  specs/insights/spec.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-03-12
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix(cts): update swift param names
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

chore(CODEOWNERS): add owners for /specs/ingestion/
  CODEOWNERS
Due: none

feat(specs): add ga4BigqueryExport, streaming and append options to task inputs
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/taskParameters.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add ga4BigqueryExport, streaming and append options to task inputs (#2858)
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/taskParameters.yml
Due: yarn eslint --ext=yml --fix

chore: uncomment in specs
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(cts): swift specificities
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

fix(swift): clean gzip algo
  clients/algoliasearch-client-swift/Sources/Core/Networking/Compression/Gzip.swift
Due: none

Update specs/insights/paths/deleteUserToken.yml
  specs/insights/paths/deleteUserToken.yml
Due: yarn eslint --ext=yml --fix

feat(specs): insights api reference (#2859)
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/paths/deleteUserToken.yml
  specs/insights/paths/pushEvents.yml
  specs/insights/spec.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
