Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

review
  .lintstagedrc
  package.json
  scripts/docker/mount.sh
  website/docs/contributing/setup-repository.md
Due: yarn fix:json

chore(docker): rename the container to api-client to be less generic (#951)
  .lintstagedrc
  package.json
  scripts/docker/mount.sh
  website/docs/contributing/setup-repository.md
Due: yarn fix:json

feat(java): browse objects/synonyms/rules
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/AlgoliaIterableHelper.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/Holder.java
  playground/java/src/main/java/com/algolia/playground/Search.java
  specs/search/paths/synonyms/common/schemas.yml
  specs/search/paths/synonyms/searchSynonyms.yml
  templates/java/api.mustache
  templates/java/api_helpers.mustache
Due: none

add javadoc and alternatives
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/AlgoliaIterableHelper.java
  templates/java/api.mustache
  templates/java/api_helpers.mustache
Due: none

fix(java): more flexible json parser
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/JSONBuilder.java
Due: none

fix(java): freeze snapshot version to 4.0.0
  clients/algoliasearch-client-java-2/CHANGELOG.md
  config/clients.config.json
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
Due: yarn fix:json

fix(java): more flexible json parser (#954)
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/JSONBuilder.java
Due: none

chore: generated code for commit b7edbea60a30e717f6068d8ed5d561e9250926d2. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/JSONBuilder.java
Due: none

fix(java): freeze snapshot version to 4.0.0 (#955)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  config/clients.config.json
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
Due: yarn fix:json

chore: generated code for commit a54e901f50f0bf3b3f5e262b332b65e441369021. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/PredictClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/gradle.properties
  tests/output/java/build.gradle
Due: none

docs(java): document browse and waitForApiKey
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/ApiKeyOperation.java
  website/docs/clients/guides/wait-for-api-key-to-be-valid.mdx
  website/docs/clients/migration-guides/index.mdx
Due: none

feat(java): browse objects/synonyms/rules (#952)
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/AlgoliaIterableHelper.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/Holder.java
  playground/java/src/main/java/com/algolia/playground/Search.java
  specs/search/paths/synonyms/common/schemas.yml
  specs/search/paths/synonyms/searchSynonyms.yml
  templates/java/api.mustache
  templates/java/api_helpers.mustache
Due: none

Update website/docs/clients/guides/wait-for-api-key-to-be-valid.mdx
  website/docs/clients/guides/wait-for-api-key-to-be-valid.mdx
Due: none

fix(predict): update type exports
  specs/predict/common/schemas/Params.yml
  specs/predict/paths/fetchUserProfile.yml
  specs/predict/spec.yml
  templates/javascript/clients/client/builds/imports.mustache
Due: none

fix(predict): fix region for `europe-west`
  specs/predict/spec.yml
Due: none

Fix syntax
  specs/predict/paths/fetchUserProfile.yml
  specs/predict/spec.yml
Due: none

fix(javascript): fix param name in test spec
  tests/CTS/methods/requests/predict/fetchUserProfile.json
Due: yarn fix:json

chore: generated code for commit 68ff7ee4d1910f57667f7a3fa3c65280c995e9cb. [skip ci]
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/SynonymHit.java
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/model/search/SynonymHitHighlightResult.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/index.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/synonymHit.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/synonymHitHighlightResult.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/synonymHit.ts
  clients/algoliasearch-client-javascript/packages/client-search/model/synonymHitHighlightResult.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Model/Search/SynonymHit.php
  clients/algoliasearch-client-php/lib/Model/Search/SynonymHitHighlightResult.php
  specs/bundled/algoliasearch.yml
  specs/bundled/search.yml
Due: none

fix(javascript): revert: do not send user-agent for Predict (#919)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/javascript/clients/api-single.mustache
Due: docker exec -t api-client yarn cli format java generators

docs(java): document browse and waitForApiKey (#956)
  clients/algoliasearch-client-java-2/algoliasearch-core/src/main/java/com/algolia/utils/ApiKeyOperation.java
  website/docs/clients/guides/wait-for-api-key-to-be-valid.mdx
  website/docs/clients/migration-guides/index.mdx
Due: none

chore: prepare release 2022-08-25
  clients/algoliasearch-client-java-2/CHANGELOG.md
Due: none

fix(javascript): revert: do not send user-agent for Predict (#919) (#957)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/javascript/clients/api-single.mustache
Due: docker exec -t api-client yarn cli format java generators

chore: generated code for commit ff02ba09c490ae4ba08468a696efe749612fb66a. [skip ci]
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  tests/output/java/src/test/java/com/algolia/client/Predict.test.java
  tests/output/javascript/src/client/predict.test.ts
Due: none

chore: prepare release 2022-08-25
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2022-08-25 (#959)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-25 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix(javascript): require model fields
  specs/predict/paths/fetchUserProfile.yml
Due: none

fix(javascript): fix param names
  specs/predict/common/schemas/Params.yml
Due: none

Revert "fix(javascript): fix param name in test spec"
  tests/CTS/methods/requests/predict/fetchUserProfile.json
Due: yarn fix:json

fix(javascript): update Predict type exports (#953)
  specs/predict/common/schemas/Params.yml
  specs/predict/paths/fetchUserProfile.yml
  specs/predict/spec.yml
  templates/javascript/clients/client/builds/imports.mustache
Due: none

chore: prepare release 2022-08-26
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2022-08-26 (#960)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2022-08-26 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-sources/package.json
  clients/algoliasearch-client-javascript/packages/client-sources/src/sourcesClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix format
  scripts/cli/utils.ts
  scripts/config.ts
Due: none

update everywhere
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.2.2.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.2.3.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/yarn.lock
  netlify.toml
  renovate.json
  website/.yarn/releases/yarn-3.2.2.cjs
  website/.yarn/releases/yarn-3.2.3.cjs
  website/.yarnrc.yml
  website/yarn.lock
Due: yarn fix:json

chore(deps): use latest version of renovate-automatic-branch action
  .github/workflows/renovate.yml
Due: yarn github-actions:lint --fix

chore(deps): use latest version of renovate-automatic-branch action (#972)
  .github/workflows/renovate.yml
Due: yarn github-actions:lint --fix

lock file
  clients/algoliasearch-client-javascript/yarn.lock
  website/yarn.lock
  yarn.lock
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
