Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(dart): add missing version tests and publish agent-studio
  clients/algoliasearch-client-dart/.github/workflows/release.yml
  clients/algoliasearch-client-dart/packages/client_agent_studio/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_ingestion/test/version_test.dart
Due: none

fix(dart): add missing version tests and publish agent-studio (#6500)
  clients/algoliasearch-client-dart/.github/workflows/release.yml
  clients/algoliasearch-client-dart/packages/client_agent_studio/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_ingestion/test/version_test.dart
Due: none

fix(javascript): use proper null check instead of truthiness for required params (#6498)
  clients/algoliasearch-client-javascript/packages/client-common/src/validateParam.ts
  tests/CTS/requests/search/getTask.json
Due: yarn fix:json

feat(kotlin): add AutoCloseable support and close the ingestion transporter on replacement (#6493)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  templates/kotlin/api.mustache
Due: none

fix(specs): use correct map format for facets examples (#6444)
  scripts/specs/format.ts
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

fix(go): fix polling offset bug in ChunkedPush
  templates/go/ingestion_helpers.mustache
Due: none

feat(python): accept iterators in bulk indexing helpers (#6486)
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/runCts.ts
  scripts/cts/testServer/chunkedPushWait.ts
  scripts/cts/testServer/index.ts
  templates/python/imports.mustache
  templates/python/ingestion_helpers.mustache
  templates/python/search_helpers.mustache
  tests/CTS/client/search/saveObjectsWithTransformation.json
  tests/output/python/tests/manual/test_chunked_helpers_iterator.py
Due: yarn cli format java generators, yarn fix:json

fix(go): unskip chunkedPushWait test
  scripts/cts/runCts.ts
Due: none

feat(csharp): add IDisposable support and dispose the ingestion transporter on replacement (#6492)
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/api.mustache
Due: none

fix(go): unskip go from test generation
  tests/CTS/client/search/saveObjectsWithTransformation.json
Due: yarn fix:json

fix(ci): only fail spread when all languages fail
  .github/workflows/check.yml
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/spreadGeneration.ts
Due: yarn github-actions:lint --fix

fix(go): initialize headerParams in toIngestionChunkedBatchOptions
  templates/go/api.mustache
Due: none

fix(specs): link to ecosystem page
  specs/advanced-personalization/spec.yml
  specs/composition/spec.yml
  specs/insights/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

Update spec.yml
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

docs(specs): expand Agent Studio API description
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(specs): improve Agent Studio API docs metadata
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(templates): correct transformationOptions guide compilation
  templates/java/guides/search/setUpTransformationOptions.mustache
  templates/java/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/kotlin/guides/search/setUpTransformationOptions.mustache
  templates/kotlin/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/scala/guides/search/setUpTransformationOptions.mustache
  templates/scala/guides/search/setUpTransformationOptionsWithOverrides.mustache
Due: none

chore: remove obsolete merge-sequencing note
  FOLLOWUP-swift-dart-transformation-guides.md
Due: none

fix(go): initialize queryParams in chunked helper configs
  templates/go/api.mustache
  templates/go/ingestion_helpers.mustache
Due: none

fix(go): lazily initialize request option maps
  templates/go/api.mustache
  templates/go/ingestion_helpers.mustache
Due: none

fix(templates): correct WithOverrides guides for swift and javascript
  templates/javascript/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/swift/guides/search/setUpTransformationOptionsWithOverrides.mustache
Due: none

fix(templates): use shared dynamicSnippet in dart transformation guides
  templates/dart/guides/search/setUpTransformationOptions.mustache
  templates/dart/guides/search/setUpTransformationOptionsWithOverrides.mustache
Due: none

chore(dart): gate extension.dart export behind hasExtensions
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_agent_studio/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_ingestion/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_realtime_personalization/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/extension.dart
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/lib.mustache
Due: yarn cli format java generators

fix(ci): compare spread failures to non-skipped languages
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/spreadGeneration.ts
Due: none

chore(ci): upgrade shared Gradle action
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore(clients): upgrade Gradle release actions
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
Due: none

chore(ci): upgrade Gradle action (#6503)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
Due: yarn github-actions:lint --fix

fix(specs): improve Agent Studio API docs metadata (#6505)
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(specs): link to ecosystem page (#6506)
  specs/advanced-personalization/spec.yml
  specs/composition/spec.yml
  specs/insights/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

refactor(ci): model spread generation results explicitly
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/spreadGeneration.ts
Due: none

refactor(ci): map repository push failures by selection
  scripts/ci/codegen/__tests__/pushToRepository.test.ts
  scripts/ci/codegen/pushToRepository.ts
Due: none

fix(ci): count pre-diff spread failures
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/spreadGeneration.ts
Due: none

fix(ci): fail spread step when pushes to client repos fail (#6499)
  .github/workflows/check.yml
  scripts/ci/codegen/__tests__/pushToRepository.test.ts
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/pushToRepository.ts
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/waitForAllReleases.ts
Due: yarn github-actions:lint --fix

fix(dart): gate extension.dart export behind hasExtensions (#6507)
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_agent_studio/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_ingestion/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_realtime_personalization/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/extension.dart
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/lib.mustache
Due: yarn cli format java generators

guides: add transformationOptions setup guides for the search client (#6483)
  templates/csharp/guides/search/setUpTransformationOptions.mustache
  templates/csharp/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/dart/guides/search/setUpTransformationOptions.mustache
  templates/dart/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/go/guides/search/setUpTransformationOptions.mustache
  templates/go/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/java/guides/search/setUpTransformationOptions.mustache
  templates/java/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/javascript/guides/search/setUpTransformationOptions.mustache
  templates/javascript/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/kotlin/guides/search/setUpTransformationOptions.mustache
  templates/kotlin/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/php/guides/search/setUpTransformationOptions.mustache
  templates/php/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/python/guides/search/setUpTransformationOptions.mustache
  templates/python/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/ruby/guides/search/setUpTransformationOptions.mustache
  templates/ruby/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/scala/guides/search/setUpTransformationOptions.mustache
  templates/scala/guides/search/setUpTransformationOptionsWithOverrides.mustache
  templates/swift/guides/search/setUpTransformationOptions.mustache
  templates/swift/guides/search/setUpTransformationOptionsWithOverrides.mustache
  tests/CTS/guides/search.json
Due: yarn fix:json

fix(go): polling offset bug in ChunkedPush (#6504)
  scripts/cts/runCts.ts
  templates/go/api.mustache
  templates/go/ingestion_helpers.mustache
  tests/CTS/client/search/saveObjectsWithTransformation.json
Due: yarn fix:json

feat(swift): expose maximum number of retries (#6460)
  clients/algoliasearch-client-swift/Sources/Search/Extra/ChunkedHelperOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
Due: none

chore(ci): use GitHub App client ID variable
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): update app token workflows to client ID
  .github/workflows/push-to-repository.yml
  .github/workflows/renovate.yml
  .github/workflows/scheduled-release.yml
Due: yarn github-actions:lint --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
