Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore(deps): update json_serializable version constraint to match our sdk constraint
  templates/dart/pubspec.mustache
Due: none

add external source definition and runtime param
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/InjectionSource.yml
  specs/composition-full/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

code review fixes
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/InjectionSource.yml
Due: yarn eslint --ext=yml --fix

Update external injected item specs for metadata
  specs/composition-full/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

add test examples
  tests/CTS/requests/composition-full/putComposition.json
  tests/CTS/requests/composition-full/search.json
Due: yarn fix:json

reuse metadata from source
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

fix run param injectedItems
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/InjectionSource.yml
Due: yarn eslint --ext=yml --fix

fix injection description
  specs/composition-full/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

fix injectedItemSource
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

add search|external layer
  specs/composition-full/common/schemas/components/InjectionSource.yml
Due: yarn eslint --ext=yml --fix

rename wrapper
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/InjectionSource.yml
Due: yarn eslint --ext=yml --fix

fix external missing `ordering` field
  specs/composition-full/common/schemas/components/InjectionSource.yml
Due: yarn eslint --ext=yml --fix

chore(website): exclude schema from generated variables file
  scripts/website/build.sh
Due: none

chore: use real link
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  tests/CTS/client/search/api.json
Due: yarn fix:json

chore: remove dot
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  tests/CTS/client/search/api.json
Due: yarn fix:json

feat(specs): add external injection source definition and runtime parameter (#5283)
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/InjectionSource.yml
  specs/composition-full/common/schemas/requestBodies/RunParams.yml
  tests/CTS/requests/composition-full/putComposition.json
  tests/CTS/requests/composition-full/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(website): exclude schema from generated variables file (#5306)
  scripts/website/build.sh
Due: none

fix: php nice
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
Due: none

fix(clients): link to support/help center on unreachable hosts (#5305)
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix: bundlesize
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

chore(scripts): increase memory for kotlin release
  .github/workflows/check.yml
  templates/kotlin/gradle.properties.mustache
Due: yarn github-actions:lint --fix

chore(scripts): increase memory for kotlin release (#5309)
  .github/workflows/check.yml
  templates/kotlin/gradle.properties.mustache
Due: yarn github-actions:lint --fix

chore(scripts): increase memory for kotlin release (#5309) (generated) [skip ci]
  clients/algoliasearch-client-kotlin/gradle.properties
Due: none

feat(specs): add pushToRepo entry for n8n-nodes-algolia repo
  scripts/ci/codegen/types.ts
Due: none

chore(deps): update dependency json_serializable to <6.12.0 (generated)
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_composition/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  docs/bundled/insights-snippets.json
  docs/snippets/dart/lib/insights.dart
  tests/output/dart/test/requests/insights_test.dart
Due: yarn fix:json

chore(deps): update dependency @cloudflare/vitest-pool-workers to v0.8.70 (#5314) (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/javascript/src/insights.ts
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: yarn fix:json

chore(go): update Go version to 1.21.11 and remove toolchain version
  playground/go/go.mod
Due: none

chore(go): downgrade Go version to 1.21.11
  playground/go/go.mod
  tests/output/go/go.mod
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
