Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(cts): fail generation when correlationIdSuffix is asserted but the e2e template never renders it (API-516)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

chore(cts): normalize skipLanguages formatting in the requestId client tests (API-516)
  tests/CTS/client/search/requestId.json
Due: yarn fix:json

test(javascript): cover Correlation-ID parse failures and reverse-channel Request-ID precedence (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/correlationId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestIdChannel.test.ts
Due: none

fix(cts): only assert accountCopyIndex Request-IDs for languages that ported the feature (API-516)
  scripts/cts/testServer/accountCopyIndex.ts
Due: none

fix(cts): fail generation when a correlationIdSuffix test is not a header-only GET (API-516)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

fix(scripts): strip >LOG markers from bundled doc snippets (#6755)
  scripts/specs/__tests__/snippets.test.ts
  scripts/specs/snippets.ts
Due: none

fix(spects): accept comma-separated timeseries metrics
  specs/abtesting-v3/paths/timeseries.yml
Due: yarn eslint --ext=yml --fix

feat(analytics): add v3 pattern endpoints
  specs/analytics/common/schemas/patterns.yml
  specs/analytics/paths/patterns/getPatternsFields.yml
  specs/analytics/paths/patterns/queryPatternsDistribution.yml
  specs/analytics/paths/patterns/queryPatternsScalar.yml
  specs/analytics/paths/patterns/queryPatternsTable.yml
  specs/analytics/paths/patterns/queryPatternsTimeseries.yml
  specs/analytics/spec.yml
Due: yarn eslint --ext=yml --fix

fix(specs): analytics lint
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(specs): analytics add cts
  tests/CTS/requests/analytics/getPatternsFields.json
  tests/CTS/requests/analytics/queryPatternsDistribution.json
  tests/CTS/requests/analytics/queryPatternsScalar.json
  tests/CTS/requests/analytics/queryPatternsTable.json
  tests/CTS/requests/analytics/queryPatternsTimeseries.json
Due: yarn fix:json

fix(specs): use oneOf for params
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ref to parameter
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(specs): define number format as double
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(specs): use oneof for bins
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(specs): operator as string rather than enum
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

chore(javascript): bump client-abtesting bundle budget to 6.25KB (API-516)
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

feat(javascript): mint Request-ID in the transporter (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestIdChannel.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
Due: none

chore(javascript): document the cacheable constraint on withRequestId (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/requestId.ts
Due: none

feat(javascript): send Request-ID as a query parameter from browser builds (API-516)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/worker.mustache
Due: yarn fix:json

feat(javascript): send Request-ID header from node builds (API-516)
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: yarn cli format java generators

chore(javascript): raise abtesting and recommend bundle budgets to 6.25KB (API-516)
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

feat(javascript): surface Correlation-ID on client errors (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/correlationId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/withHttpInfo.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
Due: none

feat(javascript): share one Request-ID across helper requests (API-516)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/requestId.ts
  templates/javascript/clients/client/api/compositionHelpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
Due: none

fix(javascript): match request-id query parameter case-insensitively (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/requestId.ts
Due: none

fix(javascript): share one Request-ID across both accountCopyIndex applications (API-516)
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/builds/definition.mustache
Due: none

feat(javascript): add base62 Request-ID generator (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/requestId.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
Due: none

feat(javascript): share one Request-ID across replaceAllObjectsWithTransformation search calls (API-516)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: none

fix(javascript): assert Request-ID absence for non-enabled clients in the authMode CTS test (API-516)
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  templates/javascript/tests/client/client.mustache
Due: yarn cli format java generators

test(javascript): cover Correlation-ID parse failures and reverse-channel Request-ID precedence (API-516) (#6758)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/correlationId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestIdChannel.test.ts
Due: none

feat(javascript): surface Correlation-ID on DeserializationError (API-516)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
Due: none

fix(javascript): ignore Request-ID header in the authMode CTS test (API-516)
  templates/javascript/tests/client/client.mustache
Due: none

chore(ci): stop caching node_modules directly (API-477)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

feat(specs): expose the Correlation-ID in getLogs entries
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

feat(javascript): Request-ID and Correlation-ID support (#6747)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/correlationId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestId.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/requestIdChannel.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/withHttpInfo.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/requestId.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/client/api/compositionHelpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
  templates/javascript/clients/client/builds/worker.mustache
  templates/javascript/tests/client/client.mustache
Due: yarn cli format java generators, yarn fix:json

feat(cts): canary the x-algolia-request-id query param against both engines (API-516)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/javascript/tests/e2e/e2e.mustache
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

feat(cts): add gated Request-ID/Correlation-ID client tests and recorder server (API-516)
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/requestId.ts
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
Due: yarn fix:json

chore(cts): document the Request-ID recorder contracts (API-516)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/cts/testServer/accountCopyIndex.ts
  scripts/cts/testServer/requestId.ts
Due: yarn cli format java generators

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
