Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(clients): replace all objects (#2762)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ClientExtensions.cs
  templates/python/search_helpers.mustache
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

chore: generated code for commit f3e8940021cd114eb86be6a645994370f654fe42. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/search/client.py
Due: none

feat(python): add `chunked_batch`
  playground/python/app/search.py
  templates/python/api.mustache
  templates/python/search_helpers.mustache
Due: none

chore: description
  templates/python/search_helpers.mustache
Due: none

feat(swift): last missing helpers
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Encoding.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Random.swift
  templates/swift/api.mustache
Due: none

chore: only display errors
  scripts/buildClients.ts
Due: none

feat(scala): add helpers functions (#2715)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ApiKeyOperation.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/RetryUntil.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  config/generation.config.mjs
Due: none

fix: renaming
  templates/swift/api.mustache
  tests/output/swift/Tests/handwritten/Browsers.swift
  tests/output/swift/Tests/handwritten/Waiters.swift
Due: none

chore: generated code for commit 5ed47716e4d12d8c6d1aeae6962b95783c0a090d. [skip ci]
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/RetryUntil.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

feat(python): add `chunked_batch` (#2763)
  playground/python/app/search.py
  templates/python/api.mustache
  templates/python/search_helpers.mustache
Due: none

chore: generated code for commit 71317bfe46557530833bcc10b90c9b0da97f6f19. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/search/client.py
Due: none

feat(javascript): add `getSecuredApiKey` and validity check
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/javascript/tests/requests/requests.mustache
Due: none

fix: search params optional and same as in Python
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/tests/requests/helpers.mustache
Due: none

chore: cache cash
  .github/.cache_version
Due: none

feat(javascript): add `getSecuredApiKey` and validity check (#2766)
  .github/.cache_version
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/javascript/tests/requests/requests.mustache
Due: none

chore(javascript): broken tests
  templates/javascript/tests/requests/helpers.mustache
Due: none

chore(javascript): broken tests (#2767)
  templates/javascript/tests/requests/helpers.mustache
Due: none

feat(javascript): add `replaceAllObjects`
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/python/search_helpers.mustache
Due: none

feat: batchSize
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: none

feat(python): add `batch_size` to chunked batch
  templates/python/search_helpers.mustache
Due: none

fix: actually use batch size
  templates/python/search_helpers.mustache
Due: none

feat: rework structure + add manual tests
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Random.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/swift/APIKeyOperation.mustache
  templates/swift/ReplaceAllObjectsResponse.mustache
  templates/swift/SearchHelpers.mustache
  templates/swift/SecuredAPIKeyRestriction.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  tests/output/swift/Tests/handwritten/E2ESearch.swift
  tests/output/swift/Tests/handwritten/SecuredAPIKeyHelpers.swift
Due: yarn cli format java generators

chore: formatting
  tests/output/swift/Tests/handwritten/E2ESearch.swift
  tests/output/swift/Tests/handwritten/Waiters.swift
Due: none

chore: add test
  templates/python/search_helpers.mustache
  templates/python/tests/requests/helpers.mustache
  templates/python/tests/requests/requests.mustache
Due: none

fix: use a method param for batchSize
  scripts/cts/runCts.ts
  templates/swift/SearchHelpers.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  tests/output/swift/Tests/handwritten/E2ESearch.swift
Due: none

chore: test something original
  scripts/cts/runCts.ts
Due: none

chore: test something original step 2
  scripts/cts/runCts.ts
Due: none

chore: what you gonna do
  .github/workflows/check.yml
  scripts/cts/runCts.ts
Due: yarn github-actions:lint --fix

chore: IT WAS THE INDEX NAME THAT WASN'T COMPATIBLE WITH THE API KEY WE USE ON GITHUB THIS WHOLE TIME
  .github/workflows/check.yml
  tests/output/swift/Tests/handwritten/E2ESearch.swift
Due: yarn github-actions:lint --fix

chore: i'm ngmi
  .github/workflows/check.yml
  scripts/cts/runCts.ts
Due: yarn github-actions:lint --fix

chore: we are so back
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

mo more es5
  .prettierrc
  clients/algoliasearch-client-javascript/.prettierrc
Due: none

rollback' '
  package.json
  tests/output/javascript/yarn.lock
  yarn.lock
Due: yarn fix:json

reformat
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
Due: yarn cli format java generators

chore: replace generated files with hand written one in their own directory
  clients/algoliasearch-client-swift/Sources/Search/Extra/APIKeyOperation.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/ReplaceAllObjectsResponse.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchHelpers.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SecuredAPIKeyRestriction.swift
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/pre-gen/removeExistingCodegen.ts
  templates/swift/APIKeyOperation.mustache
  templates/swift/ReplaceAllObjectsResponse.mustache
  templates/swift/SearchHelpers.mustache
Due: yarn cli format java generators

remove helper body template
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  templates/go/search_helpers.mustache
  templates/java/api.mustache
  templates/java/api_helpers.mustache
  templates/java/generateSecuredApiKey.mustache
  templates/java/waitForApiKey.mustache
  tests/CTS/requests/search/generateSecuredApiKey.json
Due: yarn cli format java generators, yarn fix:json

remove generateSecuredApiKey for now
  templates/java/api_helpers.mustache
Due: none
