Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

fix: add multisearch w/ hits & facets
  clients/algoliasearch-client-dart/packages/algoliasearch/example/example.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension.dart
  clients/algoliasearch-client-java-2/gradle/wrapper/gradle-wrapper.properties
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  specs/search/common/schemas/SearchForFacetValuesResponse.yml
  specs/search/common/schemas/SearchResult.yml
  specs/search/paths/search/search.yml
  specs/search/paths/search/searchForFacetValues.yml
  templates/java/api_helpers.mustache
  templates/java/oneof_interface.mustache
  templates/kotlin/data_class_field_type.mustache
  templates/kotlin/oneof_interface.mustache
Due: docker exec -t api-client yarn cli format java generators

fix(dart): search example
  clients/algoliasearch-client-dart/packages/client_search/example/example.dart
Due: none

chore: prepare release 2023-07-25
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

add missing clients
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore: prepare release 2023-07-25 [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2023-07-25 (#1833)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-07-25 [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_insights/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_search/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_search/pubspec.yaml
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

add support of type aliases
  clients/algoliasearch-client-dart/packages/client_abtesting/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_analytics/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_ingestion/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_monitoring/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_personalization/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_predict/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_suggestions/lib/src/extension.dart
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/model.mustache
  templates/dart/typealias.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix enums
  clients/algoliasearch-client-dart/packages/client_query_suggestions/lib/src/extension.dart
  templates/dart/serialization/json_serializable/deserialize.mustache
  templates/dart/serialization/json_serializable/enum.mustache
Due: none

update one of docs
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/serialization/json_serializable/class_data.mustache
Due: docker exec -t api-client yarn cli format java generators

fix fields names
  clients/algoliasearch-client-dart/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/algoliasearch/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/client_core/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/client_insights/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/client_query_suggestions/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_search/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/client_suggestions/lib/src/extension.dart
  clients/algoliasearch-client-dart/pubspec.yaml
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/serialization/json_serializable/class_data.mustache
  templates/dart/serialization/json_serializable/enum.mustache
Due: docker exec -t api-client yarn cli format java generators

add docs to generic return types
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/api.mustache
  templates/dart/pubspec.mustache
Due: docker exec -t api-client yarn cli format java generators

fix enums fields
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/EscapeDartLambda.java
  generators/src/main/java/com/algolia/codegen/cts/LowerCamelCaseLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  playground/java/src/main/java/com/algolia/playground/Scratch.java
  templates/dart/serialization/json_serializable/enum.mustache
  templates/dart/tests/client/suite.mustache
  templates/dart/tests/param_value.mustache
Due: docker exec -t api-client yarn cli format java generators

fix operations defaults
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/api.mustache
  templates/dart/serialization/json_serializable/build.yaml.mustache
Due: docker exec -t api-client yarn cli format java generators

fix path compare
  tests/output/dart/lib/src/expect.dart
Due: none

bump cache version
  .github/.cache_version
Due: none

update pubspec overrides
  tests/output/dart/pubspec_overrides.yaml
Due: none

chore: fix renovate for Dart
  renovate.json
Due: yarn fix:json

fix: add `+`
  renovate.json
Due: yarn fix:json

chore: fix renovate for Dart (#1836)
  renovate.json
Due: yarn fix:json

align pkgs versions
  config/openapitools.json
Due: yarn fix:json

fix(specs): search w/ hits & facets responses (#1774)
  clients/algoliasearch-client-dart/packages/algoliasearch/example/example.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_search/example/example.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension.dart
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  specs/search/common/schemas/SearchForFacetValuesResponse.yml
  specs/search/common/schemas/SearchResult.yml
  specs/search/paths/search/search.yml
  specs/search/paths/search/searchForFacetValues.yml
  templates/java/api_helpers.mustache
  templates/java/oneof_interface.mustache
  templates/kotlin/data_class_field_type.mustache
  templates/kotlin/oneof_interface.mustache
Due: docker exec -t api-client yarn cli format java generators

Delete Scratch.java
  playground/java/src/main/java/com/algolia/playground/Scratch.java
Due: none

fix(specs): allow JSON array for `aroundPrecision`
  specs/common/schemas/SearchParams.yml
Due: none

apply code suggestion
  .github/.cache_version
  clients/algoliasearch-client-java-2/algoliasearch/build.gradle
  clients/algoliasearch-client-java-2/algoliasearch/gradle.properties
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaApiException.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetriesExceededException.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRuntimeException.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/exceptions/LaunderThrowable.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/AlgoliaAgent.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/AlgoliaIterableHelper.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/ApiKeyOperation.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/ClientOptions.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/CompoundType.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/Holder.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/HttpRequester.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/JSONBuilder.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/LogLevel.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/RequestOptions.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/Requester.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/TaskUtils.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/UseReadTransporter.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/Utils.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/retry/CallType.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/retry/RetryStrategy.java
  clients/algoliasearch-client-java-2/algoliasearch/src/main/java/com/algolia/utils/retry/StatefulHost.java
  clients/algoliasearch-client-java-2/settings.gradle
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  playground/java/settings.gradle
  scripts/husky/__tests__/pre-commit.test.mjs
  tests/output/java/settings.gradle
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix module deps
  clients/algoliasearch-client-java-2/api/build.gradle
Due: none

fix the generator and pin java version compat to 8
  clients/algoliasearch-client-java-2/algoliasearch/build.gradle
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
Due: docker exec -t api-client yarn cli format java generators

fix: auth input partial update
  specs/ingestion/common/schemas/authentication.yml
Due: none

chore: prepare release 2023-08-01
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

fix(specs): allow partial input update for authentications (#1856)
  specs/ingestion/common/schemas/authentication.yml
Due: none

chore: generated code for commit 58ea5dbf66f60cb9809527b2ec3bf1d7cfc0cf5c. [skip ci]
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_algolia_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_api_key_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_basic_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_google_service_account_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_input_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_o_auth_partial.go
  clients/algoliasearch-client-go/algolia/ingestion/model_authentication_update.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/authAPIKeyPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authAlgoliaPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authBasicPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authGoogleServiceAccountPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authInputPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authOAuthPartial.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/authenticationUpdate.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthAPIKeyPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthAlgoliaPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthBasicPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthGoogleServiceAccountPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthInputPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthOAuthPartial.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthenticationUpdate.kt
  specs/bundled/ingestion.yml
Due: none

fix: docker java locally
  Dockerfile
Due: none

fix: php somehow wants type now
  clients/algoliasearch-client-php/lib/Http/Psr7/Request.php
  clients/algoliasearch-client-php/lib/Http/Psr7/Response.php
  clients/algoliasearch-client-php/lib/Http/Psr7/Stream.php
  clients/algoliasearch-client-php/lib/Http/Psr7/Uri.php
Due: none

chore: bump cache key
  .github/.cache_version
Due: none

chore: prepare release 2023-08-01 (#1858)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
