Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

xpose
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
Due: none

fix(scripts): skip invalid semver (#4284)
  scripts/release/__tests__/versionsHistory.test.ts
  scripts/release/versionsHistory.ts
Due: none

feat(javascript): expose current apiKey on the client instance [skip-bc] (#4285)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  templates/javascript/clients/api-single.mustache
Due: none

feat(javascript): expose current apiKey on the client instance [skip-bc] (#4285) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-composition/src/compositionClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
Due: none

feat(byoc): only use shortname in the source input
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

other yarn
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.5.3.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.6.0.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/package.json
  tests/output/javascript/.yarn/releases/yarn-4.5.3.cjs
  tests/output/javascript/.yarn/releases/yarn-4.6.0.cjs
  tests/output/javascript/.yarnrc.yml
Due: yarn fix:json

no packageManager
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

chore(deps): dependencies 2024-12-30 [skip-bc] (#4286)
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.5.3.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.6.0.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
  config/.ruby-version
  package.json
  playground/javascript/browser/package.json
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/javascript/.yarn/releases/yarn-4.5.3.cjs
  tests/output/javascript/.yarn/releases/yarn-4.6.0.cjs
  tests/output/javascript/.yarnrc.yml
  website/.yarn/releases/yarn-4.5.3.cjs
  website/.yarn/releases/yarn-4.6.0.cjs
  website/.yarnrc.yml
  website/package.json
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2024-12-30 [skip-bc] (#4286) (generated) [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

okay ?
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjects.ts
  templates/java/api_helpers.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
  tests/output/javascript/yarn.lock
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Assert.kt
Due: yarn fix:json

why swift
  scripts/cts/testServer/replaceAllObjects.ts
  templates/go/search_helpers.mustache
Due: none

self ?
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

only delete in case of failure
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjects.ts
  scripts/cts/testServer/replaceAllObjectsFailed.ts
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

feat(clients): cleanup after replaceAllObjects failure [skip-bc] (#3824)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjects.ts
  scripts/cts/testServer/replaceAllObjectsFailed.ts
  templates/Bug_report.yml
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
  tests/output/javascript/yarn.lock
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/Assert.kt
Due: yarn fix:json

feat(clients): cleanup after replaceAllObjects failure [skip-bc] (#3824) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-dart/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-go/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-php/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/.github/ISSUE_TEMPLATE/Bug_report.yml
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/client/Search.test.cs
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/IngestionTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
  tests/output/ruby/test/client/search_test.rb
  tests/output/swift/Tests/client/SearchTests.swift
Due: none

feat(clients): add optionnal scopes to replaceAllObjects
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsScopes.ts
  specs/search/helpers/replaceAllObjects.yml
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/CTS/client/search/replaceAllObjects.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

csharp
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

java
  templates/java/api_helpers.mustache
Due: none

feat(specs): add notification settings to tasks
  specs/ingestion/common/schemas/task.yml
  tests/CTS/requests/ingestion/createTask.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

param
  specs/ingestion/common/taskParameters.yml
  specs/ingestion/paths/tasks/v2/tasks.yml
Due: yarn eslint --ext=yml --fix

new shape
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

english
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

move test
  tests/CTS/requests/ingestion/createTask.json
Due: yarn fix:json

kotlin
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

php
  templates/php/api.mustache
Due: none

python
  templates/python/search_helpers.mustache
Due: none

ruby
  templates/ruby/search_helpers.mustache
Due: none

swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

fix(specs): personalization uses plural names
  specs/personalization/common/schemas/eventsScoring.yml
  specs/personalization/common/schemas/facetsScoring.yml
  specs/personalization/common/schemas/personalizationStrategy.yml
  tests/CTS/requests/personalization/setPersonalizationStrategy.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): improve Composition Client searchResponse specs (matches SearchClient more closely for IS)
  specs/composition/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

feat(specs): improve Composition Client searchResponse specs (matches SearchClient more closely for IS) (generated)
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchHits.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchPagination.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchResults.ts
  docs/bundled/composition.yml
  specs/bundled/composition.yml
Due: yarn eslint --ext=yml --fix

fix(specs): personalization uses plural names [skip-bc] (#4298)
  specs/personalization/common/schemas/eventsScoring.yml
  specs/personalization/common/schemas/facetsScoring.yml
  specs/personalization/common/schemas/personalizationStrategy.yml
  tests/CTS/requests/personalization/setPersonalizationStrategy.json
Due: yarn fix:json, yarn eslint --ext=yml --fix
