Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: better log
  scripts/release/createReleasePR.ts
Due: none

chore: generated code for commit 2e08265f895cc7fbfc3d41165985bd92018975a8. [skip ci]
  clients/algoliasearch-client-php/composer.lock
Due: none

chore: review
  .github/.cache_version
  scripts/release/__tests__/createReleasePR.test.ts
Due: none

also lint doc
  package.json
  scripts/buildSpecs.ts
  yarn.lock
Due: yarn fix:json

chore(scripts): ensure changes in language folder before releasing (#2256)
  .github/.cache_version
  package.json
  scripts/buildSpecs.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2023-11-13 (#2231)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/.go-version
  eslint/package.json
  package.json
  playground/kotlin/build.gradle.kts
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  website/docusaurus.config.js
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit 04ac896efba28d419305e0482974c62ac7c5d9e8. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/java/build.gradle
  tests/output/javascript/package.json
Due: yarn fix:json

chore: prepare release 2023-11-13 [skip ci]
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(php): change PHP version for generated client
  templates/php/composer.mustache
Due: none

chore: prepare release 2023-11-13 (#2262)
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: release 2023-11-13 [skip ci]
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/BuildConfig.kt
  clients/algoliasearch-client-kotlin/gradle.properties
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-php/lib/Algolia.php
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: yarn fix:json

chore(scripts): release tag (part 32)
  scripts/ci/codegen/spreadGeneration.ts
  scripts/release/common.ts
Due: none

Revert "chore: release 2023-11-13 [skip ci]"
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/BuildConfig.kt
  clients/algoliasearch-client-kotlin/gradle.properties
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-php/lib/Algolia.php
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: yarn fix:json

Revert "chore: prepare release 2023-11-13 (#2262)"
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(php): change PHP version for generated client (#2263)
  templates/php/composer.mustache
Due: none

chore: generated code for commit 4f5c3310881722b73a387d084d7c42a290588c89. [skip ci]
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

chore: prepare release 2023-11-13 (#2265)
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: release 2023-11-13 [skip ci]
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/BuildConfig.kt
  clients/algoliasearch-client-kotlin/gradle.properties
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/Algolia.php
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: yarn fix:json

refresh locks
  tests/output/javascript/yarn.lock
  website/yarn.lock
Due: none

chore(deps): dependencies 2023-11-20 (#2266)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/openapitools.json
  eslint/package.json
  generators/build.gradle
  package.json
  playground/javascript/browser/package.json
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/javascript/yarn.lock
  tests/output/kotlin/gradle/libs.versions.toml
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit 4420876145d8fdc9a85e2b33b832254458673848. [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/browse_response.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/index_settings.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/search_response.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/recommendations_response.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/browse_response.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/index_settings.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/search_response.dart
  clients/algoliasearch-client-go/algolia/recommend/model_recommendations_response.go
  clients/algoliasearch-client-go/algolia/search/model_browse_response.go
  clients/algoliasearch-client-go/algolia/search/model_index_settings.go
  clients/algoliasearch-client-go/algolia/search/model_search_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/GetApiKeyResponse.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/RecommendationsResponse.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/BrowseResponse.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/IndexSettings.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/SearchResponse.kt
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/Model/Recommend/RecommendationsResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/BrowseResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/IndexSettings.php
  clients/algoliasearch-client-php/lib/Model/Search/SearchResponse.php
  clients/algoliasearch-client-php/lib/Model/Search/SearchResult.php
  tests/output/dart/test/methods/requests/search_test.dart
  tests/output/java/build.gradle
  tests/output/java/src/test/java/com/algolia/methods/requests/Search.test.java
  tests/output/javascript/package.json
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/SearchTest.kt
  tests/output/php/src/methods/requests/SearchTest.php
Due: yarn fix:json

feat(doc): use the correct client version
  website/docs/clients/installation.mdx
  website/src/variables.js
Due: none

generate the version file
  scripts/website/build.sh
  website/.gitignore
  website/docs/clients/installation.mdx
  website/docusaurus.config.js
  website/src/variables.js
Due: none

revert skip cache
  scripts/website/build.sh
Due: none

generate folder
  scripts/website/build.sh
Due: none

docs: use the correct client version (#2282)
  scripts/website/build.sh
  website/.gitignore
  website/docs/clients/installation.mdx
  website/docusaurus.config.js
Due: none

feat: ci
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

feat: formatter
  scripts/formatter.ts
  templates/python/model_anyof.mustache
  templates/python/pyproject.mustache
Due: none

fix: imports and some linting stuff
  clients/algoliasearch-client-python/algoliasearch/.gitignore
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  scripts/buildClients.ts
  scripts/formatter.ts
  templates/python/model.mustache
  templates/python/model_anyof.mustache
  templates/python/model_enum.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  templates/python/pyproject.mustache
Due: docker exec -t api-client yarn cli format java generators

fix: linter, duplicated imports and snake case
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  scripts/formatter.ts
  templates/python/api.mustache
  templates/python/api_client.mustache
  templates/python/model.mustache
  templates/python/model_anyof.mustache
  templates/python/model_enum.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  templates/python/partial_api.mustache
  templates/python/partial_header.mustache
  templates/python/pyproject.mustache
  templates/python/rest.mustache
Due: docker exec -t api-client yarn cli format java generators

chore: github action
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix: scripts
  scripts/release/__tests__/createReleasePR.test.ts
Due: none

chore: poetry lock file
  clients/algoliasearch-client-python/poetry.lock
  config/generation.config.mjs
Due: none
