Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(specs): rename ingestion list methods
  specs/ingestion/paths/authentications/authentications.yml
  specs/ingestion/paths/destinations/destinations.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/sources/sources.yml
  specs/ingestion/paths/tasks/v1/tasks.yml
  specs/ingestion/paths/tasks/v2/tasks.yml
  specs/ingestion/paths/transformations/transformations.yml
  tests/CTS/requests/ingestion/listAuthentications.json
  tests/CTS/requests/ingestion/listDestinations.json
  tests/CTS/requests/ingestion/listEvents.json
  tests/CTS/requests/ingestion/listRuns.json
  tests/CTS/requests/ingestion/listSources.json
  tests/CTS/requests/ingestion/listTasks.json
  tests/CTS/requests/ingestion/listTasksV1.json
  tests/CTS/requests/ingestion/listTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): rename ingestion list methods (#3411)
  specs/ingestion/paths/authentications/authentications.yml
  specs/ingestion/paths/destinations/destinations.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/sources/sources.yml
  specs/ingestion/paths/tasks/v1/tasks.yml
  specs/ingestion/paths/tasks/v2/tasks.yml
  specs/ingestion/paths/transformations/transformations.yml
  tests/CTS/requests/ingestion/listAuthentications.json
  tests/CTS/requests/ingestion/listDestinations.json
  tests/CTS/requests/ingestion/listEvents.json
  tests/CTS/requests/ingestion/listRuns.json
  tests/CTS/requests/ingestion/listSources.json
  tests/CTS/requests/ingestion/listTasks.json
  tests/CTS/requests/ingestion/listTasksV1.json
  tests/CTS/requests/ingestion/listTransformations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): remove cross-specs references
  specs/common/responses/common.yml
  specs/common/schemas/Hit.yml
  specs/common/schemas/Rule.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/recommend/common/schemas/RecommendationsResponse.yml
  specs/recommend/paths/getRecommendStatus.yml
  specs/search/common/enums.yml
  specs/search/common/schemas/Hit.yml
  specs/search/paths/advanced/getAppTask.yml
  specs/search/paths/advanced/getTask.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove cross-specs references (#3412)
  specs/common/responses/common.yml
  specs/common/schemas/Hit.yml
  specs/common/schemas/Rule.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/recommend/common/schemas/RecommendationsResponse.yml
  specs/recommend/paths/getRecommendStatus.yml
  specs/search/common/enums.yml
  specs/search/common/schemas/Hit.yml
  specs/search/paths/advanced/getAppTask.yml
  specs/search/paths/advanced/getTask.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit e3c6b84017da7a37eec083ce95e88862850028d0. [skip ci]
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

chore(specs): add eslint rule to avoid cross-references
  .eslintrc.cjs
  .github/workflows/check.yml
  eslint/package.json
  eslint/src/index.ts
  eslint/src/rules/endWithDot.ts
  eslint/src/rules/refCommon.ts
  eslint/src/rules/validACL.ts
  eslint/tests/noNewLine.test.ts
  eslint/tests/outOfLineRule.test.ts
  eslint/tests/refCommon.test.ts
  eslint/tests/validACL.test.ts
  eslint/tsconfig.json
  scripts/formatter.ts
  specs/bundled/query-suggestions.yml
Due: yarn github-actions:lint --fix, yarn fix:json, yarn eslint --ext=yml --fix

review
  eslint/src/rules/refCommon.ts
  eslint/tests/outOfLineRule.test.ts
Due: none

fix(specs): remove cross-references of analytics
  specs/abtesting/common/schemas/Variant.yml
  specs/abtesting/paths/abtest.yml
  specs/abtesting/paths/abtests.yml
  specs/abtesting/paths/stopABTest.yml
  specs/analytics/common/parameters.yml
  specs/analytics/common/schemas/getTopHits.yml
  specs/analytics/common/schemas/getTopSearches.yml
  specs/analytics/paths/click/getAddToCartRate.yml
  specs/analytics/paths/click/getAverageClickPosition.yml
  specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getPurchaseRate.yml
  specs/analytics/paths/search/getNoClickRate.yml
  specs/analytics/paths/search/getNoResultsRate.yml
  specs/analytics/paths/search/getSearchesCount.yml
  specs/analytics/paths/search/getSearchesNoClicks.yml
  specs/analytics/paths/search/getSearchesNoResults.yml
  specs/analytics/paths/search/getTopCountries.yml
  specs/analytics/paths/search/getTopFilterAttributes.yml
  specs/analytics/paths/search/getTopFilterForAttribute.yml
  specs/analytics/paths/search/getTopFiltersNoResults.yml
  specs/analytics/paths/search/getTopHits.yml
  specs/analytics/paths/search/getTopSearches.yml
  specs/analytics/paths/search/getUsersCount.yml
  specs/common/parameters.yml
  specs/common/responses/rateLimit.yml
  specs/insights/paths/deleteUserToken.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove cross-references of analytics (#3414)
  specs/abtesting/common/schemas/Variant.yml
  specs/abtesting/paths/abtest.yml
  specs/abtesting/paths/abtests.yml
  specs/abtesting/paths/stopABTest.yml
  specs/analytics/common/parameters.yml
  specs/analytics/common/schemas/getTopHits.yml
  specs/analytics/common/schemas/getTopSearches.yml
  specs/analytics/paths/click/getAddToCartRate.yml
  specs/analytics/paths/click/getAverageClickPosition.yml
  specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getPurchaseRate.yml
  specs/analytics/paths/search/getNoClickRate.yml
  specs/analytics/paths/search/getNoResultsRate.yml
  specs/analytics/paths/search/getSearchesCount.yml
  specs/analytics/paths/search/getSearchesNoClicks.yml
  specs/analytics/paths/search/getSearchesNoResults.yml
  specs/analytics/paths/search/getTopCountries.yml
  specs/analytics/paths/search/getTopFilterAttributes.yml
  specs/analytics/paths/search/getTopFilterForAttribute.yml
  specs/analytics/paths/search/getTopFiltersNoResults.yml
  specs/analytics/paths/search/getTopHits.yml
  specs/analytics/paths/search/getTopSearches.yml
  specs/analytics/paths/search/getUsersCount.yml
  specs/common/parameters.yml
  specs/common/responses/rateLimit.yml
  specs/insights/paths/deleteUserToken.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit be060a0600b6e32a69604e6ba45552fca9a2ebdc. [skip ci]
  specs/bundled/insights.doc.yml
  specs/bundled/insights.yml
Due: yarn eslint --ext=yml --fix

no build
  specs/bundled/query-suggestions.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add primary to get settings response
  specs/search/common/schemas/SettingsResponse.yml
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

chore(specs): add eslint rule to avoid cross-references (#3413)
  .eslintrc.cjs
  .github/workflows/check.yml
  eslint/package.json
  eslint/src/index.ts
  eslint/src/rules/endWithDot.ts
  eslint/src/rules/refCommon.ts
  eslint/src/rules/validACL.ts
  eslint/tests/noNewLine.test.ts
  eslint/tests/outOfLineRule.test.ts
  eslint/tests/refCommon.test.ts
  eslint/tests/validACL.test.ts
  eslint/tsconfig.json
  scripts/formatter.ts
Due: yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit 81c15cf5bcf0931f3ab8b0204ca06c5a004f7534. [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

feat(specs): add v2 endpoints for ingestion
  specs/common/schemas/Batch.yml
  specs/ingestion/paths/tasks/v1/pushTask.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
  specs/ingestion/spec.yml
  specs/search/helpers/chunkedBatch.yml
  specs/search/paths/objects/batch.yml
  specs/search/paths/objects/common/schemas.yml
  specs/search/paths/objects/multipleBatch.yml
  tests/CTS/requests/ingestion/pushTask.json
  tests/CTS/requests/ingestion/pushTaskV1.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: params
  specs/ingestion/paths/tasks/v1/pushTask.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
Due: yarn eslint --ext=yml --fix

fix: parameters
  tests/CTS/requests/ingestion/pushTask.json
  tests/CTS/requests/ingestion/pushTaskV1.json
Due: yarn fix:json

fix: csharp ambiguous
  specs/search/paths/objects/batch.yml
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/requests/requests.mustache
Due: yarn eslint --ext=yml --fix

fix(go): explicit usage of browse helpers
  playground/go/ingestion.go
  playground/go/search.go
  templates/go/api.mustache
  templates/go/search_helpers.mustache
Due: none

fix: swifty nifty annoyingly duplicaty?
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

fix: rename settingsResponse to indexSettings
  specs/search/common/schemas/SettingsResponse.yml
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

chore: maybe this import
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/csharp/snippets/method.mustache
Due: none

chore: ok this
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

chore: goood
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

Revert "fix: rename settingsResponse to indexSettings"
  specs/search/common/schemas/SettingsResponse.yml
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

fix(cts): assert the error of chunkedBatch helpers
  playground/go/ingestion.go
  scripts/cts/testServer/chunkWrapper.ts
  tests/CTS/client/search/helpers.json
  tests/output/javascript/yarn.lock
  tests/output/scala/src/test/scala/algoliasearch/package.scala
Due: yarn fix:json

fix(specs): add primary to get settings response (#3415)
  specs/search/common/schemas/SettingsResponse.yml
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

fix: remove v1 push
  specs/ingestion/paths/tasks/v1/pushTask.yml
  specs/ingestion/spec.yml
  tests/CTS/requests/ingestion/pushTaskV1.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(go): explicit usage of browse helpers (#3417)
  playground/go/ingestion.go
  playground/go/search.go
  templates/go/api.mustache
  templates/go/search_helpers.mustache
Due: none

chore: unused param
  specs/ingestion/paths/tasks/v2/pushTask.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit ed9e145550ef3299224ebfce7e766bdf4c79a5ce. [skip ci]
  clients/algoliasearch-client-go/algolia/search/api_search.go
Due: none

fix(cts): assert the error of chunkedBatch helpers (#3418)
  scripts/cts/testServer/chunkWrapper.ts
  tests/CTS/client/search/helpers.json
  tests/output/javascript/yarn.lock
  tests/output/scala/src/test/scala/algoliasearch/package.scala
Due: yarn fix:json

chore: generated code for commit 4455b77a681309bf173e0b0fd6a0894de9de68e9. [skip ci]
  tests/output/csharp/src/generated/client/Search.test.cs
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
  tests/output/ruby/test/client/search_test.rb
  tests/output/swift/Tests/client/SearchTests.swift
Due: none

chore: def
  specs/ingestion/paths/tasks/v2/pushTask.yml
Due: yarn eslint --ext=yml --fix

chore(scripts): improve generation commit message
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/text.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
Due: none

chore(playgroud): add a build playground step
  .github/workflows/check.yml
  playground/javascript/node/package.json
  scripts/buildClients.ts
  scripts/cli/index.ts
  scripts/install.sh
Due: yarn github-actions:lint --fix, yarn fix:json

chore(scripts): improve generation commit message (#3419)
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/text.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
