Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix: Full naming
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
Due: yarn cli format java generators

fix: kotlin tests
  templates/kotlin/tests/client/benchmark.mustache
  templates/kotlin/tests/client/client.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  templates/kotlin/tests/requests/requests.mustache
Due: none

fix: javascript
  templates/javascript/clients/client/builds/definition.mustache
Due: none

csharp
  templates/csharp/snippets/src.csproj.mustache
Due: none

chore(deps): dependencies 2025-01-20 (#4365)
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-scala/project/plugins.sbt
  config/.csharp-version
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/src.csproj
  eslint/package.json
  package.json
  playground/csharp/Playground/Playground.csproj
  playground/javascript/browser/package.json
  scripts/package.json
  templates/csharp/snippets/src.csproj.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/csharp/global.json
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/scala/project/plugins.sbt
  yarn.lock
Due: yarn fix:json

feat: distinct
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

chore(deps): dependencies 2025-01-20 (#4365) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/package.json
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat: customRanking, ranking
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

withFilters
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

feat: customRanking, ranking (generated)
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

withFilters (generated)
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

feat: attributesForFaceting, maxFacetHits, maxValuesPerFacet
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

feat(doc): add first snippet
  clients/algoliasearch-client-csharp/Algolia.Search.sln
  tests/CTS/client/search/generateSecuredApiKey.json
Due: yarn fix:json

feat: searchableAttributes, distinct
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

feat: attributesForFaceting
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

feat: attributesForFaceting and searchableAttributes
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

progress
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeQuotesLambda.java
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn cli format java generators, yarn fix:json

fix: cts
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  tests/CTS/requests/search/setSettings.json
Due: yarn cli format java generators, yarn fix:json

fix: JS build
  templates/javascript/clients/client/builds/definition.mustache
Due: none

fix: cts
  playground/javascript/node/search.ts
  tests/CTS/requests/search/setSettings.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix: cts
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix: JS playground
  playground/javascript/node/compositionFull.ts
Due: none

fix: JS CTS
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
Due: yarn cli format java generators

feat(doc): add partialUpdateObject snippet
  tests/CTS/client/search/generateSecuredApiKey.json
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

fix: kotlin CTS
  templates/kotlin/tests/client/benchmark.mustache
  templates/kotlin/tests/client/client.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  templates/kotlin/tests/requests/requests.mustache
Due: none

done
  t.txt
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

feat(doc): add partialUpdateObject snippet
  clients/algoliasearch-client-csharp/Algolia.Search.sln
  tests/CTS/client/search/generateSecuredApiKey.json
Due: yarn fix:json

feat: saveRule
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json

test null
  templates/java/api_helpers.mustache
Due: none

fix
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

assign
  tests/CTS/requests/search/assignUserId.json
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

fix(snippets): saveObjects playlist
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/tests/paramKey.mustache
  tests/CTS/client/search/saveObjects.json
Due: yarn cli format java generators, yarn fix:json

fix(snippets): list indices
  tests/CTS/requests/search/listIndices.json
Due: yarn fix:json

fix(snippets): set settings searchable attributes
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

guides: snippets saveObjects/listIndices (#4380)
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/tests/paramKey.mustache
  tests/CTS/client/search/saveObjects.json
  tests/CTS/requests/search/listIndices.json
  tests/CTS/requests/search/setSettings.json
Due: yarn cli format java generators, yarn fix:json
