Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

feat(scala): browse helpers
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/Iterable.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

fix(specs): add secrets payload for updates (#4061)
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add secrets payload for updates (#4061) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthInputPartial.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_auth_input_partial.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthInputPartial.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/authInputPartial.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthInputPartial.kt
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/auth_input_partial.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/auth_input_partial.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthInputPartial.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthInputPartial.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
Due: yarn eslint --ext=yml --fix

feat(scala): browse helpers (#4062)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/Iterable.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

feat(kotlin): add browse helpers (#4059)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Iterable.kt
Due: none

feat(kotlin): add browse helpers (#4059) (generated) [skip ci]
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

fix(swift): update browse iterators
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

fix(java): update browse iterator
  templates/java/api_helpers.mustache
Due: none

fix(javascript): update browse iterator
  templates/javascript/clients/client/api/helpers.mustache
Due: none

fix(ruby): update browse iterators
  templates/ruby/search_helpers.mustache
Due: none

fix(go): update browse iterators
  templates/go/search_helpers.mustache
Due: none

fix(python): update browse iterators
  templates/python/search_helpers.mustache
Due: none

fix(php): update browse iterators
  clients/algoliasearch-client-php/lib/Iterators/RuleIterator.php
  clients/algoliasearch-client-php/lib/Iterators/SynonymIterator.php
Due: none

fix(csharp): update browse iterators
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

chore(clients): add default hitsPerPage for browse objects helper
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

chore(javascript): fix typings
  templates/javascript/clients/client/api/helpers.mustache
Due: none

chore(go): int casting
  templates/go/search_helpers.mustache
Due: none

chore(csharp): fix custom tests
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

feat(scripts): compute eligibility dates
  scripts/cli/index.ts
  scripts/release/createReleasePR.ts
  scripts/release/types.ts
  scripts/release/versionsHistory.ts
Due: none

chore(javascript): fix fix fix
  templates/javascript/clients/client/api/helpers.mustache
Due: none

fix: multipleBatch test
  tests/CTS/requests/composition/multipleBatch.json
Due: yarn fix:json

fix(clients): update browse iterator (#4058)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-php/lib/Iterators/RuleIterator.php
  clients/algoliasearch-client-php/lib/Iterators/SynonymIterator.php
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

fix(clients): update browse iterator (#4058) (generated) [skip ci]
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

fix: tests
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/__tests__/versionsHistory.test.ts
  scripts/release/updateAPIVersions.ts
  scripts/release/versionsHistory.ts
Due: none

fix: prefer API description
  specs/ai-personalization/spec.yml
Due: yarn eslint --ext=yml --fix

fix: future proof type
  specs/ai-personalization/common/enums.yml
  specs/ai-personalization/common/schemas/Configuration.yml
  specs/ai-personalization/paths/config.yml
Due: yarn eslint --ext=yml --fix

fix: move status to Configuration.yml
  specs/ai-personalization/common/schemas/Configuration.yml
  specs/ai-personalization/paths/config.yml
Due: yarn eslint --ext=yml --fix

fix: move config object to standalone file
  specs/ai-personalization/common/schemas/ConfigurationObject.yml
  specs/ai-personalization/paths/config.yml
Due: yarn eslint --ext=yml --fix

docs(ai-perso): add ai-personalization spec file for documentation generation (#4063)
  scripts/common.ts
  specs/ai-personalization/common/enums.yml
  specs/ai-personalization/common/responses/BadRequest.yml
  specs/ai-personalization/common/responses/BaseResponse.yml
  specs/ai-personalization/common/responses/ConfigurationNotFound.yml
  specs/ai-personalization/common/responses/InternalServerError.yml
  specs/ai-personalization/common/responses/InvalidUserID.yml
  specs/ai-personalization/common/responses/Unauthorized.yml
  specs/ai-personalization/common/responses/UserNotFound.yml
  specs/ai-personalization/common/schemas/Configuration.yml
  specs/ai-personalization/common/schemas/ConfigurationObject.yml
  specs/ai-personalization/common/schemas/User.yml
  specs/ai-personalization/common/schemas/UsersParams.yml
  specs/ai-personalization/paths/config.yml
  specs/ai-personalization/paths/user.yml
  specs/ai-personalization/paths/users.yml
  specs/ai-personalization/spec.yml
Due: yarn eslint --ext=yml --fix

docs(ai-perso): add ai-personalization spec file for documentation generation (#4063) (generated) [skip ci]
  docs/bundled/ai-personalization-snippets.json
  specs/bundled/ai-personalization.doc.yml
  specs/bundled/ai-personalization.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): dependencies 2024-11-04 (#4065)
  .nvmrc
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  eslint/package.json
  package.json
  playground/java/build.gradle
  playground/kotlin/build.gradle.kts
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  yarn.lock
Due: yarn fix:json

fix: fetchedComposition → composition
  specs/composition/common/schemas/batchCompositionAction.yml
  specs/composition/common/schemas/listCompositionsResponse.yml
  specs/composition/paths/objects/objects.yml
Due: yarn eslint --ext=yml --fix

fix: wrongly positioned
  specs/composition/common/schemas/compositionBehavior.yml
Due: yarn eslint --ext=yml --fix

feat: add waitForCompositionTask for composition client
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  specs/composition/helpers/waitForCompositionTask.yml
  specs/composition/spec.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/compositionHelpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

feat(scripts): compute eligibility dates (#4064)
  scripts/cli/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/__tests__/versionsHistory.test.ts
  scripts/release/createReleasePR.ts
  scripts/release/types.ts
  scripts/release/updateAPIVersions.ts
  scripts/release/versionsHistory.ts
Due: none

feat(scripts): compute eligibility dates (#4064) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/build.gradle
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/package.json
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore: prepare release 2024-11-05
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix: reference
  specs/abtesting/spec.yml
Due: yarn eslint --ext=yml --fix

feat: add test
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
