Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

fix(python): provide community requested changes (#2478)
  playground/python/app/abtesting.py
  playground/python/app/analytics.py
  playground/python/app/ingestion.py
  playground/python/app/insights.py
  playground/python/app/personalization.py
  playground/python/app/query_suggestions.py
  playground/python/app/recommend.py
  playground/python/app/search.py
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/requests/requests.mustache
  website/docs/clients/installation.mdx
  website/docs/clients/migration-guides/python.md
Due: none

chore: generated code for commit db1309c4d0c89f5d1d988ea07c15519411784b8b. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/config.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/config.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/config.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/config.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/config.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/config.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  tests/output/python/tests/client/abtesting_test.py
  tests/output/python/tests/client/analytics_test.py
  tests/output/python/tests/client/ingestion_test.py
  tests/output/python/tests/client/insights_test.py
  tests/output/python/tests/client/monitoring_test.py
  tests/output/python/tests/client/personalization_test.py
  tests/output/python/tests/client/query_suggestions_test.py
  tests/output/python/tests/client/recommend_test.py
  tests/output/python/tests/client/search_test.py
  tests/output/python/tests/requests/abtesting_test.py
  tests/output/python/tests/requests/analytics_test.py
  tests/output/python/tests/requests/ingestion_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/python/tests/requests/monitoring_test.py
  tests/output/python/tests/requests/personalization_test.py
  tests/output/python/tests/requests/query_suggestions_test.py
  tests/output/python/tests/requests/recommend_test.py
  tests/output/python/tests/requests/search_test.py
Due: none

fix(swift): update Dockerfile
  Dockerfile
Due: none

feat(clients): add missing clients
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore: simplify openapitools for js
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore: delete
  .github/.cache_version
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators

fix: javascript mapping
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators

chore: bump cache version
  .github/.cache_version
Due: none

wip
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/tests/generateParams.mustache
Due: docker exec -t api-client yarn cli format java generators

fix: java cts
  templates/java/tests/generateParams.mustache
Due: none

feat(clients): add missing clients (#2479)
  .github/.cache_version
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/java/tests/generateParams.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore(scripts): remove openapitools.json
  config/clients.config.json
  config/openapitools.json
  scripts/common.ts
  scripts/pre-gen/generateOpenapitools.ts
  scripts/release/updateAPIVersions.ts
Due: yarn fix:json

fix: openapitools.json references
  scripts/ci/githubActions/setRunVariables.ts
  scripts/install.sh
  scripts/pre-gen/generateOpenapitools.ts
Due: none

fix: remove openapitools.json mentions
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/release-process.md
Due: docker exec -t api-client yarn cli format java generators

chore: renovate file
  renovate.json
Due: yarn fix:json

chore: force full CI run
  .github/.cache_version
Due: none

fix: test order
  scripts/release/__tests__/createReleasePR.test.ts
Due: none

cts compiled
  generators/src/main/java/com/algolia/codegen/cts/lambda/CSharpIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/netcore_testproject.mustache
  templates/csharp/tests/netcore_testproject.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/Algolia.Search.Tests.csproj
  tests/output/csharp/Algolia.Search.Tests.sln
Due: docker exec -t api-client yarn cli format java generators

Update setup-repository.md
  website/docs/contributing/setup-repository.md
Due: none

chore: review
  scripts/common.ts
Due: none

Revert "chore(deps): update dependency lerna to v8.0.2 (#2482)"
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore: monday morning
  scripts/common.ts
Due: none

chore: monday morning part 2
  scripts/common.ts
Due: none

fix: dart output
  config/clients.config.json
Due: yarn fix:json

chore(deps): dependencies 2024-01-08 (#2480)
  .github/actions/setup/action.yml
  Dockerfile
  clients/algoliasearch-client-java/build.gradle
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  package.json
  playground/javascript/browser/package.json
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  tests/output/python/requirements.txt
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

fix: csharp output
  config/clients.config.json
Due: yarn fix:json

chore: generated code for commit 4596fa0d11788144d28bc438010d596bd7801b2e. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix: simplified config
  config/clients.config.json
Due: yarn fix:json

fix: csharp and python generators
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix: descriptions
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/ci/githubActions/utils.ts
Due: docker exec -t api-client yarn cli format java generators

first all test green (not all assert)
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  templates/csharp/ClientUtils.mustache
  templates/csharp/libraries/httpclient/RequestOptions.mustache
  templates/csharp/libraries/httpclient/api.mustache
Due: docker exec -t api-client yarn cli format java generators

chore(scripts): remove openapitools.json (#2481)
  .github/.cache_version
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  renovate.json
  scripts/ci/githubActions/setRunVariables.ts
  scripts/ci/githubActions/utils.ts
  scripts/common.ts
  scripts/install.sh
  scripts/pre-gen/generateOpenapitools.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/updateAPIVersions.ts
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/release-process.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore(clients): add more e2e
  tests/CTS/requests/search/getSettings.json
  tests/CTS/requests/search/setSettings.json
  tests/output/javascript/src/helpers.ts
  tests/output/python/requirements.txt
  tests/output/python/tests/helpers.py
Due: yarn fix:json

add body assert
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/generic_type.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/tests/requests/requests.mustache
Due: none

fix: ruby
  scripts/cts/runCts.ts
  tests/output/ruby/test/helpers.rb
Due: none

feat: e2e browse
  tests/CTS/requests/search/browse.json
Due: yarn fix:json

chore: prepare release 2024-01-09
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-01-09 (#2498)
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json
