Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(specs): add searchResponsePartial fallback to searchResult oneOf (#6350)
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  specs/search/common/schemas/SearchResponse.yml
  specs/search/common/schemas/SearchResult.yml
  templates/csharp/modelOneOf.mustache
  templates/swift/modelObject.mustache
Due: yarn eslint --ext=yml --fix

feat(swift): add TransformationOptions for ingestion transporter
  clients/algoliasearch-client-swift/Sources/Search/Extra/IngestionChunkedPushExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformation.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/TransformationOptions.swift
  scripts/cts/runCts.ts
  specs/ingestion/helpers/chunkedPush.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/swift/Package.mustache
  templates/swift/tests/client/client.mustache
  templates/swift/tests/client/createClient.mustache
  tests/output/swift/Tests/manual/TransformationOptionsTests.swift
Due: yarn eslint --ext=yml --fix

chore(deps): update dependency knip to v6.14.1
  scripts/package.json
  yarn.lock
Due: yarn fix:json

feat(swift): add TransformationOptions and WithTransformation helpers
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/TransformationOptions.swift
  scripts/cts/runCts.ts
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/swift/Package.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/tests/client/createClient.mustache
Due: yarn eslint --ext=yml --fix

chore(deps): update dependency lint-staged to v17.0.5
  package.json
  yarn.lock
Due: yarn fix:json

fix(swift): add missing isSearchClient opening tag around withTransformation
  templates/swift/api.mustache
Due: none

fix(swift): make _ingestionClient internal and fix PushTaskRecords construction
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  templates/swift/api.mustache
Due: none

fix(swift): remove withTransformation factory until snippet tests are added
  templates/swift/api.mustache
Due: none

chore(deps): batch dependency updates (#6465)
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/python/poetry.lock
  docs/guides/ruby/Gemfile.lock
  docs/snippets/python/poetry.lock
  package.json
  playground/python/poetry.lock
  scripts/package.json
  templates/javascript/clients/package.mustache
  yarn.lock
Due: yarn fix:json

chore(deps): batch dependency updates (#6465) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/guides/python/poetry.lock
  docs/snippets/python/poetry.lock
Due: yarn fix:json

Update clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
Due: none

fix(ruby): use ChunkedHelperOptions.resolve at chunked call sites
  templates/ruby/ingestion_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

fix(scala): drop Option wrapper from chunkedOptions
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

fix(ruby): forward resolved opts in replace_all_* helpers; drop algolia.rb generator banner
  clients/algoliasearch-client-ruby/lib/algolia.rb
  templates/ruby/search_helpers.mustache
Due: none

feat(specs): add forgeSecuredUserToken helper templates and manual tests
  clients/algoliasearch-client-javascript/packages/agent-studio/__tests__/agentStudio.node.test.ts
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestForgeSecuredUserToken.kt
  config/generation.config.mjs
  templates/csharp/agent_studio_helpers.mustache
  templates/csharp/api.mustache
  templates/go/agent_studio_helpers.mustache
  templates/go/api.mustache
  templates/java/agent_studio_helpers.mustache
  templates/java/api.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/agentStudioHelpers.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/node.mustache
  templates/kotlin/agent_studio_helpers.mustache
  templates/kotlin/api.mustache
  templates/php/agent_studio_helpers.mustache
  templates/php/api.mustache
  templates/python/agent_studio_helpers.mustache
  templates/python/api.mustache
  templates/ruby/agent_studio_helpers.mustache
  templates/ruby/api.mustache
  templates/scala/agent_studio_helpers.mustache
  templates/scala/api.mustache
  templates/swift/agent_studio_helpers.mustache
  templates/swift/api.mustache
  tests/output/csharp/src/ForgeSecuredUserTokenTests.cs
  tests/output/go/tests/manual/forge_secured_user_token_test.go
  tests/output/java/src/test/java/com/algolia/manual/ForgeSecuredUserTokenTest.java
  tests/output/php/src/manual/ForgeSecuredUserTokenTest.php
  tests/output/python/tests/manual/test_forge_secured_user_token.py
  tests/output/ruby/test/manual/test_forge_secured_user_token.rb
  tests/output/scala/src/test/scala/algoliasearch/manual/ForgeSecuredUserTokenTest.scala
  tests/output/swift/Tests/manual/ForgeSecuredUserTokenTests.swift
Due: none

fix(kotlin): remove redundant import
  templates/kotlin/api.mustache
Due: none

feat(ruby): expose maximum number of retries (#6461)
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  config/generation.config.mjs
  templates/ruby/ingestion_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

fix(dart): add Dart agent-studio support and fix CTS compatibility
  clients/algoliasearch-client-dart/packages/client_agent_studio/lib/src/extension.dart
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/api.mustache
  templates/dart/pubspec.tests.mustache
  templates/dart/pubspec_overrides.tests.mustache
  templates/dart/tests/param_value.mustache
  tests/output/dart/lib/src/expect.dart
  tests/output/dart/lib/src/nullable.dart
Due: yarn cli format java generators, yarn fix:json

feat(ruby): expose maximum number of retries (#6461) (generated) [skip ci]
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
Due: none

fix(dart): use null instead of empty() in snippets context
  templates/dart/tests/param_value.mustache
Due: none

fix(swift): use AlgoliaAgentStudio module name in forge test
  tests/output/swift/Tests/manual/ForgeSecuredUserTokenTests.swift
Due: none

fix(kotlin): use multiplatform APIs in forgeSecuredUserToken template
  templates/kotlin/agent_studio_helpers.mustache
Due: none

fix(kotlin): use ktor base64 instead of experimental kotlin.io.encoding
  templates/kotlin/agent_studio_helpers.mustache
Due: none

fix(kotlin,swift): use platform-compatible crypto APIs
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestForgeSecuredUserToken.kt
  templates/kotlin/agent_studio_helpers.mustache
  templates/swift/agent_studio_helpers.mustache
  templates/swift/api.mustache
  tests/output/swift/Tests/manual/ForgeSecuredUserTokenTests.swift
Due: none

feat(scala): expose maximum number of retries (#6459)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ChunkedHelperOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/RetryUntil.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

fix(kotlin): replace String.format with multiplatform hex conversion in test
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestForgeSecuredUserToken.kt
Due: none

feat(kotlin): add TransformationOptions for ingestion transporter (#6462)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/TransformationOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/IngestionClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  scripts/cts/runCts.ts
  specs/ingestion/helpers/chunkedPush.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/kotlin/api.mustache
  templates/kotlin/tests/client/createClient.mustache
Due: yarn eslint --ext=yml --fix

fix(swift): validate region in makeIngestionClient and add setTransformationOptions
  templates/swift/api.mustache
Due: none

feat(kotlin): add TransformationOptions for ingestion transporter (#6462) (generated) [skip ci]
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/TransformationOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/IngestionClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  docs/bundled/ingestion.json
  docs/bundled/search-snippets.json
  docs/bundled/search.json
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  specs/bundled/ingestion.yml
  specs/bundled/search.yml
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/benchmark/SearchTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/AbtestingTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/AbtestingV3Test.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/AnalyticsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/CompositionTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/IngestionTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/MonitoringTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/PersonalizationTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/QuerySuggestionsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/RecommendTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(swift): remove stale withTransformation references and dead setTransformationOptions
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  templates/swift/api.mustache
Due: none

fix(swift): clean up remaining stale method references in docs
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
Due: none

feat(swift): configurable retries on chunked helpers via ChunkedHelperOptions
  clients/algoliasearch-client-swift/Sources/Search/Extra/ChunkedHelperOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat(kotlin): configurable retries on chunked helpers via ChunkedHelperOptions
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ChunkedHelperOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/IngestionClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Retry.kt
Due: none

feat(javascript): wire agentStudioHelpers flag for JS agent-studio client generation
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: yarn cli format java generators

fix(javascript): add AgentStudioNodeHelpers type for forgeSecuredUserToken
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/node.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: none

fix(dart): move transformationOptions out of ClientOptions into SearchClient constructor
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  templates/dart/api.mustache
  templates/dart/tests/client/createClient.mustache
Due: none

fix(dart): fix extra closing paren in createClient.mustache transformation block
  templates/dart/tests/client/createClient.mustache
Due: none

fix(dart): revert Duration? to non-nullable to avoid breaking changes
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  templates/dart/api.mustache
Due: none

fix(kotlin): thread ChunkedHelperOption through withTransformation* methods
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/IngestionClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
