Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

feat(kotlin): generate builders for every Search object model
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/rule/RuleDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/synonym/SynonymDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/RuleSynonymDslTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/GeneratedBuilderCoverageTest.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl.mustache
Due: yarn cli format java generators

chore(ci): follow the go 1.27.1 and php 8.5.10 config bumps and the dotnet sdk re-push (API-480)
  scripts/docker/Dockerfile.base
Due: none

chore(ci): drop the melos, poetry and sbt runner pins, they are outside the ticket scope (API-480)
  .github/actions/setup/action.yml
  renovate.json
Due: yarn github-actions:lint --fix, yarn fix:json

chore(ci): drop the yarn, sbt, melos, poetry, pip and pipx pins from the base image, they are outside the ticket scope (API-480)
  scripts/docker/Dockerfile.base
  scripts/docker/check-version-drift.sh
Due: none

fix(kotlin): split Search DSL builders to avoid Native OOM
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/GeneratedBuilderCoverageTest.kt
  clients/algoliasearch-client-kotlin/gradle.properties
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl.mustache
  templates/kotlin/gradle.properties.mustache
  website/docs/custom-helpers.md
Due: yarn cli format java generators

chore(ci): drop the unused download options and reject checksum lines with extra fields (API-480)
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/__tests__/checksums.test.ts
  scripts/ci/actions/restore-artifacts/src/checksums.ts
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: none

chore(ci): verify the sha256 of the sdkman archives the vendored installer downloads (API-480)
  renovate.json
  scripts/docker/Dockerfile.base
  scripts/docker/check-version-drift.sh
  scripts/docker/sdkman-install.sh
  scripts/docker/update-pins.sh
Due: yarn fix:json

fix(csharp): cap Retry-After at the longest delay Task.Delay accepts
  clients/algoliasearch-client-csharp/algoliasearch/Transport/RetryAfter.cs
  tests/output/csharp/src/RateLimitRetryTests.cs
Due: none

docs(csharp): describe the Retry-After wait on MaxRateLimitRetries
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
Due: none

fix(go): clamp Retry-After to the largest time.Duration
  clients/algoliasearch-client-go/algolia/transport/rate_limit.go
  clients/algoliasearch-client-go/algolia/transport/rate_limit_test.go
  website/docs/add-a-new-language.md
Due: none

fix(swift): clamp the Retry-After wait to Int64.max nanoseconds
  clients/algoliasearch-client-swift/Sources/Core/Networking/RateLimitRetry.swift
  tests/output/swift/Tests/client/IngestionTests.swift
  tests/output/swift/Tests/client/SearchTests.swift
  tests/output/swift/Tests/manual/RateLimitRetryTests.swift
  website/docs/add-a-new-language.md
Due: none

feat(specs): add A/B test settings endpoints to abtesting-v3
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTestSettings.yml
  specs/abtesting-v3/paths/applyVariantSettings.yml
  specs/abtesting-v3/paths/settings.yml
  specs/abtesting-v3/paths/variantSettings.yml
  specs/abtesting-v3/spec.yml
  tests/CTS/requests/abtesting-v3/applyVariantSettings.json
  tests/CTS/requests/abtesting-v3/getABTestSettings.json
  tests/CTS/requests/abtesting-v3/saveVariantSettings.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add abtesting hypothesis
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/paths/abtests.yml
Due: yarn eslint --ext=yml --fix

fix(specs): require abtesting hypothesis response
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(specs): extend ABTest data model with Bayesian fields
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add Bayesian evidence status
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): update description for saveFeaturesSettings
  specs/abtesting-v3/common/schemas/ABTestSettings.yml
Due: yarn eslint --ext=yml --fix

docs(specs): update analytics catalog entitlement example
  specs/analytics/common/schemas/patterns.yml
Due: yarn eslint --ext=yml --fix

fix(swift): make the CocoaPods release step idempotent (#7026)
  clients/algoliasearch-client-swift/.github/workflows/release.yml
Due: none

refactor(kotlin): generate DSL filter helpers as builder members
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/BrowseDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DeleteByDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/QueryDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/rule/RuleDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/synonym/SynonymDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DslSerializationTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/RuleSynonymDslTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/GeneratedBuilderCoverageTest.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl.mustache
  templates/kotlin/dsl_filter_helper.mustache
  website/docs/custom-helpers.md
Due: yarn cli format java generators

fix(specs): extract completion oneOf and resolve ToolConfig $defs refs
  specs/agent-studio/common/schemas/AgentCompletionRequestUnion.yml
  specs/agent-studio/common/schemas/ToolConfig.yml
  specs/agent-studio/common/schemas/ToolConfigOutput.yml
  specs/agent-studio/paths/agents/agentCompletions.yml
Due: yarn eslint --ext=yml --fix

fix(specs): keep createAgentCompletion body param name
  specs/agent-studio/paths/agents/agentCompletions.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add CTS requests for new agent-studio operations
  tests/CTS/requests/agent-studio/compactContext.json
  tests/CTS/requests/agent-studio/createAgentTask.json
  tests/CTS/requests/agent-studio/trimContext.json
  tests/CTS/requests/agent-studio/updateFeedback.json
Due: yarn fix:json

fix(specs): unblock agent-studio client CI after the spec sync
  clients/algoliasearch-client-javascript/package.json
  playground/go/agent-studio.go
  specs/agent-studio/common/schemas/OneOfEnum.yml
  specs/agent-studio/common/schemas/TaskRequest.yml
  tests/CTS/requests/agent-studio/listAgentConversations.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): keep listAgentConversations all-params as a unit test
  tests/CTS/requests/agent-studio/listAgentConversations.json
Due: yarn fix:json

fix(specs): unblock remaining agent-studio client CTS failures
  specs/agent-studio/common/schemas/AllowedTool.yml
  specs/agent-studio/common/schemas/AllowedToolsUnion.yml
  specs/agent-studio/common/schemas/DataPartV5.yml
  tests/CTS/requests/agent-studio/createAgent.json
  tests/CTS/requests/agent-studio/createAgentCompletion.json
  tests/CTS/requests/agent-studio/updateAgent.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): define missing agent-studio Context and Tasks tags
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix(specs): make DataPartV5 generate valid Kotlin
  specs/agent-studio/common/schemas/DataPartV5.yml
Due: yarn eslint --ext=yml --fix

Clarify addItemKey description in InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItem.yml
Due: yarn eslint --ext=yml --fix

fix(specs): clarify when _extra and _injectedItemKey are present on hits
  specs/composition/common/schemas/responses/runResponseComponents/Hit.yml
Due: yarn eslint --ext=yml --fix

refactor(kotlin): fold the legacy filter wrappers into one helper
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterLegacyConverter.kt
Due: none

refactor(kotlin): share one string-list base across the settings DSL
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/SettingsDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DslSerializationTest.kt
Due: none

fix(php): wait on 429 in whole seconds so a large Retry-After is not truncated
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  tests/output/php/src/manual/RateLimitRetryTest.php
Due: none

fix(php): saturate the 429 wait at the sleep() limit
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  templates/php/tests/client/createClient.mustache
  tests/output/php/src/manual/RateLimitRetryTest.php
  website/docs/add-a-new-language.md
Due: none

feat(php): wait and retry on 429 with Retry-After (#6975)
  clients/algoliasearch-client-php/lib/Configuration/Configuration.php
  clients/algoliasearch-client-php/lib/Configuration/TransformationOptions.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  scripts/cts/testServer/rateLimit.ts
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/php/src/manual/RateLimitRetryTest.php
  website/docs/add-a-new-language.md
Due: yarn fix:json

chore(ci): group each language image tag with its config version file in renovate (API-480)
  renovate.json
  scripts/docker/check-version-drift.sh
Due: yarn fix:json

chore(ci): verify every client zip codegen restores and fail on a checksum that is never consumed (API-480)
  .github/workflows/check.yml
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/__tests__/checksums.test.ts
  scripts/ci/actions/restore-artifacts/src/checksums.ts
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: yarn github-actions:lint --fix

fix(cts): restore the escaped quotes in the C# 429 expected error strings
  tests/CTS/client/search/api.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
