Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

fix: no breaking changes for dart
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/dart/api.mustache
Due: docker exec -t api-client yarn cli format java generators

fix: cts
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/common/commonApi.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/recommend/api.json
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix: cts for real
  tests/CTS/client/insights/parameters.json
Due: yarn fix:json

fix: js template
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: none

chore: bump cache
  .github/.cache_version
Due: none

adapt Call type
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/libraries/httpclient/RequestOptions.mustache
  templates/csharp/libraries/httpclient/api.mustache
Due: none

fix: algoliasearch tests
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
Due: none

remove JsonSubtype deps
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  templates/csharp/netcore_project.mustache
  templates/csharp/nuspec.mustache
Due: none

chore: cache again??
  .github/.cache_version
Due: none

remove BatchSize
  clients/algoliasearch-client-csharp/algoliasearch/Client/AlgoliaConfig.cs
Due: none

docs: update path for Java package (#2340)
  website/docs/clients/installation.mdx
Due: none

remove useless code
  templates/csharp/ClientUtils.mustache
  templates/csharp/libraries/httpclient/api.mustache
Due: none

timeout and Cleaning
  clients/algoliasearch-client-csharp/algoliasearch/Client/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Client/Defaults.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/IHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  config/generation.config.mjs
  templates/csharp/HttpMethod.mustache
  templates/csharp/libraries/httpclient/RequestOptions.mustache
Due: none

fix: gen dart
  templates/dart/api.mustache
Due: none

chore: wtf
  .github/.cache_version
Due: none

chore: loose cache key
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/setRunVariables.ts
Due: none

chore: loose cache key (#2371)
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/setRunVariables.ts
Due: none

chore: generated code for commit 4b82a06f8ede2c7df6f098865de854204b5505c0. [skip ci]
  clients/algoliasearch-client-python/poetry.lock
Due: none

fix: generate algoliasearch
  scripts/buildSpecs.ts
Due: none

review
  clients/algoliasearch-client-csharp/algoliasearch/Client/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Client/ClientUtils.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/ClientUtils.mustache
  templates/csharp/libraries/httpclient/RequestOptions.mustache
Due: docker exec -t api-client yarn cli format java generators

fix(python): path encoding and request options (#2367)
  clients/algoliasearch-client-python/algoliasearch/http/hosts.py
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/retry.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/verb.py
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  playground/python/app/abtesting.py
  playground/python/app/analytics.py
  playground/python/app/ingestion.py
  playground/python/app/insights.py
  playground/python/app/personalization.py
  playground/python/app/query_suggestions.py
  playground/python/app/recommend.py
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/pyproject.toml
  playground/python/requirements.txt
  renovate.json
  templates/python/api.mustache
  templates/python/imports.mustache
  templates/python/model_anyof.mustache
  templates/python/model_description.mustache
  templates/python/model_enum.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

review
  clients/algoliasearch-client-csharp/algoliasearch/Client/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
Due: none

fix(specs): provide non clashing names for custom methods (#2369)
  .github/.cache_version
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.test.ts
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/buildSpecs.ts
  specs/common/paths/customRequest.yml
  templates/dart/api.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/common/commonApi.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/recommend/api.json
  tests/CTS/client/search/api.json
  tests/CTS/methods/requests/common/customDelete.json
  tests/CTS/methods/requests/common/customGet.json
  tests/CTS/methods/requests/common/customPost.json
  tests/CTS/methods/requests/common/customPut.json
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

feat(python): add release process
  clients/algoliasearch-client-python/.github/workflows/release.yml
Due: none

chore: add build step
  clients/algoliasearch-client-python/.github/workflows/release.yml
Due: none

docs: return code for objects endpoint
  specs/search/paths/objects/objects.yml
Due: none

docs: return code for objects endpoint (#2374)
  specs/search/paths/objects/objects.yml
Due: none

chore: generated code for commit b406390f07ffabf187357a9929114bab1d11f318. [skip ci]
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: none

fix(python): common response deserializer
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  templates/python/api.mustache
Due: none

fix: remove unused types
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
Due: none

fix: undefined use_read_transporter
  templates/python/api.mustache
Due: none

fix(python): common response deserializer (#2375)
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  templates/python/api.mustache
Due: none

chore: generated code for commit 6c4dcb21c4aeff7a921a6439773f75c19603ecd3. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
Due: none

fix: generation
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/python/imports.mustache
  templates/python/tests/requests/generateParams.mustache
  templates/python/tests/requests/requests.mustache
  tests/output/python/poetry.lock
  tests/output/python/pyproject.toml
  website/docs/contributing/testing/common-test-suite.md
Due: docker exec -t api-client yarn cli format java generators

feat(python): add CTS
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/cts/generate.ts
  templates/python/tests/__init__.mustache
  templates/python/tests/requests/requests.mustache
  tests/output/python/README.md
  tests/output/python/poetry.lock
  tests/output/python/pyproject.toml
  tests/output/python/requirements.txt
  tests/output/python/tests/__init__.py
Due: docker exec -t api-client yarn cli format java generators

fix: output path
  config/clients.config.json
  templates/python/tests/requests/requests.mustache
Due: yarn fix:json

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
