Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix: comment wrong methods
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

format cts
  tests/CTS/requests/composition/multipleBatch.json
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/putCompositionRule.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/search.json
Due: yarn fix:json

tmp
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  specs/composition/spec.yml
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

remove problematic generation
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  tests/CTS/requests/composition/multipleBatch.json
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/putCompositionRule.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/search.json
Due: yarn cli format java generators, yarn fix:json

some fixes
  .github/workflows/check.yml
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  tests/CTS/requests/composition/multipleBatch.json
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

fix ruby
  docker-compose.yml
  generators/src/main/java/com/algolia/codegen/cts/lambda/RubyIdentifierLambda.java
  scripts/buildLanguages.ts
  tests/CTS/requests/composition/multipleBatch.json
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/putCompositionRule.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/search.json
Due: yarn cli format java generators, yarn fix:json

getting closer
  generators/src/main/java/com/algolia/codegen/cts/lambda/CSharpIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/snippets/method.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/swift/client_configuration.mustache
Due: yarn cli format java generators

fix dart
  clients/algoliasearch-client-php/lib/FormDataProcessor.php
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  templates/dart/tests/request_param.mustache
  tests/CTS/requests/composition/multipleBatch.json
Due: yarn cli format java generators, yarn fix:json

chore(deps): update dependency jsdom to v27
  templates/javascript/clients/package.mustache
Due: none

chore(deps): typo
  .github/actions/setup/action.yml
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
Due: yarn github-actions:lint --fix

feat(perdict): depricate real-time endpoints
  specs/advanced-personalization/paths/computeRealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
Due: yarn eslint --ext=yml --fix

chore(scripts): add an option to attach a java debugger
  docker-compose.yml
  scripts/buildLanguages.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/cts/generate.ts
  scripts/docker/Dockerfile.base
  scripts/docs/generate.ts
  scripts/generate.ts
Due: none

remove dubug log
  scripts/cli/index.ts
Due: none

doc
  website/docs/CLI/cts-commands.md
Due: none

link to the doc
  scripts/common.ts
  website/docs/CLI/generate-commands.md
Due: none

chore(scripts): add an option to attach a java debugger (#5365)
  docker-compose.yml
  scripts/buildLanguages.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/cts/generate.ts
  scripts/docker/Dockerfile.base
  scripts/docs/generate.ts
  scripts/generate.ts
  website/docs/CLI/cts-commands.md
  website/docs/CLI/generate-commands.md
Due: none

feat(specs): deprecate Predict real-time endpoints (#5364)
  specs/advanced-personalization/paths/computeRealtimeUser.yml
  specs/advanced-personalization/paths/getRealtimeUser.yml
Due: yarn eslint --ext=yml --fix

feat(specs): deprecate Predict real-time endpoints (#5364) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/advanced-personalization/src/advancedPersonalizationClient.ts
  docs/bundled/advanced-personalization.json
  docs/bundled/advanced-personalization.yml
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  specs/bundled/advanced-personalization.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

skip kotlin
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/Request.java
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/common.ts
  scripts/docker/Dockerfile.base
  tests/CTS/requests/composition/multipleBatch.json
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/putCompositionRule.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/search.json
Due: yarn cli format java generators, yarn fix:json

chore(deps): update actions/github-script action to v8
  templates/issue.yml
Due: none

chore(deps): update dotnet monorepo
  config/.csharp-version
  playground/csharp/Playground/Playground.csproj
  templates/csharp/snippets/src.csproj.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

chore(deps): update bc message
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(deps): update dependency csharpier to v1.1.2
  templates/csharp/snippets/dotnet-tools.mustache
Due: none

rename for swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

review
  clients/algoliasearch-client-php/lib/FormDataProcessor.php
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

cleanup tags
  specs/composition/common/params/Composition.yml
  specs/composition/paths/rules/rule.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

redoc file
  .redocly.yaml
Due: none

chore(deps): dependencies 2025-09-15 (#5341)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/.csharp-version
  config/.dart-version
  package.json
  playground/csharp/Playground/Playground.csproj
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  scripts/package.json
  templates/csharp/snippets/dotnet-tools.mustache
  templates/csharp/snippets/src.csproj.mustache
  templates/issue.yml
  templates/javascript/clients/package.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/scala/build.sbt
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2025-09-15 (#5341) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/workflows/issue.yml
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-dart/.github/workflows/issue.yml
  clients/algoliasearch-client-go/.github/workflows/issue.yml
  clients/algoliasearch-client-java/.github/workflows/issue.yml
  clients/algoliasearch-client-javascript/.github/workflows/issue.yml
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/.github/workflows/issue.yml
  clients/algoliasearch-client-php/.github/workflows/issue.yml
  clients/algoliasearch-client-python/.github/workflows/issue.yml
  clients/algoliasearch-client-ruby/.github/workflows/issue.yml
  clients/algoliasearch-client-scala/.github/workflows/issue.yml
  clients/algoliasearch-client-swift/.github/workflows/issue.yml
  docs/guides/csharp/.config/dotnet-tools.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/.config/dotnet-tools.json
  docs/snippets/csharp/src/src.csproj
  tests/output/csharp/global.json
Due: yarn fix:json

fix(clients): initialize page variable in Ruby helpers
  templates/ruby/search_helpers.mustache
Due: none

fix(snippets): remove snippets for non-existing helpers
  scripts/buildLanguages.ts
  specs/search/helpers/deleteObjects.yml
  specs/search/helpers/generateSecuredApiKey.yml
  specs/search/helpers/indexExists.yml
  specs/search/helpers/partialUpdateObjects.yml
  specs/search/helpers/replaceAllObjects.yml
  specs/search/helpers/saveObjects.yml
  specs/search/helpers/waitForApiKey.yml
  specs/search/helpers/waitForAppTask.yml
  specs/search/helpers/waitForTask.yml
  templates/dart/snippets/method.mustache
Due: yarn eslint --ext=yml --fix

snippets: remove snippets for non-existing helpers (#5368)
  scripts/buildLanguages.ts
  specs/search/helpers/deleteObjects.yml
  specs/search/helpers/generateSecuredApiKey.yml
  specs/search/helpers/indexExists.yml
  specs/search/helpers/partialUpdateObjects.yml
  specs/search/helpers/replaceAllObjects.yml
  specs/search/helpers/saveObjects.yml
  specs/search/helpers/waitForApiKey.yml
  specs/search/helpers/waitForAppTask.yml
  specs/search/helpers/waitForTask.yml
  templates/dart/snippets/method.mustache
Due: yarn eslint --ext=yml --fix

snippets: remove snippets for non-existing helpers (#5368) (generated) [skip ci]
  docs/bundled/search-snippets.json
  docs/bundled/search.json
  docs/snippets/dart/lib/abtesting-v3.dart
  docs/snippets/dart/lib/algoliasearch.dart
  docs/snippets/dart/lib/composition.dart
  docs/snippets/dart/lib/insights.dart
  docs/snippets/dart/lib/recommend.dart
  docs/snippets/dart/lib/search.dart
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): update dependency jsdom to v27 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore(deps): update dependency lint-staged to v16.2.0
  package.json
Due: yarn fix:json
