Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

condition
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

log
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

how hard is it to get a working path
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore(swift): use another formatter
  config/.dart-version
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  scripts/formatter.ts
  tests/output/csharp/.config/dotnet-tools.json
Due: yarn fix:json

install on the CI
  .github/actions/setup/action.yml
  .gitignore
Due: yarn github-actions:lint --fix

correct path
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

csharpier snippets
  snippets/csharp/.config/dotnet-tools.json
Due: yarn fix:json

chore: remove generated file
  tests/output/swift/Package.swift
Due: none

feat(qs-api): add acls to API endpoints
  specs/query-suggestions/paths/getConfigurationStatus.yml
  specs/query-suggestions/paths/getLogFile.yml
  specs/query-suggestions/paths/qsConfig.yml
  specs/query-suggestions/paths/qsConfigs.yml
Due: yarn eslint --ext=yml --fix

fix(swift): review minus additionalProps
  clients/algoliasearch-client-swift/Sources/Core/Common/ErrorMessage.swift
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/tests/generateRequestOptionsParams.mustache
  templates/swift/tests/paramKey.mustache
  templates/swift/tests/requestOptionsParamKey.mustache
  templates/swift/tests/requests/requests.mustache
Due: yarn cli format java generators

feat(specs): add acls to API endpoints (#2604)
  specs/query-suggestions/paths/getConfigurationStatus.yml
  specs/query-suggestions/paths/getLogFile.yml
  specs/query-suggestions/paths/qsConfig.yml
  specs/query-suggestions/paths/qsConfigs.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit e569a3e23560ac5669cd9869057cdef33768b4ad. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  specs/bundled/query-suggestions.doc.yml
  specs/bundled/query-suggestions.json
  specs/bundled/query-suggestions.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(swift): better additionalProps handling
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/modelObject.mustache
  templates/swift/tests/paramValue.mustache
Due: yarn cli format java generators

fix(swift): clean additional prop value a little
  templates/swift/tests/paramValue.mustache
Due: none

DX
  clients/algoliasearch-client-csharp/algoliasearch/Http/AbstractSchema.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/DefaultSerializer.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/JsonConfig.cs
  playground/csharp/Playground/Playgrounds/ABTesting.cs
  playground/csharp/Playground/Playgrounds/Analytics.cs
  playground/csharp/Playground/Playgrounds/Ingestion.cs
  playground/csharp/Playground/Playgrounds/Insights.cs
  playground/csharp/Playground/Playgrounds/Monitoring.cs
  playground/csharp/Playground/Playgrounds/Personalization.cs
  playground/csharp/Playground/Playgrounds/QuerySuggestions.cs
  playground/csharp/Playground/Playgrounds/Recommend.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  playground/csharp/Playground/Program.cs
  templates/csharp/modelOneOf.mustache
Due: none

fix(swift): better handling of additional props on java side
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/tests/paramValue.mustache
Due: yarn cli format java generators

feat(swift): cts requests generation (#2601)
  clients/algoliasearch-client-swift/Sources/Core/Common/ErrorMessage.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/APIHelper.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/CharacterSet.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Models.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPMethod.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/URLSessionRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionLinux.swift
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/SwiftIdentifierLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  scripts/ci/githubActions/createMatrix.ts
  scripts/cts/generate.ts
  scripts/formatter.ts
  templates/swift/_param.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/modelObject.mustache
  templates/swift/tests/Package.mustache
  templates/swift/tests/generateParams.mustache
  templates/swift/tests/paramKey.mustache
  templates/swift/tests/paramValue.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/.gitignore
Due: yarn cli format java generators, yarn fix:json

feat(qs): update unauthorized response example
  specs/query-suggestions/common/responses/Unauthorized.yml
Due: yarn eslint --ext=yml --fix

Remove templates
  clients/algoliasearch-client-csharp/README.md
  config/.csharp-version
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/AssemblyInfo.mustache
  templates/csharp/ClientUtils.mustache
  templates/csharp/Multimap.mustache
  templates/csharp/NullConditionalParameter.mustache
  templates/csharp/NullConditionalProperty.mustache
  templates/csharp/ValidateRegex.mustache
  templates/csharp/gitignore.mustache
  templates/csharp/libraries/httpclient/api.mustache
  templates/csharp/libraries/httpclient/model.mustache
  templates/csharp/modelAnyOf.mustache
  templates/csharp/partial_header.mustache
  templates/csharp/validatable.mustache
Due: yarn cli format java generators

feat(specs): update query suggestions unauthorized response example (#2606)
  specs/query-suggestions/common/responses/Unauthorized.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit 872ab29bfce1289654b283469cf133b1b7cdc3df. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  specs/bundled/query-suggestions.doc.yml
  specs/bundled/query-suggestions.json
  specs/bundled/query-suggestions.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: format swift with new formatter
  clients/algoliasearch-client-swift/Sources/Core/Common/CallType.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Credentials.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/DecodingErrorPrettyPrinter.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/ErrorMessage.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Logging.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Region.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/StringOption.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/APIHelper.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Builder.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/CharacterSet.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/CodableHelper.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Models.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/OpenISO8601DateFormatter.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/SynchronizedDictionary.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/TimeInterval.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Configuration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPMethod.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPStatusCode.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/RequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/URLSessionRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/HostIterator.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/RetryStrategy.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/RetryableHost.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionLinux.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/UserAgent/UserAgent.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/UserAgent/UserAgentController.swift
Due: none

Remove templates
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/api.mustache
  templates/csharp/model.mustache
  templates/csharp/nuspec.mustache
Due: yarn cli format java generators

chore(ci): disable yarn hardened mode
  .github/actions/setup/action.yml
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

more cache
  .github/actions/setup/action.yml
  tests/output/java/gradle/wrapper/gradle-wrapper.jar
  tests/output/java/gradle/wrapper/gradle-wrapper.properties
Due: yarn github-actions:lint --fix

chore(ci): disable yarn hardened mode (#2607)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  tests/output/java/gradle/wrapper/gradle-wrapper.jar
  tests/output/java/gradle/wrapper/gradle-wrapper.properties
Due: yarn github-actions:lint --fix

add unit test
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Helpers.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/csharp/src/tests/Helpers.cs
Due: none

fix merge
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ApiKeyEquals.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ApiKeyOperation.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Helpers.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/ModelConverters.cs
  playground/csharp/Playground/Playgrounds/Search.cs
  tests/output/csharp/src/tests/Helpers.cs
Due: none

feat(cts): add e2e for go
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/requester.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  specs/query-suggestions/common/responses/Unauthorized.yml
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/model_anyof.mustache
  templates/go/model_enum.mustache
  templates/go/model_oneof.mustache
  templates/go/model_simple.mustache
  templates/go/nullable_model.mustache
  templates/go/tests/client/step.mustache
  templates/go/tests/client/suite.mustache
  templates/go/tests/requests/requests.mustache
  tests/output/go/go.mod
  tests/output/go/tests/echo.go
  tests/output/go/tests/requests/common.go
Due: yarn eslint --ext=yml --fix
