Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(clients): use DefaultMaxIdleTimeout (#5447)
  clients/algoliasearch-client-go/algolia/transport/requester.go
Due: none

chore(scripts): dont use verbose when releasing from the CI
  .github/workflows/scheduled-release.yml
  scripts/release/updateAPIVersions.ts
Due: yarn github-actions:lint --fix

chore(scripts): dont use verbose when releasing from the CI (#5448)
  .github/workflows/scheduled-release.yml
  scripts/release/updateAPIVersions.ts
Due: yarn github-actions:lint --fix

chore: prepare release 2025-10-08
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-10-08 (#5449)
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(scripts): only checkout tag on release
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

specific
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

feat(csharp): add transformation helpers for object indexing with a transformation
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/api.mustache
Due: none

fix(scripts): only checkout tag on release (#5451)
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

feat(csharp): add optional logger factory parameter to SetTransformationRegion method
  templates/csharp/api.mustache
Due: none

feat(csharp): add C# support to transformation YAML files
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
Due: yarn eslint --ext=yml --fix

fix(tests): add transformation region support in client creation
  templates/csharp/tests/client/createClient.mustache
Due: none

fix(deps): update docusaurus monorepo to v3.9.1 (#5466) (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore(deps): update dependency semver to v7.7.3 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore(deps): update dependency oxlint to v1.22.0 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore(scripts): wait for scala on the tag
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

align version
  playground/go/go.mod
  templates/do-not-edit-this-repository.yml
  tests/output/go/go.mod
Due: none

chore(scripts): wait for scala on the tag (#5471)
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

chore(scripts): wait for scala on the tag (#5471) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): dependencies 2025-10-13 (#5453)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-python/.github/workflows/release.yml
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
  clients/algoliasearch-client-swift/.github/workflows/release.yml
  config/.ruby-version
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/go/go.mod
  playground/go/go.sum
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  playground/python/requirements.txt
  scripts/package.json
  templates/do-not-edit-this-repository.yml
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/go/go.mod
  tests/output/kotlin/gradle/libs.versions.toml
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2025-10-13 (#5453) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-dart/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-go/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-java/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-javascript/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-php/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-python/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-ruby/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-scala/.github/workflows/do-not-edit-this-repository.yml
  clients/algoliasearch-client-swift/.github/workflows/do-not-edit-this-repository.yml
  tests/output/javascript/package.json
Due: yarn fix:json

chore: remove dead links
  README.md
  clients/algoliasearch-client-java/README.md
  specs/abtesting-v3/spec.yml
  specs/abtesting/spec.yml
  specs/advanced-personalization/spec.yml
  specs/analytics/spec.yml
  specs/common/schemas/SearchResponse.yml
  specs/composition/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition/spec.yml
  specs/crawler/paths/crawlerTest.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/common/schemas/SearchForFacetValuesResponse.yml
  specs/search/paths/advanced/getLogs.yml
  specs/search/paths/objects/deleteBy.yml
  specs/search/spec.yml
  templates/javascript/clients/README.mustache
  templates/kotlin/README.mustache
Due: yarn eslint --ext=yml --fix

other one
  clients/algoliasearch-client-scala/README.md
Due: none

fix(clients): forward requestOptions to searchForHits
  clients/algoliasearch-client-javascript/README.md
  templates/java/api_helpers.mustache
Due: none

fix(clients): forward requestOptions to searchForHits (#5473)
  clients/algoliasearch-client-javascript/README.md
  templates/java/api_helpers.mustache
Due: none

fix(clients): forward requestOptions to searchForHits (#5473) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/README.md
Due: none

chore: prepare release 2025-10-14
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

snippets
  templates/go/snippets/.golangci.mustache
  templates/go/snippets/import.mustache
Due: none

rollback
  .github/actions/setup/action.yml
  scripts/docker/Dockerfile.base
Due: yarn github-actions:lint --fix

final dead links
  README.md
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-php/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  specs/common/schemas/SearchParams.yml
  templates/kotlin/README.mustache
Due: yarn eslint --ext=yml --fix

local
  specs/common/schemas/SearchResponse.yml
  specs/composition/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/search/common/schemas/SearchForFacetValuesResponse.yml
  specs/search/paths/advanced/getLogs.yml
  specs/search/paths/manage_indices/operationIndex.yml
  specs/search/paths/objects/batch.yml
  specs/search/paths/objects/clearObjects.yml
  specs/search/paths/objects/deleteBy.yml
  specs/search/paths/objects/multipleBatch.yml
  specs/search/paths/objects/objects.yml
  specs/search/paths/objects/partialUpdate.yml
  specs/search/paths/rules/saveRules.yml
  specs/search/paths/synonyms/saveSynonyms.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

fix(clients): timeouts at client init are overridden by method timeouts
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/utils/Timeouts.java
  templates/csharp/tests/client/createClient.mustache
  templates/go/tests/client/createClient.mustache
  templates/java/api.mustache
  templates/java/tests/client/client.mustache
  templates/java/tests/client/createClient.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/kotlin/tests/client/createClient.mustache
  templates/php/tests/client/createClient.mustache
  templates/python/tests/client/createClient.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/scala/tests/client/createClient.mustache
  templates/swift/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
Due: yarn cli format java generators, yarn fix:json

chore: remove dead links (#5472)
  README.md
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-php/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  specs/abtesting-v3/spec.yml
  specs/abtesting/spec.yml
  specs/advanced-personalization/spec.yml
  specs/analytics/spec.yml
  specs/common/schemas/SearchParams.yml
  specs/common/schemas/SearchResponse.yml
  specs/composition/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition/spec.yml
  specs/crawler/paths/crawlerTest.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/common/schemas/SearchForFacetValuesResponse.yml
  specs/search/paths/advanced/getLogs.yml
  specs/search/paths/manage_indices/operationIndex.yml
  specs/search/paths/objects/batch.yml
  specs/search/paths/objects/clearObjects.yml
  specs/search/paths/objects/deleteBy.yml
  specs/search/paths/objects/multipleBatch.yml
  specs/search/paths/objects/objects.yml
  specs/search/paths/objects/partialUpdate.yml
  specs/search/paths/rules/saveRules.yml
  specs/search/paths/synonyms/saveSynonyms.yml
  specs/search/spec.yml
  templates/javascript/clients/README.mustache
  templates/kotlin/README.mustache
Due: yarn eslint --ext=yml --fix

feat(clients): flatten body parameters
  clients/algoliasearch-client-go/README.md
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  playground/go/analytics.go
  playground/go/ingestion.go
  playground/go/insights.go
  playground/go/personalization.go
  playground/go/query-suggestions.go
  playground/go/recommend.go
  playground/go/search.go
  specs/search/paths/search/browse.yml
  specs/search/paths/search/search.yml
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/model.mustache
  templates/go/operation_description.mustache
  templates/go/param_name.mustache
  templates/go/search_helpers.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/benchmark.mustache
  templates/go/tests/client/client.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/method.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
