Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

upgrade
  gradle/gradle/wrapper/gradle-wrapper.jar
  gradle/gradle/wrapper/gradle-wrapper.properties
  gradle/gradlew
Due: none

suggestion
  eslint/src/rules/noBigInt.ts
Due: none

chore(eslint): add linter to forbid bigInt [skip-bc] (#4094)
  .eslintrc.cjs
  eslint/src/index.ts
  eslint/src/rules/noBigInt.ts
  eslint/tests/noBigInt.test.ts
Due: none

chore(eslint): add linter to forbid bigInt [skip-bc] (#4094) (generated) [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

chore(deps): dependencies 2024-11-11 [skip-bc] (#4080)
  clients/algoliasearch-client-java/api/build.gradle
  clients/algoliasearch-client-java/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/wrapper/gradle-wrapper.properties
  config/.ruby-version
  gradle/gradle/wrapper/gradle-wrapper.jar
  gradle/gradle/wrapper/gradle-wrapper.properties
  gradle/gradlew
  package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/javascript/browser/yarn.lock
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2024-11-11 [skip-bc] (#4080) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
Due: yarn fix:json

fix(specs): make `action` optional for tasks
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

fix(specs): make `action` optional for tasks [skip-bc] (#4095)
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

fix(specs): make optional for tasks [skip-bc] (#4095) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/IngestionTask.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/TaskV1.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_task.go
  clients/algoliasearch-client-go/algolia/ingestion/model_task_v1.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/Task.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/TaskV1.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/task.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/taskV1.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/Task.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/TaskV1.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/Task.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/TaskV1.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/task.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/task_v1.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/task.rb
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/task_v1.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/Task.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/TaskV1.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/Task.swift
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/TaskV1.swift
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
Due: yarn eslint --ext=yml --fix

fix(go): handle HTML errors
  templates/go/api.mustache
  templates/go/client.mustache
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

fix(go): handle HTML errors [skip-bc] (#4096)
  templates/go/api.mustache
  templates/go/client.mustache
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

fix(go): handle HTML errors [skip-bc] (#4096) (generated) [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/api_abtesting.go
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/api_analytics.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/api_insights.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/api_monitoring.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/api_personalization.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/api_query_suggestions.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/api_recommend.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-go/algolia/search/client.go
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/client/search_test.go
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

chore: prepare release 2024-11-13 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix
  config/clients.config.json
Due: yarn fix:json

fix
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
Due: yarn fix:json

fix: run endpoint
  specs/composition/paths/search/run.yml
Due: yarn eslint --ext=yml --fix

fix: tests
  tests/CTS/requests/composition/search.json
Due: yarn fix:json

fix: param name
  tests/CTS/requests/composition/search.json
Due: yarn fix:json

fix: use params from composition specs and remove 1 level
  specs/composition/common/schemas/SearchParams.yml
  specs/composition/paths/search/search.yml
  specs/composition/paths/search/searchForFacetValues.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

fix(scripts): remove skip bc from the changelog
  scripts/ci/codegen/createGitHubReleases.ts
  scripts/release/common.ts
  scripts/release/createReleasePR.ts
Due: none

fix: type and nil check
  scripts/release/updateAPIVersions.ts
Due: none

fix: 1up
  specs/composition/paths/search/search.yml
  tests/CTS/requests/composition/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: rename searchCompositionParams to body
  specs/composition/paths/search/search.yml
  tests/CTS/requests/composition/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(scripts): remove skip bc from the changelog [skip-bc] (#4100)
  scripts/ci/codegen/createGitHubReleases.ts
  scripts/release/common.ts
  scripts/release/createReleasePR.ts
  scripts/release/updateAPIVersions.ts
Due: none

feat(abtests): update estimate response type
  specs/abtesting/common/schemas/EstimateABTestResponse.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update estimate response type [skip-bc] (#4101)
  specs/abtesting/common/schemas/EstimateABTestResponse.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update estimate response type [skip-bc] (#4101) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Abtesting/EstimateABTestResponse.cs
  clients/algoliasearch-client-go/algolia/abtesting/model_estimate_ab_test_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/EstimateABTestResponse.java
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/estimateABTestResponse.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/EstimateABTestResponse.kt
  clients/algoliasearch-client-php/lib/Model/Abtesting/EstimateABTestResponse.php
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/estimate_ab_test_response.py
  clients/algoliasearch-client-ruby/lib/algolia/models/abtesting/estimate_ab_test_response.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/EstimateABTestResponse.scala
  clients/algoliasearch-client-swift/Sources/Abtesting/Models/EstimateABTestResponse.swift
  specs/bundled/abtesting.doc.yml
  specs/bundled/abtesting.yml
Due: yarn eslint --ext=yml --fix

chore: rename to request
  specs/composition/paths/search/search.yml
  tests/CTS/requests/composition/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: test parameter
  tests/CTS/requests/composition/search.json
Due: yarn fix:json

fix
  tests/CTS/requests/composition/search.json
Due: yarn fix:json

fix: everything conflicts
  specs/composition/paths/search/search.yml
  tests/CTS/requests/composition/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): rename composition run endpoint [skip-bc] (#4099)
  specs/composition/common/schemas/SearchParams.yml
  specs/composition/paths/search/search.yml
  specs/composition/paths/search/searchForFacetValues.yml
  specs/composition/spec.yml
  tests/CTS/requests/composition/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2024-11-14 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix(clients): correct user agent
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_web.dart
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  website/docs/add-new-language.md
Due: none

simplify test
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  templates/swift/tests/client/tests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

fix(specs): rename composition run endpoint [skip-bc] (#4099) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-composition/model/baseSearchParams.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/baseSearchParamsWithoutQuery.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/indexSettingsAsSearchParams.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/mode.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/params.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/reRankingApplyFilter.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/requestBody.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchForFacetValuesParams.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchParams.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchParamsObject.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/searchParamsQuery.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/semanticSearch.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/tagFilters.ts
  clients/algoliasearch-client-javascript/packages/client-composition/src/compositionClient.ts
  docs/bundled/composition-snippets.json
  docs/snippets/javascript/src/composition.ts
  specs/bundled/composition.doc.yml
  specs/bundled/composition.yml
  tests/output/javascript/src/requests/composition.test.ts
Due: yarn fix:json, yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
