Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix: no separate enum then
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
Due: yarn eslint --ext=yml --fix

fix(specs): correct attributeCriteriaComputedBy docs and add missing surfaces
  specs/agent-studio/common/schemas/SearchParameters.yml
  specs/common/schemas/IndexSettings.yml
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
Due: yarn eslint --ext=yml --fix

feat: add attributeComputedBy to spec
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
  specs/recommend/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: register attributeCriteriaComputedBy as shared model
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators

fix: dont commit this here
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
  specs/recommend/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: add periods in list items consistently
  specs/agent-studio/paths/agents/agentCompletions.yml
  specs/analytics/spec.yml
  specs/common/schemas/Batch.yml
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/crawler/common/schemas/configuration.yml
  specs/search/common/schemas/SearchQuery.yml
  specs/search/helpers/generateSecuredApiKey.yml
  specs/search/paths/keys/common/schemas.yml
Due: yarn eslint --ext=yml --fix

fix: add periods to first sentences in description fields
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
  specs/recommend/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): limit attributeCriteriaComputedBy to Search index settings
  specs/agent-studio/common/schemas/SearchParameters.yml
  specs/composition/common/params/Search.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
  specs/recommend/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: add periods to first sentences in description fields
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
  specs/common/schemas/SearchParams.yml
  specs/composition/common/params/Composition.yml
  specs/recommend/common/schemas/IndexSettings.yml
  specs/recommend/paths/batchRecommendRules.yml
Due: yarn eslint --ext=yml --fix

fix(specs): steer to attributeCriteriaComputedBy without deprecating
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix: no wrapper object
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchEnums.yml
Due: yarn eslint --ext=yml --fix

feat(specs): remove migratedAbTestID from abtesting-v3 (#6883)
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

fix(specs): decode paginationLimitedTo as int64
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

feat(javascript): allow sending the API key in the request body
  .gitignore
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/bodyAuth.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/createAuth.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/stackTrace.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/createAuth.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/stackTrace.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
  config/generation.config.mjs
  scripts/cts/runCts.ts
  templates/javascript/clients/api-single.mustache
  templates/javascript/tests/client/client.mustache
  tests/output/javascript/src/helpers.ts
  tests/output/javascript/src/manual/authMode.test.ts
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix(csharp): address Fluf22 review comments on timeout docs and logs (CR-12049)
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  tests/output/csharp/src/LoggingTests.cs
Due: none

fix(csharp): keep timeout comments scoped to the code they document (CR-12049)
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  tests/output/csharp/src/TimeoutIntegrationTests.cs
Due: none

fix(ruby): drop PR-level comment from timeout precision tests
  tests/output/ruby/test/manual/timeout_integration_test.rb
Due: none

fix(ruby): keep millisecond precision when converting timeouts to seconds (#6946)
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  tests/output/ruby/test/manual/timeout_integration_test.rb
Due: none

docs(specs): document Bayesian revenue per search results
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add Bayesian evidence status
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): align Bayesian evidence status contract
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

chore(javascript): raise algoliasearch bundle budget
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

feat(specs): add complete endpoint to abtesting-v3
  specs/abtesting-v3/paths/completeABTest.yml
  specs/abtesting-v3/spec.yml
  tests/CTS/requests/abtesting-v3/completeABTest.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: add feature-implementation skill for plan-implement-draft PR
  .agents/skills/feature-implementation/SKILL.md
  .agents/skills/feature-implementation/references/plan.md
  .agents/skills/feature-implementation/references/repo-rules.md
  .agents/skills/feature-implementation/references/risk-probe.md
Due: none

fix(csharp): restore ReadTimeout enforcement dropped in 7.37.0 (#6949)
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  scripts/cts/testServer/timeout.ts
  tests/output/csharp/src/TimeoutIntegrationTests.cs
Due: none

feat(javascript): wait and retry on same host after HTTP 429
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/rateLimit.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/responses.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  website/docs/add-a-new-language.md
Due: none

feat(cts): add 429 Retry-After mock and JavaScript cases
  .agents/plans/api-545-429-retry-after.md
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/rateLimit.ts
  templates/javascript/tests/client/createClient.mustache
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  tests/output/javascript/src/client/ingestion.test.ts
  tests/output/javascript/src/client/search.test.ts
Due: yarn cli format java generators, yarn fix:json

test(javascript): include 429 unit tests in client-common vitest
  .agents/plans/api-545-429-retry-after.md
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/rateLimit.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
Due: none

fix(javascript): apply 429 Retry-After review follow-ups
  .agents/plans/api-545-429-retry-after.md
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/rateLimit.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/responses.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/createFetchRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/createHttpRequester.ts
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  tests/CTS/client/ingestion/api.json
  tests/CTS/client/search/api.json
  website/docs/add-a-new-language.md
Due: yarn cli format java generators, yarn fix:json

docs(specs): declare the Correlation-ID response header on Composition
  specs/composition/paths/advanced/getTask.yml
  specs/composition/paths/compositions/batch.yml
  specs/composition/paths/compositions/composition.yml
  specs/composition/paths/compositions/list.yml
  specs/composition/paths/compositions/updateSortingStrategy.yml
  specs/composition/paths/rules/rule.yml
  specs/composition/paths/rules/saveRules.yml
  specs/composition/paths/rules/searchRules.yml
  specs/composition/paths/search/search.yml
  specs/composition/paths/search/searchForFacetValues.yml
Due: yarn eslint --ext=yml --fix

chore: drop local API-545 plan file from the branch
  .agents/plans/api-545-429-retry-after.md
Due: none

test(javascript): expect maxRateLimitRetries on exposed transporter
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
Due: none

feat(specs): add A/B test settings endpoints to abtesting-v3
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  playground/javascript/node/abtestingV3.ts
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTestSettings.yml
  specs/abtesting-v3/paths/applyVariantSettings.yml
  specs/abtesting-v3/paths/settings.yml
  specs/abtesting-v3/paths/variantSettings.yml
  specs/abtesting-v3/spec.yml
  tests/CTS/requests/abtesting-v3/applyVariantSettings.json
  tests/CTS/requests/abtesting-v3/getABTestSettings.json
  tests/CTS/requests/abtesting-v3/saveVariantSettings.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore(javascript): raise bundle budgets after 429 retry logic
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

fix(javascript): log 429 waits and isolate stream retries
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/rateLimit.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
Due: yarn fix:json

chore(ci): refresh melos 8.6.0 and poetry 2.4.2 pins (API-480)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore(ci): renovate the setup-action pins and add update-pins.sh (API-480)
  renovate.json
  scripts/docker/update-pins.sh
Due: yarn fix:json

fix(ci): drop sha256 path guard and write checksum fixture to tmpdir (API-480)
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/__tests__/checksums.test.ts
  scripts/ci/actions/restore-artifacts/src/checksums.ts
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
