Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat(csharp): update response types in SaveObjectsWithTransformation methods to use Ingestion.WatchResponse
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/api.mustache
Due: none

feat(csharp): update ChunkedPush and ReplaceAllObjectsWithTransformation methods to accept IEnumerable<object> for improved flexibility
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

feat(csharp): refactor IngestionClient initialization to use IngestionConfig for improved configuration management
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/api.mustache
Due: none

feat(csharp): update SaveObjectsWithTransformation and PartialUpdateObjectsWithTransformation methods to accept IEnumerable<object> for enhanced flexibility
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

feat(csharp): add C# support to validation checks in runCts.ts
  scripts/cts/runCts.ts
Due: none

feat(csharp): add C# support to various transformation operations in YAML configurations
  specs/ingestion/helpers/chunkedPush.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
Due: yarn eslint --ext=yml --fix

feat(csharp): refactor retry logic into RetryHelper for improved code organization
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RetryHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

fix: update error message to clarify method call requirements
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

fix(tests): add transformation region support in client creation
  templates/csharp/tests/client/createClient.mustache
Due: none

fix(clients): switch kotlin formatter to ktfmt
  .github/actions/setup/action.yml
  clients/algoliasearch-client-kotlin/build.gradle.kts
  templates/kotlin/snippets/build.gradle.mustache
  tests/output/kotlin/build.gradle.kts
Due: yarn github-actions:lint --fix

chore(scripts): downgrade python version for release (#5482)
  clients/algoliasearch-client-python/.github/workflows/release.yml
Due: none

chore(scripts): reuse the swift build folder
  .github/actions/setup/action.yml
  scripts/buildLanguages.ts
  scripts/cts/runCts.ts
  scripts/playground.ts
Due: yarn github-actions:lint --fix

fix(clients): switch kotlin formatter to ktfmt (#5483)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-kotlin/build.gradle.kts
  templates/kotlin/snippets/build.gradle.mustache
  tests/output/kotlin/build.gradle.kts
Due: yarn github-actions:lint --fix

feat(csharp): add transformation helpers for object indexing with a transformation (#5452)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RetryHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  scripts/cts/runCts.ts
  specs/ingestion/helpers/chunkedPush.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/csharp/api.mustache
  templates/csharp/tests/client/createClient.mustache
Due: yarn eslint --ext=yml --fix

feat(csharp): add transformation helpers for object indexing with a transformation (#5452) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionClient.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchClient.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RetryHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  docs/bundled/ingestion.json
  docs/bundled/search-snippets.json
  docs/bundled/search.json
  docs/snippets/csharp/src/Search.cs
  specs/bundled/ingestion.yml
  specs/bundled/search.yml
  tests/output/csharp/src/generated/client/Search.test.cs
Due: yarn fix:json, yarn eslint --ext=yml --fix

build playground
  playground/swift/Package.resolved
  scripts/buildLanguages.ts
  scripts/config.ts
  scripts/cts/runCts.ts
  scripts/playground.ts
Due: none

this will fail
  clients/algoliasearch-client-swift/Sources/Core/Helpers/APIHelper.swift
  templates/swift/Version.mustache
Due: none

revert
  templates/swift/Version.mustache
Due: none

chore(scripts): reuse the swift build folder (#5484)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-swift/Sources/Core/Helpers/APIHelper.swift
  playground/swift/Package.resolved
  scripts/buildLanguages.ts
  scripts/config.ts
  scripts/cts/runCts.ts
  scripts/playground.ts
Due: yarn github-actions:lint --fix

chore(tests): accurate scala benchmark
  .github/workflows/check.yml
  templates/scala/tests/client/benchmark.mustache
  tests/output/javascript/yarn.lock
Due: yarn github-actions:lint --fix

feat(specs): add `facets` query parameter available at run time
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

rename the other one
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

fix: put the right link
  specs/composition/common/params/Search.yml
Due: yarn eslint --ext=yml --fix

try with runsOn
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

spot=false
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

revert go
  config/.go-version
Due: none

Add setWaitTaskTimeBeforeRetry method
  templates/php/client_config.mustache
Due: none

fix(ingestion): remove 'platform' from updatable auth attributes
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

chore(ingestion): add descriptions to source input objects
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ingestion small fix + added source input descriptions (#5515)
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

fix(java): dont use watch=true in replaceAllObjectsWithTransformation
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
Due: none

always false
  templates/java/api_helpers.mustache
Due: none

string
  scripts/cts/testServer/replaceAllObjectsWithTransformation.ts
Due: none
