Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(scala): rename local var to avoid named arg shadowing in Scala 3.8.2
  templates/scala/serializer.mustache
Due: none

chore(deps): dependencies 2026-03-02 (#6028)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .nvmrc
  clients/algoliasearch-client-java/.github/workflows/release.yml
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/base.tsup.config.ts
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/.github/workflows/release.yml
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-scala/project/build.properties
  config/.dart-version
  config/.go-version
  eslint/package.json
  package.json
  playground/csharp/Playground/Playground.csproj
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  playground/python/requirements.txt
  playground/scala/project/build.properties
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/docker/Dockerfile.base
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/scala/serializer.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/javascript/yarn.lock
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/scala/project/build.properties
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2026-03-02 (#6028) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtestingv3/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/BaseSearchResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/CompositionRunSearchResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/CompositionsSearchResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/Hit.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/HitMetadata.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/ResultsInjectedItemInfoResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/PushTaskRecords.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/insights/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/monitoring/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/personalization/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/querysuggestions/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/BaseSearchResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/RecommendHit.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/BaseSearchResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/DictionaryEntry.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/ErrorBase.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/Hit.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/SearchHits.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/SearchSynonymsResponse.scala
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: yarn fix:json

chore(deps): dependencies 2026-03-09 (#6084)
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  tests/output/javascript/yarn.lock
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2026-03-09 (#6084) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
Due: yarn fix:json

chore: prepare release 2026-03-09
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2026-03-09 (#6086)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore(release): enable OIDC token issuance and update NuGet publish step
  clients/algoliasearch-client-csharp/.github/workflows/release.yml
Due: none

fix(specs): Add allowReRankingOnPersonalization to specs
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

chore(release): enable OIDC token issuance and update NuGet publish step (#6087)
  clients/algoliasearch-client-csharp/.github/workflows/release.yml
Due: none

Added distinct limitation
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2026-03-09
  clients/algoliasearch-client-csharp/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2026-03-09 (#6089)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: release 2026-03-09 [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Algolia.Search.csproj
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AbtestingConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AbtestingV3Configuration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AnalyticsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/CompositionConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/InsightsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/MonitoringConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/PersonalizationConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/QuerySuggestionsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/RecommendConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchConfiguration.cs
  tests/output/csharp/src/generated/client/Abtesting.test.cs
  tests/output/csharp/src/generated/client/AbtestingV3.test.cs
  tests/output/csharp/src/generated/client/Analytics.test.cs
  tests/output/csharp/src/generated/client/Composition.test.cs
  tests/output/csharp/src/generated/client/Ingestion.test.cs
  tests/output/csharp/src/generated/client/Insights.test.cs
  tests/output/csharp/src/generated/client/Monitoring.test.cs
  tests/output/csharp/src/generated/client/Personalization.test.cs
  tests/output/csharp/src/generated/client/QuerySuggestions.test.cs
  tests/output/csharp/src/generated/client/Recommend.test.cs
  tests/output/csharp/src/generated/client/Search.test.cs
Due: none

feat(logging): enhance logging for serialization, deserialization, and batch operations
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/DefaultSerializer.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/api.mustache
Due: none

Fix typo in SearchParams.yml for distinct value
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

feat(logging): add response headers logging and debug warning management
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpResponse.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/api.mustache
Due: none

feat(logging): implement detailed logging for batch operations and add logger extension methods
  clients/algoliasearch-client-csharp/algoliasearch/Utils/IngestionClientExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/LoggerExtensions.cs
  tests/output/csharp/src/LoggingTests.cs
Due: none

chore(csharp): remove unused LoggerExtensions
  clients/algoliasearch-client-csharp/algoliasearch/Utils/LoggerExtensions.cs
Due: none

feat(logging): improve response body logging and ensure VoidResult handling
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  tests/output/csharp/src/LoggingTests.cs
Due: none

feat(dart): implement gzip compression for string data using archive package
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/compress_stub.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/compress_web.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
Due: none

feat(logging): refactor tests to use mock HTTP requester for improved isolation
  tests/output/csharp/src/LoggingTests.cs
Due: none

fix(agent-studio): force import error base, remove unused oneOf, change reserved keyword
  specs/agent-studio/common/schemas/AgentIdUnion.yml
  specs/agent-studio/paths/agents/agent.yml
  specs/agent-studio/paths/configuration/configuration.yml
  templates/go/api.mustache
  templates/go/search_helpers.mustache
Due: yarn eslint --ext=yml --fix

fix: agent-studio client build
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  playground/go/agent-studio.go
  playground/java/src/main/java/com/algolia/playground/AgentStudio.java
  playground/javascript/node/agentStudio.ts
  playground/javascript/node/package.json
  playground/kotlin/src/main/kotlin/com/algolia/playground/AgentStudio.kt
  playground/php/src/agent-studio.php
  playground/python/app/agent_studio.py
  playground/ruby/agent-studio.rb
  playground/scala/src/main/scala/AgentStudio.scala
  playground/swift/Sources/AgentStudio/main.swift
  yarn.lock
Due: yarn fix:json

fix(scala): trait gen
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
  templates/scala/oneof_trait.mustache
Due: yarn cli format java generators

fix: agent-studio client build continued
  playground/go/agent-studio.go
  playground/java/src/main/java/com/algolia/playground/AgentStudio.java
  playground/python/app/agent_studio.py
  playground/python/poetry.lock
  playground/scala/src/main/scala/AgentStudio.scala
  playground/swift/Sources/AgentStudio/main.swift
  specs/agent-studio/common/parameters.yml
  specs/agent-studio/common/schemas/AgentConfigCreate.yml
  specs/agent-studio/common/schemas/AgentConfigUpdate.yml
  specs/agent-studio/common/schemas/AgentTestConfiguration.yml
  specs/agent-studio/common/schemas/AgentWithVersionResponse.yml
  specs/agent-studio/common/schemas/AnthropicProviderInput.yml
  specs/agent-studio/common/schemas/AzureOpenAIProviderInput.yml
  specs/agent-studio/common/schemas/ConversationBaseResponse.yml
  specs/agent-studio/common/schemas/ConversationFullResponse.yml
  specs/agent-studio/common/schemas/Facets.yml
  specs/agent-studio/common/schemas/FacetsUnion.yml
  specs/agent-studio/common/schemas/HTTPValidationError.yml
  specs/agent-studio/common/schemas/McpServerToolConfig-Input.yml
  specs/agent-studio/common/schemas/MessageResponse-Input.yml
  specs/agent-studio/common/schemas/MessageResponse-Output.yml
  specs/agent-studio/common/schemas/OpenAICompatibleProviderInput.yml
  specs/agent-studio/common/schemas/OpenAIProviderInput.yml
  specs/agent-studio/common/schemas/ProviderAuthenticationResponse.yml
  specs/agent-studio/common/schemas/ValidationErrorItem.yml
  specs/agent-studio/paths/agents/agent.yml
  specs/agent-studio/paths/agents/agentCache.yml
  specs/agent-studio/paths/agents/agentPublish.yml
  specs/agent-studio/paths/agents/agentUnpublish.yml
  specs/agent-studio/paths/agents/agents.yml
  specs/agent-studio/paths/conversations/conversation.yml
  specs/agent-studio/paths/conversations/conversations.yml
  specs/agent-studio/paths/conversations/export.yml
  specs/agent-studio/paths/providers/provider.yml
  specs/agent-studio/paths/providers/providerModels.yml
Due: yarn eslint --ext=yml --fix

fix(specs): explicit items type object
  specs/agent-studio/common/schemas/NumericFiltersUnion.yml
  specs/agent-studio/common/schemas/OptionalFiltersUnion.yml
  specs/agent-studio/common/schemas/ReRankingApplyFilterUnion.yml
  specs/agent-studio/common/schemas/TagFiltersUnion.yml
Due: yarn eslint --ext=yml --fix

fix: kt playground
  playground/kotlin/src/main/kotlin/com/algolia/playground/AgentStudio.kt
Due: none

chore: remove FormDataProcessor.php from list of gen files
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
Due: yarn cli format java generators

feat: add new API test cases for agent and provider operations
  tests/CTS/client/agent-studio/api.json
  tests/CTS/client/agent-studio/parameters.json
  tests/CTS/requests/agent-studio/createAgent.json
  tests/CTS/requests/agent-studio/createAgentCompletion.json
  tests/CTS/requests/agent-studio/createProvider.json
  tests/CTS/requests/agent-studio/deleteAgent.json
  tests/CTS/requests/agent-studio/deleteAgentConversations.json
  tests/CTS/requests/agent-studio/deleteConversation.json
  tests/CTS/requests/agent-studio/deleteProvider.json
  tests/CTS/requests/agent-studio/deleteUserData.json
  tests/CTS/requests/agent-studio/exportConversations.json
  tests/CTS/requests/agent-studio/getAgent.json
  tests/CTS/requests/agent-studio/getApplicationConfiguration.json
  tests/CTS/requests/agent-studio/getConversation.json
  tests/CTS/requests/agent-studio/getProvider.json
  tests/CTS/requests/agent-studio/getUserData.json
  tests/CTS/requests/agent-studio/invalidateAgentCache.json
  tests/CTS/requests/agent-studio/listAgentConversations.json
  tests/CTS/requests/agent-studio/listAgents.json
  tests/CTS/requests/agent-studio/listModels.json
  tests/CTS/requests/agent-studio/listProviderModels.json
  tests/CTS/requests/agent-studio/listProviders.json
  tests/CTS/requests/agent-studio/publishAgent.json
  tests/CTS/requests/agent-studio/unpublishAgent.json
  tests/CTS/requests/agent-studio/updateAgent.json
  tests/CTS/requests/agent-studio/updateConfiguration.json
  tests/CTS/requests/agent-studio/updateProvider.json
Due: yarn fix:json

feat: update API server URLs to use region variables and add timeout settings
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

fix: update method naming in api.mustache for consistency
  templates/go/api.mustache
Due: none

feat: add custom request paths and helpers to agent studio client
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

feat: add region parameter to AgentStudioClient initialization and implement agent studio playground
  playground/csharp/Playground/Playgrounds/AgentStudio.cs
  playground/csharp/Playground/Program.cs
  playground/go/agent-studio.go
  playground/java/src/main/java/com/algolia/playground/AgentStudio.java
  playground/javascript/node/agentStudio.ts
  playground/kotlin/src/main/kotlin/com/algolia/playground/AgentStudio.kt
  playground/php/src/agent-studio.php
  playground/python/app/agent_studio.py
  playground/ruby/agent-studio.rb
  playground/scala/src/main/scala/AgentStudio.scala
  playground/swift/Sources/AgentStudio/main.swift
Due: none

feat: swap conversationId and agentId parameters in API specifications and test cases
  specs/agent-studio/paths/conversations/conversation.yml
  templates/javascript/tests/e2e/e2e.mustache
  tests/CTS/requests/agent-studio/deleteConversation.json
  tests/CTS/requests/agent-studio/getConversation.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat: add isSimpleObject handling for Kotlin in ParametersWithDataType
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

feat: enhance array variant resolution in ParametersWithDataType and update JSON request structures
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  tests/CTS/requests/agent-studio/listAgentConversations.json
  tests/CTS/requests/agent-studio/listAgents.json
Due: yarn cli format java generators, yarn fix:json

feat: update method.mustache to handle null parameters in API request generation
  templates/go/tests/method.mustache
Due: none
