Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: squash changelogs and reset version number
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-03-19 (#2886)
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore(scala): set sonatype target
  clients/algoliasearch-client-scala/build.sbt
Due: none

chore: release 2024-03-19 [skip ci]
  clients/algoliasearch-client-swift/AlgoliaSearchClient.podspec
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Version.swift
Due: none

chore(scala): set sonatype target (#2887)
  clients/algoliasearch-client-scala/build.sbt
Due: none

fix(ci): run the swift cts on mac only on the main branch
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix(ci): run the swift cts on mac only on the main branch (#2888)
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix(specs): change custom endpoint for analytics client
  specs/analytics/spec.yml
Due: yarn eslint --ext=yml --fix

feat(swift): handle generic base
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/swift/generic_optional_type.mustache
  templates/swift/generic_type.mustache
  templates/swift/modelObject.mustache
  templates/swift/modelOneOf.mustache
Due: yarn cli format java generators

fix: bump other pyproject
  playground/python/pyproject.toml
  tests/output/python/pyproject.toml
Due: none

fix: all
  specs/abtesting/spec.yml
  specs/analytics/spec.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
  tests/CTS/requests/common/customDelete.json
  tests/CTS/requests/common/customGet.json
  tests/CTS/requests/common/customPost.json
  tests/CTS/requests/common/customPut.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: mustache
  templates/python/pyproject.mustache
Due: none

fix: custom for client
  tests/CTS/client/common/commonApi.json
Due: yarn fix:json

fix: custom for client
  tests/CTS/client/common/commonApi.json
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix: some other paths
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/monitoring/parameters.json
  tests/CTS/client/recommend/api.json
Due: yarn fix:json

fix(specs): more flexible custom methods (#2889)
  specs/abtesting/spec.yml
  specs/analytics/spec.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/common/commonApi.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/monitoring/parameters.json
  tests/CTS/client/recommend/api.json
  tests/CTS/client/search/api.json
  tests/CTS/requests/common/customDelete.json
  tests/CTS/requests/common/customGet.json
  tests/CTS/requests/common/customPost.json
  tests/CTS/requests/common/customPut.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

docs(php): added an entry for php migration guide
  website/docs/clients/migration-guides/php.md
Due: none

docs(php): Added an entry for php migration guide (#2894)
  website/docs/clients/migration-guides/php.md
Due: none

fix ruby
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
Due: yarn cli format java generators

fix(scripts): correctly remove codegen for js and dart
  scripts/pre-gen/removeExistingCodegen.ts
Due: none

rename ab testing currency
  specs/abtesting/common/parameters.yml
Due: yarn eslint --ext=yml --fix

fix(scripts): correctly remove codegen for js and dart (#2895)
  scripts/pre-gen/removeExistingCodegen.ts
Due: none

feat(swift): use generics everywhere
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/swift/api.mustache
  templates/swift/modelObject.mustache
  templates/swift/modelOneOf.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/Utils/MockSearchClient.swift
  tests/output/swift/Tests/handwritten/Browsers.swift
Due: yarn cli format java generators

feat(swift): use generics in snippets
  templates/swift/snippets/method.mustache
Due: none

feat(swift): improve searchForHits descriptions
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/snippets/method.mustache
Due: none

chore(swift): check for podspec validity when running the CI on main
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

docs: analytics api (#2883)
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/analytics/common/parameters.yml
  specs/analytics/common/schemas/getTopFilterAttributes.yml
  specs/analytics/common/schemas/getTopFiltersNoResults.yml
  specs/analytics/common/schemas/getTopHits.yml
  specs/analytics/common/schemas/getTopSearches.yml
  specs/analytics/paths/click/getAddToCartRate.yml
  specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getPurchaseRate.yml
  specs/analytics/paths/revenue/getRevenue.yml
  specs/analytics/paths/search/getNoClickRate.yml
  specs/analytics/paths/search/getNoResultsRate.yml
  specs/analytics/paths/search/getSearchesNoClicks.yml
  specs/analytics/paths/search/getSearchesNoResults.yml
  specs/analytics/paths/search/getTopCountries.yml
  specs/analytics/paths/search/getTopFilterAttributes.yml
  specs/analytics/paths/search/getTopFilterForAttribute.yml
  specs/analytics/paths/search/getTopFiltersNoResults.yml
  specs/analytics/paths/search/getTopHits.yml
  specs/analytics/paths/search/getTopSearches.yml
  specs/analytics/paths/search/getUsersCount.yml
  specs/analytics/paths/status/getStatus.yml
  specs/analytics/spec.yml
  specs/common/parameters.yml
  specs/common/responses/common.yml
  tests/CTS/requests/analytics/getAddToCartRate.json
  tests/CTS/requests/analytics/getConversionRate.json
  tests/CTS/requests/analytics/getPurchaseRate.json
  tests/CTS/requests/analytics/getRevenue.json
  tests/CTS/requests/analytics/getTopSearches.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore(javascript): assert `authMode`
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  templates/javascript/tests/client/suite.mustache
Due: none

fix: throw assertion
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
Due: none

Update generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

feat(swift): handle generics (#2896)
  .github/workflows/check.yml
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/swift/api.mustache
  templates/swift/generic_optional_type.mustache
  templates/swift/generic_type.mustache
  templates/swift/modelObject.mustache
  templates/swift/modelOneOf.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/Utils/MockSearchClient.swift
  tests/output/swift/Tests/handwritten/Browsers.swift
Due: yarn cli format java generators, yarn github-actions:lint --fix

fix(swift): go the client dir before linting pod spec
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(swift): de-dup source file and add test in CI
  .github/workflows/check.yml
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators, yarn github-actions:lint --fix

fix(swift): always run macOS CI
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(swift): run macOS CI on main and podspec check everywhere
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(swift): fix CI
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix
