Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: prepare release 2024-03-13
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: debug
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: prepare release 2024-03-13 (#2862)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix(swift): error in gzip algo
  .github/workflows/check.yml
  clients/algoliasearch-client-swift/Sources/Core/Networking/Compression/Gzip.swift
Due: yarn github-actions:lint --fix

docs: better navbar labels
  website/docusaurus.config.js
Due: none

docs: better navbar labels (#2863)
  website/docusaurus.config.js
Due: none

fix(swift): update podspec code source
  templates/swift/podspec.mustache
Due: none

fix(ci): rollback setup-java action version
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix: make languages an enum
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/dictionaries/common/parameters.yml
  specs/search/paths/dictionaries/common/schemas/SearchDictionaryEntriesResponse.yml
  specs/search/paths/dictionaries/searchDictionaryEntries.yml
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: test
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix: queryLanguages must not be empty string
  tests/CTS/requests/search/search.json
Due: yarn fix:json

docs: analytics api
  specs/analytics/spec.yml
Due: yarn eslint --ext=yml --fix

fix(swift): handle enum in free form dictionary
  templates/swift/tests/paramValue.mustache
Due: none

fix(kotlin): handle enum specific case
  templates/kotlin/oneof_interface.mustache
Due: none

docs: analytics api reference
  specs/analytics/common/parameters.yml
  specs/analytics/common/schemas/getTopFilterAttributes.yml
  specs/analytics/common/schemas/getTopFiltersNoResults.yml
  specs/analytics/common/schemas/getTopHits.yml
  specs/analytics/common/schemas/getTopSearches.yml
  specs/analytics/paths/click/getAddToCartRate.yml
  specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getPurchaseRate.yml
  specs/analytics/paths/revenue/getRevenue.yml
  specs/analytics/paths/search/getNoClickRate.yml
  specs/analytics/paths/search/getNoResultsRate.yml
  specs/analytics/paths/search/getSearchesNoClicks.yml
  specs/analytics/paths/search/getSearchesNoResults.yml
  specs/analytics/paths/search/getTopCountries.yml
  specs/analytics/paths/search/getTopFilterAttributes.yml
  specs/analytics/paths/search/getTopFilterForAttribute.yml
  specs/analytics/paths/search/getTopFiltersNoResults.yml
  specs/analytics/paths/search/getTopHits.yml
  specs/analytics/paths/search/getTopSearches.yml
  specs/analytics/paths/search/getUsersCount.yml
  specs/analytics/paths/status/getStatus.yml
  specs/analytics/spec.yml
  specs/common/parameters.yml
  specs/common/responses/common.yml
Due: yarn eslint --ext=yml --fix

spec: add CTS
  specs/analytics/spec.yml
  tests/CTS/requests/analytics/getAddToCartRate.json
  tests/CTS/requests/analytics/getPurchaseRate.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

spec: add revenue and fix operator enum
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  tests/CTS/requests/analytics/getConversionRate.json
  tests/CTS/requests/analytics/getRevenue.json
Due: yarn cli format java generators, yarn fix:json

fix(specs): make languages an enum (#2865)
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/dictionaries/common/parameters.yml
  specs/search/paths/dictionaries/common/schemas/SearchDictionaryEntriesResponse.yml
  specs/search/paths/dictionaries/searchDictionaryEntries.yml
  templates/kotlin/oneof_interface.mustache
  templates/swift/tests/paramValue.mustache
  tests/CTS/requests/search/search.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: no date for now
  specs/analytics/common/parameters.yml
  specs/common/parameters.yml
Due: yarn eslint --ext=yml --fix

fix: conversions rather than conversations
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/revenue/getRevenue.yml
Due: yarn eslint --ext=yml --fix

fix: lower case
  tests/CTS/requests/analytics/getAddToCartRate.json
Due: yarn fix:json

fix: all means all parameters
  tests/CTS/requests/analytics/getTopHits.json
  tests/CTS/requests/analytics/getTopSearches.json
Due: yarn fix:json

omit qs
  specs/query-suggestions/common/schemas/SourceIndex.yml
Due: yarn eslint --ext=yml --fix

lock files
  clients/algoliasearch-client-javascript/yarn.lock
  package.json
  scripts/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

fix: move trackedSearchCount to Analytics
  specs/abtesting/common/schemas/Variant.yml
  specs/analytics/common/parameters.yml
  specs/analytics/common/schemas/getTopHits.yml
  specs/analytics/common/schemas/getTopSearches.yml
  specs/analytics/paths/click/getAddToCartRate.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getPurchaseRate.yml
  specs/analytics/paths/search/getNoClickRate.yml
  specs/common/parameters.yml
Due: yarn eslint --ext=yml --fix

format
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/JsonSerializer.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ExecutorUtils.java
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
Due: yarn cli format java generators

fix: purchase rate nullable
  specs/analytics/common/parameters.yml
  tests/CTS/requests/abtesting/listABTests.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: restore abtesting
  specs/abtesting/common/schemas/Variant.yml
  tests/CTS/requests/abtesting/listABTests.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: review
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

revert
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/JsonSerializer.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ExecutorUtils.java
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  package.json
  yarn.lock
Due: yarn cli format java generators, yarn fix:json

fix: retrieve original param name for model in swift
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

chore: generated code for commit 82eb4fa24d4b7d3d3f0c4a4452f7981b83377ac3. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/QuerySuggestions/SourceIndex.cs
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/querysuggestions/SourceIndex.kt
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/models/source_index.py
  specs/bundled/abtesting.doc.yml
  specs/bundled/abtesting.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/analytics.doc.yml
  specs/bundled/analytics.yml
  specs/bundled/crawler.doc.yml
  specs/bundled/crawler.yml
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
  specs/bundled/insights.doc.yml
  specs/bundled/insights.yml
  specs/bundled/monitoring.doc.yml
  specs/bundled/monitoring.yml
  specs/bundled/personalization.doc.yml
  specs/bundled/personalization.yml
  specs/bundled/query-suggestions.doc.yml
  specs/bundled/query-suggestions.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
  specs/bundled/usage.doc.yml
  specs/bundled/usage.yml
Due: yarn eslint --ext=yml --fix

chore(deps): dependencies 2024-03-18 (#2866)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-dart/pubspec.yaml
  clients/algoliasearch-client-java/build.gradle
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  generators/build.gradle
  package.json
  playground/python/requirements.txt
  scripts/package.json
  scripts/pre-gen/generateOpenapitools.ts
  snippets/java/build.gradle
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

fix: use extracted method for swift param name
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators
