Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: prepare release 2023-10-19 (#2153)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: release 2023-10-19 [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_insights/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_search/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_search/pubspec.yaml
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/BuildConfig.java
  clients/algoliasearch-client-java/gradle.properties
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/BuildConfig.kt
  clients/algoliasearch-client-kotlin/gradle.properties
  clients/algoliasearch-client-php/composer.lock
  tests/output/java/build.gradle
Due: none

fix(go): use a more complex way of unmarshalling json into structs
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  specs/search/common/schemas/SearchQuery.yml
  templates/go/model_oneof.mustache
  tests/CTS/methods/requests/insights/pushEvents.json
  tests/CTS/methods/requests/search/search.json
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

bump cache
  .github/.cache_version
Due: none

rebump cache
  .github/.cache_version
Due: none

fix(go): update discriminator fields for insights spec
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: none

fix(go): remove comment in search spec
  specs/search/common/schemas/SearchQuery.yml
Due: none

fix(go): update oneof model
  templates/go/model_oneof.mustache
Due: none

fix(go): update utils to sort model with oneof by discriminator list length
  generators/src/main/java/com/algolia/codegen/utils/OneOfUtils.java
Due: docker exec -t api-client yarn cli format java generators

fix(go): update way to mark properties as deprecated
  specs/search/common/schemas/SearchResponse.yml
Due: none

fix(dart): update analyzer options
  clients/algoliasearch-client-dart/analysis_options.yaml
  specs/search/common/schemas/SearchResponse.yml
Due: none

feat(insights): add authenticatedUserToken attribute
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: none

feat(specs): add `authenticatedUserToken` and `Identify` to insights (#2151)
  .github/.cache_version
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/Identify.yml
  specs/insights/common/schemas/IdentifyEvent.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
  tests/CTS/methods/requests/insights/pushEvents.json
Due: yarn fix:json

revert(specs): insights identify
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/Identify.yml
  specs/insights/common/schemas/IdentifyEvent.yml
Due: none

revert identify cts
  tests/CTS/methods/requests/insights/pushEvents.json
Due: yarn fix:json

revert(specs): insights identify (#2182)
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/Identify.yml
  specs/insights/common/schemas/IdentifyEvent.yml
  tests/CTS/methods/requests/insights/pushEvents.json
Due: yarn fix:json

chore: generated code for commit 517f9cb72d3e5314e057528ac2efb042b6434d9f. [skip ci]
  clients/algoliasearch-client-dart/packages/client_insights/lib/algolia_client_insights.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/deserialize.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/model/identify.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/model/identify.g.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/model/identify_event.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/model/insights_events.dart
  clients/algoliasearch-client-go/algolia/insights/model_events_items.go
  clients/algoliasearch-client-go/algolia/insights/model_identify.go
  clients/algoliasearch-client-go/algolia/insights/model_identify_event.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/insights/EventsItems.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/insights/Identify.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/insights/IdentifyEvent.java
  clients/algoliasearch-client-javascript/packages/client-insights/model/eventsItems.ts
  clients/algoliasearch-client-javascript/packages/client-insights/model/identify.ts
  clients/algoliasearch-client-javascript/packages/client-insights/model/identifyEvent.ts
  clients/algoliasearch-client-javascript/packages/client-insights/model/index.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/insights/EventsItems.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/insights/Identify.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/insights/IdentifyEvent.kt
  clients/algoliasearch-client-php/lib/Model/Insights/EventsItems.php
  clients/algoliasearch-client-php/lib/Model/Insights/Identify.php
  clients/algoliasearch-client-php/lib/Model/Insights/IdentifyEvent.php
  specs/bundled/insights.yml
  tests/output/dart/test/methods/requests/insights_test.dart
  tests/output/go/tests/methods/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/methods/requests/Insights.test.java
  tests/output/javascript/src/methods/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/methods/requests/InsightsTest.kt
  tests/output/php/src/methods/requests/InsightsTest.php
Due: none

Update generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
Due: docker exec -t api-client yarn cli format java generators

Update generators/src/main/java/com/algolia/codegen/utils/OneOfUtils.java
  generators/src/main/java/com/algolia/codegen/utils/OneOfUtils.java
Due: docker exec -t api-client yarn cli format java generators

fix(go): fix the spec and update the base model template (#2145)
  clients/algoliasearch-client-dart/analysis_options.yaml
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/OneOfUtils.java
  playground/go/search.go
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
  specs/search/common/schemas/SearchQuery.yml
  specs/search/common/schemas/SearchResponse.yml
  templates/go/model_oneof.mustache
  templates/go/model_simple.mustache
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
Due: docker exec -t api-client yarn cli format java generators

add .nx to gitignore
  clients/algoliasearch-client-javascript/.gitignore
Due: none

chore: prepare release 2023-10-24
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore(deps): dependencies 2023-10-23 (#2154)
  .github/workflows/renovate.yml
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
  clients/algoliasearch-client-dart/pubspec.yaml
  clients/algoliasearch-client-javascript/.gitignore
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  package.json
  playground/dart/pubspec.yaml
  scripts/package.json
  templates/dart/pubspec.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore: generated code for commit 33dc235c6ea9ef345c22a9392882c36294a5b713. [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_search/pubspec.yaml
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/BaseSearchResponse.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/Exhaustive.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/RecommendationsResponse.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/Redirect.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/model/baseSearchResponse.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/exhaustive.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/index.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/redirect.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/BaseSearchResponse.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/Exhaustive.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/RecommendationsResponse.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/Redirect.kt
  clients/algoliasearch-client-php/lib/Model/Recommend/BaseSearchResponse.php
  clients/algoliasearch-client-php/lib/Model/Recommend/Exhaustive.php
  clients/algoliasearch-client-php/lib/Model/Recommend/RecommendationsResponse.php
  clients/algoliasearch-client-php/lib/Model/Recommend/Redirect.php
  tests/output/javascript/package.json
Due: yarn fix:json

refactor: update openapi generator to v7
  config/openapitools.json
  generators/build.gradle
Due: yarn fix:json

fix dart gen
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/model.mustache
Due: docker exec -t api-client yarn cli format java generators

remove leftovers
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
Due: docker exec -t api-client yarn cli format java generators

kotlin: fix typealias
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/model.mustache
Due: docker exec -t api-client yarn cli format java generators

fix models with base allof
  specs/bundled/README.md
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationResponse.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationWithIndex.yml
  specs/query-suggestions/paths/qsConfig.yml
  specs/query-suggestions/paths/qsConfigs.yml
  specs/recommend/common/schemas/RecommendationsQuery.yml
  specs/recommend/common/schemas/TrendingQuery.yml
Due: none

revert bundled dir readme deletion
  specs/bundled/README.md
Due: none

refactor(generators): update openapi generator to v7 (#2115)
  config/openapitools.json
  generators/build.gradle
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  specs/bundled/README.md
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationResponse.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationWithIndex.yml
  specs/query-suggestions/paths/qsConfig.yml
  specs/query-suggestions/paths/qsConfigs.yml
  specs/recommend/common/schemas/RecommendationsQuery.yml
  specs/recommend/common/schemas/TrendingQuery.yml
  templates/dart/model.mustache
  templates/kotlin/model.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

chore: generated code for commit 43d6ecee527c8ee65e18fa06e3fa745ef661b3c0. [skip ci]
  clients/algoliasearch-client-go/algolia/query-suggestions/model_base_query_suggestions_configuration_response.go
  clients/algoliasearch-client-go/algolia/query-suggestions/model_base_query_suggestions_configuration_with_index.go
  clients/algoliasearch-client-go/algolia/query-suggestions/model_query_suggestions_configuration_with_index_all_of.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/querysuggestions/BaseQuerySuggestionsConfigurationResponse.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/querysuggestions/BaseQuerySuggestionsConfigurationWithIndex.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/ApiKey.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/GetApiKeyResponse.java
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/model/baseQuerySuggestionsConfigurationResponse.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/model/baseQuerySuggestionsConfigurationWithIndex.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/model/querySuggestionsConfigurationResponse.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/model/querySuggestionsConfigurationWithIndex.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/querysuggestions/BaseQuerySuggestionsConfigurationResponse.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/querysuggestions/BaseQuerySuggestionsConfigurationWithIndex.kt
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/Model/QuerySuggestions/BaseQuerySuggestionsConfigurationResponse.php
  clients/algoliasearch-client-php/lib/Model/QuerySuggestions/BaseQuerySuggestionsConfigurationWithIndex.php
  specs/bundled/query-suggestions.yml
  specs/bundled/recommend.yml
Due: none

fix(javascript): algoliaseach bundling
  .github/.cache_version
  Dockerfile
  clients/algoliasearch-client-javascript/bundlesize.config.json
  playground/javascript/node/package.json
  playground/javascript/node/tsconfig.json
  templates/javascript/clients/index.d.mustache
  templates/javascript/clients/tsconfig.mustache
Due: yarn fix:json

fix(javascript): algoliaseach bundling (#2185)
  .github/.cache_version
  Dockerfile
  clients/algoliasearch-client-javascript/bundlesize.config.json
  playground/javascript/node/package.json
  playground/javascript/node/tsconfig.json
  templates/javascript/clients/index.d.mustache
  templates/javascript/clients/tsconfig.mustache
Due: yarn fix:json

chore: generated code for commit 6fa5a402e3e4f21ac840e8f7caf2670de3d4c7bf. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/index.d.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/tsconfig.json
Due: yarn fix:json

chore(specs): remove unused spec file
  specs/bundled/sources.yml
Due: none
