Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(abtests) remove significance from abtest
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(abtests) add metadata into metric
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/paths/estimate.yml
  specs/abtesting-v3/paths/estimate.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/abtests.yml
Due: yarn eslint --ext=yml --fix

feat(abtests): Add query params for GET /3/abtests/{id}/timeseries (#4881)
  specs/abtesting-v3/paths/timeseries.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

fix(abtests) traffic percentage min and max + add migratedAbTestID to get/list responses
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

doc(abtests) add timeseries endpoint for v3 + add confidence interval values in variant schema
  specs/abtesting-v3/common/schemas/Timeseries.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/timeseries.yml
  specs/abtesting-v3/spec.yml
Due: yarn eslint --ext=yml --fix

feat(abtests) add error correction to get/list endpoint for v3
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

add confidence interval field descriptions
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

Add filters and errorCorrection to AB test config, remove legacy outliers and empty search
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

Add noResults to list of metrics supported
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

fix(cts): rename another test
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix(cts): rename test (#5058)
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

fix(cts): rename test (#5058) (generated) [skip ci]
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

fix(specs): allow one sided rule validity (#5060)
  specs/common/schemas/Rule.yml
  templates/go/guides/search/useConditionlessRule.mustache
  templates/scala/guides/search/useConditionlessRule.mustache
  tests/CTS/requests/search/saveRule.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(cts): rename another test (#5061)
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

chore: validate specs on ci/cli
  scripts/common.ts
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/Timeseries.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/timeseries.yml
  specs/abtesting-v3/spec.yml
Due: yarn eslint --ext=yml --fix

chore(cts): rename another test (#5061) (generated) [skip ci]
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

chore: prepare release 2025-07-04
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

add metrics and configuration to the schedule endpoint
  specs/abtesting-v3/paths/scheduleABTest.yml
Due: yarn eslint --ext=yml --fix

Fix tests: replace outliers and empty search with metric filters in estimate endpoint
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/paths/estimate.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add abtests v3 (#4394)
  scripts/common.ts
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/ABTestResponse.yml
  specs/abtesting-v3/common/schemas/AddABTestsVariant.yml
  specs/abtesting-v3/common/schemas/EstimateABTestResponse.yml
  specs/abtesting-v3/common/schemas/ScheduleABTestResponse.yml
  specs/abtesting-v3/common/schemas/Timeseries.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/abtest.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/estimate.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
  specs/abtesting-v3/paths/stopABTest.yml
  specs/abtesting-v3/paths/timeseries.yml
  specs/abtesting-v3/spec.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add abtests v3 (#4394) (generated) [skip ci]
  docs/bundled/abtesting-v3-snippets.json
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  specs/bundled/abtesting-v3.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: tests
  tests/CTS/client/abtesting-v3/parameters.json
  tests/CTS/requests/abtesting-v3/addABTests.json
  tests/CTS/requests/abtesting-v3/getTimeseries.json
  tests/CTS/requests/abtesting-v3/scheduleABTest.json
Due: yarn fix:json

fix: tests
  tests/CTS/client/abtesting-v3/parameters.json
  tests/CTS/requests/abtesting-v3/addABTests.json
  tests/CTS/requests/abtesting-v3/deleteABTest.json
  tests/CTS/requests/abtesting-v3/estimateABTest.json
  tests/CTS/requests/abtesting-v3/getABTest.json
  tests/CTS/requests/abtesting-v3/getTimeseries.json
  tests/CTS/requests/abtesting-v3/listABTests.json
  tests/CTS/requests/abtesting-v3/scheduleABTest.json
  tests/CTS/requests/abtesting-v3/stopABTest.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix: build
  config/clients.config.json
  templates/javascript/clients/client/builds/definition.mustache
Due: yarn fix:json

fix: playground build
  playground/javascript/node/abtestingV3.ts
Due: none

fix: tests maybe
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
Due: yarn cli format java generators

fix: gen and build
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  playground/javascript/node/abtestingV3.ts
  playground/javascript/node/package.json
Due: yarn cli format java generators, yarn fix:json

feat(javascript): generate abtesting v3 alpha client
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  config/clients.config.json
  config/clients.schema.json
Due: yarn fix:json

chore(deps): update dependency csharpier to 1.0.3 (generated)
  docs/bundled/abtesting-v3-snippets.json
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  specs/bundled/abtesting-v3.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): update okhttp monorepo to v5 (generated)
  docs/bundled/abtesting-v3-snippets.json
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  docs/bundled/insights-snippets.json
  docs/snippets/scala/src/main/scala/Insights.scala
  specs/bundled/abtesting-v3.yml
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: lock
  yarn.lock
Due: none
