Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

csharp
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/csharp/snippets/method.mustache
  templates/csharp/tests/client/method.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/method.mustache
  templates/csharp/tests/requests/requests.mustache
Due: yarn cli format java generators

java
  templates/java/snippets/method.mustache
  templates/java/tests/client/method.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/java/tests/method.mustache
  templates/java/tests/requests/requests.mustache
  templates/javascript/tests/client/method.mustache
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
Due: none

javascript
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/go/tests/method.mustache
  templates/javascript/snippets/method.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/javascript/tests/client/method.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/javascript/tests/method.mustache
  templates/javascript/tests/requests/requests.mustache
  templates/php/snippets/method.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/requests/requests.mustache
  website/docs/contributing/testing/common-test-suite.md
Due: yarn cli format java generators

skip empty obj
  templates/javascript/tests/method.mustache
  templates/php/tests/client/method.mustache
  templates/php/tests/method.mustache
Due: none

php
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/php/snippets/method.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/method.mustache
  templates/php/tests/requests/requests.mustache
Due: yarn cli format java generators

scala
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/php/tests/method.mustache
  templates/scala/snippets/method.mustache
  templates/scala/tests/client/method.mustache
  templates/scala/tests/e2e/e2e.mustache
  templates/scala/tests/method.mustache
  templates/scala/tests/requests/requests.mustache
Due: yarn cli format java generators

swift
  templates/swift/snippets/method.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/method.mustache
  templates/swift/tests/requests/requests.mustache
Due: none

rename in swift
  templates/swift/tests/e2e/e2e.mustache
Due: none

not for swift snippets
  templates/swift/snippets/method.mustache
Due: none

chore: prepare release 2024-07-19
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore: prepare release 2024-07-19 (#3386)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore: prepare release 2024-07-19
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

feat(go): expose ExposeIntermediateNetworkErrors to the config
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/client.mustache
Due: none

feat(go): expose ExposeIntermediateNetworkErrors to the config (#3404)
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/client.mustache
Due: none

chore: generated code for commit 82562cc5a30fe2d51836aebd797b8cfcd7cf732a. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-go/algolia/usage/client.go
Due: none

chore(cts): assert the retry strategy error
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/testServer/timeout.ts
  templates/dart/tests/client/suite.mustache
  tests/CTS/client/search/api.json
  tests/output/csharp/src/RetryStrategyTests.cs
  tests/output/dart/lib/src/expect.dart
Due: yarn cli format java generators, yarn fix:json

all except swift
  tests/CTS/client/search/api.json
  tests/output/csharp/src/RetryStrategyTests.cs
  tests/output/scala/src/test/scala/algoliasearch/package.scala
Due: yarn fix:json

fix kotlin
  tests/CTS/client/search/api.json
Due: yarn fix:json

chore(CTS): benchmark the search method
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/testServer/chunkWrapper.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjects.ts
  specs/search/helpers/README.md
  templates/go/tests/client/suite.mustache
  tests/CTS/client/search/benchmark.json
Due: yarn cli format java generators, yarn fix:json

report times
  .github/workflows/check.yml
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  scripts/cli/index.ts
  scripts/cts/runCts.ts
  scripts/cts/testServer/benchmark.ts
  scripts/cts/testServer/chunkWrapper.ts
  scripts/cts/testServer/index.ts
  templates/go/tests/client/benchmark.mustache
  templates/go/tests/client/tests.mustache
  tests/CTS/benchmark/search/benchmark.json
  tests/output/go/tests/benchmark/search_test.go
Due: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

remove generated file
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  tests/output/go/tests/benchmark/search_test.go
Due: yarn cli format java generators

fix swiftt
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

support generics in the client suite
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

generate benchmarks on the CI even though they are not ran
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  scripts/ci/githubActions/createMatrix.ts
  scripts/husky/pre-commit.mjs
Due: yarn cli format java generators

broke everything
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/csharp/tests/client/benchmark.mustache
  templates/csharp/tests/client/tests.mustache
Due: yarn cli format java generators

fix merge error
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/csharp/tests/client/tests.mustache
  templates/go/tests/client/benchmark.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/client/tests.mustache
  tests/CTS/benchmark/search/benchmark.json
Due: yarn cli format java generators, yarn fix:json

java
  scripts/cts/testServer/benchmark.ts
  templates/java/tests/client/benchmark.mustache
  templates/java/tests/client/tests.mustache
Due: none

colors to shame go
  scripts/cts/testServer/benchmark.ts
  templates/javascript/tests/client/tests.mustache
Due: none

javascript
  templates/javascript/tests/client/benchmark.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/client/tests.mustache
Due: none

kotlin
  templates/kotlin/tests/client/benchmark.mustache
  templates/kotlin/tests/client/tests.mustache
Due: none

php
  templates/php/tests/client/benchmark.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/client/tests.mustache
Due: none

python
  scripts/cts/testServer/benchmark.ts
  templates/python/tests/client/benchmark.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/client/tests.mustache
  tests/output/python/tests/benchmark/__init__.py
Due: none

ruby
  templates/ruby/tests/client/benchmark.mustache
  templates/ruby/tests/client/suite.mustache
  templates/ruby/tests/client/tests.mustache
  tests/output/ruby/Rakefile
Due: none

swift
  scripts/cts/testServer/benchmark.ts
  templates/swift/tests/Package.mustache
  templates/swift/tests/client/benchmark.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/client/tests.mustache
Due: none

no benchmark by default
  tests/output/ruby/Rakefile
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
