Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

refactor(kotlin): drop the internal Filter convenience constructors
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/Filter.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterLeaves.kt
Due: none

refactor(kotlin): one empty-row rule for delete-by filters
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/ComposerFragments.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLDeleteByComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLQueryComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/DSLFacetFilters.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/DSLFilters.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FiltersEncoder.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/OptionalFiltersEncoder.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DeleteByFiltersTest.kt
Due: none

refactor(kotlin): factor the DSL list receivers into DSLList and DSLValues
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLList.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLStrings.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/SettingsDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/DSLFacetFilters.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/DSLFilters.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterRows.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/rule/RuleDsl.kt
Due: none

refactor(kotlin): generate the composer additions receivers
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLDeleteByComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLQueryComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DslReceivers.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/GeneratedBuilderCoverageTest.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl_additions.mustache
Due: yarn cli format java generators

refactor(kotlin): generate the synonym list and nested rule builder helpers
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/rule/RuleDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/synonym/SynonymDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DeleteByFiltersTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/ListScopesDslTest.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  templates/kotlin/dsl.mustache
  templates/kotlin/dsl_nested_helper.mustache
Due: yarn cli format java generators

refactor(kotlin): drop the composer client overloads and compose helpers
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/ClientDsl.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLDeleteByComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/DSLQueryComposer.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/ClientDslTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DSLDeleteByComposerTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DSLQueryComposerTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DeleteByFiltersTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/ComposerConstructorTest.kt
Due: none

refactor(kotlin): cover offline-only DSL behaviour with live cases
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/ComposerLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/DeleteByLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/EscapingLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/FiltersLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/OptionalFiltersLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/QueryParamsLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/testkit/Fixture.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/ComposerCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/DeleteCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/EscapingCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/FilterCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/OptionalFilterCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/QueryParamCases.kt
Due: none

chore(kotlin): drop DSL tests duplicated by the live suite
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/ClientDslTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DSLDeleteByComposerTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DSLQueryComposerTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DeleteByFiltersTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DslSerializationTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/FilterLeafOptionsTest.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/ListScopesDslTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/EngineProbesLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/testkit/Fixture.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/testkit/Live.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/DslNamingTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/DslWireTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/EngineProbes.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/EscapingCases.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/LiveCase.kt
Due: none

fix(kotlin): reject empty filter attributes and values before sending
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/Filter.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/dsl/filter/FilterLeaves.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/dsl/DeleteByFiltersTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmDslLive/kotlin/com/algolia/client/dsl/live/EscapingLiveTest.kt
  clients/algoliasearch-client-kotlin/client/src/jvmTest/kotlin/com/algolia/client/dsl/cases/EscapingCases.kt
Due: none

docs(kotlin): rewrite DSL section of README
  clients/algoliasearch-client-kotlin/README.md
Due: none

feat(java): add async batch indexing helpers (#6731)
  .gitignore
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ChunkedHelperOptions.java
  templates/java/api_helpers.mustache
  templates/java/async_batch_helpers.mustache
  tests/output/java/src/test/java/com/algolia/manual/AsyncBatchHelpersTest.java
Due: none

refactor(specs): extract `source` object from behaviour object
  specs/composition/common/schemas/components/behaviour/injection/ExternalProviderSource.yml
  specs/composition/common/schemas/components/behaviour/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/behaviour/injection/MainSource.yml
  specs/composition/common/schemas/components/behaviour/injection/RecommendModel.yml
  specs/composition/common/schemas/components/source/External.yml
  specs/composition/common/schemas/components/source/ExternalProvider.yml
  specs/composition/common/schemas/components/source/Recommend.yml
  specs/composition/common/schemas/components/source/Search.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): introduce a `behaviour` directory
  specs/composition/common/schemas/components/CompositionBehavior.yml
  specs/composition/common/schemas/components/behaviour/injection/Behaviour.yml
  specs/composition/common/schemas/components/behaviour/injection/ExternalProviderSource.yml
  specs/composition/common/schemas/components/behaviour/injection/InjectedItem.yml
  specs/composition/common/schemas/components/behaviour/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/behaviour/injection/Main.yml
  specs/composition/common/schemas/components/behaviour/injection/MainSource.yml
  specs/composition/common/schemas/components/behaviour/injection/RecommendModel.yml
  specs/composition/common/schemas/components/behaviour/injection/SearchQueryParams.yml
  specs/composition/common/schemas/components/behaviour/multifeed/Behaviour.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
Due: yarn eslint --ext=yml --fix

fix: apply comments
  specs/composition/common/schemas/components/behaviour/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/behaviour/injection/MainSource.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add resultCard to renderingContent widgets
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/schemas/IndexSettings.yml
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

feat(specs): add resultCard to renderingContent widgets (#7084)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/schemas/IndexSettings.yml
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

docs: add implementation notes and release backfill guidance to AGENTS.md
  .gitignore
  AGENTS.md
Due: none

docs: fix generation.config link in commit-and-pull-request guide
  website/docs/commit-and-pull-request.md
Due: none

docs: point Node.js version in CONTRIBUTING to .nvmrc
  CONTRIBUTING.md
Due: none

docs: add review policy, docs index and glossary to AGENTS.md, drop stale header and duplicates
  AGENTS.md
  clients/AGENTS.md
  generators/AGENTS.md
  scripts/AGENTS.md
  specs/AGENTS.md
Due: none

chore: trim generic language advice from client AGENTS.md files
  clients/algoliasearch-client-csharp/AGENTS.md
  clients/algoliasearch-client-dart/AGENTS.md
  clients/algoliasearch-client-go/AGENTS.md
  clients/algoliasearch-client-kotlin/AGENTS.md
  clients/algoliasearch-client-php/AGENTS.md
  clients/algoliasearch-client-ruby/AGENTS.md
  clients/algoliasearch-client-scala/AGENTS.md
  clients/algoliasearch-client-swift/AGENTS.md
Due: none

docs: correct which commands rebuild generators in AGENTS.md
  AGENTS.md
Due: none

fix(clients): always send Accept-Encoding gzip in Swift and require ext-zlib in PHP
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  templates/php/composer.mustache
Due: none

docs: remove personal workflow notes, fix gradle commands and drop Slack channel ID from AGENTS.md
  .gitignore
  AGENTS.md
  clients/algoliasearch-client-java/AGENTS.md
  clients/algoliasearch-client-kotlin/AGENTS.md
Due: none

fix(clients): always send Accept-Encoding gzip in Swift and require ext-zlib in PHP (#7086)
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  templates/php/composer.mustache
Due: none

refactor(specs): extract source object from behaviour object (#7074)
  specs/composition/common/schemas/components/CompositionBehavior.yml
  specs/composition/common/schemas/components/behaviour/injection/Behaviour.yml
  specs/composition/common/schemas/components/behaviour/injection/InjectedItem.yml
  specs/composition/common/schemas/components/behaviour/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/behaviour/injection/Main.yml
  specs/composition/common/schemas/components/behaviour/injection/MainSource.yml
  specs/composition/common/schemas/components/behaviour/injection/SearchQueryParams.yml
  specs/composition/common/schemas/components/behaviour/multifeed/Behaviour.yml
  specs/composition/common/schemas/components/injection/ExternalProviderSource.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  specs/composition/common/schemas/components/injection/RecommendModel.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
  specs/composition/common/schemas/components/source/External.yml
  specs/composition/common/schemas/components/source/ExternalProvider.yml
  specs/composition/common/schemas/components/source/Recommend.yml
  specs/composition/common/schemas/components/source/Search.yml
Due: yarn eslint --ext=yml --fix

docs: use standard deprecated: true for removed spec fields in AGENTS.md
  AGENTS.md
Due: none

revert(java): send request bodies with Content-Length instead of chunked encoding (#7069)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  tests/output/java/src/test/java/com/algolia/manual/RequestBodyContentLengthTest.java
Due: none

fix(java): enable TCP_NODELAY on client connections
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  tests/output/java/src/test/java/com/algolia/manual/TcpNoDelayTest.java
Due: none

Update HttpRequester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

Delete TcpNoDelayTest.java
  tests/output/java/src/test/java/com/algolia/manual/TcpNoDelayTest.java
Due: none

revert(scala): send request bodies with Content-Length instead of chunked encoding (#6832)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/JsonSerializer.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/RequestBodyContentLengthTest.scala
Due: none

fix(scala): enable TCP_NODELAY on client connections
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/TcpNoDelayTest.scala
Due: none

fix(scala): read and write JSON as UTF-8 regardless of the JVM default charset
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/JsonSerializer.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/JsonSerializerCharsetTest.scala
Due: none

Update HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
Due: none

Delete TcpNoDelayTest.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/TcpNoDelayTest.scala
Due: none

Delete JsonSerializerCharsetTest.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/JsonSerializerCharsetTest.scala
Due: none

fix(specs): unblock agent-studio client CI after the spec sync
  clients/algoliasearch-client-javascript/package.json
  playground/go/agent-studio.go
  tests/CTS/requests/agent-studio/compactContext.json
  tests/CTS/requests/agent-studio/createAgent.json
  tests/CTS/requests/agent-studio/createAgentCompletion.json
  tests/CTS/requests/agent-studio/createAgentTask.json
  tests/CTS/requests/agent-studio/trimContext.json
  tests/CTS/requests/agent-studio/updateAgent.json
  tests/CTS/requests/agent-studio/updateFeedback.json
Due: yarn fix:json

fix(specs): pass every listAgentConversations argument in the all-parameters CTS
  tests/CTS/requests/agent-studio/listAgentConversations.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
