Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(swift): appID casing
  clients/algoliasearch-client-swift/Sources/Core/Common/Credentials.swift
Due: none

add support for nullable types
  templates/scala/generic_type.mustache
  templates/scala/model.mustache
Due: none

go is compressed
  clients/algoliasearch-client-go/algolia/compression/compression.go
  clients/algoliasearch-client-go/algolia/debug/utils.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  scripts/cts/runCts.ts
  templates/go/tests/client/createClient.mustache
  templates/go/tests/client/suite.mustache
Due: none

kotlin is compressed
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/kotlin/tests/client/createClient.mustache
Due: yarn cli format java generators

fix(swift): appID casing (#2711)
  clients/algoliasearch-client-swift/Sources/Core/Common/Credentials.swift
Due: none

review
  templates/scala/tests/requests/requests.mustache
Due: none

skip dart and js
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

feat(cts): add e2e for scala (#2703)
  templates/scala/generic_type.mustache
  templates/scala/model.mustache
  templates/scala/oneof_trait.mustache
  templates/scala/tests/requests/requests.mustache
  tests/output/scala/build.sbt
Due: none

chore: generated code for commit d3960729bce28a7c8ea4fbdaf5930977e406bc08. [skip ci]
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/ABTest.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/ListABTestsResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/Variant.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/ClickThroughRateEvent.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/ConversionRateEvent.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/GetClickThroughRateResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/GetConversationRateResponse.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/TopHitWithAnalytics.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/analytics/TopSearchWithAnalytics.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/insights/EventsItems.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/BrowseParams.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/Languages.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/SearchParams.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/SearchQuery.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/SearchResult.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/AbtestingTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
Due: none

start ruby
  templates/ruby/tests/client/createClient.mustache
Due: none

fix(php): revert restriction for psr-message dependency
  templates/php/composer.mustache
Due: none

fix(cts): assert that exceptions are thrown
  templates/java/tests/client/suite.mustache
  templates/php/tests/client/suite.mustache
  templates/python/tests/client/suite.mustache
  templates/ruby/tests/client/suite.mustache
Due: none

automatic update of composer.lock
  .github/workflows/check.yml
  clients/algoliasearch-client-php/composer.lock
Due: yarn github-actions:lint --fix

fix(php): revert restriction for psr/http-message dependency (#2714)
  .github/workflows/check.yml
  clients/algoliasearch-client-php/composer.lock
  templates/php/composer.mustache
Due: yarn github-actions:lint --fix

chore: generated code for commit 4383a691911ae93dd47e64419514f0115438856b. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/model_list_ab_tests_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/ListABTestsResponse.java
  clients/algoliasearch-client-javascript/packages/client-abtesting/model/listABTestsResponse.ts
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/list_ab_tests_response.py
  clients/algoliasearch-client-ruby/lib/algolia/models/abtesting/list_ab_tests_response.rb
Due: yarn fix:json

fix(swift): QuerySuggestionsConfigurationResponse appID casing
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

feat(cts): add e2e test for query-suggestions
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationResponse.yml
  tests/CTS/requests/query-suggestions/getConfig.json
  tests/output/swift/Tests/Utils/Utils.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(scala): add helpers functions
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ApiKeyOperation.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/RetryUntil.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  config/generation.config.mjs
Due: none

chore: better code formatting
  clients/algoliasearch-client-swift/.swiftformat
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/URLSessionRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/HostIterator.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/RetryableHost.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/UserAgent/UserAgent.swift
  snippets/swift/.swiftformat
  tests/output/swift/.swiftformat
Due: none

fix(cts): headers should not be encoded (#2708)
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/HttpRequest.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/RequestOptions.java
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  templates/csharp/tests/client/method.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/dart/snippets/method.mustache
  templates/dart/tests/requests/requests.mustache
  templates/go/api.mustache
  templates/kotlin/snippets/method.mustache
  templates/kotlin/tests/requests/requests.mustache
  templates/ruby/tests/requests/requests.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/requests/requests.mustache
  tests/CTS/requests/common/customGet.json
  tests/CTS/requests/common/customPost.json
  tests/CTS/requests/search/assignUserId.json
Due: yarn fix:json

chore: remove mark comments
  clients/algoliasearch-client-swift/.swiftformat
  clients/algoliasearch-client-swift/Sources/Core/Common/CallType.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/DecodingErrorPrettyPrinter.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/ErrorMessage.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Logging.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Region.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/StringOption.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/CodableHelper.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Models.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/OpenISO8601DateFormatter.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/SynchronizedDictionary.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPStatusCode.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/URLSessionRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
  snippets/swift/.swiftformat
  tests/output/swift/.swiftformat
Due: none

fix(php): fix region checking in config
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/requests/requests.mustache
Due: none

fix(cts): assert that exceptions are thrown (#2713)
  templates/java/tests/client/suite.mustache
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/client/suite.mustache
  templates/ruby/tests/client/suite.mustache
Due: none

chore(swift): format config (#2716)
  clients/algoliasearch-client-swift/.swiftformat
  clients/algoliasearch-client-swift/Sources/Core/Common/CallType.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/DecodingErrorPrettyPrinter.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/ErrorMessage.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Logging.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/Region.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  clients/algoliasearch-client-swift/Sources/Core/Common/StringOption.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/CodableHelper.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Models.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/OpenISO8601DateFormatter.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/SynchronizedDictionary.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/AlgoliaError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPStatusCode.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/EchoRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestBuilder/URLSessionRequestBuilder.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/HostIterator.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/RetryableHost.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/UserAgent/UserAgent.swift
  snippets/swift/.swiftformat
  tests/output/swift/.swiftformat
Due: none

fix php and fix for damcou et son bash chelou
  scripts/install.sh
  templates/php/tests/requests/requests.mustache
Due: none

ruby is compressed
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
Due: none

more flexible union for ruby
  tests/output/ruby/test/helpers.rb
Due: none

harmonize the union helper
  tests/output/javascript/src/helpers.ts
  tests/output/python/tests/helpers.py
  tests/output/ruby/test/helpers.rb
Due: none

forgot about php
  templates/php/tests/requests/requests.mustache
Due: none

as easy as scala
  templates/scala/tests/client/createClient.mustache
Due: none

csharp is compressed
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/csharp/tests/client/createClient.mustache
  templates/csharp/tests/client/suite.mustache
Due: yarn cli format java generators

wip
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/DefaultSerializer.cs
  clients/algoliasearch-client-csharp/algoliasearch/Serializer/EnumConverter.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/generic_type.mustache
  templates/csharp/model.mustache
  templates/csharp/modelEnum.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/modelInnerEnum.mustache
  templates/csharp/modelOneOf.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/csharp/src/RetryStrategyTests.cs
Due: yarn cli format java generators

fix(swift): QuerySuggestionsConfigurationResponse appID casing (#2712)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/install.sh
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationResponse.yml
  templates/php/tests/requests/requests.mustache
  tests/CTS/requests/query-suggestions/getConfig.json
  tests/output/javascript/src/helpers.ts
  tests/output/python/tests/helpers.py
  tests/output/ruby/test/helpers.rb
  tests/output/swift/Tests/Utils/Utils.swift
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix
