Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

undo changes
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_error.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/error.rb
  clients/algoliasearch-client-ruby/lib/algolia/logger_helper.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/call_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/echo_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/response.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_outcome_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_strategy.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/stateful_host.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-ruby/lib/algolia/user_agent.rb
Due: none

undo Gem.lock
  config/generation.config.mjs
  tests/output/ruby/Gemfile.lock
Due: none

straight from github
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

correct archi
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore: cleanup before pushing to docs (#3332)
  scripts/ci/codegen/pushToAlgoliaDoc.ts
Due: none

fix(specs): clarify browse parameters (#3333)
  specs/search/paths/search/browse.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit dcb1b59dc4e9dedd8dd527bca9670bca8f290af8. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchClient.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-07-09
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

feat(dart): fix URL construction
  clients/algoliasearch-client-dart/packages/chopper_requester/lib/src/chopper_requester.dart
Due: none

feat(dart): explicitly set empty Uri as baseUri
  clients/algoliasearch-client-dart/packages/chopper_requester/lib/src/chopper_requester.dart
Due: none

chore(ci): remove gradle noise (#3331)
  .github/actions/setup/action.yml
  generators/gradle/wrapper/gradle-wrapper.jar
  generators/gradle/wrapper/gradle-wrapper.properties
  generators/gradlew
  generators/gradlew.bat
  playground/kotlin/gradle/wrapper/gradle-wrapper.jar
  playground/kotlin/gradle/wrapper/gradle-wrapper.properties
  playground/kotlin/gradlew
  playground/kotlin/gradlew.bat
  scripts/buildClients.ts
  scripts/common.ts
  scripts/cts/runCts.ts
  snippets/kotlin/gradle/wrapper/gradle-wrapper.jar
  snippets/kotlin/gradle/wrapper/gradle-wrapper.properties
  snippets/kotlin/gradlew
  snippets/kotlin/gradlew.bat
  tests/output/java/gradle/wrapper/gradle-wrapper.jar
  tests/output/java/gradle/wrapper/gradle-wrapper.properties
  tests/output/java/gradlew
  tests/output/java/gradlew.bat
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.jar
  tests/output/kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/output/kotlin/gradlew
  tests/output/kotlin/gradlew.bat
Due: yarn github-actions:lint --fix

fix(scripts): add bundled readme to docs
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  specs/bundled/README.md
Due: none

fix(ruby): use rubyfmt instead of rubocop (#3334)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-ruby/.rubocop.yml
  clients/algoliasearch-client-ruby/Rakefile
  clients/algoliasearch-client-ruby/algolia.gemspec
  config/generation.config.mjs
  scripts/docker/Dockerfile.ruby
  scripts/formatter.ts
  snippets/ruby/.rubocop.yml
  snippets/ruby/Gemfile
  tests/output/ruby/.rubocop.yml
  tests/output/ruby/Gemfile
Due: yarn github-actions:lint --fix

fix(swift): wait for api key helpers
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/tests/Package.mustache
  tests/output/swift/Tests/handwritten/Browsers.swift
  tests/output/swift/Tests/handwritten/SecuredApiKeyHelpers.swift
  tests/output/swift/Tests/handwritten/Serializers.swift
  tests/output/swift/Tests/handwritten/Waiters.swift
Due: none

fix(swift): api key helpers (#3337)
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/tests/Package.mustache
  tests/output/swift/Tests/handwritten/Browsers.swift
  tests/output/swift/Tests/handwritten/SecuredApiKeyHelpers.swift
  tests/output/swift/Tests/handwritten/Serializers.swift
  tests/output/swift/Tests/handwritten/Waiters.swift
Due: none

chore: generated code for commit 9451edcd4c3becbbe937f1c02a0ed296c9a2a496. [skip ci]
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  tests/output/swift/Package.swift
Due: none

fix(cts): split requests and e2e tests
  clients/algoliasearch-client-php/composer.lock
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/ci/githubActions/createMatrix.ts
  scripts/cts/runCts.ts
  scripts/husky/pre-commit.mjs
  templates/csharp/tests/requests/requests.mustache
  templates/csharp/tests/requests/requests_e2e.mustache
  templates/go/tests/requests/requests.mustache
  templates/go/tests/requests/requests_e2e.mustache
  templates/java/tests/requests/requests.mustache
  templates/java/tests/requests/requests_e2e.mustache
  templates/javascript/tests/requests/requests.mustache
  templates/javascript/tests/requests/requests_e2e.mustache
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/requests/requests.mustache
  templates/php/tests/requests/requests_e2e.mustache
  templates/python/tests/requests/requests.mustache
  templates/python/tests/requests/requests_e2e.mustache
  templates/ruby/tests/requests/requests.mustache
  templates/ruby/tests/requests/requests_e2e.mustache
  templates/scala/tests/requests/requests.mustache
  templates/scala/tests/requests/requests_e2e.mustache
  templates/swift/tests/requests/requests.mustache
  templates/swift/tests/requests/requests_e2e.mustache
  tests/output/javascript/yarn.lock
  tests/output/python/tests/requests_e2e/__init__.py
  website/docs/contributing/testing/common-test-suite.md
Due: yarn cli format java generators

snippets NPE
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

fix(swift): fix update operation in waitForApiKey helper
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

rename to e2e
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/ci/githubActions/createMatrix.ts
  scripts/husky/pre-commit.mjs
  templates/csharp/tests/e2e/e2e.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/ruby/tests/e2e/e2e.mustache
  templates/scala/tests/e2e/e2e.mustache
  templates/swift/tests/e2e/e2e.mustache
  tests/output/python/tests/requests_e2e/__init__.py
  website/docs/contributing/testing/common-test-suite.md
Due: yarn cli format java generators

fix(swift): wait for api key helper update operation (#3340)
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

fix(cts): split requests and e2e tests (#3339)
  clients/algoliasearch-client-php/composer.lock
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/ci/githubActions/createMatrix.ts
  scripts/cts/runCts.ts
  scripts/husky/pre-commit.mjs
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/requests/requests.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/java/tests/requests/requests.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/javascript/tests/requests/requests.mustache
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/requests.mustache
  templates/ruby/tests/e2e/e2e.mustache
  templates/ruby/tests/requests/requests.mustache
  templates/scala/tests/e2e/e2e.mustache
  templates/scala/tests/requests/requests.mustache
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/javascript/yarn.lock
  website/docs/contributing/testing/common-test-suite.md
Due: yarn cli format java generators

fix(cts): retry e2e tests
  .github/workflows/check.yml
  scripts/cli/index.ts
  scripts/cts/runCts.ts
  templates/go/tests/e2e/e2e.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/java/tests/requests/requests.mustache
  templates/kotlin/tests/requests/requests.mustache
Due: yarn github-actions:lint --fix

oui main
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

only retry
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): run mac ci in parralel
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(scripts): add bundled readme to docs (#3336)
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  specs/bundled/README.md
Due: none

chore: generated code for commit 697f03f846b71d93b3b384e5c7b1679e3d3a438e. [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

split release
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

log
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

chore(ci): run mac ci in parrallel (#3344)
  .github/workflows/check.yml
  scripts/ci/codegen/waitForAllReleases.ts
Due: yarn github-actions:lint --fix

rely on the token
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(ruby): add the base64 dependency
  clients/algoliasearch-client-ruby/algolia.gemspec
  playground/ruby/Gemfile.lock
Due: none

fix(python): browse objects
  playground/python/app/search.py
  templates/python/api.mustache
  templates/python/search_helpers.mustache
Due: none

{{
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(specs): ingestion task and transformation
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

fix(python): browse objects (#3346)
  playground/python/app/search.py
  templates/python/api.mustache
  templates/python/search_helpers.mustache
Due: none

chore: striiiimz
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
