Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

docs: SLA page and unstable for prereleases (#3195)
  .gitignore
  .yarn/patches/lts-npm-1.2.0-e55f0a54f7.patch
  config/csharp-lts.png
  config/dart-lts.png
  config/go-lts.png
  config/java-lts.png
  config/javascript-lts.png
  config/kotlin-lts.png
  config/php-lts.png
  config/python-lts.png
  config/release.config.json
  config/ruby-lts.png
  config/scala-lts.png
  config/swift-lts.png
  scripts/cli/index.ts
  scripts/package.json
  scripts/release/createReleasePR.ts
  website/docs/clients/service-level-agreement.mdx
  website/docs/contributing/CLI/release-commands.md
  website/docs/contributing/release-process.md
  website/docs/contributing/setup-repository.md
  website/sidebars.js
  website/src/components/SLAMapping.js
  website/static/img/csharp-sla.png
  website/static/img/dart-sla.png
  website/static/img/go-sla.png
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
  website/static/img/kotlin-sla.png
  website/static/img/php-sla.png
  website/static/img/python-sla.png
  website/static/img/ruby-sla.png
  website/static/img/scala-sla.png
  website/static/img/swift-sla.png
  yarn.lock
Due: yarn fix:json

feat(scripts): push to docs on release
  .github/workflows/check.yml
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/package.json
Due: yarn github-actions:lint --fix, yarn fix:json

feat: also push JSON snippets for algolia docs
  scripts/buildSpecs.ts
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  website/.gitignore
Due: none

chore: only parse once
  scripts/buildSpecs.ts
Due: none

chore: skip website build/deploys on non main target
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: even better
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: skip website build/deploys on non main target (#3198)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: prepare release 2024-06-18
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
  website/static/img/csharp-sla.png
  website/static/img/dart-sla.png
  website/static/img/go-sla.png
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
  website/static/img/kotlin-sla.png
  website/static/img/php-sla.png
  website/static/img/python-sla.png
  website/static/img/ruby-sla.png
  website/static/img/scala-sla.png
  website/static/img/swift-sla.png
Due: yarn fix:json

chore(deps): solve some dependabots warning
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.2.2.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.3.0.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/yarn.lock
  package.json
  playground/python/poetry.lock
  scripts/package.json
  tests/output/javascript/.yarn/releases/yarn-4.2.2.cjs
  tests/output/javascript/.yarn/releases/yarn-4.3.0.cjs
  tests/output/javascript/.yarnrc.yml
  tests/output/javascript/yarn.lock
  tests/output/python/poetry.lock
  website/.yarn/releases/yarn-4.2.2.cjs
  website/.yarn/releases/yarn-4.3.0.cjs
  website/.yarnrc.yml
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

include lock
  clients/algoliasearch-client-python/poetry.lock
  config/generation.config.mjs
  snippets/python/poetry.lock
Due: none

feat(scripts): push to docs on release (#3196)
  .github/workflows/check.yml
  scripts/buildSpecs.ts
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/package.json
  website/.gitignore
Due: yarn github-actions:lint --fix, yarn fix:json

feat(scripts): move helpers to snippet files for algolia doc
  scripts/buildSpecs.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/specs/format.ts
  scripts/specs/helper-snippets.ts
  scripts/specs/index.ts
  scripts/specs/snippets.ts
  scripts/specs/types.ts
Due: none

chore(deps): solve some dependabots warning (#3202)
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.2.2.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.3.0.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-python/poetry.lock
  config/generation.config.mjs
  package.json
  playground/python/poetry.lock
  scripts/package.json
  snippets/python/poetry.lock
  tests/output/javascript/.yarn/releases/yarn-4.2.2.cjs
  tests/output/javascript/.yarn/releases/yarn-4.3.0.cjs
  tests/output/javascript/.yarnrc.yml
  tests/output/javascript/yarn.lock
  tests/output/python/poetry.lock
  website/.yarn/releases/yarn-4.2.2.cjs
  website/.yarn/releases/yarn-4.3.0.cjs
  website/.yarnrc.yml
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(scripts): add release to the completion script
  scripts/cli/index.ts
  scripts/install.sh
Due: none

chore(scripts): add release to the completion script (#3203)
  scripts/cli/index.ts
  scripts/install.sh
Due: none

chore(clients): use the ruff python formatter
  config/generation.config.mjs
  scripts/formatter.ts
  templates/python/model_oneof.mustache
  templates/python/pyproject.mustache
Due: none

chore: review
  scripts/specs/format.ts
  scripts/specs/snippets.ts
  scripts/specs/types.ts
  scripts/types.ts
Due: none

other poetry files
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/pyproject.toml
  snippets/python/pyproject.toml
  templates/python/tests/client/createClient.mustache
  tests/output/python/poetry.lock
  tests/output/python/pyproject.toml
Due: none

revert test
  config/generation.config.mjs
  tests/output/python/poetry.lock
Due: none

chore: indeeeeeeed
  scripts/specs/snippets.ts
Due: none

fix(clients): reduce common tests flakyness
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-iterable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/__tests__/fetch-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/__tests__/node-http-requester.test.ts
Due: none

fix(kotlin): add chunked batch helper
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

fix(scala): add chunked batch helper
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

feat(scripts): move helpers to snippet files for algolia doc (#3197)
  scripts/buildSpecs.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/specs/format.ts
  scripts/specs/helper-snippets.ts
  scripts/specs/index.ts
  scripts/specs/snippets.ts
  scripts/specs/types.ts
  scripts/types.ts
Due: none

feat(clients): add chunkedBatch helper for Kotlin and Scala (#3206)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

chore: generated code for commit fc1752b6e37d9db8918887a16457392ee82311ad. [skip ci]
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

chore(deps): automatically update swiftformat
  .github/actions/setup/action.yml
  renovate.json
  scripts/docker/Dockerfile.swift
Due: yarn github-actions:lint --fix, yarn fix:json

feat(ruby): add chunked_batch and replace_all_objects helpers
  playground/ruby/Gemfile.lock
  templates/ruby/search_helpers.mustache
Due: none

feat(ruby): add chunked_batch and replace_all_objects helpers (#3208)
  playground/ruby/Gemfile.lock
  templates/ruby/search_helpers.mustache
Due: none

chore: generated code for commit 3b4be7a3de3d4ec482172cf01f6e3220b98ed035. [skip ci]
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
Due: none

chore(deps): automatically update swiftformat (#3207)
  .github/actions/setup/action.yml
  renovate.json
  scripts/docker/Dockerfile.swift
Due: yarn github-actions:lint --fix, yarn fix:json

fix(clients): reduce common tests flakyness (#3205)
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/create-iterable-promise.test.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/__tests__/fetch-requester.test.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/__tests__/node-http-requester.test.ts
Due: none

fix(go): use generic for nullable types
  clients/algoliasearch-client-go/algolia/utils/utils.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  templates/go/model_anyof.mustache
  templates/go/model_enum.mustache
  templates/go/model_oneof.mustache
  templates/go/model_simple.mustache
  templates/go/nullable_model.mustache
Due: yarn cli format java generators

fix(go): use generic for nullable types (#3209)
  clients/algoliasearch-client-go/algolia/utils/utils.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  templates/go/model_anyof.mustache
  templates/go/model_enum.mustache
  templates/go/model_oneof.mustache
  templates/go/model_simple.mustache
  templates/go/nullable_model.mustache
Due: yarn cli format java generators

clement youre a genious
  templates/python/model_generic.mustache
Due: none

fix(cts): generate tests for replaceAllObjects
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/runCts.ts
  scripts/cts/testServer.ts
  templates/go/tests/client/suite.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/java/api_helpers.mustache
  templates/php/api.mustache
  templates/python/imports.mustache
  templates/python/search_helpers.mustache
  templates/ruby/tests/client/suite.mustache
  tests/CTS/client/abtesting/parameters.json
  tests/CTS/client/analytics/parameters.json
  tests/CTS/client/ingestion/parameters.json
  tests/CTS/client/insights/parameters.json
  tests/CTS/client/monitoring/parameters.json
  tests/CTS/client/personalization/parameters.json
  tests/CTS/client/query-suggestions/parameters.json
  tests/CTS/client/recommend/api.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/helpers.json
  tests/CTS/client/usage/api.json
Due: yarn cli format java generators, yarn fix:json

chore(clients): use the ruff python formatter (#3204)
  config/generation.config.mjs
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/pyproject.toml
  scripts/formatter.ts
  snippets/python/pyproject.toml
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  templates/python/pyproject.mustache
  templates/python/tests/client/createClient.mustache
  tests/output/python/pyproject.toml
Due: none
