Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix: test
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json

chore: tests
  specs/abtesting/common/schemas/ABTest.yml
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat: run & rules endpoints
  specs/composition/common/schemas/Hit.yml
  specs/composition/common/schemas/SearchParams.yml
  specs/composition/common/schemas/SearchResponse.yml
  specs/composition/common/schemas/compositionBehavior.yml
  specs/composition/common/schemas/compositionRule.yml
  specs/composition/common/schemas/rulesBatchCompositionAction.yml
  specs/composition/paths/rules/parameters.yml
  specs/composition/paths/rules/rule.yml
  specs/composition/paths/rules/saveRules.yml
  specs/composition/paths/rules/searchRules.yml
  specs/composition/paths/search/run.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

fix some tests
  scripts/cts/testServer/timeout.ts
  tests/CTS/requests/composition/listCompositions.json
Due: yarn fix:json

chore: adjust parameters again
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json

feat: add new error for ai-personalization
  specs/ai-personalization/common/enums.yml
Due: yarn eslint --ext=yml --fix

docs(ai-perso): add new application-level error (#4077)
  specs/ai-personalization/common/enums.yml
Due: yarn eslint --ext=yml --fix

docs(ai-perso): add new application-level error (#4077) (generated) [skip ci]
  specs/bundled/ai-personalization.doc.yml
  specs/bundled/ai-personalization.yml
Due: yarn eslint --ext=yml --fix

fix: add missing composition-specific RankingInfo
  specs/composition/common/schemas/Hit.yml
Due: yarn eslint --ext=yml --fix

fix: align search response with doc
  specs/composition/common/schemas/SearchParams.yml
  specs/composition/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

feat: add searchFacetValues endpoint
  specs/composition/common/schemas/SearchForFacetValuesResponse.yml
  specs/composition/paths/search/searchForFacetValues.yml
  specs/composition/spec.yml
Due: yarn eslint --ext=yml --fix

fix: correct Query Parameters for main injection & insets
  specs/composition/common/schemas/SearchParams.yml
  specs/composition/common/schemas/compositionBehavior.yml
Due: yarn eslint --ext=yml --fix

add the remaining tests
  scripts/cts/testServer/timeout.ts
  tests/CTS/client/composition/api.json
  tests/CTS/requests/composition/getRule.json
  tests/CTS/requests/composition/runSingleComposition.json
  tests/CTS/requests/composition/saveRules.json
  tests/CTS/requests/composition/searchCompositionRules.json
  tests/CTS/requests/composition/searchForFacetValues.json
Due: yarn fix:json

format
  tests/CTS/requests/composition/multipleBatch.json
Due: yarn fix:json

fix snippets
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  templates/javascript/snippets/init.mustache
Due: yarn cli format java generators

fix: some typing
  specs/composition/common/schemas/Hit.yml
  specs/composition/common/schemas/compositionRule.yml
Due: yarn eslint --ext=yml --fix

chore(ci): generate a pretty changelog for the release
  scripts/ci/codegen/createGitHubReleases.ts
Due: none

fix: test
  tests/CTS/requests/composition/saveRules.json
Due: yarn fix:json

chore: additional changes
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/EstimateResponse.yml
  specs/abtesting/paths/estimate.yml
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

return
  scripts/ci/codegen/createGitHubReleases.ts
Due: none

chore: change estimate
  specs/abtesting/common/schemas/EstimateResponse.yml
Due: yarn eslint --ext=yml --fix

chore: rename and change spec
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/EstimateABTestResponse.yml
  specs/abtesting/common/schemas/EstimateResponse.yml
  specs/abtesting/paths/estimate.yml
Due: yarn eslint --ext=yml --fix

chore(ci): generate a pretty changelog for the release (#4078)
  scripts/ci/codegen/createGitHubReleases.ts
Due: none

chore: rename metric to effectmetric
  specs/abtesting/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-11-06
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix composition and dart
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  config/clients.config.json
Due: yarn fix:json

bundlesize
  clients/algoliasearch-client-javascript/bundlesize.config.json
Due: yarn fix:json

fix: cts enum syntax....
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json

chore: prepare release 2024-11-06 (#4079)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix number
  specs/abtesting/common/schemas/EstimateABTestResponse.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add estimate path and responses [skip-bc] (#4057)
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/EstimateABTestResponse.yml
  specs/abtesting/paths/estimate.yml
  specs/abtesting/spec.yml
  tests/CTS/requests/abtesting/estimateABTest.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(eslint): add linter to forbid bigInt
  .eslintrc.cjs
  eslint/src/index.ts
  eslint/src/rules/noBigInt.ts
  eslint/tests/noBigInt.test.ts
Due: none

chore: prepare release 2024-11-12
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
