Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

wtf is this client
  clients/algoliasearch-client-go/algolia/errs/net_err.go
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/errs/wait_err.go
  clients/algoliasearch-client-go/algolia/internal/transport/requester.go
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/requester.go
  clients/algoliasearch-client-go/algolia/transport/retry_strategy.go
  clients/algoliasearch-client-go/algolia/transport/stateful_host.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  clients/algoliasearch-client-go/algolia/transport/utils.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/model.mustache
  templates/go/tests/client/createClient.mustache
  templates/go/tests/client/suite.mustache
  templates/go/tests/echo.mustache
  templates/go/utils.mustache
  tests/output/go/.golangci.yml
  tests/output/go/tests/echo.go
Due: yarn cli format java generators

fix: rename clearAllSynonyms to clearSynonyms
  specs/search/paths/synonyms/clearSynonyms.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

fix: also rename test file
  tests/CTS/requests/search/clearSynonyms.json
Due: yarn fix:json

almost
  scripts/cts/runCts.ts
  templates/go/tests/client/createClient.mustache
  templates/go/tests/client/suite.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/go/tests/requests/requests.mustache
  tests/output/go/tests/echo.go
  website/docs/contributing/setup-repository.md
Due: none

fix(specs): rename clearAllSynonyms to clearSynonyms (#2553)
  specs/search/paths/synonyms/clearSynonyms.yml
  specs/search/spec.yml
  tests/CTS/requests/search/clearSynonyms.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

snippets: remove index from csharp
  .github/workflows/pr-title.yml
  templates/csharp/snippets/method.mustache
Due: yarn github-actions:lint --fix

chore: pr title
  .github/workflows/pr-title.yml
Due: yarn github-actions:lint --fix

chore: generated code for commit 8b06223800f0616cfce81a0ca7112900f10cab2a. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Search/Api/SearchClient.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  snippets/csharp/src/Search.cs
  snippets/dart/lib/search.dart
  snippets/java/src/test/java/com/algolia/Search.java
  snippets/javascript/src/search.ts
  snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  snippets/php/src/Search.php
  snippets/python/search.py
  snippets/ruby/search.rb
  snippets/scala/src/main/scala/Search.scala
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
  tests/output/csharp/src/tests/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
Due: yarn eslint --ext=yml --fix

add e2e test suite
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/HttpRequestHeadersExtensions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/IHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Defaults.cs
  templates/csharp/generic_type.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/modelOneOf.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

review
  clients/algoliasearch-client-csharp/algoliasearch/Http/IHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Defaults.cs
  templates/csharp/tests/requests/requests.mustache
Due: none

review
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/IHttpRequester.cs
Due: none

snippets: remove index from csharp (#2554)
  .github/workflows/pr-title.yml
  templates/csharp/snippets/method.mustache
Due: yarn github-actions:lint --fix

chore: generated code for commit c35cf676ae3aa4b632aaa74cb5e82a3e711792f4. [skip ci]
  snippets/csharp/src/Abtesting.cs
  snippets/csharp/src/Analytics.cs
  snippets/csharp/src/Ingestion.cs
  snippets/csharp/src/Insights.cs
  snippets/csharp/src/Monitoring.cs
  snippets/csharp/src/Personalization.cs
  snippets/csharp/src/QuerySuggestions.cs
  snippets/csharp/src/Recommend.cs
  snippets/csharp/src/Search.cs
Due: none

feat(scripts): lint acl in the specs
  .eslintrc.cjs
  eslint/src/index.ts
  eslint/src/rules/validACL.ts
  eslint/tests/validACL.test.ts
Due: none

chore: message
  eslint/src/rules/validACL.ts
Due: none

fix: allow admin
  eslint/src/rules/validACL.ts
  eslint/tests/validACL.test.ts
Due: none

test(csharp): add e2e test suite (#2556)
  clients/algoliasearch-client-csharp/algoliasearch/Http/HttpRequestHeadersExtensions.cs
  templates/csharp/generic_type.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/modelOneOf.mustache
  templates/csharp/tests/requests/requests.mustache
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

chore: generated code for commit 99e4bdf2ca49518ba0993fc839b8848fcf879e85. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Search/Api/SearchClient.cs
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  specs/bundled/abtesting.doc.yml
  specs/bundled/abtesting.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/analytics.doc.yml
  specs/bundled/analytics.yml
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
  specs/bundled/personalization.doc.yml
  specs/bundled/personalization.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

fix(python): full overwrite `data` with request_options
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/api.mustache
  tests/output/python/requirements.txt
Due: none

fix: syntax
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
Due: none

feat(scripts): lint ACLs in the specs (#2557)
  .eslintrc.cjs
  eslint/src/index.ts
  eslint/src/rules/validACL.ts
  eslint/tests/validACL.test.ts
Due: none

chore: generated code for commit e448b730bd9a522ece98011284a50a8e4531931c. [skip ci]
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
Due: none

fix(ruby): correct oneOf deserialization
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  package.json
  playground/ruby/Gemfile.lock
  playground/ruby/search.rb
  templates/ruby/api.mustache
  templates/ruby/base_object.mustache
  templates/ruby/partial_anyof_module.mustache
  templates/ruby/partial_oneof_module.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/output/ruby/test/helpers.rb
Due: yarn fix:json

faster postinstall
  package.json
Due: yarn fix:json

fix(ruby): correct oneOf deserialization (#2559)
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  package.json
  playground/ruby/Gemfile.lock
  playground/ruby/search.rb
  templates/ruby/api.mustache
  templates/ruby/base_object.mustache
  templates/ruby/partial_anyof_module.mustache
  templates/ruby/partial_oneof_module.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/output/ruby/test/helpers.rb
Due: yarn fix:json

finally
  clients/algoliasearch-client-go/algolia/transport/transport.go
  scripts/cts/runCts.ts
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/tests/client/createClient.mustache
  templates/go/tests/client/suite.mustache
Due: none

fix ruby
  templates/ruby/snippets/method.mustache
  templates/ruby/tests/generateParams.mustache
  templates/ruby/tests/requests/requests.mustache
Due: none

bump cache
  .github/.cache_version
Due: none

fix(python): full overwrite `data` with request_options (#2558)
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/api.mustache
  tests/output/python/requirements.txt
Due: none

chore(ci): cache golangci-lint
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore: generated code for commit a9393b3a9dc596bd69d5f781f70da43c01515042. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  tests/output/python/requirements.txt
Due: none

less go shinanigans
  templates/go/tests/client/suite.mustache
Due: none

chore(ci): cache golangci-lint (#2560)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix: add unique server property
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
Due: yarn cli format java generators

add C# example
  templates/csharp/Configuration.mustache
Due: none

add C# example
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/csharp/Configuration.mustache
Due: yarn cli format java generators
