Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

chore: prepare release 2023-06-05 (#1595)
  clients/algoliasearch-client-dart/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

rename algolia_client_core to algolia_core
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/README.md
  clients/algoliasearch-client-dart/packages/client_core/example/example.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/algolia_core.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/api_client.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/algolia_agent.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/agent_interceptor.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_io.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_stub.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_web.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retryable_host.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  templates/dart/api.mustache
  templates/dart/lib.mustache
  templates/dart/pubspec.mustache
Due: none

rename package to have algolia_client_ prefix
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/algoliasearch.dart
  clients/algoliasearch-client-dart/packages/client_core/README.md
  clients/algoliasearch-client-dart/packages/client_core/example/example.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/algolia_client_core.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/api_client.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/algolia_agent.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/agent_interceptor.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_io.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_stub.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/platform/platform_web.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retryable_host.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/example/insights.dart
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/example/search.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension.dart
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/pubspec.mustache
  templates/dart/serialization/json_serializable/class_map.mustache
Due: docker exec -t api-client yarn cli format java generators

fix and update package versions
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/README.md
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/api.mustache
  templates/dart/lib.mustache
  templates/dart/pubspec.mustache
  templates/dart/version.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

feat(dart): algoliasearch with lite and umbrella libs (#1596)
  Dockerfile
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/LICENSE
  clients/algoliasearch-client-dart/packages/algoliasearch/analysis_options.yaml
  clients/algoliasearch-client-dart/packages/algoliasearch/build.yaml
  clients/algoliasearch-client-dart/packages/algoliasearch/example/search.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/algoliasearch.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_core/README.md
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_insights/example/insights.dart
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/example/search.dart
  clients/algoliasearch-client-dart/packages/client_search_lite/lib/src/extension.dart
  config/generation.config.js
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/lib.mustache
  templates/dart/pubspec.mustache
  templates/dart/serialization/json_serializable/class_map.mustache
  templates/dart/version.mustache
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix(javascript): waitForApiKey helper
  templates/javascript/clients/client/api/helpers.mustache
Due: none

fix(javascript): waitForApiKey helper (#1598)
  templates/javascript/clients/client/api/helpers.mustache
Due: none

chore: generated code for commit 31f1050a6a6bd94a1a48ef59fb4769bfd368f98c. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
Due: none

revert: "fix(javascript): waitForApiKey helper (#1598)"
  templates/javascript/clients/client/api/helpers.mustache
Due: none

revert: "fix(javascript): waitForApiKey helper (#1598)" (#1599)
  templates/javascript/clients/client/api/helpers.mustache
Due: none

chore: generated code for commit ab01c6ab66c4ba1f9b5112340e72ebd2185f003a. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
Due: none

chore: prepare release 2023-06-08
  clients/algoliasearch-client-dart/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore(deps): dependencies 2023-06-05 (#1578)
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  clients/algoliasearch-client-java-2/algoliasearch-core/build.gradle
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  eslint/package.json
  package.json
  playground/javascript/node/package.json
  playground/kotlin/build.gradle.kts
  scripts/package.json
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  website/.yarn/releases/yarn-3.5.0.cjs
  website/.yarn/releases/yarn-3.6.0.cjs
  website/.yarnrc.yml
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit f1dc5a4c6d5abf9775eb2c60d06da7b10877d4b8. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/java/build.gradle
Due: yarn fix:json

chore(deps): dependencies 2023-06-12 (#1601)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  package.json
  playground/javascript/browser/package.json
  playground/javascript/node/package.json
  playground/kotlin/build.gradle.kts
  scripts/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

feat(dart): implement cts generation
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/request_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/EscapeDartLambda.java
  generators/src/main/java/com/algolia/codegen/cts/EscapeDollarSignLambda.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/cts/runCts.ts
  scripts/formatter.ts
  templates/dart/api.mustache
  templates/dart/lib.mustache
  templates/dart/serialization/json_serializable/class_map.mustache
  templates/dart/serialization/json_serializable/enum.mustache
  templates/dart/tests/client/create_client.mustache
  templates/dart/tests/client/method.mustache
  templates/dart/tests/client/step.mustache
  templates/dart/tests/client/suite.mustache
  templates/dart/tests/client/variable.mustache
  templates/dart/tests/param_map.mustache
  templates/dart/tests/param_object.mustache
  templates/dart/tests/param_value.mustache
  templates/dart/tests/request_param.mustache
  templates/dart/tests/requests/requests.mustache
  tests/output/dart/.gitignore
  tests/output/dart/analysis_options.yaml
  tests/output/dart/lib/algolia_test.dart
  tests/output/dart/lib/src/expect.dart
  tests/output/dart/lib/src/nullable.dart
  tests/output/dart/lib/src/run.dart
  tests/output/dart/pubspec.yaml
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix running dart cts
  scripts/cts/runCts.ts
  tests/output/dart/lib/src/run.dart
  tests/output/dart/pubspec.yaml
Due: none

fix(specs): add processing run status
  specs/ingestion/common/schemas/run.yml
Due: none

chore: prepare release 2023-06-13
  clients/algoliasearch-client-dart/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

feat(specs): add `startDate` and `endDate` parameters to Ingestion API
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/paths/runs/runs.yml
Due: none

add pubspec overrrides
  tests/output/dart/.gitignore
  tests/output/dart/pubspec_overrides.yaml
Due: none

fix(specs): add processing run outcome (#1613)
  specs/ingestion/common/schemas/run.yml
Due: none

fix: specs
  specs/ingestion/common/observabilityParameters.yml
Due: none

chore: generated code for commit 138a35b56a17e89a07e321948476f852729a3421. [skip ci]
  clients/algoliasearch-client-go/algolia/ingestion/model_run_outcome.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/runOutcome.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/RunOutcome.kt
  specs/bundled/ingestion.yml
Due: none

feat(specs): add `startDate` and `endDate` parameters to Ingestion API (#1614)
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/paths/runs/runs.yml
Due: none

chore: generated code for commit 81401eedbb266d7a540fc98c0c15392548a54689. [skip ci]
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/IngestionClient.kt
  specs/bundled/ingestion.yml
Due: none

apply review suggestions
  .github/.cache_version
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/pubspec.mustache
  tests/output/dart/pubspec.yaml
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

feat: add dart playground
  clients/algoliasearch-client-dart/packages/client_insights/lib/algolia_insights.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/algolia_search.dart
  playground/dart/.gitignore
  playground/dart/analysis_options.yaml
  playground/dart/bin/algoliasearch.dart
  playground/dart/bin/insights.dart
  playground/dart/bin/search.dart
  playground/dart/pubspec.yaml
  playground/dart/pubspec_overrides.yaml
Due: none

feat(dart): add playground (#1615)
  clients/algoliasearch-client-dart/packages/client_insights/lib/algolia_insights.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/algolia_search.dart
  playground/dart/.gitignore
  playground/dart/analysis_options.yaml
  playground/dart/bin/algoliasearch.dart
  playground/dart/bin/insights.dart
  playground/dart/bin/search.dart
  playground/dart/pubspec.yaml
  playground/dart/pubspec_overrides.yaml
Due: none

Copy and move
  specs/common/parameters.yml
  specs/common/responses/common.yml
  specs/search/common/enums.yml
  specs/search/paths/manage_indices/operationIndex.yml
  specs/search/spec.yml
Due: none

List indices
  specs/search/paths/manage_indices/listIndices.yml
Due: none
