Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

amend script
  scripts/common.ts
Due: none

feat(specs): rename ai perso to advanced perso (#4320)
  scripts/common.ts
  specs/advanced-personalization/common/enums.yml
  specs/advanced-personalization/common/responses/BadRequest.yml
  specs/advanced-personalization/common/responses/BaseResponse.yml
  specs/advanced-personalization/common/responses/ConfigurationNotFound.yml
  specs/advanced-personalization/common/responses/InternalServerError.yml
  specs/advanced-personalization/common/responses/InvalidUserID.yml
  specs/advanced-personalization/common/responses/Unauthorized.yml
  specs/advanced-personalization/common/responses/UserNotFound.yml
  specs/advanced-personalization/common/schemas/Configuration.yml
  specs/advanced-personalization/common/schemas/ConfigurationObject.yml
  specs/advanced-personalization/common/schemas/User.yml
  specs/advanced-personalization/common/schemas/UsersParams.yml
  specs/advanced-personalization/paths/config.yml
  specs/advanced-personalization/paths/user.yml
  specs/advanced-personalization/paths/users.yml
  specs/advanced-personalization/spec.yml
Due: yarn eslint --ext=yml --fix

chore: remove ai-personalization orphan files
  docs/bundled/ai-personalization-snippets.json
  docs/bundled/ai-personalization.yml
  specs/bundled/ai-personalization.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): rename ai perso to advanced perso (#4320) (generated) [skip ci]
  docs/bundled/advanced-personalization.yml
  specs/bundled/advanced-personalization.yml
Due: yarn eslint --ext=yml --fix

chore: remove ai-personalization orphan files (#4321)
  docs/bundled/ai-personalization-snippets.json
  docs/bundled/ai-personalization.yml
  specs/bundled/ai-personalization.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(byoc): only use shortname in the source input
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

feat(specs): only use shortname in the source input [skip-bc] (#4287)
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.ruby
  scripts/docker/Dockerfile.swift
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

chore: wait before release
  clients/algoliasearch-client-dart/.github/workflows/release.yml
Due: none

chore: wait before release (#4323)
  clients/algoliasearch-client-dart/.github/workflows/release.yml
Due: none

fix(specs): move customRanking and keepDiacriticsOnCharacters to indexSetting
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix ctx
  tests/CTS/requests/search/search.json
Due: yarn fix:json

fix kotlin
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchForHits.kt
Due: none

swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchQueryExtension.swift
Due: none

chore(scripts): try experimental-strip-types [skip-bc] (#3764) (generated) [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

fix scripts
  oxlintrc.json
  scripts/ci/codegen/__tests__/codegen.test.ts
  scripts/ci/codegen/pushToRepository.ts
  scripts/cts/testServer/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/specs/__tests__/snippets.test.ts
Due: yarn fix:json

fix(specs): move customRanking and keepDiacriticsOnCharacters to indexSettings [skip-bc] (#4324)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchForHits.kt
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchQueryExtension.swift
  oxlintrc.json
  scripts/ci/codegen/__tests__/codegen.test.ts
  scripts/ci/codegen/pushToRepository.ts
  scripts/cts/testServer/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/specs/__tests__/snippets.test.ts
  specs/common/schemas/IndexSettings.yml
  tests/CTS/requests/search/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): deprecate task v1
  specs/ingestion/paths/tasks/v1/enableTask.yml
  specs/ingestion/paths/tasks/v1/runTask.yml
  specs/ingestion/paths/tasks/v1/searchTasks.yml
  specs/ingestion/paths/tasks/v1/taskID.yml
  specs/ingestion/paths/tasks/v1/tasks.yml
Due: yarn eslint --ext=yml --fix

everywhere
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/AlgoliaAgent.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/internal/Throwable.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchForHits.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Encoding.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Json.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/internal/Platform.jvm.kt
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  templates/kotlin/oneof_interface.mustache
  templates/kotlin/snippets/libs.versions.mustache
Due: none

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

some deps
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-python/algoliasearch/http/exceptions.py
  package.json
  playground/python/pyproject.toml
  scripts/formatter.ts
  templates/javascript/clients/client/builds/definition.mustache
  templates/python/pyproject.mustache
  templates/python/snippets/pyproject.mustache
  tests/output/python/pyproject.toml
Due: yarn fix:json

lock
  playground/go/go.mod
  playground/go/go.sum
  tests/output/go/go.mod
  tests/output/go/go.sum
Due: none

ok
  clients/algoliasearch-client-scala/project/build.properties
  playground/csharp/Performances/Performances.csproj
  playground/scala/project/build.properties
  scripts/package.json
  templates/csharp/snippets/dotnet-tools.mustache
  templates/scala/project/build.properties.mustache
  templates/scala/snippets/build.properties.mustache
  tests/output/csharp/.config/dotnet-tools.json
  tests/output/python/pyproject.toml
  tests/output/scala/project/build.properties
Due: yarn fix:json

feat(generators): add time unit conversion lambda
  generators/src/main/java/com/algolia/codegen/lambda/ToSecondsLambda.java
Due: yarn cli format java generators

feat(swift): endpoint level timeout
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/swift/api.mustache
Due: yarn cli format java generators

feat(kotlin): endpoint level timeout
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/RequestOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  templates/kotlin/api.mustache
Due: none

feat(java): endpoint level timeout
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/RequestOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  templates/java/api.mustache
Due: none

feat(scala): endpoint level timeout
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/RequestOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  templates/scala/api.mustache
Due: yarn cli format java generators

feat(php): endpoint level timeout
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  templates/php/api.mustache
Due: yarn cli format java generators

feat(go): endpoint level timeout
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  templates/go/api.mustache
  templates/go/client.mustache
Due: yarn cli format java generators

feat(csharp): endpoint level timeout
  clients/algoliasearch-client-csharp/algoliasearch/Http/InternalRequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptionBuilder.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/api.mustache
Due: yarn cli format java generators

javascript
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/javascript/tests/method.mustache
Due: yarn cli format java generators
