Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

docs(abtests) v3 api
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/ABTestResponse.yml
  specs/abtesting-v3/common/schemas/AddABTestsVariant.yml
  specs/abtesting-v3/common/schemas/EstimateABTestResponse.yml
  specs/abtesting-v3/common/schemas/ScheduleABTestResponse.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/abtest.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/estimate.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
  specs/abtesting-v3/paths/stopABTest.yml
  specs/abtesting-v3/spec.yml
Due: yarn eslint --ext=yml --fix

guides: add snippets for parameters
  tests/CTS/requests/search/searchSingleIndex.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

setSettings
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

forgot one
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

fix(specs): responseFields description
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): responseFields description (#4399)
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

yet another linter rule
  eslint/src/rules/outOfLineRule.ts
  eslint/src/utils.ts
  eslint/tests/outOfLineRule.test.ts
  mise.toml
  specs/abtesting/common/schemas/ABTest.yml
  specs/common/responses/common.yml
  specs/crawler/common/schemas/getCrawlerResponse.yml
Due: yarn eslint --ext=yml --fix

didnt mean to push that
  mise.toml
Due: none

fix(specs): add a linter to assert that type is present (#4393)
  .eslintrc.cjs
  eslint/src/index.ts
  eslint/src/rules/hasType.ts
  eslint/src/rules/noBigInt.ts
  eslint/src/rules/outOfLineRule.ts
  eslint/src/utils.ts
  eslint/tests/hasType.test.ts
  eslint/tests/noBigInt.test.ts
  eslint/tests/outOfLineRule.test.ts
  package.json
  scripts/package.json
  specs/abtesting/common/schemas/ABTest.yml
  specs/common/responses/common.yml
  specs/crawler/common/schemas/configuration.yml
  specs/crawler/common/schemas/getCrawlerResponse.yml
  specs/monitoring/common/schemas/Server.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

chore(deps): dependencies 2025-01-27 (#4395)
  .nvmrc
  clients/algoliasearch-client-java/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/wrapper/gradle-wrapper.properties
  eslint/package.json
  generators/build.gradle
  gradle/gradle/wrapper/gradle-wrapper.properties
  package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/package.json
  scripts/pre-gen/generateOpenapitools.ts
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2025-01-27 (#4395) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
Due: yarn fix:json

Update specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/abtests.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/paths/scheduleABTest.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
Due: yarn eslint --ext=yml --fix

Update specs/abtesting-v3/paths/estimate.yml
  specs/abtesting-v3/paths/estimate.yml
Due: yarn eslint --ext=yml --fix

fix(abtests) remove significance from abtest
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

fix csharp and go
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/snippets/method.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/generateGenerics.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/go/tests/arrayType.mustache
Due: yarn cli format java generators

feat(abtests) move filterEffects in metadata + add description to pValue
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(abtests) add metadata into metric
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(abtests) add metadata into metric (generated)
  specs/bundled/abtesting.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/analytics.yml
  specs/bundled/crawler.yml
  specs/bundled/monitoring.yml
  specs/bundled/recommend.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

guides: add snippets for parameters (#4396)
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/snippets/method.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/generateGenerics.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/go/tests/arrayType.mustache
  tests/CTS/requests/search/searchSingleIndex.json
  tests/CTS/requests/search/setSettings.json
Due: yarn cli format java generators, yarn fix:json

guides: update the snippets according to the doc review
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

some more
  tests/CTS/requests/search/searchSingleIndex.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json

out you go swift
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

add predict as codeowners
  CODEOWNERS
Due: none

e2e are slow too
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

guides: update the snippets according to the doc review (#4412)
  .github/workflows/check.yml
  tests/CTS/requests/search/searchSingleIndex.json
  tests/CTS/requests/search/setSettings.json
Due: yarn github-actions:lint --fix, yarn fix:json

guides: update the snippets according to the doc review (#4412) (generated) [skip ci]
  docs/bundled/search-snippets.json
  docs/snippets/csharp/src/Search.cs
  docs/snippets/dart/lib/search.dart
  docs/snippets/go/src/search.go
  docs/snippets/java/src/test/java/com/algolia/Search.java
  docs/snippets/javascript/src/search.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Search.kt
  docs/snippets/php/src/Search.php
  docs/snippets/python/search.py
  docs/snippets/ruby/search.rb
  docs/snippets/scala/src/main/scala/Search.scala
  docs/snippets/swift/Sources/Search.swift
  tests/output/csharp/src/generated/e2e/Search.test.cs
  tests/output/csharp/src/generated/requests/Search.test.cs
  tests/output/dart/test/requests/search_test.dart
  tests/output/go/tests/requests/search_test.go
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/javascript/src/requests/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/SearchTest.kt
  tests/output/php/src/requests/SearchTest.php
  tests/output/python/tests/requests/search_test.py
  tests/output/ruby/test/requests/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/SearchTest.scala
  tests/output/swift/Tests/requests/SearchTests.swift
Due: yarn fix:json

chore: add predict as codeowners (#4414)
  CODEOWNERS
Due: none

detail error codes
  specs/advanced-personalization/common/responses/BadRequest.yml
  specs/advanced-personalization/common/responses/BadUserID.yml
  specs/advanced-personalization/common/responses/BaseResponse.yml
  specs/advanced-personalization/common/responses/ConfigurationNotFound.yml
  specs/advanced-personalization/common/responses/GenericUnprocessableEntity.yml
  specs/advanced-personalization/common/responses/InvalidUserID.yml
  specs/advanced-personalization/common/responses/Unauthorized.yml
  specs/advanced-personalization/common/responses/UserNotFound.yml
  specs/advanced-personalization/common/schemas/Configuration.yml
  specs/advanced-personalization/paths/config.yml
  specs/advanced-personalization/paths/user.yml
  specs/advanced-personalization/paths/users.yml
Due: yarn eslint --ext=yml --fix

make not found generic
  specs/advanced-personalization/common/responses/GenericNotFound.yml
  specs/advanced-personalization/paths/user.yml
Due: yarn eslint --ext=yml --fix

use refs
  specs/advanced-personalization/common/responses/BadRequest.yml
  specs/advanced-personalization/common/responses/BadUserID.yml
  specs/advanced-personalization/common/responses/GenericNotFound.yml
  specs/advanced-personalization/common/responses/GenericUnprocessableEntity.yml
  specs/advanced-personalization/common/responses/InternalServerError.yml
  specs/advanced-personalization/common/responses/InvalidUserID.yml
  specs/advanced-personalization/common/responses/Unauthorized.yml
  specs/advanced-personalization/common/schemas/ErrorResponses.yml
Due: yarn eslint --ext=yml --fix

fix
  specs/advanced-personalization/common/responses/InvalidUserID.yml
Due: yarn eslint --ext=yml --fix

lint
  specs/advanced-personalization/common/responses/BadRequest.yml
  specs/advanced-personalization/common/responses/BadUserID.yml
  specs/advanced-personalization/common/responses/GenericUnprocessableEntity.yml
  specs/advanced-personalization/common/responses/InternalServerError.yml
  specs/advanced-personalization/common/responses/InvalidUserID.yml
  specs/advanced-personalization/common/responses/Unauthorized.yml
  specs/advanced-personalization/common/responses/UserNotFound.yml
Due: yarn eslint --ext=yml --fix
