Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: use vite for browser playground
  playground/javascript/browser/.gitignore
  playground/javascript/browser/.yarnrc.yml
  playground/javascript/browser/README.md
  playground/javascript/browser/app.css
  playground/javascript/browser/app.ts
  playground/javascript/browser/eslint.config.js
  playground/javascript/browser/favicon.png
  playground/javascript/browser/index.html
  playground/javascript/browser/package.json
  playground/javascript/browser/products.html
  playground/javascript/browser/public/vite.svg
  playground/javascript/browser/src/assets/react.svg
  playground/javascript/browser/src/index.css
  playground/javascript/browser/src/main.tsx
  playground/javascript/browser/src/vite-env.d.ts
  playground/javascript/browser/tsconfig.app.json
  playground/javascript/browser/tsconfig.json
  playground/javascript/browser/tsconfig.node.json
  playground/javascript/browser/vite.config.ts
  playground/javascript/browser/yarn.lock
Due: yarn fix:json

chore: workspace good now?
  .github/workflows/check.yml
  package.json
  playground/javascript/browser/package.json
  playground/javascript/browser/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore: cleanup
  playground/javascript/browser/.gitignore
  playground/javascript/browser/.yarn/releases/yarn-4.5.3.cjs
  playground/javascript/browser/README.md
Due: none

chore: build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

fix(scripts): update versions history script [skip-bc] (#4189)
  config/versions.history.json
  scripts/generate.ts
  scripts/release/__tests__/versionsHistory.test.ts
  scripts/release/versionsHistory.ts
Due: yarn fix:json

chore: do not skip lib checks
  playground/javascript/browser/tsconfig.app.json
  playground/javascript/browser/tsconfig.json
  playground/javascript/browser/tsconfig.node.json
  playground/javascript/browser/tsconfig.tsbuildinfo
Due: yarn fix:json

chore: spread versions history to docs
  docs/versions-history-with-sla-and-support-policy.json
  scripts/ci/codegen/pushToRepository.ts
  scripts/release/versionsHistory.ts
Due: yarn fix:json

fix: maybe scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
Due: none

chore: remove redundant files
  playground/javascript/browser/.gitignore
  playground/javascript/browser/.yarn/releases/yarn-4.5.3.cjs
Due: none

chore: unused svg
  playground/javascript/browser/src/assets/react.svg
Due: none

chore: review 3.14r
  scripts/ci/codegen/pushToRepository.ts
Due: none

chore: use vite for browser playground [skip-bc] (#4194)
  .github/workflows/check.yml
  package.json
  playground/javascript/browser/.yarn/releases/yarn-4.5.3.cjs
  playground/javascript/browser/.yarnrc.yml
  playground/javascript/browser/app.css
  playground/javascript/browser/app.ts
  playground/javascript/browser/eslint.config.js
  playground/javascript/browser/favicon.png
  playground/javascript/browser/index.html
  playground/javascript/browser/package.json
  playground/javascript/browser/products.html
  playground/javascript/browser/public/vite.svg
  playground/javascript/browser/src/index.css
  playground/javascript/browser/src/main.tsx
  playground/javascript/browser/src/vite-env.d.ts
  playground/javascript/browser/tsconfig.json
  playground/javascript/browser/tsconfig.tsbuildinfo
  playground/javascript/browser/vite.config.ts
  playground/javascript/browser/yarn.lock
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore: use vite for browser playground [skip-bc] (#4194) (generated) [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

chore: spread versions history to docs [skip-bc] (#4195)
  docs/versions-history-with-sla-and-support-policy.json
  scripts/ci/codegen/pushToRepository.ts
  scripts/release/versionsHistory.ts
Due: yarn fix:json

fix(guides): push records.json location
  templates/csharp/guides/ingestion/pushSetup.mustache
  templates/go/guides/ingestion/pushSetup.mustache
  templates/java/guides/ingestion/pushSetup.mustache
  templates/javascript/guides/ingestion/pushSetup.mustache
  templates/kotlin/guides/ingestion/pushSetup.mustache
  templates/php/guides/ingestion/pushSetup.mustache
  templates/python/guides/ingestion/pushSetup.mustache
  templates/ruby/guides/ingestion/pushSetup.mustache
  templates/scala/guides/ingestion/pushSetup.mustache
  templates/swift/guides/ingestion/pushSetup.mustache
Due: none

guides: push records.json location [skip-bc] (#4196)
  templates/csharp/guides/ingestion/pushSetup.mustache
  templates/go/guides/ingestion/pushSetup.mustache
  templates/java/guides/ingestion/pushSetup.mustache
  templates/javascript/guides/ingestion/pushSetup.mustache
  templates/kotlin/guides/ingestion/pushSetup.mustache
  templates/php/guides/ingestion/pushSetup.mustache
  templates/python/guides/ingestion/pushSetup.mustache
  templates/ruby/guides/ingestion/pushSetup.mustache
  templates/scala/guides/ingestion/pushSetup.mustache
  templates/swift/guides/ingestion/pushSetup.mustache
Due: none

guides: push records.json location [skip-bc] (#4196) (generated) [skip ci]
  docs/guides/csharp/src/pushSetup.cs
  docs/guides/go/src/pushSetup.go
  docs/guides/java/src/test/java/com/algolia/pushSetup.java
  docs/guides/javascript/src/pushSetup.ts
  docs/guides/kotlin/src/main/kotlin/com/algolia/snippets/pushSetup.kt
  docs/guides/php/src/pushSetup.php
  docs/guides/python/pushSetup.py
  docs/guides/ruby/pushSetup.rb
  docs/guides/scala/src/main/scala/pushSetup.scala
  docs/guides/swift/Sources/pushSetup.swift
Due: none

chore: review
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  package.json
Due: yarn fix:json

fix(specs): ingestion transformation `try` summary
  specs/ingestion/paths/transformations/transformationTryID.yml
  specs/ingestion/paths/transformations/transformationsTry.yml
Due: yarn eslint --ext=yml --fix

chore(deps): update rubygems/release-gem digest to a25424b (generated)
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
Due: none

chore(deps): update react monorepo to v19 (generated)
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

chore(deps): update dependency dotnet-sdk to v9.0.101 (#4201) (generated)
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
Due: none

fix(specs): ingestion transformation `try` summary [skip-bc] (#4198)
  specs/ingestion/paths/transformations/transformationTryID.yml
  specs/ingestion/paths/transformations/transformationsTry.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ingestion transformation `try` summary [skip-bc] (#4198) (generated) [skip ci]
  specs/bundled/ingestion.doc.yml
  specs/bundled/ingestion.yml
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn eslint --ext=yml --fix

chore: remove remark
  website/docusaurus.config.js
Due: none

chore(deps): dependencies 2024-12-09 [skip-bc] (#4197)
  .nvmrc
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
  config/.csharp-version
  eslint/package.json
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/csharp/global.json
  tests/output/kotlin/gradle/libs.versions.toml
  website/docusaurus.config.js
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2024-12-09 [skip-bc] (#4197) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
Due: yarn fix:json

chore: prepare release 2024-12-09 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: bundlesize
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

t
  scripts/package.json
  scripts/specs/format.ts
  specs/bundled/search.doc.yml
  yarn.lock
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2024-12-09 [skip-bc] (#4221)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
