Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

Update specs/search/paths/multiclusters/searchUserIds.yml
  specs/search/paths/multiclusters/searchUserIds.yml
Due: none

Update specs/search/paths/multiclusters/userId.yml
  specs/search/paths/multiclusters/userId.yml
Due: none

Update specs/search/paths/multiclusters/userIds.yml
  specs/search/paths/multiclusters/userIds.yml
Due: none

Update specs/analytics/paths/status/getStatus.yml
  specs/analytics/paths/status/getStatus.yml
Due: none

Update specs/analytics/common/parameters.yml
  specs/analytics/common/parameters.yml
Due: none

Update specs/analytics/paths/click/getAverageClickPosition.yml
  specs/analytics/paths/click/getAverageClickPosition.yml
Due: none

Update specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickPositions.yml
Due: none

Update specs/analytics/paths/click/getConversionRate.yml
  specs/analytics/paths/click/getConversionRate.yml
Due: none

fix: prettier for php
  .prettierrc
  scripts/formatter.ts
Due: none

get Recommend rule - WIP
  specs/recommend/common/parameters.yml
  specs/recommend/common/schemas/RecommendationsRequest.yml
  specs/recommend/paths/getRecommendRule.yml
  specs/recommend/spec.yml
Due: none

Delete package.json
  package.json
Due: yarn fix:json

Delete yarn.lock
  yarn.lock
Due: none

Update specs/analytics/paths/search/getSearchesNoClicks.yml
  specs/analytics/paths/search/getSearchesNoClicks.yml
Due: none

Update specs/analytics/paths/search/getTopHits.yml
  specs/analytics/paths/search/getTopHits.yml
Due: none

Update specs/analytics/paths/search/getUsersCount.yml
  specs/analytics/paths/search/getUsersCount.yml
Due: none

Update specs/analytics/spec.yml
  specs/analytics/spec.yml
Due: none

Update getTopFilterAttributes.yml
  specs/analytics/paths/search/getTopFilterAttributes.yml
Due: none

fix: add back files
  package.json
  yarn.lock
Due: yarn fix:json

chore(deps): dependencies 2023-07-10 (#1705)
  .github/.cache_version
  .prettierrc
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  clients/algoliasearch-client-java-2/build.gradle
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.5.0.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-3.6.1.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/base.tsconfig.json
  eslint/package.json
  package.json
  playground/javascript/browser/package.json
  playground/javascript/node/package.json
  playground/kotlin/build.gradle.kts
  scripts/buildClients.ts
  scripts/common.ts
  scripts/formatter.ts
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/javascript/.yarn/releases/yarn-3.5.0.cjs
  tests/output/javascript/.yarn/releases/yarn-3.6.1.cjs
  tests/output/javascript/.yarnrc.yml
  tests/output/javascript/yarn.lock
  website/.yarn/releases/yarn-3.6.0.cjs
  website/.yarn/releases/yarn-3.6.1.cjs
  website/.yarnrc.yml
  website/package.json
  yarn.lock
Due: yarn fix:json

docs(specs): Review OpenAPI Search API (dictionary operations) (#1700)
  specs/search/paths/dictionaries/batchDictionaryEntries.yml
  specs/search/paths/dictionaries/common/parameters.yml
  specs/search/paths/dictionaries/common/schemas/Languages.yml
  specs/search/paths/dictionaries/common/schemas/SearchDictionaryEntriesResponse.yml
  specs/search/paths/dictionaries/dictionarySettings.yml
  specs/search/paths/dictionaries/getDictionaryLanguages.yml
  specs/search/paths/dictionaries/searchDictionaryEntries.yml
Due: none

chore: only setup dart when required
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore: only setup dart when required (#1731)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore: test esm
  .eslintrc.js
  config/generation.config.js
  config/generation.config.json
  scripts/__tests__/common.test.ts
  scripts/buildClients.ts
  scripts/buildSpecs.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/setRunVariables.ts
  scripts/ci/githubActions/utils.ts
  scripts/ci/utils.ts
  scripts/cli/index.ts
  scripts/cli/utils.ts
  scripts/common.ts
  scripts/config.ts
  scripts/cts/generate.ts
  scripts/cts/runCts.ts
  scripts/formatter.ts
  scripts/generate.ts
  scripts/husky/__tests__/pre-commit.test.js
  scripts/husky/pre-commit.js
  scripts/husky/utils.js
  scripts/package.json
  scripts/playground.ts
  scripts/pre-gen/generateOpenapitools.ts
  scripts/pre-gen/index.ts
  scripts/pre-gen/removeExistingCodegen.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/common.ts
  scripts/release/updateAPIVersions.ts
  scripts/spinners.ts
  scripts/tsconfig.json
  yarn.lock
Due: yarn fix:json

chore: test esm p2
  scripts/ci/codegen/__tests__/codegen.test.ts
  scripts/ci/codegen/__tests__/spreadGeneration.test.ts
  scripts/ci/codegen/cleanGeneratedBranch.ts
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/text.ts
  scripts/ci/codegen/upsertGenerationComment.ts
Due: none

chore: test esm p3
  scripts/ci/githubActions/setRunVariables.ts
  scripts/husky/pre-commit.js
Due: none

chore: test esm p4
  scripts/ci/codegen/cleanGeneratedBranch.ts
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/codegen/spreadGeneration.ts
  scripts/ci/codegen/upsertGenerationComment.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/release/createReleasePR.ts
Due: none

get Recommend rule
  specs/recommend/common/parameters.yml
  specs/recommend/common/schemas/RecommendationsRequest.yml
  specs/recommend/paths/getRecommendRule.yml
Due: none

Delete Recommend rule and get task status
  specs/recommend/paths/getRecommendStatus.yml
  specs/recommend/paths/recommendRule.yml
  specs/recommend/spec.yml
Due: none

fix: jest part 1
  .eslintrc.js
  scripts/__tests__/common.test.ts
  scripts/ci/codegen/__tests__/codegen.test.ts
  scripts/common.ts
  scripts/husky/utils.js
  scripts/jest.config.ts
  scripts/package.json
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/__tests__/updateAPIVersions.test.ts
  scripts/tsconfig.json
  yarn.lock
Due: yarn fix:json

docs(specs): query suggestions
  specs/query-suggestions/common/enums.yml
  specs/query-suggestions/common/parameters.yml
  specs/query-suggestions/common/responses/BadRequest.yml
  specs/query-suggestions/common/responses/InternalError.yml
  specs/query-suggestions/common/responses/NotFound.yml
  specs/query-suggestions/common/responses/Unauthorized.yml
  specs/query-suggestions/common/responses/UnprocessableEntity.yml
  specs/query-suggestions/common/schemas/BaseResponse.yml
  specs/query-suggestions/common/schemas/Facet.yml
  specs/query-suggestions/common/schemas/Languages.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfiguration.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationResponse.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsConfigurationWithIndex.yml
  specs/query-suggestions/common/schemas/QuerySuggestionsIndexName.yml
  specs/query-suggestions/common/schemas/SourceIndex.yml
  specs/query-suggestions/common/schemas/SourceIndices.yml
  specs/query-suggestions/paths/getConfigurationStatus.yml
  specs/query-suggestions/paths/getLogFile.yml
  specs/query-suggestions/paths/qsConfig.yml
  specs/query-suggestions/paths/qsConfigs.yml
  specs/query-suggestions/spec.yml
Due: none

fix: jest part 2
  scripts/__tests__/common.test.ts
  scripts/ci/codegen/__tests__/codegen.test.ts
  scripts/release/__tests__/createReleasePR.test.ts
Due: none

fix: cache key
  .github/.cache_version
Due: none

fix: eslintrc scripts
  .eslintrc.js
  package.json
  scripts/.eslintrc.cjs
  scripts/package.json
Due: yarn fix:json

fix: specify config
  scripts/package.json
Due: yarn fix:json
