Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

feat(clients): add waitForAppTask helper (#3158)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  templates/ruby/search_helpers.mustache
  website/docs/clients/guides/manage-dictionary-entries.mdx
  website/src/components/CodeBlockLanguage.js
  website/src/snippets.js
Due: none

fix(clients): remove unused models from lite clients (#3159)
  scripts/buildSpecs.ts
Due: none

feat(cts): generate tests for helpers
  clients/algoliasearch-client-csharp/algoliasearch/Models/Common/SecuredApiKeyRestrictionHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
  clients/algoliasearch-client-python/algoliasearch/http/serializer.py
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SecuredApiKeyRestrictionExtension.swift
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  playground/csharp/Playground/Playgrounds/Search.cs
  playground/swift/playground/playground/main.swift
  specs/search/helpers/generateSecuredApiKey.yml
  templates/csharp/tests/client/suite.mustache
  templates/dart/tests/client/method.mustache
  templates/go/api.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/client/suite.mustache
  templates/java/tests/client/suite.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/php/api.mustache
  templates/php/tests/client/suite.mustache
  templates/python/api.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/method.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/requests/helpers.mustache
  templates/python/tests/requests/requests.mustache
  templates/ruby/tests/client/suite.mustache
  templates/scala/tests/client/suite.mustache
  tests/CTS/client/search/helpers.json
  tests/output/csharp/src/SecuredApiKeysTests.cs
  tests/output/swift/Tests/handwritten/SecuredApiKeyHelpers.swift
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2024-06-11
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-06-11 (#3160)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix(python): remove contact
  templates/python/pyproject.mustache
Due: none

chore: same support link everywhere
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-dart/packages/algoliasearch/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  templates/kotlin/README.mustache
  tests/output/python/pyproject.toml
Due: none

update
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-go/.golangci.yml
  specs/search/helpers/generateSecuredApiKey.yml
  templates/go/search_helpers.mustache
  templates/go/tests/requests/helpers.mustache
  templates/php/api.mustache
  tests/output/swift/Tests/handwritten/SecuredApiKeyHelpers.swift
Due: yarn eslint --ext=yml --fix

fix(python): remove contact (#3161)
  clients/algoliasearch-client-csharp/README.md
  clients/algoliasearch-client-dart/README.md
  clients/algoliasearch-client-dart/packages/algoliasearch/README.md
  clients/algoliasearch-client-go/README.md
  clients/algoliasearch-client-java/README.md
  clients/algoliasearch-client-javascript/README.md
  clients/algoliasearch-client-kotlin/README.md
  clients/algoliasearch-client-python/README.md
  clients/algoliasearch-client-ruby/README.md
  clients/algoliasearch-client-scala/README.md
  clients/algoliasearch-client-swift/README.md
  templates/kotlin/README.mustache
  templates/python/pyproject.mustache
  tests/output/python/pyproject.toml
Due: none

chore(scripts): rename dart release CI
  clients/algoliasearch-client-dart/.github/workflows/release.yml
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

chore(scripts): rename dart release CI (#3162)
  clients/algoliasearch-client-dart/.github/workflows/release.yml
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

chore: generated code for commit 3dca0c433d56455801805135c02b6c89efa15182. [skip ci]
  clients/algoliasearch-client-python/pyproject.toml
Due: none

fix(clients): safer replaceAllObjects + metis compliant
  playground/python/app/search.py
  templates/javascript/clients/client/api/helpers.mustache
  templates/python/search_helpers.mustache
  website/docs/contributing/add-new-api-client.md
Due: none

feat: go and java
  clients/algoliasearch-client-go/.golangci.yml
  playground/python/app/search.py
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
Due: none

feat: php
  templates/javascript/clients/client/api/helpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
Due: none

feat: swift scala kotlin
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat: c#
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

fix: js helper tests
  templates/javascript/tests/requests/helpers.mustache
Due: none

fix: swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

correct generation for csharp
  clients/algoliasearch-client-python/algoliasearch/http/serializer.py
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  specs/search/helpers/generateSecuredApiKey.yml
  templates/csharp/tests/client/method.mustache
  templates/python/tests/client/method.mustache
  tests/output/javascript/yarn.lock
  tests/output/swift/Tests/handwritten/Serializers.swift
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

fix: csharp
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: none

fix python and add ruby
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  scripts/cts/runCts.ts
  templates/python/search_helpers.mustache
  templates/python/tests/requests/helpers.mustache
  templates/ruby/api.mustache
  templates/ruby/search_helpers.mustache
Due: none

api doc
  templates/java/api_helpers.mustache
Due: none

java helpers
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/JsonSerializer.java
  templates/java/api.mustache
  templates/java/api_helpers.mustache
Due: none

fix java cts
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/java/tests/client/suite.mustache
Due: yarn cli format java generators

Changed fromValue(String) to use the actual Enum instead
  snippets/java/src/test/java/com/algolia/Ingestion.java
  snippets/java/src/test/java/com/algolia/Insights.java
  snippets/java/src/test/java/com/algolia/Monitoring.java
  snippets/java/src/test/java/com/algolia/Personalization.java
  snippets/java/src/test/java/com/algolia/Recommend.java
  snippets/java/src/test/java/com/algolia/Search.java
  snippets/java/src/test/java/com/algolia/Usage.java
Due: none

fix(cts): use the real java enum
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/JavaEnumLambda.java
  templates/java/tests/generateInnerParams.mustache
  website/src/snippets.js
Due: yarn cli format java generators

feat(clients): add generate_secured_api_key to ruby
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  templates/ruby/api.mustache
  templates/ruby/search_helpers.mustache
Due: none

chore: generated code for commit 4003918ee66ae3666e0abda9cc0c369d999cd98c. [skip ci]
  snippets/java/src/test/java/com/algolia/Ingestion.java
  snippets/java/src/test/java/com/algolia/Insights.java
  snippets/java/src/test/java/com/algolia/Monitoring.java
  snippets/java/src/test/java/com/algolia/Personalization.java
  snippets/java/src/test/java/com/algolia/Recommend.java
  snippets/java/src/test/java/com/algolia/Search.java
  snippets/java/src/test/java/com/algolia/Usage.java
  specs/bundled/ingestion.doc.yml
  specs/bundled/insights.doc.yml
  specs/bundled/monitoring.doc.yml
  specs/bundled/personalization.doc.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/search.doc.yml
  specs/bundled/usage.doc.yml
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/requests/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Monitoring.test.java
  tests/output/java/src/test/java/com/algolia/requests/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/requests/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/requests/Search.test.java
  tests/output/java/src/test/java/com/algolia/requests/Usage.test.java
Due: yarn eslint --ext=yml --fix

chore: review
  website/docs/contributing/add-new-api-client.md
Due: none

fix(clients): safer replaceAllObjects + metis compliant (#3164)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  playground/python/app/search.py
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/php/api.mustache
  templates/python/search_helpers.mustache
  tests/output/csharp/src/ClientExtensionsTests.cs
  website/docs/contributing/add-new-api-client.md
Due: none

chore: generated code for commit de4090789f899b0cfa65edafeee5306d09d657b0. [skip ci]
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  tests/output/javascript/src/requests/search.test.ts
Due: none

chore(go): update enum casing
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/lambda/ScreamingSnakeCaseLambda.java
  playground/go/go.mod
  playground/go/go.sum
  templates/go/model_enum.mustache
  templates/go/search_helpers.mustache
  website/src/snippets.js
Due: yarn cli format java generators

feat(clients): add generateSecuredApiKey to java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/JsonSerializer.java
  templates/java/api.mustache
  templates/java/api_helpers.mustache
Due: none

chore(go): update enum casing (#3163)
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/lambda/ScreamingSnakeCaseLambda.java
  playground/go/go.mod
  playground/go/go.sum
  templates/go/model_enum.mustache
  templates/go/search_helpers.mustache
  website/src/snippets.js
Due: yarn cli format java generators

no the right casing
  templates/java/api_helpers.mustache
Due: none

chore(scripts): generate LTS files
  config/release.config.json
  scripts/common.ts
  scripts/package.json
  scripts/release/createReleasePR.ts
  yarn.lock
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
