Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat: add isSimpleObject handling for Kotlin in ParametersWithDataType
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

feat: update request_param.mustache and paramValue.mustache to handle null values in parameter generation
  templates/scala/tests/request_param.mustache
  templates/swift/tests/paramValue.mustache
Due: none

feat: update agent and provider IDs in JSON configuration files
  tests/CTS/requests/agent-studio/createAgent.json
  tests/CTS/requests/agent-studio/createAgentCompletion.json
  tests/CTS/requests/agent-studio/deleteAgent.json
  tests/CTS/requests/agent-studio/deleteAgentConversations.json
  tests/CTS/requests/agent-studio/deleteConversation.json
  tests/CTS/requests/agent-studio/deleteProvider.json
  tests/CTS/requests/agent-studio/exportConversations.json
  tests/CTS/requests/agent-studio/getAgent.json
  tests/CTS/requests/agent-studio/getConversation.json
  tests/CTS/requests/agent-studio/getProvider.json
  tests/CTS/requests/agent-studio/invalidateAgentCache.json
  tests/CTS/requests/agent-studio/listAgentConversations.json
  tests/CTS/requests/agent-studio/listAgents.json
  tests/CTS/requests/agent-studio/listModels.json
  tests/CTS/requests/agent-studio/listProviderModels.json
  tests/CTS/requests/agent-studio/publishAgent.json
  tests/CTS/requests/agent-studio/unpublishAgent.json
  tests/CTS/requests/agent-studio/updateAgent.json
  tests/CTS/requests/agent-studio/updateProvider.json
Due: yarn fix:json

feat: update request_param.mustache to handle null values in parameter generation
  templates/kotlin/tests/request_param.mustache
Due: none

feat: add lenient JSON assertion helper for end-to-end tests in C#
  config/generation.config.mjs
  templates/csharp/tests/e2e/e2e.mustache
  tests/output/csharp/src/Utils/TestHelpers.cs
Due: none

feat: implement lenient JSON assertion helper and update HTTP request handling
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/HttpRequest.scala
  config/generation.config.mjs
  templates/java/tests/e2e/e2e.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  tests/output/java/src/test/java/com/algolia/utils/TestHelpers.java
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/utils/TestHelpers.kt
Due: none

feat: add response schemas for AI SDK v4 and v5 compatibility
  specs/agent-studio/common/schemas/AgentCompletionResponse.yml
  specs/agent-studio/common/schemas/AssistantMessageV4Response.yml
  specs/agent-studio/common/schemas/AssistantMessageV5Response.yml
  specs/agent-studio/common/schemas/UsageV4.yml
  specs/agent-studio/common/schemas/UsageV5.yml
  specs/agent-studio/paths/agents/agentCompletions.yml
  specs/agent-studio/paths/conversations/export.yml
Due: yarn eslint --ext=yml --fix

feat: update mustache templates to handle nullable fields based on requirements
  templates/kotlin/builder_function.mustache
  templates/kotlin/data_class_field.mustache
  templates/kotlin/json_object_field.mustache
Due: none

feat: enhance JSON deserialization to handle non-string input for arrays
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
Due: none

feat: expand API specification with new tags for completions, conversations, and user data management
  specs/agent-studio/spec.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add text/event-stream response type and x-streaming vendor extension
  specs/agent-studio/paths/agents/agentCompletions.yml
  specs/bundled/agent-studio.yml
Due: yarn eslint --ext=yml --fix

feat(javascript): generate *Stream() methods for streaming endpoints
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/imports.mustache
Due: none

feat(python): add SSE parser with three-layer architecture
  clients/algoliasearch-client-python/algoliasearch/http/sse.py
  clients/algoliasearch-client-python/algoliasearch/tests/test_sse.py
Due: none

feat(javascript): add SSE parser with three-layer architecture
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/sse.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/sse.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
Due: none

feat(javascript): add streaming requester support for fetch and node-http
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/requester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/createFetchRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/src/createHttpRequester.ts
Due: none

feat(python): add streaming transporter support for async and sync
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
Due: none

feat(python): generate *_stream() methods for streaming endpoints
  templates/python/api.mustache
  templates/python/imports.mustache
Due: none

feat(javascript): add POST/PUT gzip request body compression
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/compression.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/compress.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/requester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.config.ts
  clients/algoliasearch-client-javascript/packages/requester-testing/src/createEchoRequester.ts
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/javascript/tests/client/createClient.mustache
Due: yarn cli format java generators

feat(javascript): add POST/PUT gzip request body compression (generated) [skip ci]
  tests/output/javascript/src/client/composition.test.ts
  tests/output/javascript/src/client/search.test.ts
Due: none

fix(javascript): add type casts for Uint8Array in XHR and Fetch requesters
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/src/createXhrRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/createFetchRequester.ts
Due: none

fix(javascript): fallback to zlib for gzip compression on Node.js < 18
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/transporter/compression.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/compress.ts
Due: none

fix(javascript): drop zlib fallback, use CompressionStream only, bump engines to Node 18
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/compress.ts
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  templates/javascript/clients/package.mustache
Due: yarn fix:json

Revert "fix(javascript): drop zlib fallback, use CompressionStream only, bump engines to Node 18"
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/compress.ts
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  templates/javascript/clients/package.mustache
Due: yarn fix:json

fix(javascript): use fflate for gzip compression instead of CompressionStream/zlib
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/compress.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

feat(php): added logging for requests and retries
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  clients/algoliasearch-client-php/tests/LoggingIntegrationTest.php
  scripts/cts/runCts.ts
Due: none

docs: add data type hints to streaming method documentation
  templates/javascript/clients/api-single.mustache
  templates/python/api.mustache
Due: none

feat(tests): convert test classes to use unittest.TestCase
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-python/algoliasearch/tests/test_sse.py
Due: none

feat(dart): implement gzip compression for POST/PUT requests
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/client_options.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/compress_io.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/compress_stub.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/compress_web.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/gzip_interceptor.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/dart/tests/client/createClient.mustache
Due: yarn cli format java generators

feat(dart): add compression CTS tests (generated)
  tests/output/dart/test/client/composition_test.dart
  tests/output/dart/test/client/search_test.dart
  tests/output/dart/test/requests/insights_test.dart
Due: none

feat(php): added logging for client initialization
  clients/algoliasearch-client-php/tests/LoggingIntegrationTest.php
  templates/php/api.mustache
Due: none

chore(spec/monitoring): update monitoring API description to avoid confusion
  specs/monitoring/spec.yml
Due: yarn eslint --ext=yml --fix

feat(php): added logging for chunkedBatch and made logging tests more informative
  clients/algoliasearch-client-php/tests/LoggingIntegrationTest.php
  templates/php/api.mustache
Due: none

feat(php): added logging for chunkedPush
  clients/algoliasearch-client-php/tests/LoggingIntegrationTest.php
  templates/php/api.mustache
Due: none

feat(php): init debug log deduplication
  clients/algoliasearch-client-php/tests/LoggingIntegrationTest.php
  templates/php/Algolia.mustache
  templates/php/api.mustache
Due: none

revert: remove generated CTS test files from PR
  tests/output/javascript/src/client/composition.test.ts
  tests/output/javascript/src/client/search.test.ts
Due: none

revert: remove generated CTS test files from PR
  tests/output/dart/test/client/composition_test.dart
  tests/output/dart/test/client/search_test.dart
  tests/output/dart/test/requests/insights_test.dart
Due: none
