Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: mention internal usageg
  specs/search/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

fix(ci): kotlin on macos
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: delete branch on origin (#3298)
  .github/workflows/check.yml
  .github/workflows/cleanup.yml
  scripts/ci/codegen/pushGeneratedCode.ts
Due: yarn github-actions:lint --fix

feat(specs): add redirect to renderingContent (#3296)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/schemas/IndexSettings.yml
  specs/search/common/schemas/SearchResponse.yml
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

fix: only run kotlin
  .github/workflows/check.yml
  scripts/.eslintrc.cjs
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix: java stuff
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
Due: none

chore: remove unused file
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
Due: none

chore: remove secrets from action
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix: sort?
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  scripts/ci/githubActions/createMatrix.ts
Due: none

fix: entries
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
Due: none

chore: revert skip
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore: notification links
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(kotlin): macos compatible helpers and build on CI (#3297)
  .github/workflows/check.yml
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
  scripts/.eslintrc.cjs
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix: link
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: in notification too
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: headache hits
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: notification links (#3299)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: link format
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: CI generated commit hash and no gen comment
  .github/workflows/check.yml
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

chore: important stuff
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

docs: add common test suite schema for snippets
  website/docs/contributing/testing/common-test-suite.md
Due: none

chore: CI generated commit hash and no gen comment (#3301)
  .github/workflows/check.yml
  scripts/ci/codegen/pushGeneratedCode.ts
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

docs: add common test suite schema for snippets (#3302)
  website/docs/contributing/testing/common-test-suite.md
Due: none

fix(scripts): skip failure report for ruby
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

Revert "fix(scripts): skip failure report for ruby"
  scripts/ci/codegen/waitForAllReleases.ts
Due: none

fix: do not wait release
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
Due: none

fix(scripts): do not wait release for ruby (#3303)
  clients/algoliasearch-client-ruby/.github/workflows/release.yml
Due: none

chore(scripts): allow forcing release
  scripts/release/createReleasePR.ts
Due: none

chore(scripts): allow forcing release (#3305)
  scripts/release/createReleasePR.ts
Due: none

fix for php
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/timeout.ts
  scripts/cts/testServer/timeoutBis.ts
  tests/CTS/client/search/api.json
Due: yarn fix:json

chore(ci): use algolia-bot for gen comments
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

typo4
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

about
  scripts/cts/testServer/timeout.ts
Due: none

chore(ci): use algolia-bot for gen comments (#3307)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

review
  scripts/cts/testServer/timeout.ts
Due: none
