Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: prepare release 2026-01-20 (#5847)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix: add Gradle wrapper and improve timeout settings for better performance
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

added GET method to the isRead statement.
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

removed HEAD Comment
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

fix(java): Java API client writeTimeout configuration not working (#5829)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

feat(compositions): introduce multifeed behavior for beta release
  specs/composition/common/schemas/components/CompositionBehavior.yml
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

fix: be less strict so there are no/less breaking changes
  specs/composition/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

feat: add example
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2026-01-20
  clients/algoliasearch-client-go/algolia/analytics/model_get_top_hits_response.go
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
  scripts/release/createReleasePR.ts
Due: yarn fix:json

chore: beta marker
  clients/algoliasearch-client-javascript/packages/composition/package.json
Due: yarn fix:json

feat(specs): introduce multifeed composition behavior for beta release (#5828)
  clients/algoliasearch-client-javascript/packages/composition/package.json
  specs/composition/common/schemas/components/CompositionBehavior.yml
  specs/composition/common/schemas/components/multifeed/Behaviour.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2026-01-20
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

feat(specs): introduce multifeed composition behavior for beta release (#5828) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Composition/CompositionBehavior.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Composition/Multifeed.cs
  clients/algoliasearch-client-dart/packages/client_composition/lib/algolia_client_composition.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/deserialize.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/composition_behavior.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/composition_behavior.g.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/multifeed.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/multifeed.g.dart
  clients/algoliasearch-client-go/algolia/composition/model_composition_behavior.go
  clients/algoliasearch-client-go/algolia/composition/model_multifeed.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/composition/CompositionBehavior.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/composition/Multifeed.java
  clients/algoliasearch-client-javascript/packages/composition/README.md
  clients/algoliasearch-client-javascript/packages/composition/model/compositionBehavior.ts
  clients/algoliasearch-client-javascript/packages/composition/model/index.ts
  clients/algoliasearch-client-javascript/packages/composition/model/multifeed.ts
  clients/algoliasearch-client-javascript/packages/composition/src/compositionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/composition/CompositionBehavior.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/composition/Multifeed.kt
  clients/algoliasearch-client-php/lib/Model/Composition/Multifeed.php
  clients/algoliasearch-client-python/algoliasearch/composition/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/multifeed.py
  clients/algoliasearch-client-ruby/lib/algolia/models/composition/multifeed.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/Multifeed.scala
  clients/algoliasearch-client-swift/Sources/Composition/Models/CompositionBehavior.swift
  clients/algoliasearch-client-swift/Sources/Composition/Models/Multifeed.swift
  docs/bundled/composition-snippets.json
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/snippets/scala/src/main/scala/Composition.scala
  specs/bundled/composition.yml
  tests/output/javascript/src/client/composition.test.ts
  tests/output/scala/src/test/scala/algoliasearch/requests/CompositionTest.scala
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2026-01-20 (#5850)
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

feat(php): added withHttpInfo methods to PHP
  clients/algoliasearch-client-php/lib/RetryStrategy/AlgoliaResponse.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  templates/php/api.mustache
Due: none

feat(specs): `conditions` is not required anymore in composition rules
  specs/composition/common/schemas/components/CompositionRule.yml
Due: yarn eslint --ext=yml --fix

feat(specs): `conditions` is not required anymore in composition rules (#5853)
  specs/composition/common/schemas/components/CompositionRule.yml
Due: yarn eslint --ext=yml --fix

feat(specs): `conditions` is not required anymore in composition rules (#5853) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Composition/CompositionRule.cs
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/composition_rule.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/composition_rule.g.dart
  clients/algoliasearch-client-go/algolia/composition/model_composition_rule.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/composition/CompositionRule.java
  clients/algoliasearch-client-javascript/packages/composition/model/compositionRule.ts
  clients/algoliasearch-client-javascript/packages/composition/src/compositionClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/composition/CompositionRule.kt
  clients/algoliasearch-client-php/lib/Api/CompositionClient.php
  clients/algoliasearch-client-php/lib/Model/Composition/CompositionRule.php
  clients/algoliasearch-client-php/lib/Model/Composition/RulesBatchCompositionAction.php
  clients/algoliasearch-client-python/algoliasearch/composition/models/composition_rule.py
  clients/algoliasearch-client-ruby/lib/algolia/models/composition/composition_rule.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/CompositionRule.scala
  clients/algoliasearch-client-swift/Sources/Composition/Models/CompositionRule.swift
  docs/bundled/composition-snippets.json
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/snippets/scala/src/main/scala/Composition.scala
  specs/bundled/composition.yml
  tests/output/scala/src/test/scala/algoliasearch/requests/CompositionTest.scala
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: improve JSON unmarshaling logic for oneOf pointers
  templates/go/model_oneof.mustache
Due: none

feat(php): added withHttpInfo methods to PHP (#5852)
  clients/algoliasearch-client-php/lib/RetryStrategy/AlgoliaResponse.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  templates/php/api.mustache
Due: none

feat(php): added withHttpInfo methods to PHP (#5852) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AbtestingV3Client.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/CompositionClient.php
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none

fix(go): Missing analytics when using GetTopHits with Go API client (#5854)
  templates/go/model_oneof.mustache
Due: none

feat(python): reset host retries on success and increase timeout on failure
  clients/algoliasearch-client-python/algoliasearch/http/retry.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
Due: none

feat(python): renamed read_timeout to request_timeout
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
Due: none

fix(specs): remove baseRecommendRequest from trendingFacets
  specs/recommend/common/schemas/TrendingFacetsQuery.yml
Due: yarn eslint --ext=yml --fix

docs(SearchParams): Document that filter scores are supported in virtual replicas (#5716)
  specs/common/schemas/SearchParams.yml
Due: yarn eslint --ext=yml --fix

feat(python): Increase timeout on retries (#5857)
  clients/algoliasearch-client-python/algoliasearch/http/retry.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
Due: none

fix(specs): remove baseRecommendRequest from trendingFacets [CR-10264] (#5858)
  specs/recommend/common/schemas/TrendingFacetsQuery.yml
Due: yarn eslint --ext=yml --fix

fix(specs): remove baseRecommendRequest from trendingFacets [CR-10264] (#5858) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Recommend/TrendingFacetsQuery.cs
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/trending_facets.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/trending_facets.g.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/trending_facets_query.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/trending_facets_query.g.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/trending_facets.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/trending_facets.g.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/trending_facets_query.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/trending_facets_query.g.dart
  clients/algoliasearch-client-go/algolia/recommend/model_trending_facets_query.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/TrendingFacetsQuery.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/trendingFacets.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/trendingFacetsQuery.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/trendingFacets.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/trendingFacetsQuery.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/TrendingFacetsQuery.kt
  clients/algoliasearch-client-php/lib/Model/Recommend/TrendingFacetsQuery.php
  clients/algoliasearch-client-python/algoliasearch/recommend/models/trending_facets_query.py
  clients/algoliasearch-client-ruby/lib/algolia/models/recommend/trending_facets_query.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/TrendingFacets.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/TrendingFacetsQuery.scala
  clients/algoliasearch-client-swift/Sources/Recommend/Models/TrendingFacets.swift
  clients/algoliasearch-client-swift/Sources/Recommend/Models/TrendingFacetsQuery.swift
  docs/bundled/recommend.json
  docs/bundled/recommend.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

docs: authentication type can't be updated (#5824)
  docs/bundled/ingestion.yml
  specs/ingestion/common/schemas/authentication.yml
Due: yarn eslint --ext=yml --fix

docs: authentication type can't be updated (#5824) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/AuthenticationUpdate.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_authentication_update.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/AuthenticationUpdate.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/authenticationUpdate.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/AuthenticationUpdate.kt
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-php/lib/Model/Ingestion/AuthenticationUpdate.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/authentication_update.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/authentication_update.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/AuthenticationUpdate.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/AuthenticationUpdate.swift
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  specs/bundled/ingestion.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
