Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(ruby): make the ApiClient Request-ID getter a predicate (API-520)
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  templates/ruby/search_helpers.mustache
Due: none

fix(php): attach the Correlation-ID to decode failures, keep repeated response headers
  clients/algoliasearch-client-php/lib/Exceptions/AlgoliaException.php
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  tests/output/php/src/manual/RequestIdTest.php
Due: none

feat(php): type deserialization failures and test the curl header capture
  clients/algoliasearch-client-php/lib/Exceptions/DeserializationException.php
  clients/algoliasearch-client-php/lib/Exceptions/HasCorrelationId.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  tests/output/php/src/manual/CurlHttpClientTest.php
  tests/output/php/src/manual/RequestIdTest.php
Due: none

fix(php): filter the response-headers debug log, test the curl capture over the wire
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/Iterators/AbstractAlgoliaIterator.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  scripts/cts/testServer/timeout.ts
  tests/output/php/src/manual/CurlHttpClientIntegrationTest.php
  tests/output/php/src/manual/CurlHttpClientTest.php
Due: none

feat(php): Request-ID and Correlation-ID support (#6911)
  clients/algoliasearch-client-php/lib/Configuration/Configuration.php
  clients/algoliasearch-client-php/lib/Exceptions/DeserializationException.php
  clients/algoliasearch-client-php/lib/Exceptions/HasCorrelationId.php
  clients/algoliasearch-client-php/lib/Exceptions/UnreachableException.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/Iterators/AbstractAlgoliaIterator.php
  clients/algoliasearch-client-php/lib/Iterators/ObjectIterator.php
  clients/algoliasearch-client-php/lib/Iterators/RuleIterator.php
  clients/algoliasearch-client-php/lib/Iterators/SynonymIterator.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  clients/algoliasearch-client-php/lib/Support/RequestId.php
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  scripts/cts/testServer/requestId.ts
  scripts/cts/testServer/timeout.ts
  templates/php/api.mustache
  templates/php/client_config.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/method.mustache
  templates/php/tests/requests/requests.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
  tests/output/php/src/manual/CurlHttpClientIntegrationTest.php
  tests/output/php/src/manual/RequestIdTest.php
Due: yarn cli format java generators, yarn fix:json

fix(ruby): keep a query-param Request-ID across retries and pin the cleanup timeout defaults (API-520)
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_id.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  tests/output/ruby/test/manual/request_id_test.rb
Due: none

chore(ci): gate excessive permissions in zizmor and apply review hardening nits (API-479)
  .github/workflows/check.yml
  .github/workflows/pr-title.yml
  .github/workflows/scheduled-release.yml
  CODEOWNERS
  scripts/ci/githubActions/utils.ts
Due: yarn github-actions:lint --fix

chore(ci): fail CI if a personal access token secret is referenced
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): move the review hardening nits to a follow-up PR, keep the API-479 scope
  .github/workflows/check.yml
  .github/workflows/cleanup.yml
  .github/workflows/issue.yml
  .github/workflows/pr-title.yml
  CODEOWNERS
  scripts/ci/githubActions/utils.ts
  templates/issue.yml
Due: yarn github-actions:lint --fix

chore(ci): also ban the retired ALGOLIA_BOT_APP_ID secret
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(ruby): stringify a non-String query-param Request-ID before re-encoding it on retries (API-520)
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  tests/output/ruby/test/manual/request_id_test.rb
Due: none

chore(ci): drop unused GITHUB_TOKEN grants and make the zizmor gate fail loudly (API-479)
  .github/workflows/check.yml
  templates/issue.yml
Due: yarn github-actions:lint --fix

chore(ci): apply the hardening nits from the API-479 review
  .github/workflows/check.yml
  .github/workflows/cleanup.yml
  .github/workflows/issue.yml
  .github/workflows/pr-title.yml
  CODEOWNERS
  scripts/ci/githubActions/utils.ts
  templates/issue.yml
Due: yarn github-actions:lint --fix

fix(ruby): send caller request options on every retry attempt (API-520)
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_id.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  tests/output/ruby/test/manual/request_id_test.rb
Due: none

fix(ruby): warn about the orphaned temporary index when the cleanup delete fails (API-520)
  templates/ruby/search_helpers.mustache
  tests/output/ruby/test/manual/request_id_test.rb
Due: none

style(ruby): trim comments on the retry snapshot and cleanup warn (API-520)
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  templates/ruby/search_helpers.mustache
  tests/output/ruby/test/manual/request_id_test.rb
Due: none

feat(abtests): deprecates /2 endpoints
  specs/abtesting/paths/abtest.yml
  specs/abtesting/paths/abtests.yml
  specs/abtesting/paths/estimate.yml
  specs/abtesting/paths/stopABTest.yml
  specs/abtesting/spec.yml
Due: yarn eslint --ext=yml --fix

chore(ci): fail the retired-secret check when a scan path is unreadable
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

feat(ruby): Request-ID and Correlation-ID support (#6877)
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/error.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_id.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/ruby/api.mustache
  templates/ruby/search_helpers.mustache
  templates/ruby/tests/e2e/e2e.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
  tests/output/ruby/test/manual/request_id_test.rb
Due: yarn cli format java generators, yarn fix:json

chore(ci): hardening nits from the API-479 review (#6920)
  .github/workflows/check.yml
  .github/workflows/cleanup.yml
  .github/workflows/issue.yml
  .github/workflows/pr-title.yml
  CODEOWNERS
  scripts/ci/githubActions/utils.ts
  templates/issue.yml
Due: yarn github-actions:lint --fix

chore(ci): harden workflow permissions and access controls (API-479) (#6918)
  .github/workflows/check.yml
  .github/workflows/cleanup.yml
  .github/workflows/issue.yml
  .github/workflows/pr-title.yml
  .github/workflows/push-to-repository.yml
  .github/workflows/qc-events-cron.yml
  .github/workflows/renovate.yml
  .github/workflows/scheduled-release.yml
  CODEOWNERS
  scripts/ci/githubActions/utils.ts
  templates/issue.yml
Due: yarn github-actions:lint --fix

chore(ci): fail CI if a personal access token secret is referenced (#6919)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): pin and checksum the setup action downloads (API-480)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix(ci): use shasum for the download checks, sha256sum does not exist on the macos runners (API-480)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore(ci): verify artifact checksums where a trusted channel exists (API-480)
  .github/workflows/check.yml
  scripts/ci/actions/restore-artifacts/action.yml
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: yarn github-actions:lint --fix

fix(ci): guard the checksum file path per the security scanner suggestion (API-480)
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: none

chore(ci): pin melos and poetry to exact versions (API-480)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

chore(ci): retry the golangci-lint script download like the other downloads (API-480)
  .github/actions/setup/action.yml
Due: yarn github-actions:lint --fix

fix(ci): fail closed on malformed expected-checksums lines and warn on unverified restores (API-480)
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: none

feat(specs): expose the Correlation-ID in getLogs entries
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

docs(specs): disambiguate which request the getLogs cid belongs to
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

docs(specs): drop the absence claim from the getLogs cid description
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

docs(specs): name the correlation ID in the getLogs cid description
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

chore(ci): trim the expected-checksums comment (API-480)
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: none

fix(ci): skip the javascript checksum line when the producing job is skipped (API-480)
  .github/workflows/check.yml
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/ci/actions/restore-artifacts/src/index.ts
Due: yarn github-actions:lint --fix

fix(php): support guzzlehttp/psr7 v3
  templates/php/composer.mustache
Due: none

fix(ruby): keep millisecond precision when converting timeouts to seconds (CR-12007)
  clients/algoliasearch-client-ruby/lib/algolia/transport/http/http_requester.rb
  tests/output/ruby/test/manual/timeout_integration_test.rb
Due: none

fix(php): support guzzle 8 in the guzzle transport
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
Due: yarn fix:json

fix(php): map guzzle 8 response timeouts to TimeoutException
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
Due: none

fix(php): catch guzzle 8 HandlerClosedException in the guzzle transport
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
Due: none
