Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix oxlint
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/tests/client/client.mustache
Due: none

seem to work
  clients/algoliasearch-client-go/go.mod
  playground/go/go.mod
  templates/go/snippets/go.mod.mustache
  tests/output/go/go.mod
Due: none

actually it doesnt
  clients/algoliasearch-client-go/go.mod
  config/.go-version
  playground/go/go.mod
  templates/go/snippets/go.mod.mustache
  tests/output/go/go.mod
Due: none

fix(clients): remove all client side validation expect null check
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/pre-gen/removeExistingCodegen.ts
  templates/csharp/modelOneOf.mustache
  templates/go/api.mustache
  templates/php/api.mustache
  templates/php/model_generic.mustache
  templates/ruby/api.mustache
  templates/ruby/partial_model_generic.mustache
  templates/swift/modelObject.mustache
Due: yarn cli format java generators

remove swift validator
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  templates/swift/tests/client/tests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

simpler regex
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

fix(php): add license to composer
  templates/php/composer.mustache
Due: none

fix(specs): use the read transporter for browse
  specs/search/paths/search/browse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): correct type for banners
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

banners alias to an array
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators

fix(clients): remove all client side validation expect null check (#3936)
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/pre-gen/removeExistingCodegen.ts
  templates/csharp/modelOneOf.mustache
  templates/go/api.mustache
  templates/php/api.mustache
  templates/php/model_generic.mustache
  templates/ruby/api.mustache
  templates/ruby/partial_model_generic.mustache
  templates/swift/modelObject.mustache
  templates/swift/tests/client/tests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: yarn cli format java generators

fix(php): add license to composer (#3937)
  templates/php/composer.mustache
Due: none

fix(php): add license to composer (#3937) (generated) [skip ci] Co-authored-by: Pierre Millot <pierre.millot@algolia.com>
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(specs): use the read transporter for browse (#3938)
  specs/search/paths/search/browse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): use the read transporter for browse (#3938) (generated) [skip ci] Co-authored-by: Pierre Millot <pierre.millot@algolia.com>
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchClient.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  specs/bundled/search.doc.yml
  specs/bundled/search.yml
Due: yarn eslint --ext=yml --fix

merge conflict
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Validation.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/pre-gen/removeExistingCodegen.ts
  specs/search/paths/search/browse.yml
  templates/csharp/modelOneOf.mustache
  templates/go/api.mustache
  templates/php/api.mustache
  templates/php/composer.mustache
  templates/php/model_generic.mustache
  templates/ruby/api.mustache
  templates/ruby/partial_model_generic.mustache
  templates/swift/modelObject.mustache
  templates/swift/tests/client/tests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

go 1.21
  .github/actions/setup/action.yml
  clients/algoliasearch-client-go/go.mod
  config/.go-version
  playground/go/go.mod
  scripts/docker/Dockerfile.base
  templates/go/snippets/go.mod.mustache
  tests/output/go/go.mod
  tests/output/go/go.sum
Due: yarn github-actions:lint --fix

fix(specs): correct type for banners [skip-bc] (#3939)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/schemas/IndexSettings.yml
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

chore: prepare release 2024-10-10 [skip-bc]
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

chore: prepare release 2024-10-10 [skip-bc] (#3941)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

feat(javascript): add every APIs
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/javascript/clients/README.mustache
  templates/javascript/clients/package.mustache
Due: yarn cli format java generators

fix(go): better network error
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
Due: none

fix(go): better network error (#3943)
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
Due: none

chore: dynamic template dependencies
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/hosts.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/package.mustache
Due: yarn cli format java generators

chore: unused prop
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
Due: yarn cli format java generators

chore: lock
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

fix: search types
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: none

chore: prepare release 2024-10-14
  clients/algoliasearch-client-go/CHANGELOG.md
  config/clients.config.json
  config/versions.history.json
Due: yarn fix:json

fix: ci assertions
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/package.json
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: yarn github-actions:lint --fix, yarn fix:json

chore: ignore foo
  .eslintignore
Due: none

chore: export search
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: none

fix: playground
  playground/javascript/node/algoliasearch.ts
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
