Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

feat(swift): switch api key helper
  clients/algoliasearch-client-swift/Sources/Core/Networking/BaseConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
Due: none

feat(scala): switch api key helper
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/Requester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  config/generation.config.mjs
Due: none

feat(kotlin): switch api key helper
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/Requester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  templates/kotlin/api.mustache
Due: none

fix(kotlin): redundant apiKey setter
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  templates/kotlin/api.mustache
Due: none

feat(java): switch api key helper
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/Requester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  templates/java/api.mustache
Due: none

feat(javascript): switch api key helper
  clients/algoliasearch-client-javascript/packages/client-common/src/createAuth.ts
  templates/javascript/clients/api-single.mustache
Due: none

wip
  templates/kotlin/api.mustache
Due: none

fix(clients): %s/setApiKey/setAlgoliaApiKey
  clients/algoliasearch-client-dart/packages/client_core/lib/src/api_client.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/Requester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-javascript/packages/client-common/src/createAuth.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/Requester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/Requester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  templates/dart/api.mustache
  templates/java/api.mustache
  templates/javascript/clients/api-single.mustache
  templates/kotlin/api.mustache
  templates/php/api.mustache
  templates/python/api.mustache
  templates/ruby/api.mustache
  templates/swift/api.mustache
  tests/output/dart/lib/src/run.dart
Due: none

feat(cts): add test for the helper
  specs/abtesting/spec.yml
  specs/analytics/spec.yml
  specs/common/helpers/setAlgoliaApiKey.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
  specs/usage/spec.yml
  tests/CTS/client/common/switchApiKey.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(csharp): update name
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/api.mustache
Due: none

fix: everything else
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/Requester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/testServer/apiKey.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/waitFor.ts
  specs/common/helpers/setAlgoliaApiKey.yml
  templates/csharp/tests/client/method.mustache
  templates/csharp/tests/client/tests.mustache
  templates/dart/tests/client/client.mustache
  templates/dart/tests/client/method.mustache
  templates/go/client.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/client/tests.mustache
  templates/java/tests/client/method.mustache
  templates/java/tests/client/tests.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/tests/client/benchmark.mustache
  templates/javascript/tests/client/client.mustache
  templates/javascript/tests/client/method.mustache
  templates/javascript/tests/client/tests.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/php/tests/client/method.mustache
  templates/php/tests/client/tests.mustache
  templates/python/tests/client/method.mustache
  templates/ruby/tests/client/method.mustache
  templates/scala/tests/client/method.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/client/tests.mustache
  tests/CTS/client/common/setAlgoliaApiKey.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

chore(ci): automaticaly create jira issues on gh issue (#3654)
  .github/workflows/issue.yml
  config/clients.config.json
Due: yarn github-actions:lint --fix, yarn fix:json

chore(ci): automaticaly create jira issues on gh issue (#3654) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/workflows/issue.yml
  clients/algoliasearch-client-dart/.github/workflows/issue.yml
  clients/algoliasearch-client-go/.github/workflows/issue.yml
  clients/algoliasearch-client-java/.github/workflows/issue.yml
  clients/algoliasearch-client-javascript/.github/workflows/issue.yml
  clients/algoliasearch-client-kotlin/.github/workflows/issue.yml
  clients/algoliasearch-client-php/.github/workflows/issue.yml
  clients/algoliasearch-client-python/.github/workflows/issue.yml
  clients/algoliasearch-client-ruby/.github/workflows/issue.yml
  clients/algoliasearch-client-scala/.github/workflows/issue.yml
  clients/algoliasearch-client-swift/.github/workflows/issue.yml
  tests/output/java/build.gradle
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: none

fix(php): add PHPStan for static code analysis
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/ApiException.php
  clients/algoliasearch-client-php/lib/Cache/NullCacheDriver.php
  clients/algoliasearch-client-php/lib/Configuration/ConfigWithRegion.php
  clients/algoliasearch-client-php/lib/Configuration/Configuration.php
  clients/algoliasearch-client-php/lib/Http/Psr7/BufferStream.php
  clients/algoliasearch-client-php/lib/Http/Psr7/PumpStream.php
  clients/algoliasearch-client-php/lib/Model/ModelInterface.php
  clients/algoliasearch-client-php/lib/ObjectSerializer.php
  clients/algoliasearch-client-php/phpstan.neon
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  scripts/buildClients.ts
  scripts/cli/index.ts
  templates/php/ApiException.mustache
  templates/php/ConfigWithRegion.mustache
  templates/php/Configuration.mustache
  templates/php/ObjectSerializer.mustache
  templates/php/composer.mustache
  templates/php/model.mustache
  templates/php/model_generic.mustache
  templates/php/snippets/method.mustache
  templates/php/tests/client/client.mustache
  templates/php/tests/client/createClient.mustache
  templates/php/tests/client/tests.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
Due: yarn cli format java generators

yarn lock
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

chore: carret nx?
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

chore: actually
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix(php): add PHPStan for static code analysis (#3655)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.lock
  clients/algoliasearch-client-php/lib/ApiException.php
  clients/algoliasearch-client-php/lib/Cache/NullCacheDriver.php
  clients/algoliasearch-client-php/lib/Configuration/ConfigWithRegion.php
  clients/algoliasearch-client-php/lib/Configuration/Configuration.php
  clients/algoliasearch-client-php/lib/Http/Psr7/BufferStream.php
  clients/algoliasearch-client-php/lib/Http/Psr7/PumpStream.php
  clients/algoliasearch-client-php/lib/Model/ModelInterface.php
  clients/algoliasearch-client-php/lib/ObjectSerializer.php
  clients/algoliasearch-client-php/phpstan.neon
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  scripts/buildClients.ts
  scripts/cli/index.ts
  templates/php/ApiException.mustache
  templates/php/ConfigWithRegion.mustache
  templates/php/Configuration.mustache
  templates/php/ObjectSerializer.mustache
  templates/php/composer.mustache
  templates/php/model.mustache
  templates/php/model_generic.mustache
  templates/php/snippets/method.mustache
  templates/php/tests/client/client.mustache
  templates/php/tests/client/createClient.mustache
  templates/php/tests/client/tests.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
Due: yarn cli format java generators, yarn fix:json

fix(go): handle error
  templates/go/client.mustache
  templates/go/snippets/method.mustache
Due: none

chore(go): remove unused method
  clients/algoliasearch-client-go/algolia/transport/configuration.go
Due: none

fix java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/Requester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/AuthInterceptor.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/java/api.mustache
  templates/java/tests/client/tests.mustache
Due: yarn cli format java generators

fix(ruby): better dx
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  templates/ruby/api.mustache
Due: none

fix(go): check err
  templates/go/tests/client/method.mustache
Due: none

feat: async transporter
  clients/algoliasearch-client-python/algoliasearch/http/base_transporter.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter_sync.py
  clients/algoliasearch-client-python/setup.cfg
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/python/api.mustache
  templates/python/imports.mustache
  templates/python/pyproject.mustache
  templates/python/tests/client/client.mustache
  templates/python/tests/client/createClient.mustache
  templates/python/tests/requests/requests.mustache
Due: yarn cli format java generators

chore: generation file is wrong
  clients/algoliasearch-client-python/poetry.lock
  clients/algoliasearch-client-python/pyproject.toml
  clients/algoliasearch-client-python/requirements.txt
  tests/output/python/poetry.lock
  tests/output/python/requirements.txt
Due: none

fix(python): naming
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
Due: none

ruby
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  templates/ruby/api.mustache
  templates/ruby/snippets/method.mustache
Due: none

fix(javascript): docs
  templates/javascript/clients/api-single.mustache
Due: none

chore: js is not working and I don't know why
  templates/javascript/tests/client/tests.mustache
Due: none

fix(cssharp): shouldScope + better set key
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  templates/csharp/api.mustache
  templates/csharp/tests/client/tests.mustache
Due: none

fix dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/api_client.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  templates/dart/api.mustache
  templates/dart/tests/client/client.mustache
Due: none

fix(python): at last
  clients/algoliasearch-client-python/algoliasearch/http/base_config.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/api.mustache
Due: none

scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/Requester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/AuthInterceptor.scala
  templates/scala/tests/client/client.mustache
  templates/scala/tests/client/createClient.mustache
Due: none

requester is an interface
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/Requester.kt
Due: none

fix(kotlin): done
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  templates/kotlin/ApiClient.kt.mustache
  templates/kotlin/api.mustache
  templates/kotlin/tests/client/tests.mustache
Due: none

new line
  templates/csharp/tests/client/benchmark.mustache
  templates/csharp/tests/client/client.mustache
  templates/java/tests/client/benchmark.mustache
  templates/php/tests/generateParams.mustache
Due: none

fix: rename to setClientApiKey
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-dart/packages/client_core/lib/src/api_client.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-javascript/packages/client-common/src/createAuth.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/Requester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-php/lib/Configuration/Configuration.php
  clients/algoliasearch-client-python/algoliasearch/http/base_config.py
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  specs/abtesting/spec.yml
  specs/analytics/spec.yml
  specs/common/helpers/setAlgoliaApiKey.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
  specs/usage/spec.yml
  templates/csharp/api.mustache
  templates/dart/api.mustache
  templates/go/client.mustache
  templates/javascript/clients/api-single.mustache
  templates/kotlin/ApiClient.kt.mustache
  templates/php/api.mustache
  templates/python/api.mustache
  templates/ruby/api.mustache
  templates/swift/api.mustache
  tests/CTS/client/common/setAlgoliaApiKey.json
  tests/output/dart/lib/src/run.dart
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: file renaming
  specs/common/helpers/setClientApiKey.yml
  tests/CTS/client/common/setClientApiKey.json
Due: yarn fix:json, yarn eslint --ext=yml --fix
