Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore(cts): replace localhost at runtime
  docker-compose.yml
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  templates/csharp/tests/client/createClient.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/dart/tests/client/client.mustache
  templates/dart/tests/client/createClient.mustache
  templates/go/tests/client/createClient.mustache
  templates/java/tests/client/createClient.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/kotlin/tests/client/createClient.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/php/tests/client/createClient.mustache
  templates/python/tests/client/createClient.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/ruby/tests/client/tests.mustache
  templates/scala/tests/client/createClient.mustache
  templates/swift/tests/client/createClient.mustache
  tests/CTS/benchmark/search/benchmark.json
  tests/CTS/client/common/setClientApiKey.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/deleteObjects.json
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/partialUpdateObjects.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
  tests/CTS/client/search/waitForApiKey.json
  tests/CTS/client/search/waitForAppTask.json
  tests/CTS/client/search/waitForTask.json
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/csharp/src/CompressionTests.cs
  tests/output/csharp/src/RetryStrategyTests.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
  tests/output/csharp/src/Utils/EchoHttpRequester.cs
  tests/output/go/tests/echo.go
  tests/output/javascript/yarn.lock
  tests/output/python/requirements.txt
  tests/output/swift/Tests/manual/SearchTests.swift
Due: yarn cli format java generators, yarn fix:json

fix scala
  scripts/cts/testServer/timeout.ts
  templates/scala/tests/client/createClient.mustache
Due: none

fix(go): true speed of benchmark (#3786)
  .github/ISSUE_TEMPLATE/Bug_report.yml
  config/clients.config.json
  scripts/buildClients.ts
  scripts/cts/runCts.ts
  scripts/cts/testServer/benchmark.ts
  scripts/formatter.ts
  scripts/playground.ts
  templates/go/tests/client/benchmark.mustache
  tests/CTS/benchmark/search/benchmark.json
Due: yarn github-actions:lint --fix, yarn fix:json

fix(go): true speed of benchmark (#3786) (generated) [skip ci]
  tests/output/csharp/src/generated/benchmark/Search.test.cs
  tests/output/go/tests/benchmark/search_test.go
  tests/output/java/src/test/java/com/algolia/benchmark/Search.test.java
  tests/output/javascript/src/benchmark/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/benchmark/SearchTest.kt
  tests/output/php/src/benchmark/SearchTest.php
  tests/output/python/tests/benchmark/search_test.py
  tests/output/ruby/test/benchmark/search_test.rb
  tests/output/swift/Tests/benchmark/SearchTests.swift
Due: none

chore(cts): replace localhost at runtime (#3806)
  docker-compose.yml
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  scripts/cts/testServer/timeout.ts
  templates/csharp/tests/client/createClient.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/dart/tests/client/client.mustache
  templates/dart/tests/client/createClient.mustache
  templates/go/tests/client/createClient.mustache
  templates/java/tests/client/createClient.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/kotlin/tests/client/createClient.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/php/tests/client/createClient.mustache
  templates/python/tests/client/createClient.mustache
  templates/ruby/tests/client/createClient.mustache
  templates/ruby/tests/client/tests.mustache
  templates/scala/tests/client/createClient.mustache
  templates/swift/tests/client/createClient.mustache
  tests/CTS/benchmark/search/benchmark.json
  tests/CTS/client/common/setClientApiKey.json
  tests/CTS/client/search/api.json
  tests/CTS/client/search/deleteObjects.json
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/partialUpdateObjects.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
  tests/CTS/client/search/waitForApiKey.json
  tests/CTS/client/search/waitForAppTask.json
  tests/CTS/client/search/waitForTask.json
  tests/output/csharp/src/ClientExtensionsTests.cs
  tests/output/csharp/src/CompressionTests.cs
  tests/output/csharp/src/RetryStrategyTests.cs
  tests/output/csharp/src/SecuredApiKeysTests.cs
  tests/output/csharp/src/Utils/EchoHttpRequester.cs
  tests/output/go/tests/echo.go
  tests/output/javascript/yarn.lock
  tests/output/python/requirements.txt
  tests/output/swift/Tests/manual/SearchTests.swift
Due: yarn cli format java generators, yarn fix:json

fix
  specs/recommend/paths/batchRecommendRules.yml
Due: yarn eslint --ext=yml --fix

add test
  playground/javascript/node/recommend.ts
  tests/CTS/requests/recommend/batchRecommendRules.json
Due: yarn fix:json

fix test
  playground/javascript/node/recommend.ts
  tests/CTS/requests/recommend/batchRecommendRules.json
Due: yarn fix:json

fix test
  playground/javascript/node/recommend.ts
Due: none

duplicate timeRange
  specs/recommend/common/schemas/RecommendRule.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

add the duplicate
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators

template
  templates/csharp/TestProject.mustache
  templates/csharp/netcore_project.mustache
Due: none

lowercase
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

lock
  tests/output/javascript/yarn.lock
  website/yarn.lock
  yarn.lock
Due: none

fix: no more field check
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
Due: none

fix(tests): assert global to_dict rather than model-level one
  templates/python/tests/e2e/e2e.mustache
  tests/output/python/tests/helpers.py
Due: none

feat(javascript): add logger-console package from v4
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.fetch.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/logger/null-logger.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/logger/createNullLogger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/logger/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/logger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.workspace.ts
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: none

chore(deps): dependencies 2024-09-23 (#3790) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore: generation file
  clients/algoliasearch-client-javascript/packages/logger-console/index.ts
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/src/__tests__/logger-console.test.ts
  clients/algoliasearch-client-javascript/packages/logger-console/src/logger.ts
  clients/algoliasearch-client-javascript/packages/logger-console/tsconfig.json
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.workspace.ts
  config/generation.config.mjs
Due: yarn fix:json

chore: generation file p2
  clients/algoliasearch-client-javascript/packages/logger-console/tsup.config.ts
  config/generation.config.mjs
Due: none

feat(clients): cleanup after replaceAllObjects failure
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/replaceAllObjectsFailed.ts
  templates/Bug_report.yml
  templates/go/search_helpers.mustache
  tests/CTS/client/search/replaceAllObjects.json
Due: yarn fix:json

feat(kotlin): add disjunctive faceting
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchForHits.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/DisjunctiveFaceting.kt
Due: none

chore(swift): remove unused variable from disjunctive faceting
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat(javascript): add logger-console package from v4 (#3823)
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.common.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.fetch.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/__tests__/logger/null-logger.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/logger/createNullLogger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/logger/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/createTransporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/index.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/logger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  clients/algoliasearch-client-javascript/packages/client-common/vitest.workspace.ts
  clients/algoliasearch-client-javascript/packages/logger-console/index.ts
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/src/__tests__/logger-console.test.ts
  clients/algoliasearch-client-javascript/packages/logger-console/src/logger.ts
  clients/algoliasearch-client-javascript/packages/logger-console/tsconfig.json
  clients/algoliasearch-client-javascript/packages/logger-console/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/logger-console/vitest.workspace.ts
  clients/algoliasearch-client-javascript/yarn.lock
  config/generation.config.mjs
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/fetch.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: yarn fix:json

feat(javascript): add logger-console package from v4 (#3823) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/node.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/node.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/monitoring/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/monitoring/builds/node.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/node.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

fix(kotlin): add disjunctive faceting unit tests
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/DisjunctiveFaceting.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestDisjunctiveFaceting.kt
  tests/output/kotlin/build.gradle.kts
Due: none

fix(kotlin): deserialization
  specs/recommend/common/schemas/RecommendationsResponse.yml
  templates/kotlin/oneof_interface.mustache
Due: yarn eslint --ext=yml --fix

chore(clients): trigger all clients
  scripts/cts/testServer/apiKey.ts
Due: none

fix(kotlin): deserialization (#3822)
  scripts/cts/testServer/apiKey.ts
  specs/recommend/common/schemas/RecommendationsResponse.yml
  templates/kotlin/oneof_interface.mustache
Due: yarn eslint --ext=yml --fix

chore: prepare release 2024-09-24
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore(clients): rename makeQueries to buildQueries
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/DisjunctiveFaceting.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestDisjunctiveFaceting.kt
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  tests/output/swift/Tests/manual/SearchTests.swift
Due: none

feat(kotlin): add disjunctive faceting (#3789)
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchForHits.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/DisjunctiveFaceting.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestDisjunctiveFaceting.kt
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  tests/output/kotlin/build.gradle.kts
  tests/output/swift/Tests/manual/SearchTests.swift
Due: none

feat(kotlin): add disjunctive faceting (#3789) (generated) [skip ci]
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/DisjunctiveFaceting.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestDisjunctiveFaceting.kt
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

chore: mapping still mention usage
  specs/major-breaking-changes-rename.json
Due: yarn fix:json

fix(python): update deserialization templates and typing issues (#3780)
  playground/python/app/search.py
  templates/python/imports.mustache
  templates/python/model_enum.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  templates/python/tests/e2e/e2e.mustache
  tests/output/python/requirements.txt
  tests/output/python/tests/helpers.py
Due: none
