Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(specs): usage api
  specs/common/parameters.yml
  specs/usage/paths/statistic.yml
  specs/usage/paths/statisticIndex.yml
  specs/usage/spec.yml
Due: yarn eslint --ext=yml --fix

fix(clients): correly parse usage hosts (#3622)
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/csharp/Configuration.mustache
  templates/dart/api.mustache
  templates/go/client.mustache
  templates/java/api.mustache
  templates/javascript/clients/client/api/hosts.mustache
  templates/kotlin/api.mustache
  templates/php/api.mustache
  templates/python/config.mustache
  templates/ruby/api.mustache
  templates/scala/api.mustache
  templates/swift/client_configuration.mustache
  tests/CTS/client/usage/api.json
Due: yarn cli format java generators, yarn fix:json

fix ruby
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  templates/ruby/partial_model_generic.mustache
  templates/ruby/partial_oneof_module.mustache
Due: none

fix(clients): correly parse usage hosts (#3622) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AbtestingConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AnalyticsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/IngestionConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/InsightsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/MonitoringConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/PersonalizationConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/QuerySuggestionsConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/RecommendConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchConfiguration.cs
  clients/algoliasearch-client-csharp/algoliasearch/Clients/UsageConfiguration.cs
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/usage/client.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/UsageClient.java
  clients/algoliasearch-client-javascript/packages/client-usage/src/usageClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/MonitoringClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/UsageClient.kt
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/UsageClient.php
  clients/algoliasearch-client-python/algoliasearch/usage/config.py
  clients/algoliasearch-client-ruby/lib/algolia/api/usage_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/MonitoringClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/UsageClient.scala
  clients/algoliasearch-client-swift/Sources/Monitoring/MonitoringClientConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Usage/UsageClientConfiguration.swift
  tests/output/csharp/src/generated/client/Usage.test.cs
  tests/output/go/tests/client/usage_test.go
  tests/output/java/src/test/java/com/algolia/client/Usage.test.java
  tests/output/javascript/src/client/usage.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/UsageTest.kt
  tests/output/php/src/client/UsageTest.php
  tests/output/python/tests/client/usage_test.py
  tests/output/ruby/test/client/usage_test.rb
  tests/output/scala/src/test/scala/algoliasearch/client/UsageTest.scala
  tests/output/swift/Tests/client/UsageTests.swift
Due: none

quotes
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): ignorePlurals can be a boolean string (#3620)
  .eslintrc.cjs
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  eslint/tsconfig.json
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  package.json
  specs/common/schemas/IndexSettings.yml
  templates/go/tests/e2e/e2e.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/ruby/partial_model_generic.mustache
  templates/ruby/partial_oneof_module.mustache
  tests/CTS/requests/search/getRule.json
  tests/CTS/requests/search/searchRules.json
  tests/output/csharp/src/generated/e2e/Analytics.test.cs
  tests/output/go/tests/e2e/analytics_test.go
  tests/output/go/tests/echo.go
  tests/output/java/src/test/java/com/algolia/e2e/Analytics.test.java
  tests/output/javascript/src/e2e/analytics.test.ts
  tests/output/php/src/e2e/AnalyticsTest.php
  tests/output/python/tests/e2e/analytics_test.py
  tests/output/ruby/test/e2e/analytics_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/AnalyticsTest.scala
  tests/output/swift/Tests/e2e/AnalyticsTests.swift
  yarn.lock
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix: use different tag
  specs/usage/paths/statistic.yml
  specs/usage/paths/statisticIndex.yml
  specs/usage/spec.yml
Due: yarn eslint --ext=yml --fix

pretty index name
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

chore(javascript): assert against bundled package
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/jest.config.cjs
Due: none

feat: tsup
  clients/algoliasearch-client-javascript/base.rollup.config.js
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/rollup.config.js
  clients/algoliasearch-client-javascript/packages/client-common/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-fetch/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/rollup.config.js
  clients/algoliasearch-client-javascript/packages/requester-node-http/tsup.config.ts
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/package.mustache
  templates/javascript/clients/rollup.mustache
  templates/javascript/clients/tsup.config.mustache
Due: yarn cli format java generators, yarn fix:json

chore: gen failures
  templates/javascript/clients/tsup.config.mustache
Due: none

feat: tsup but that works except algoliasearch
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-common/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/tsup.config.ts
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/tsup.config.ts
  clients/algoliasearch-client-javascript/yarn.lock
  scripts/generate.ts
  templates/javascript/clients/index.d.mustache
  templates/javascript/clients/index.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/clients/tsup.config.mustache
Due: yarn fix:json

fix(csharp): correct version in user agent
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  tests/CTS/client/common/commonApi.json
Due: yarn cli format java generators, yarn fix:json

feat: tsup but now algoliasearch works
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/clients/index.d.mustache
  templates/javascript/clients/index.mustache
  templates/javascript/clients/package.mustache
Due: none

fix: algoliasearch imports and tests
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn fix:json

feat: node and browser for fetch requester
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/tsup.config.ts
Due: yarn fix:json

chore: test
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.browser.test.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/__tests__/algoliasearch.node.test.ts
Due: none

chore: can't reproduce?
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

fix js
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PhpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/ScalaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/snippets/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

tests changes should run the CI
  scripts/ci/githubActions/utils.ts
Due: none

upgrade eslint config
  package.json
  yarn.lock
Due: yarn fix:json

what
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/package.mustache
Due: yarn cli format java generators

upgrade ruff
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  playground/python/pyproject.toml
  snippets/python/pyproject.toml
  templates/python/pyproject.mustache
  tests/output/python/pyproject.toml
Due: none

chore(snippets): generate snippets for helpers (#3575)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/snippets/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RawDeserializer.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestOptions.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestProp.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ResponseProp.java
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/specs/helper-snippets.ts
  scripts/specs/snippets.ts
  templates/javascript/snippets/method.mustache
  templates/kotlin/snippets/method.mustache
  templates/scala/snippets/method.mustache
  templates/scala/tests/param_optional.mustache
Due: yarn cli format java generators

ignore php
  renovate.json
Due: yarn fix:json

fix csharp
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaUserAgent.cs
  templates/csharp/Configuration.mustache
Due: none

remove copyright
  templates/csharp/netcore_project.mustache
Due: none

merge conflict
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

fix(cts): add waitFor helpers tests
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  scripts/buildClients.ts
  scripts/cli/index.ts
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/waitFor.ts
  specs/search/common/schemas/GetTaskResponse.yml
  specs/search/helpers/browseObjects.yml
  specs/search/helpers/waitForAppTask.yml
  specs/search/helpers/waitForTask.yml
  specs/search/paths/advanced/getAppTask.yml
  specs/search/paths/advanced/getTask.yml
  specs/search/spec.yml
  templates/go/search_helpers.mustache
  templates/java/api_helpers.mustache
  tests/CTS/client/search/deleteObjects.json
  tests/CTS/client/search/generateSecuredApiKey.json
  tests/CTS/client/search/helpers.json
  tests/CTS/client/search/partialUpdateObjects.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
  tests/CTS/client/search/waitForApiKey.json
  tests/CTS/client/search/waitForAppTask.json
  tests/CTS/client/search/waitForTask.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

remove php
  renovate.json
Due: yarn fix:json

fix(csharp): correct version in user agent [skip-e2e] (#3641)
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaUserAgent.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PhpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/PythonCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/ScalaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/csharp/Configuration.mustache
  templates/csharp/netcore_project.mustache
  templates/javascript/clients/package.mustache
  tests/CTS/client/common/commonApi.json
Due: yarn cli format java generators, yarn fix:json

fix(specs): no link
  specs/query-suggestions/paths/qsConfig.yml
  website/docs/docs.md
Due: yarn eslint --ext=yml --fix

fix: remove link here too
  specs/insights/paths/deleteUserToken.yml
Due: yarn eslint --ext=yml --fix

chore(deps): dependencies 2024-09-02 (#3625)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
  clients/algoliasearch-client-python/poetry.lock
  package.json
  playground/java/build.gradle
  playground/python/poetry.lock
  playground/python/pyproject.toml
  renovate.json
  scripts/ci/githubActions/utils.ts
  scripts/package.json
  snippets/kotlin/gradle/libs.versions.toml
  snippets/python/pyproject.toml
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  templates/python/pyproject.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/python/poetry.lock
  tests/output/python/pyproject.toml
  yarn.lock
Due: yarn fix:json

feat: umd
  clients/algoliasearch-client-javascript/bundlesize.config.json
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/jest.config.cjs
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/base.tsup.config.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/clients/rollup.config.mustache
Due: yarn cli format java generators, yarn fix:json

fix php
  clients/algoliasearch-client-php/lib/Support/Helpers.php
  templates/php/api.mustache
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
