Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

chore(deps): dependencies 2023-07-17 (#1748)
  .github/actions/setup/action.yml
  .github/workflows/renovate.yml
  clients/algoliasearch-client-go/go.mod
  clients/algoliasearch-client-go/go.sum
  clients/algoliasearch-client-java-2/.java-version
  clients/algoliasearch-client-java-2/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/.dart-version
  config/.java-version
  eslint/package.json
  generators/gradle/wrapper/gradle-wrapper.jar
  generators/gradle/wrapper/gradle-wrapper.properties
  generators/gradlew
  generators/gradlew.bat
  package.json
  playground/go/go.mod
  playground/go/go.sum
  renovate.json
  scripts/ci/githubActions/setRunVariables.ts
  scripts/package.json
  tests/output/go/go.mod
  tests/output/go/go.sum
  tests/output/kotlin/gradle/libs.versions.toml
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

docs(specs): Review OpenAPI A/B testing specs (#1746)
  specs/abtesting/common/parameters.yml
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/AddABTestsVariant.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/abtesting/paths/abtest.yml
  specs/abtesting/paths/abtests.yml
  specs/abtesting/paths/stopABTest.yml
  specs/abtesting/spec.yml
  tests/CTS/methods/requests/abtesting/addABTests.json
Due: yarn fix:json

update git ignore for other api clients
  clients/algoliasearch-client-dart/.gitignore
  clients/algoliasearch-client-java-2/.gitignore
  clients/algoliasearch-client-kotlin/.gitignore
  clients/algoliasearch-client-php/.gitignore
Due: none

docs(specs): Review OpenAPI Analytics (click analytics) (#1720)
  specs/analytics/common/parameters.yml
  specs/analytics/paths/click/getAverageClickPosition.yml
  specs/analytics/paths/click/getClickPositions.yml
  specs/analytics/paths/click/getClickThroughRate.yml
  specs/analytics/paths/click/getConversionRate.yml
Due: none

fix(scripts): esm release
  package.json
  scripts/release/createReleasePR.ts
  scripts/release/types.ts
  scripts/release/updateAPIVersions.ts
Due: yarn fix:json

docs: update release process
  scripts/docker/build.sh
  website/docs/contributing/release-process.md
Due: none

fix(scripts): esm release (#1772)
  package.json
  scripts/release/createReleasePR.ts
  scripts/release/types.ts
  scripts/release/updateAPIVersions.ts
Due: yarn fix:json

Remove additional, accidental Rules folder
  rules/clearRules.yml
  rules/common/parameters.yml
  rules/common/schemas.yml
  rules/rule.yml
  rules/saveRules.yml
  rules/searchRules.yml
Due: none

docs(specs): Review OpenAPI Search API (rules operations) (#1698)
  specs/search/paths/rules/clearRules.yml
  specs/search/paths/rules/common/parameters.yml
  specs/search/paths/rules/common/schemas.yml
  specs/search/paths/rules/rule.yml
  specs/search/paths/rules/saveRules.yml
  specs/search/paths/rules/searchRules.yml
Due: none

docs: update release process (#1773)
  scripts/docker/build.sh
  website/docs/contributing/release-process.md
Due: none

fix(ci): setup dart deps for release
  .github/workflows/scheduled-release.yml
Due: yarn github-actions:lint --fix

fix(ci): setup dart deps for release (#1775)
  .github/workflows/scheduled-release.yml
Due: yarn github-actions:lint --fix

chore: prepare release 2023-07-18
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

fix(scripts): release script with ssh
  Dockerfile
  scripts/common.ts
  scripts/package.json
Due: yarn fix:json

docs(specs): Review OpenAPI Search API (API key operations) (#1701)
  specs/search/paths/keys/common/parameters.yml
  specs/search/paths/keys/common/schemas.yml
  specs/search/paths/keys/key.yml
  specs/search/paths/keys/keys.yml
  specs/search/paths/keys/restoreApiKey.yml
Due: none

fix(scripts): release script with ssh (#1777)
  Dockerfile
  scripts/common.ts
  scripts/package.json
Due: yarn fix:json

chore: prepare release 2023-07-18 [skip ci]
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
  scripts/release/updateAPIVersions.ts
Due: yarn fix:json

fix(javascript): release process
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaScriptCTSManager.java
  scripts/__tests__/common.test.ts
  scripts/config.ts
  scripts/release/createReleasePR.ts
  scripts/release/updateAPIVersions.ts
  scripts/types.ts
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

docs(specs): Review OpenAPI Analytics (advanced) (#1722)
  specs/analytics/paths/status/getStatus.yml
Due: none

docs(specs): Review OpenAPI Search API (multicluster operations) (#1702)
  specs/search/paths/multiclusters/batchAssignUserIds.yml
  specs/search/paths/multiclusters/getTopUserIds.yml
  specs/search/paths/multiclusters/hasPendingMappings.yml
  specs/search/paths/multiclusters/listClusters.yml
  specs/search/paths/multiclusters/searchUserIds.yml
  specs/search/paths/multiclusters/userId.yml
  specs/search/paths/multiclusters/userIds.yml
Due: none

chore: bump cache key
  .github/.cache_version
Due: none

docs(specs): Review OpenAPI Search API (synonym operations) (#1699)
  specs/search/paths/synonyms/clearAllSynonyms.yml
  specs/search/paths/synonyms/common/parameters.yml
  specs/search/paths/synonyms/common/schemas.yml
  specs/search/paths/synonyms/saveSynonyms.yml
  specs/search/paths/synonyms/searchSynonyms.yml
  specs/search/paths/synonyms/synonym.yml
Due: none

fix: default if file not found
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
Due: docker exec -t api-client yarn cli format java generators

fix: tests
  tests/CTS/methods/requests/query-suggestions/updateConfig.json
Due: yarn fix:json

fix: generate parameter
  specs/query-suggestions/common/schemas/SourceIndex.yml
Due: none

feat: packageVersion -> version
  clients/algoliasearch-client-dart/sync.sh
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaScriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  scripts/config.ts
  scripts/release/updateAPIVersions.ts
  scripts/types.ts
  templates/dart/api.mustache
  templates/dart/version.mustache
  templates/go/client.mustache
  templates/java/api.mustache
  templates/java/gradle.properties.mustache
  templates/java/tests/build.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/package.mustache
  templates/kotlin/BuildConfig.kt.mustache
  templates/kotlin/README.mustache
  templates/kotlin/README_BOM.mustache
  templates/kotlin/gradle.properties.mustache
  templates/php/composer.mustache
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/release-process.md
  website/docs/contributing/testing/common-test-suite.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix: common javascript utils
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaScriptCTSManager.java
Due: docker exec -t api-client yarn cli format java generators

docs: remove outdated fields
  website/docs/contributing/add-new-api-client.md
Due: none

fix: dart packageVersion
  clients/algoliasearch-client-dart/packages/algoliasearch/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_core/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_insights/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_search/test/version_test.dart
Due: none

revert: packageVersion -> version
  clients/algoliasearch-client-dart/sync.sh
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  scripts/config.ts
  scripts/release/updateAPIVersions.ts
  scripts/types.ts
  templates/dart/api.mustache
  templates/dart/version.mustache
  templates/go/client.mustache
  templates/java/api.mustache
  templates/java/gradle.properties.mustache
  templates/java/tests/build.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/package.mustache
  templates/kotlin/BuildConfig.kt.mustache
  templates/kotlin/README.mustache
  templates/kotlin/README_BOM.mustache
  templates/kotlin/gradle.properties.mustache
  templates/php/composer.mustache
  website/docs/contributing/add-new-api-client.md
  website/docs/contributing/release-process.md
  website/docs/contributing/testing/common-test-suite.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

Revert "fix: dart packageVersion"
  clients/algoliasearch-client-dart/packages/algoliasearch/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/version.dart
  clients/algoliasearch-client-dart/packages/client_core/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_insights/test/version_test.dart
  clients/algoliasearch-client-dart/packages/client_search/test/version_test.dart
Due: none

fix: default on array
  specs/query-suggestions/common/schemas/Languages.yml
Due: none

fix(dart): custom calls path and deserialization
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  templates/dart/api.mustache
  templates/dart/serialization/json_serializable/deserialize.mustache
Due: none

fix(javascript): release process (#1779)
  config/clients.config.json
  config/openapitools.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  generators/src/main/java/com/algolia/codegen/Utils.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaScriptCTSManager.java
  scripts/__tests__/common.test.ts
  scripts/config.ts
  scripts/release/createReleasePR.ts
  scripts/release/updateAPIVersions.ts
  scripts/types.ts
  website/docs/contributing/add-new-api-client.md
Due: docker exec -t api-client yarn cli format java generators, yarn fix:json

fix(javascript): allow package.json to be pushed
  config/generation.config.mjs
Due: none

fix(dart): custom calls path and deserialization (#1780)
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  templates/dart/api.mustache
  templates/dart/serialization/json_serializable/deserialize.mustache
Due: none

chore: generated code for commit 7c2f43324417d98a48d5e49c7be437e48a3035bc. [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/api/search_client.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/deserialize.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/api/insights_client.dart
  clients/algoliasearch-client-dart/packages/client_insights/lib/src/deserialize.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/deserialize.dart
Due: none

fix(scripts): execa command for git commits
  scripts/common.ts
Due: none

fix: tests
  scripts/__tests__/common.test.ts
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
