Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

feat(python): Fixed sync transporter timeout
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
Due: none

test: add and adjust tests for max filters 20
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
Due: yarn eslint --ext=yml --fix

chore(deps): dependencies 2026-01-26 (#5859)
  clients/algoliasearch-client-java/.java-version
  clients/algoliasearch-client-java/gradle/wrapper/gradle-wrapper.properties
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-kotlin/gradle/wrapper/gradle-wrapper.properties
  eslint/package.json
  gradle/gradle/wrapper/gradle-wrapper.properties
  package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

feat(python): Added manual timeout test to CTS
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
  config/generation.config.mjs
  scripts/cts/runCts.ts
  scripts/cts/testServer/timeout.ts
Due: none

feat(python): Removed assertions from non-test code
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
Due: none

chore: prepare release 2026-01-27
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

feat(python): Created Codacy config
  .codacy.yml
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
Due: none

fix: allow additionalProperties on events
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: yarn eslint --ext=yml --fix

feat(python): Test python timeout (#5883)
  .codacy.yml
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  clients/algoliasearch-client-python/algoliasearch/tests/test_timeout_integration.py
  config/generation.config.mjs
  scripts/cts/runCts.ts
  scripts/cts/testServer/timeout.ts
Due: none

Update specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
Due: yarn eslint --ext=yml --fix

feat(tests): add integration tests for retry strategy and timeout behavior
  clients/algoliasearch-client-csharp/algoliasearch.Tests/Algolia.Search.IntegrationTests.csproj
  clients/algoliasearch-client-csharp/algoliasearch.Tests/TimeoutIntegrationTests.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/RetryStrategy.cs
  config/generation.config.mjs
  scripts/cts/runCts.ts
  scripts/formatter.ts
Due: none

feat(php): Implemented retry strategy
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ClusterHosts.php
  clients/algoliasearch-client-php/lib/RetryStrategy/Host.php
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
  scripts/cts/testServer/timeout.ts
Due: none

fix(csharp): move tests inside algoliasearch directory
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
  config/generation.config.mjs
  scripts/cts/runCts.ts
Due: none

Delete clients/algoliasearch-client-csharp/algoliasearch.Tests/Algolia.Search.IntegrationTests.csproj
  clients/algoliasearch-client-csharp/algoliasearch.Tests/Algolia.Search.IntegrationTests.csproj
Due: none

fix(specs): allow additionalProperties on insights-api events (#5885)
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
Due: yarn eslint --ext=yml --fix

fix(csharp): add conditional test dependencies and exclude tests from netstandard builds
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
  scripts/formatter.ts
Due: none

fix(csharp): update target framework to include net10.0 and manage test dependencies
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/netcore_project.mustache
Due: yarn cli format java generators

fix(specs): allow additionalProperties on insights-api events (#5885) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Insights/ClickedObjectIDsAfterSearch.cs
  clients/algoliasearch-client-go/algolia/insights/model_clicked_object_ids_after_search.go
  clients/algoliasearch-client-javascript/packages/client-insights/model/clickedObjectIDsAfterSearch.ts
  clients/algoliasearch-client-php/lib/Model/Insights/ClickedObjectIDsAfterSearch.php
  clients/algoliasearch-client-python/algoliasearch/insights/models/clicked_object_ids_after_search.py
  clients/algoliasearch-client-ruby/lib/algolia/models/insights/clicked_object_ids_after_search.rb
  clients/algoliasearch-client-swift/Sources/Insights/Models/ClickedObjectIDsAfterSearch.swift
  docs/bundled/insights.json
  docs/bundled/insights.yml
  specs/bundled/insights.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(csharp): add test framework support to code generation
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  scripts/cts/runCts.ts
  templates/csharp/netcore_project.mustache
Due: yarn cli format java generators

Remove unneeded curl_close in CurlHttpClient
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
Due: none

fix(spec): set maxLength for value string
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix(clients): remove unneeded curl_close in CurlHttpClient (#5888)
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
Due: none

fix(clients): remove unneeded curl_close in CurlHttpClient (#5888) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

update currency validation rules
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix(csharp): update timeout integration tests to improve host configuration and timeout settings
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
Due: none

fix(csharp): adjust timeout test expectations for C# implementation
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
Due: none

fix(csharp): scale connect timeout instead of read timeout to match Python/Java
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
Due: none

fix(csharp): use scaled connect timeout as total timeout to match Python/Java
  clients/algoliasearch-client-csharp/algoliasearch/Http/AlgoliaHttpRequester.cs
Due: none

feat(php): Created test and fixed retry strategy
  clients/algoliasearch-client-php/lib/Exceptions/TimeoutException.php
  clients/algoliasearch-client-php/lib/Http/CurlHttpClient.php
  clients/algoliasearch-client-php/lib/Http/GuzzleHttpClient.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  clients/algoliasearch-client-php/lib/RetryStrategy/ClusterHosts.php
  clients/algoliasearch-client-php/lib/RetryStrategy/Host.php
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
  clients/algoliasearch-client-php/tests/TimeoutIntegrationTest.php
  config/generation.config.mjs
  scripts/cts/runCts.ts
  scripts/cts/testServer/timeout.ts
Due: none

feat(php): Fixed codacy issue and modified config
  .codacy.yml
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
Due: none

fix(csharp): prevent integration tests from running without test server
  clients/algoliasearch-client-csharp/algoliasearch/Tests/TimeoutIntegrationTests.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  scripts/cts/runCts.ts
Due: none

fix(specs): set maxLength for value string (#5889)
  specs/insights/common/schemas/EventAttributes.yml
Due: yarn eslint --ext=yml --fix

fix(specs): set maxLength for value string (#5889) (generated) [skip ci]
  docs/bundled/insights.json
  docs/bundled/insights.yml
  specs/bundled/insights.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): more accurate composition behavior typing
  specs/composition/common/schemas/components/CompositionBehavior.yml
Due: yarn eslint --ext=yml --fix

Merge branch 'main' into feat/php-retry-strategy (generated)
  clients/algoliasearch-client-php/lib/RetryStrategy/HostCollection.php
  clients/algoliasearch-client-php/tests/TimeoutIntegrationTest.php
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
