Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: main version
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
Due: yarn github-actions:lint --fix

chore: poetry locks
  playground/python/poetry.lock
  playground/python/pyproject.toml
  snippets/python/pyproject.toml
Due: none

missing $
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: release 2024-08-29 [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/BuildConfig.java
  clients/algoliasearch-client-java/gradle.properties
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/client-usage/src/usageClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
  clients/algoliasearch-client-php/lib/Algolia.php
  clients/algoliasearch-client-php/lib/Api/AbtestingClient.php
  clients/algoliasearch-client-php/lib/Api/AnalyticsClient.php
  clients/algoliasearch-client-php/lib/Api/IngestionClient.php
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  clients/algoliasearch-client-php/lib/Api/MonitoringClient.php
  clients/algoliasearch-client-php/lib/Api/PersonalizationClient.php
  clients/algoliasearch-client-php/lib/Api/QuerySuggestionsClient.php
  clients/algoliasearch-client-php/lib/Api/RecommendClient.php
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Api/UsageClient.php
  snippets/java/build.gradle
  tests/output/java/build.gradle
Due: yarn fix:json

review
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: version check
  templates/python/imports.mustache
Due: none

chore: confusion
  templates/python/imports.mustache
Due: none

chore: name
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): add ability to skip e2e when something is down [skip-e2e] (#3612)
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix kotlin
  templates/kotlin/snippets/method.mustache
  templates/kotlin/tests/client/method.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/kotlin/tests/param_object.mustache
  templates/kotlin/tests/request_param.mustache
Due: none

chore: make it future proof
  .github/workflows/check.yml
  config/clients.config.json
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix, yarn fix:json

chore: i don't know js
  scripts/ci/githubActions/createMatrix.ts
  scripts/config.ts
Due: none

chore: add a bug report template to github (#3606)
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/ci/githubActions/utils.ts
  templates/Bug_report.yml
  templates/csharp/Bug_report.yml
  templates/dart/Bug_report.yml
  templates/go/Bug_report.yml
  templates/java/Bug_report.yml
  templates/javascript/clients/Bug_report.yml
  templates/kotlin/Bug_report.yml
  templates/php/Bug_report.yml
  templates/python/Bug_report.yml
  templates/ruby/Bug_report.yml
  templates/scala/Bug_report.yml
  templates/swift/Bug_report.yml
Due: yarn cli format java generators

chore: actually push python
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore: php version
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore: add a bug report template to github (#3606) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-dart/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-go/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-java/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-javascript/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-kotlin/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-php/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-python/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-ruby/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-scala/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-swift/.github/ISSUE_TEMPLATE/Bug_report.yml
Due: none

chore: no self
  templates/python/imports.mustache
Due: none

fix scala
  templates/scala/tests/param_object.mustache
  templates/scala/tests/request_param.mustache
Due: none

chore: references
  scripts/ci/githubActions/createMatrix.ts
Due: none

fix scala fr
  templates/scala/tests/param_object.mustache
Due: none

chore: more import conditions
  clients/algoliasearch-client-python/algoliasearch/http/request_options.py
  clients/algoliasearch-client-python/algoliasearch/http/user_agent.py
Due: none

chore: moar
  templates/python/imports.mustache
Due: none

fix csharp
  templates/csharp/tests/generateInnerParams.mustache
Due: none

chore: fix the bug report template
  templates/Bug_report.yml
Due: none

test
  templates/scala/tests/param_object.mustache
Due: none

chore: no diea
  .github/workflows/check.yml
  clients/algoliasearch-client-python/setup.cfg
Due: yarn github-actions:lint --fix

chore: fix the bug report template (#3614)
  templates/Bug_report.yml
Due: none

chore: fix the bug report template (#3614) (generated) [skip ci]
  clients/algoliasearch-client-csharp/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-dart/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-go/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-java/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-javascript/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-kotlin/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-php/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-python/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-ruby/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-scala/.github/ISSUE_TEMPLATE/Bug_report.yml
  clients/algoliasearch-client-swift/.github/ISSUE_TEMPLATE/Bug_report.yml
Due: none

chore: type fixes
  clients/algoliasearch-client-python/algoliasearch/http/helpers.py
Due: none

okay ?
  templates/scala/tests/param_object.mustache
Due: none

fix(specs): ingestion push task payload [skip-bc] (#3607)
  specs/ingestion/paths/tasks/v2/pushTask.yml
  templates/csharp/tests/generateInnerParams.mustache
  templates/go/model_simple.mustache
  templates/kotlin/snippets/method.mustache
  templates/kotlin/tests/client/method.mustache
  templates/kotlin/tests/client/tests.mustache
  templates/kotlin/tests/param_object.mustache
  templates/kotlin/tests/request_param.mustache
  templates/scala/tests/param_object.mustache
  templates/scala/tests/request_param.mustache
  tests/CTS/requests/ingestion/pushTask.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

correct version
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix php
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

wrong function
  scripts/ci/githubActions/createMatrix.ts
Due: none

chore(snippets): generate snippets for helpers
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/snippets/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ClientTestData.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RawDeserializer.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestOptions.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestProp.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ResponseProp.java
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/javascript/snippets/method.mustache
Due: yarn cli format java generators

use the generated snippets for the doc
  scripts/specs/helper-snippets.ts
  scripts/specs/snippets.ts
Due: none

fix
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

remove dead code
  generators/src/main/java/com/algolia/codegen/cts/tests/SnippetsGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

stoopid
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix
