Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(search): add queryID to search response
  specs/search/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add `queryID` to search response (#2801)
  specs/search/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

chore: review and simplify
  .github/workflows/check.yml
  scripts/buildSpecs.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/types.ts
  templates/csharp/snippets/method.mustache
  templates/dart/snippets/method.mustache
  templates/go/snippets/method.mustache
  templates/java/snippets/method.mustache
  templates/javascript/snippets/method.mustache
  templates/kotlin/snippets/method.mustache
  templates/php/snippets/method.mustache
  templates/python/snippets/method.mustache
  templates/ruby/snippets/method.mustache
  templates/scala/snippets/method.mustache
  templates/swift/snippets/method.mustache
Due: yarn github-actions:lint --fix

move client search extensions to instance method.
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

chore: move fn to utils
  scripts/buildSpecs.ts
  scripts/cli/utils.ts
Due: none

Revert "chore: move fn to utils"
  scripts/buildSpecs.ts
  scripts/cli/utils.ts
Due: none

refactor(csharp): move client search extensions to instance method (#2802)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
Due: none

chore: generated code for commit 6dc52baa2c8dc63934970c9921a0803e152ab3ee. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Recommend/BaseSearchResponse.cs
  clients/algoliasearch-client-csharp/algoliasearch/Models/Recommend/RecommendationsResults.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
Due: none

chore: prepare release 2024-02-29
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix(cts): test encoding of special characters
  tests/CTS/requests/common/customGet.json
Due: yarn fix:json

chore: prepare release 2024-02-29 (#2803)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(php): add getSecuredApiKeyRemainingValidity helper
  templates/php/api.mustache
Due: none

chore: object parameters
  scripts/buildSpecs.ts
Due: none

change exception in csharp and js
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/php/api.mustache
Due: none

feat(php): add getSecuredApiKeyRemainingValidity helper (#2805)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/tests/requests/helpers.mustache
  templates/php/api.mustache
Due: none

chore: hawkeye
  templates/javascript/snippets/method.mustache
Due: none

chore: generated code for commit 39b65d6458b866a4513e7acdecc563d7535b7822. [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  tests/output/javascript/src/requests/search.test.ts
Due: none

feat(swift): remove AnyCodable dependency
  clients/algoliasearch-client-swift/Sources/Core/AnyCodable/AnyCodable.swift
  clients/algoliasearch-client-swift/Sources/Core/AnyCodable/AnyDecodable.swift
  clients/algoliasearch-client-swift/Sources/Core/AnyCodable/AnyEncodable.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Extensions.swift
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Iterable.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/URLSessionLinux.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchHelpers.swift
  templates/swift/Extensions.mustache
  templates/swift/Package.mustache
  templates/swift/api.mustache
  templates/swift/client_configuration.mustache
  templates/swift/model.mustache
  templates/swift/podspec.mustache
  templates/swift/snippets/Package.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/Package.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/requests/requests.mustache
  tests/output/swift/Tests/Utils/Utils.swift
Due: none

chore: display acls
  .github/.cache_version
  website/redocly.yaml
Due: none

docs: integrates generated snippet (#2799)
  .github/.cache_version
  .github/workflows/check.yml
  scripts/buildSpecs.ts
  scripts/cli/index.ts
  scripts/common.ts
  scripts/types.ts
  scripts/website/build.sh
  templates/csharp/snippets/method.mustache
  templates/dart/snippets/method.mustache
  templates/go/snippets/method.mustache
  templates/java/snippets/method.mustache
  templates/javascript/snippets/method.mustache
  templates/kotlin/snippets/method.mustache
  templates/php/snippets/method.mustache
  templates/python/snippets/method.mustache
  templates/ruby/snippets/method.mustache
  templates/scala/snippets/method.mustache
  templates/swift/snippets/method.mustache
  website/docusaurus.config.js
  website/redocly.yaml
Due: yarn github-actions:lint --fix

fix(javascript): move node related helpers at node bundle level
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/algoliasearch/builds/imports.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/exportType.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: yarn cli format java generators

fix: only for node
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
Due: none

fix: import
  templates/javascript/clients/algoliasearch/builds/imports.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
Due: none

chore: weird cache
  .github/.cache_version
Due: none

fix: test and lighten mustache
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/checkParameters.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/exportType.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: none

fix: lighten mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/client/builds/checkParameters.mustache
  templates/javascript/clients/client/builds/definition.mustache
Due: none

docs: reference overhaul
  specs/search/paths/advanced/getTask.yml
  specs/search/paths/dictionaries/dictionarySettings.yml
  specs/search/paths/dictionaries/getDictionaryLanguages.yml
  specs/search/paths/keys/key.yml
  specs/search/paths/keys/keys.yml
  specs/search/paths/keys/restoreApiKey.yml
  specs/search/paths/manage_indices/listIndices.yml
  specs/search/paths/manage_indices/operationIndex.yml
  specs/search/paths/objects/batch.yml
  specs/search/paths/objects/clearObjects.yml
  specs/search/paths/objects/deleteBy.yml
  specs/search/paths/objects/getObjects.yml
  specs/search/paths/objects/multipleBatch.yml
  specs/search/paths/objects/object.yml
  specs/search/paths/objects/objects.yml
  specs/search/paths/objects/partialUpdate.yml
  specs/search/paths/rules/clearRules.yml
  specs/search/paths/rules/rule.yml
  specs/search/paths/rules/saveRules.yml
  specs/search/paths/rules/searchRules.yml
  specs/search/paths/search/browse.yml
  specs/search/paths/search/search.yml
  specs/search/paths/search/searchForFacetValues.yml
  specs/search/paths/search/searchSingleIndex.yml
  specs/search/paths/settings/settings.yml
  specs/search/paths/synonyms/clearSynonyms.yml
  specs/search/paths/synonyms/saveSynonyms.yml
  specs/search/paths/synonyms/synonym.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

fix(scripts): lint the correct bundled spec
  scripts/buildSpecs.ts
Due: none

fix(scripts): lint the correct bundled spec (#2824)
  scripts/buildSpecs.ts
Due: none

chore: generated code for commit 61dfa7585a28f55d6a5a2e212dfd3b5dd0334d05. [skip ci]
  specs/bundled/abtesting.yml
  specs/bundled/analytics.yml
  specs/bundled/crawler.yml
  specs/bundled/ingestion.yml
  specs/bundled/insights.yml
  specs/bundled/monitoring.yml
  specs/bundled/personalization.yml
  specs/bundled/query-suggestions.yml
  specs/bundled/recommend.yml
  specs/bundled/search.yml
  specs/bundled/usage.yml
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn eslint --ext=yml --fix

chore(go): add missing ACLs in description, remove duplicated deprecation notice
  templates/go/api.mustache
  templates/go/operation_description.mustache
Due: none

fix(javascript): move node related helpers at node bundle level (#2807)
  .github/.cache_version
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/checkParameters.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/imports.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/builds/browser.mustache
  templates/javascript/clients/client/builds/checkParameters.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/builds/imports.mustache
  templates/javascript/clients/client/builds/liteNode.mustache
  templates/javascript/clients/client/builds/node.mustache
Due: yarn cli format java generators

chore: generated code for commit 9847affc4353335382a4652c8f202f25d02ac9d7. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-insights/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/client-search/builds/node.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/ingestion/builds/node.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/monitoring/builds/node.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/recommend/builds/node.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
Due: none

chore(go): add missing ACLs in description, remove duplicated deprecation notice (#2825)
  templates/go/api.mustache
  templates/go/operation_description.mustache
Due: none

chore: generated code for commit 115dd1778479634ab1f19d04cbd1af65f22a60a2. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/api_abtesting.go
  clients/algoliasearch-client-go/algolia/analytics/api_analytics.go
  clients/algoliasearch-client-go/algolia/ingestion/api_ingestion.go
  clients/algoliasearch-client-go/algolia/personalization/api_personalization.go
  clients/algoliasearch-client-go/algolia/query-suggestions/api_query_suggestions.go
  clients/algoliasearch-client-go/algolia/recommend/api_recommend.go
  clients/algoliasearch-client-go/algolia/search/api_search.go
Due: none
