Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore(deps): dependencies 2024-02-12 (#2682)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/.go-version
  generators/build.gradle
  package.json
  playground/javascript/node/package.json
  scripts/package.json
  scripts/pre-gen/generateOpenapitools.ts
  snippets/java/build.gradle
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn fix:json

chore: generated code for commit f0e7470fe8ea81aaec065572e7474c6c2c2ffd6e. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/models/source_index.py
  tests/output/java/build.gradle
  tests/output/javascript/package.json
Due: yarn fix:json

feat(php): Add missing helpers (#2679)
  clients/algoliasearch-client-php/lib/Iterators/SynonymIterator.php
  playground/php/loadEnv.php
  playground/php/src/search.php
  templates/php/api.mustache
Due: none

chore: generated code for commit ca8bdebf0919b8b56e9fd84952b0ae89da61233e. [skip ci]
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none

feat: add 'replaceAllObjects' function
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/Json.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
Due: none

add guides
  website/docs/clients/migration-guides/index.mdx
Due: none

kotlin is working
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/Host.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/RetryableHost.kt
  templates/kotlin/tests/client/createClient.mustache
  templates/kotlin/tests/client/suite.mustache
Due: none

python is working
  clients/algoliasearch-client-python/algoliasearch/http/hosts.py
  clients/algoliasearch-client-python/algoliasearch/http/transporter.py
  templates/python/config.mustache
Due: none

feat: add secured api key gen & validity check
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/SecuredAPIKeyRestriction.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/WaitTask.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Encoding.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestHashing.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/extensions/internal/Encoding.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/extensions/internal/Encoding.native.kt
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
Due: none

feat(swift): handle retry strat in client tests
  templates/swift/tests/client/createClient.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/client/suite.mustache
Due: none

feat(swift): handle retry strat in client tests (#2643)
  templates/swift/tests/client/createClient.mustache
  templates/swift/tests/client/method.mustache
  templates/swift/tests/client/suite.mustache
Due: none

scala ftw
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/Host.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/StatefulHost.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  templates/scala/tests/client/createClient.mustache
  templates/scala/tests/client/method.mustache
  templates/scala/tests/client/suite.mustache
Due: none

chore: prepare release 2024-02-13
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix go
  templates/go/client.mustache
  tests/output/go/tests/echo.go
Due: none

fix java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
Due: none

add waitForApiKey and apply lint
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/SecuredAPIKeyRestriction.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/Json.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/ApiKeyOperation.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Encoding.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Retry.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestHashing.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/extensions/internal/Encoding.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/extensions/internal/Encoding.native.kt
Due: none

move SecuredAPIKeyRestriction to extension
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SecuredAPIKeyRestriction.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
Due: none

fix spec for python
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/common/parameters.yml
Due: yarn eslint --ext=yml --fix

support all nullable for go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
Due: yarn cli format java generators

feat(swift): add snippets
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  scripts/formatter.ts
  snippets/swift/.gitignore
  templates/swift/snippets/Package.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/Package.mustache
Due: yarn cli format java generators, yarn fix:json

fix(cts): add e2e for abtesting (#2673)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  specs/abtesting/common/schemas/ABTest.yml
  specs/abtesting/common/schemas/Variant.yml
  specs/common/parameters.yml
  templates/csharp/tests/requests/requests.mustache
  templates/go/client.mustache
  templates/python/tests/requests/requests.mustache
  templates/ruby/tests/requests/requests.mustache
  tests/CTS/requests/abtesting/listABTests.json
  tests/output/go/tests/echo.go
  tests/output/java/src/test/java/com/algolia/EchoInterceptor.java
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

feat(swift): add snippets (#2705)
  config/clients.config.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  scripts/formatter.ts
  snippets/swift/.gitignore
  templates/swift/snippets/Package.mustache
  templates/swift/snippets/method.mustache
  templates/swift/tests/Package.mustache
Due: yarn cli format java generators, yarn fix:json

chore: generated code for commit f2840ec37bb3865201a235d7ba63c1ba27a21e01. [skip ci]
  snippets/swift/Package.swift
  snippets/swift/Sources/Abtesting.swift
  snippets/swift/Sources/Analytics.swift
  snippets/swift/Sources/Ingestion.swift
  snippets/swift/Sources/Insights.swift
  snippets/swift/Sources/Monitoring.swift
  snippets/swift/Sources/Personalization.swift
  snippets/swift/Sources/QuerySuggestions.swift
  snippets/swift/Sources/Recommend.swift
  snippets/swift/Sources/Search.swift
  tests/output/swift/Package.swift
Due: none

add configurable scheme and port
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  playground/php/src/search.php
Due: none

add configurable scheme and port
  templates/php/client_config.mustache
Due: none

add configurable scheme and port
  templates/php/Configuration.mustache
Due: none

add full hosts logic
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  playground/php/src/search.php
  templates/php/Configuration.mustache
  templates/php/client_config.mustache
Due: none

feat(kotlin): add `replaceAllObjects`, `generateSecuredApiKeys` and `waitForApiKey` functions (#2702)
  clients/algoliasearch-client-kotlin/client/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/Json.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/ApiKeyOperation.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SecuredAPIKeyRestriction.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/WaitTask.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Encoding.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Retry.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestHashing.kt
  clients/algoliasearch-client-kotlin/client/src/commonTest/kotlin/com/algolia/client/TestSecureApiKey.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/extensions/internal/Encoding.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/extensions/internal/Encoding.native.kt
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
Due: none

feat(cts): add helpers to the specs
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ApiKeyOperation.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/buildSpecs.ts
  scripts/common.ts
  scripts/cts/generate.ts
  scripts/generate.ts
  scripts/install.sh
  scripts/pre-gen/generateOpenapitools.ts
  scripts/snippets/generate.ts
  scripts/spinners.ts
  scripts/types.ts
  specs/search/helpers/waitForApiKey.yml
  specs/search/spec.yml
  templates/java/api_helpers.mustache
  templates/java/tests/requests/requests.mustache
  tests/CTS/requests/search/waitForApiKey.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

okay for go
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  specs/search/helpers/waitForApiKey.yml
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  templates/go/tests/requests/requests.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/CTS/requests/search/waitForApiKey.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

spec for generateSecuredApiKey
  specs/search/helpers/generateSecuredApiKey.yml
  specs/search/spec.yml
  tests/CTS/requests/search/waitForApiKey.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

don't force
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
Due: yarn cli format java generators

what
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/go/tests/requests/requests.mustache
  tests/CTS/requests/search/generateSecuredApiKey.json
Due: yarn cli format java generators, yarn fix:json

remove useless methods
  clients/algoliasearch-client-php/lib/RetryStrategy/ApiWrapper.php
  templates/php/Configuration.mustache
  templates/php/client_config.mustache
Due: none

update test for php
  templates/php/tests/client/createClient.mustache
Due: none

php
  templates/php/tests/client/suite.mustache
Due: none

add guides
  website/docs/clients/guides/copy-or-move-index-rules-settings-synonyms.mdx
  website/docs/clients/guides/customized-client-usage.mdx
  website/docs/clients/installation.mdx
Due: none

fix
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/config/Host.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  templates/php/tests/client/suite.mustache
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
