Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

fix(go): add browse helpers
  templates/go/search_helpers.mustache
Due: none

fix(go): wait api key helper
  templates/go/search_helpers.mustache
Due: none

chore: push to docs before validating release
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(javascript): deprecated publish options
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  templates/javascript/clients/package.mustache
Due: yarn fix:json

fix(javascript): deprecated publish options (#3220)
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  templates/javascript/clients/package.mustache
Due: yarn fix:json

chore: generated code for commit 683ecb9791841df028046f5873bccc9e0a5f3a2a. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
Due: yarn fix:json

feat(scripts): allow forcing releases
  scripts/cli/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
Due: none

chore: add docs
  website/docs/contributing/CLI/release-commands.md
Due: none

chore: even better
  config/release.config.json
  scripts/cli/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  website/docs/contributing/CLI/release-commands.md
  website/static/img/ruby-sla.png
Due: yarn fix:json

feat(scripts): allow forcing releases (#3221)
  config/release.config.json
  scripts/cli/index.ts
  scripts/release/__tests__/createReleasePR.test.ts
  scripts/release/createReleasePR.ts
  website/docs/contributing/CLI/release-commands.md
  website/static/img/ruby-sla.png
Due: yarn fix:json

chore: prepare release 2024-06-21
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
  config/release.config.json
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
Due: yarn fix:json

chore: prepare release 2024-06-21
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  config/release.config.json
  scripts/release/createReleasePR.ts
  website/static/img/csharp-sla.png
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
Due: yarn fix:json

chore: prepare release 2024-06-21
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-ruby/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
  scripts/release/createReleasePR.ts
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
Due: yarn fix:json

fix(scripts): set skipRelease to false
  scripts/release/createReleasePR.ts
Due: none

fix: deploy script push generated files
  scripts/husky/pre-commit.mjs
  scripts/release/createReleasePR.ts
Due: none

fix(go): use createIterable method like in other clients (#3216)
  clients/algoliasearch-client-go/algolia/errs/wait_err.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Iterable.swift
  templates/go/search_helpers.mustache
Due: none

fix(specs): clarify decompounding limitations
  specs/common/schemas/IndexSettings.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit a22e83dd98b3f777c70f1f184762bbd0f260dba8. [skip ci]
  clients/algoliasearch-client-go/algolia/search/api_search.go
Due: none

fix(scripts): set skipRelease to false (#3226)
  scripts/husky/pre-commit.mjs
  scripts/release/createReleasePR.ts
Due: none

lock ?
  clients/algoliasearch-client-javascript/yarn.lock
  renovate.json
Due: yarn fix:json

remove deprecated package
  clients/algoliasearch-client-javascript/base.rollup.config.js
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

move forward with swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/swift/tests/client/method.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/paramKey.mustache
  templates/swift/tests/paramValue.mustache
  tests/output/swift/Tests/handwritten/Serializers.swift
Due: yarn cli format java generators

revert swift
  tests/output/swift/Tests/handwritten/E2ESearch.swift
Due: none

test ?
  tests/output/swift/Tests/handwritten/SecuredApiKeyHelpers.swift
Due: none

chore: generated code for commit da3f82d8e23219306729deb33457448549a15b22. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/package.json
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat(clients): add recommend to algoliasearch (#2860)
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  scripts/buildClients.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/specs/index.ts
  scripts/types.ts
  templates/javascript/clients/algoliasearch/builds/browser.mustache
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/initClients.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
  templates/javascript/clients/algoliasearch/builds/node.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/snippets/method.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/package.mustache
  templates/javascript/tests/requests/requests.mustache
  tests/output/javascript/yarn.lock
  website/docs/contributing/testing/common-test-suite.md
Due: yarn cli format java generators, yarn fix:json

chore: prepare release 2024-06-24
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
  website/static/img/dart-sla.png
  website/static/img/go-sla.png
  website/static/img/java-sla.png
  website/static/img/javascript-sla.png
  website/static/img/kotlin-sla.png
  website/static/img/swift-sla.png
Due: yarn fix:json

feat(javascript): legacy getRecommendations signature
  specs/recommend/paths/getRecommendations.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/implementation.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/imports.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/model.mustache
  templates/javascript/clients/client/api/operation/parameters.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: yarn eslint --ext=yml --fix

feat(javascript): legacy `getRecommendations` signature (#3241)
  specs/recommend/paths/getRecommendations.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/imports.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/implementation.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/imports.mustache
  templates/javascript/clients/client/api/operation/legacyGetRecommendationsCompatible/model.mustache
  templates/javascript/clients/client/api/operation/parameters.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: yarn eslint --ext=yml --fix

chore: generated code for commit 632827befa1c45503181762f915e4b04a925f485. [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-go/algolia/usage/client.go
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/DestinationIndexName.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/BaseIndexSettings.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/BrowseParamsObject.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/DeleteByParams.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/IndexSettings.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchBaseSearchParams.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchBaseSearchParamsWithoutQuery.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchConsequenceParams.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchForFacets.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchForHits.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchIndexSettingsAsSearchParams.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchQueryType.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchSearchParamsObject.swift
  clients/algoliasearch-client-swift/Sources/Search/Models/SearchSortRemainingBy.swift
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  clients/algoliasearch-client-swift/Sources/Usage/UsageClient.swift
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
Due: yarn eslint --ext=yml --fix

feat: python
  templates/python/search_helpers.mustache
Due: none

feat(go): add a way to retrieve raw http response
  clients/algoliasearch-client-go/algolia/utils/utils.go
  templates/go/api.mustache
Due: none
