Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

revert(kotlin): keep client compiler at 2.3.21 to preserve Kotlin 2.2+ consumer compatibility
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
Due: none

fix(scala): hoist JSON media type parsing to a constant
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
Due: none

fix(scala): send request bodies with Content-Length instead of chunked encoding (#6832)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/JsonSerializer.scala
  tests/output/scala/src/test/scala/algoliasearch/manual/RequestBodyContentLengthTest.scala
Due: none

feat(specs): extend ABTest data model with Bayesian fields
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(java): Request-ID and Correlation-ID support
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaApiException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRequestException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/RequestId.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RequestIdInterceptor.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/java/api.mustache
  templates/java/api_helpers.mustache
  templates/java/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

feat(scala): Request-ID and Correlation-ID support
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/SearchExtensions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/RequestId.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RequestIdInterceptor.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/util/package.scala
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/scala/api.mustache
  templates/scala/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

feat(kotlin): Request-ID and Correlation-ID support
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/internal/Throwable.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/RequestId.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/kotlin/api.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

fix(java): add the missing saveObjects batchSize overload
  templates/java/api_helpers.mustache
Due: none

fix(cts): make query categorization e2e assertion data-independent
  tests/CTS/requests/search/search.json
Due: yarn fix:json

fix(cts): make query categorization e2e assertion data-independent (#6873)
  tests/CTS/requests/search/search.json
Due: yarn fix:json

fix(java): honor a Request-ID supplied through default headers
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/RequestId.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/HeaderInterceptor.java
Due: none

fix(java): install default headers after auth so they cannot pre-empt credentials
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

refactor(java): drop unused correlationId constructors and dead extraction in HttpRequester
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaApiException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRequestException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
Due: none

feat(insights): add agentic analytics support to Insights API spec
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/Instantsearch.yml
  specs/insights/common/schemas/InstantsearchEvent.yml
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add type: object to Instantsearch schema
  specs/insights/common/schemas/Instantsearch.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add agentic analytics support to insights spec (#6876)
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/Instantsearch.yml
  specs/insights/common/schemas/InstantsearchEvent.yml
  specs/insights/paths/pushEvents.yml
Due: yarn eslint --ext=yml --fix

fix(kotlin): mint a shared Request-ID in waitKeyCreation, waitKeyUpdate and waitKeyDelete
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

fix(scala): append the Correlation-ID to AlgoliaRetryException messages
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
Due: none

fix(scala): honor a Request-ID configured in the client default headers
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
Due: none

docs(specs): explain what migratedAbTestID actually identifies
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add decision (declared winner) to abtesting-v3 ABTest (#6732)
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(specs)!: remove migratedAbTestID from abtesting-v3
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(scala): Request-ID and Correlation-ID support (#6871)
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ApiClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/exception/AlgoliaRuntimeException.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/SearchExtensions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/RequestId.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RequestIdInterceptor.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/interceptor/RetryStrategy.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/util/package.scala
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/scala/api.mustache
  templates/scala/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

test(cts): pin java default headers precedence
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/RequestId.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/java/tests/client/client.mustache
  templates/java/tests/client/createClient.mustache
  tests/CTS/client/search/requestId.json
Due: yarn cli format java generators, yarn fix:json

feat(kotlin): Request-ID and Correlation-ID support (#6872)
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/AlgoliaRuntimeException.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/exception/internal/Throwable.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/KtorRequester.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/RequestId.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/kotlin/api.mustache
  templates/kotlin/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

feat(go): send Request-ID and surface Correlation-ID on errors (API-518)
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/request_id.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/search_helpers.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: yarn cli format java generators

feat(go): assert the Correlation-ID suffix echo in e2e tests (API-518)
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/method.mustache
Due: none

fix(go): address review nits on the Request-ID port (API-518)
  templates/go/search_helpers.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: none

feat(cts): enable the Request-ID client and e2e tests for go (API-518)
  scripts/cts/testServer/requestId.ts
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
Due: yarn fix:json

feat(go): surface the Correlation-ID on exhaustion and decode errors (API-518)
  clients/algoliasearch-client-go/algolia/errs/deserialization_err.go
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/api.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: none

fix(go): satisfy the client linters in the Request-ID transport code (API-518)
  clients/algoliasearch-client-go/algolia/transport/request_id.go
  tests/output/go/tests/manual/request_id_test.go
Due: none

fix(go): address review nits on the parity commit (API-518)
  clients/algoliasearch-client-go/algolia/errs/deserialization_err.go
  tests/output/go/tests/manual/request_id_test.go
Due: none

fix(go): never override a caller-supplied x-algolia-request-id query parameter (API-518)
  clients/algoliasearch-client-go/algolia/transport/request_id.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/api.mustache
  tests/CTS/requests/composition/getComposition.json
  tests/output/go/tests/manual/request_id_test.go
Due: yarn fix:json

fix(go): forward only the Request-ID to failure-path cleanups (API-518)
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: none

fix(go): appease varnamelen in the cleanup context test (API-518)
  tests/output/go/tests/manual/request_id_test.go
Due: none

feat(go): surface the Correlation-ID on streaming status errors (API-518)
  clients/algoliasearch-client-go/algolia/errs/http_status_err.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  tests/output/go/tests/manual/transport_stream_test.go
Due: none

fix(go): make RequestIDEnabled a caller-overridable pointer default (API-518)
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/request_id.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  templates/go/api.mustache
  templates/go/client.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: none

fix(go): address review nits on the Request-ID port (API-518)
  clients/algoliasearch-client-go/algolia/errs/deserialization_err.go
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  templates/go/search_helpers.mustache
Due: yarn cli format java generators

fix(go): keep the manual tests compatible with go1.21 (API-518)
  tests/output/go/tests/manual/request_id_test.go
Due: none

feat(dart): send Request-ID and surface Correlation-ID on errors (API-520)
  clients/algoliasearch-client-dart/packages/client_core/lib/algolia_client_core.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/dio/dio_requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/request_id.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/requester.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
  generators/src/main/java/com/algolia/codegen/AlgoliaDartGenerator.java
  templates/dart/api.mustache
  templates/dart/tests/client/method.mustache
  templates/dart/tests/requests/requests.mustache
  tests/output/dart/lib/src/expect.dart
  tests/output/dart/test/manual/request_id_test.dart
Due: yarn cli format java generators

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
