Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

fix(specs): userData type as any
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/rules/common/schemas.yml
Due: none

feat(javascript): add partial task action type
  specs/ingestion/common/schemas/task.yml
Due: none

fix kotlin gen
  templates/kotlin/data_class.mustache
  templates/kotlin/data_class_field_type.mustache
  templates/kotlin/tests/param_json_any.mustache
  templates/kotlin/tests/param_value.mustache
Due: none

feat(javascript): add partial task action type (#2034)
  specs/ingestion/common/schemas/task.yml
Due: none

chore: generated code for commit bf8dee8fd0817e58aa0596e330db416c6c9697cb. [skip ci]
  clients/algoliasearch-client-go/algolia/ingestion/model_action_type.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/actionType.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/ActionType.kt
  specs/bundled/ingestion.yml
Due: none

chore: prepare release 2023-09-20
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2023-09-20 (#2035)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  config/clients.config.json
Due: yarn fix:json

chore: release 2023-09-20 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/monitoring/src/monitoringClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.lock
Due: none

fix java cts
  templates/java/tests/generateGenerics.mustache
  templates/java/tests/generateParams.mustache
Due: none

fix php cts
  templates/php/tests/generateParams.mustache
Due: none

fix dart cts
  templates/dart/tests/param_value.mustache
Due: none

fix(specs): `userData` type as 'any' (#2033)
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/rules/common/schemas.yml
  templates/dart/tests/param_value.mustache
  templates/java/tests/generateGenerics.mustache
  templates/java/tests/generateParams.mustache
  templates/kotlin/data_class.mustache
  templates/kotlin/data_class_field_type.mustache
  templates/kotlin/tests/param_json_any.mustache
  templates/kotlin/tests/param_value.mustache
  templates/php/tests/generateParams.mustache
Due: none

feat: add wait task methods
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/retry.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/search.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

update wait task
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/retry.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

chore(deps): dependencies 2023-09-25 (#2036)
  .nvmrc
  clients/algoliasearch-client-javascript/.nvmrc
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  package.json
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit 2c1fdfe5c153e0ca81b3867dadf75c3753aa56d9. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.lock
  tests/output/javascript/package.json
Due: yarn fix:json

fix ci
  .github/workflows/pr-title.yml
  scripts/cli/index.ts
Due: yarn github-actions:lint --fix

fix cs gen
  generators/src/main/java/com/algolia/codegen/cs/AlgoliaCSGenerator.java
  templates/java/snippets/generateParams.mustache
  templates/java/snippets/maybeConvertOneOf.mustache
Due: docker exec -t api-client yarn cli format java generators

chore: prepare release 2023-09-26
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(dart): add wait task methods (#2037)
  clients/algoliasearch-client-dart/packages/client_core/lib/src/algolia_exception.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/search.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

chore: generated code for commit 3f7276e92e22a2b0f6778f980db6891c16bc4173. [skip ci]
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

feat(specs): add `attributesToExclude`
  specs/ingestion/common/schemas/destination.yml
Due: none

feat(specs): add `attributesToExclude` for Ingestion (#2053)
  specs/ingestion/common/schemas/destination.yml
Due: none

chore: generated code for commit 2260e903fcc937fed162455b7e40f54784d6f80a. [skip ci]
  clients/algoliasearch-client-go/algolia/ingestion/model_destination_index_name.go
  clients/algoliasearch-client-javascript/packages/ingestion/model/destinationIndexName.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/DestinationIndexName.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/DestinationInput.kt
  specs/bundled/ingestion.yml
Due: none

chore: prepare release 2023-09-28 [skip ci]
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2023-09-28 (#2054)
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

feat(specs) Remove attributeForDistinct from the indexSettingsAsSearchParams
  specs/common/schemas/IndexSettings.yml
Due: none

feat(specs): Remove attributeForDistinct from the indexSettingsAsSearc… (#2078)
  specs/common/schemas/IndexSettings.yml
Due: none

fix kotlin format
  clients/algoliasearch-client-kotlin/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  templates/kotlin/BuildConfig.kt.mustache
Due: none

lock yarn files
  clients/algoliasearch-client-javascript/yarn.lock
  config/generation.config.mjs
  scripts/package.json
  tests/output/javascript/yarn.lock
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: prepare release 2023-10-03
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore(deps): dependencies 2023-10-02 (#2055)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/build.gradle.kts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/internal/HttpClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/transport/internal/Requester.kt
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/generation.config.mjs
  package.json
  playground/dart/pubspec.yaml
  playground/java/build.gradle
  playground/kotlin/build.gradle.kts
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  templates/kotlin/BuildConfig.kt.mustache
  tests/output/javascript/yarn.lock
  tests/output/kotlin/gradle/libs.versions.toml
  website/yarn.lock
  yarn.lock
Due: yarn fix:json

chore: generated code for commit 6e93ae60db86eb1a0ccce3a2404e323393534566. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/BuildConfig.kt
  tests/output/javascript/package.json
Due: yarn fix:json

feat(specs): add new events type for insights
  specs/insights/common/enums.yml
  specs/insights/common/schemas/AddToCartEvent.yml
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/PurchaseEvent.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
Due: none
