Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

docs: update event properties
  specs/insights/common/schemas/AddedToCartObjectIDs.yml
  specs/insights/common/schemas/AddedToCartObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ClickedFilters.yml
  specs/insights/common/schemas/ClickedObjectIDs.yml
  specs/insights/common/schemas/ClickedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ConvertedFilters.yml
  specs/insights/common/schemas/ConvertedObjectIDs.yml
  specs/insights/common/schemas/ConvertedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/EventAttributes.yml
  specs/insights/common/schemas/EventsItems.yml
  specs/insights/common/schemas/PurchasedObjectIDs.yml
  specs/insights/common/schemas/PurchasedObjectIDsAfterSearch.yml
  specs/insights/common/schemas/ViewedFilters.yml
  specs/insights/common/schemas/ViewedObjectIDs.yml
  specs/insights/paths/pushEvents.yml
Due: none

docs: add delete user token endpoint
  specs/insights/paths/deleteUsertoken.yml
  specs/insights/spec.yml
Due: none

fix: value type
  specs/insights/common/schemas/EventAttributes.yml
Due: none

fix: add basic test for delete user token endpoint
  tests/CTS/methods/requests/insights/deleteUsertoken.json
Due: yarn fix:json

fix: generation for 204
  templates/dart/api.mustache
  templates/go/api.mustache
  templates/kotlin/api.mustache
Due: none

fix: description
  specs/insights/paths/pushEvents.yml
Due: none

fix: java void
  templates/java/api.mustache
  templates/java/return_type_async.mustache
Due: none

fix: go tests
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  specs/insights/paths/deleteUsertoken.yml
  templates/go/tests/requests/requests.mustache
Due: docker exec -t api-client yarn cli format java generators

fix: renames
  specs/insights/paths/deleteUserToken.yml
  tests/CTS/methods/requests/insights/deleteUserToken.json
Due: yarn fix:json

fix: file path
  specs/insights/spec.yml
Due: none

Return type for methods
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/generic_type.mustache
  templates/csharp/libraries/httpclient/api.mustache
  templates/csharp/modelGeneric.mustache
  templates/csharp/return_type.mustache
Due: docker exec -t api-client yarn cli format java generators

refactor(csharp): remove useless code
  templates/csharp/modelGeneric.mustache
Due: none

refactor(csharp): remove useless code
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/modelGeneric.mustache
Due: docker exec -t api-client yarn cli format java generators

refactor(csharp): remove useless code (#2377)
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
Due: docker exec -t api-client yarn cli format java generators

avoid empty post
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
Due: none

remove inheritance for now ...
  templates/csharp/modelGeneric.mustache
Due: none

improve playground
  playground/csharp/Algolia-Generated-Client/Program.cs
  playground/csharp/Algolia-Generated-Client/TestObject.cs
Due: none

fix(ruby): make the playground work
  clients/algoliasearch-client-ruby/algolia.gemspec
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/call_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/stateful_host.rb
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  playground/ruby/Gemfile
  playground/ruby/Gemfile.lock
  playground/ruby/search.rb
  scripts/playground.ts
  templates/ruby/api.mustache
  templates/ruby/api_client.mustache
  templates/ruby/api_error.mustache
  templates/ruby/base_object.mustache
  templates/ruby/configuration.mustache
  templates/ruby/model.mustache
  templates/ruby/partial_model_generic.mustache
Due: docker exec -t api-client yarn cli format java generators

fix regions
  playground/ruby/ingestion.rb
  templates/ruby/api.mustache
  templates/ruby/base_object.mustache
  templates/ruby/partial_model_generic.mustache
Due: none

chore: renovate for Python
  renovate.json
Due: yarn fix:json

fix(ruby): make the playground work (#2379)
  clients/algoliasearch-client-ruby/algolia.gemspec
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/call_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/stateful_host.rb
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  playground/ruby/Gemfile
  playground/ruby/Gemfile.lock
  playground/ruby/ingestion.rb
  playground/ruby/search.rb
  scripts/playground.ts
  templates/ruby/api.mustache
  templates/ruby/api_client.mustache
  templates/ruby/api_error.mustache
  templates/ruby/base_object.mustache
  templates/ruby/configuration.mustache
  templates/ruby/model.mustache
  templates/ruby/partial_model_generic.mustache
Due: docker exec -t api-client yarn cli format java generators

chore: renovate for Python (#2380)
  renovate.json
Due: yarn fix:json

chore: renovate for Python (#2381)
  renovate.json
Due: yarn fix:json

import files from the old client
  clients/algoliasearch-client-ruby/algolia.gemspec
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/error.rb
  clients/algoliasearch-client-ruby/lib/algolia/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/http/response.rb
  clients/algoliasearch-client-ruby/lib/algolia/logger_helper.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_outcome_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_strategy.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-ruby/lib/algolia/user_agent.rb
  config/generation.config.mjs
  playground/ruby/Gemfile.lock
  templates/ruby/api.mustache
Due: none

don't use faraday error
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
Due: none

playground working nicely
  .gitignore
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/logger_helper.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  playground/ruby/ingestion.rb
Due: none

chore: correctly delete python on pregen
  scripts/common.ts
  scripts/pre-gen/removeExistingCodegen.ts
Due: none

chore: correctly delete python on pregen (#2399)
  scripts/common.ts
  scripts/pre-gen/removeExistingCodegen.ts
Due: none

chore: generated code for commit bff39147511df84f1f6c670a9ed2e184c60b0f11. [skip ci]
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/api/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/api/query_suggestions_client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/api_client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/api_response.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/configuration.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/exceptions.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/rest.py
Due: none

Adapt generic propagator to handle `requiredVars`
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
Due: docker exec -t api-client yarn cli format java generators

chore(deps): dependencies 2023-12-21 (#2382)
  .github/actions/restore-artifacts/action.yml
  .github/workflows/check.yml
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  eslint/package.json
  package.json
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

review
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  playground/ruby/ingestion.rb
  templates/ruby/api.mustache
Due: none

chore: generated code for commit 4f8b2033ae593421adf59aa8a89b907d6671c89f. [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/javascript/package.json
Due: yarn fix:json

feat(ruby): retry strategy (#2383)
  .gitignore
  clients/algoliasearch-client-ruby/algolia.gemspec
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/api_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/configuration.rb
  clients/algoliasearch-client-ruby/lib/algolia/error.rb
  clients/algoliasearch-client-ruby/lib/algolia/http/http_requester.rb
  clients/algoliasearch-client-ruby/lib/algolia/http/response.rb
  clients/algoliasearch-client-ruby/lib/algolia/logger_helper.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/request_options.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_outcome_type.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/retry_strategy.rb
  clients/algoliasearch-client-ruby/lib/algolia/transport/transport.rb
  clients/algoliasearch-client-ruby/lib/algolia/user_agent.rb
  config/generation.config.mjs
  playground/ruby/Gemfile.lock
  playground/ruby/ingestion.rb
  templates/ruby/api.mustache
Due: none

chore: generated code for commit 1e7c50d2f425f13817dee1b106e377a1c161d88a. [skip ci]
  clients/algoliasearch-client-ruby/Gemfile.lock
  clients/algoliasearch-client-ruby/lib/algolia/api/abtesting_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/analytics_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/ingestion_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/insights_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/monitoring_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/personalization_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/query_suggestions_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/recommend_client.rb
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
Due: none

Path conditions:
  docker exec -t api-client yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts)
