Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

put the context as first param
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  templates/go/tests/client/benchmark.mustache
  templates/go/tests/client/client.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/method.mustache
  templates/go/tests/requests/requests.mustache
Due: none

fix(specs): typoTolerance can be a boolean string
  specs/common/schemas/IndexSettings.yml
  tests/CTS/requests/search/getSettings.json
  tests/CTS/requests/search/setSettings.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(spec): update transformation specs for no-code
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update transformation specs for no-code - try without recursive group
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update transformation specs for no-code - try generic object
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

chore(specs): test ci
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

chore(deps): update dependency dart to v3.8.1 (#4907) (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/dart/lib/insights.dart
  docs/snippets/javascript/src/insights.ts
  tests/output/dart/test/requests/insights_test.dart
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: yarn fix:json

chore(deps): update plugin spotless to v7.0.4 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
Due: yarn fix:json

chore(deps): update dependency nock to v14.0.5 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/javascript/src/insights.ts
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
Due: yarn fix:json

fix kotlin
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
Due: yarn cli format java generators

fix(specs): typoTolerance can be a boolean string (#4900)
  generators/src/main/java/com/algolia/codegen/utils/OneOf.java
  specs/common/schemas/IndexSettings.yml
  tests/CTS/requests/search/getSettings.json
  tests/CTS/requests/search/setSettings.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

feat(clients): add generic parameter
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  specs/search/paths/objects/objects.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/operation/parameters.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

chore: playground with transformation
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/requirements.txt
Due: none

feat(specs): update transformation specs for no-code
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

chore: missing import
  playground/python/app/search.py
Due: none

feat(python): add bridge to transformation on search (#4898)
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/requirements.txt
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
Due: none

feat(python): add bridge to transformation on search (#4898) (generated) [skip ci]
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/composition/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-python/algoliasearch/search/config.py
Due: none

feat(specs): update transformation specs for no-code - use generic type for step
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

feat(python): re-export models from __init__.py files
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/ModelPruner.java
  templates/python/__init_model__.mustache
  templates/python/api.mustache
Due: yarn cli format java generators

chore: more imports
  templates/python/api.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/requests.mustache
Due: none

feat(go): add bridge to transformation on search
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/search_helpers.mustache
Due: none

fix the playground
  playground/go/analytics.go
  playground/go/go.mod
  playground/go/go.sum
  playground/go/ingestion.go
  playground/go/insights.go
  playground/go/main.go
  playground/go/personalization.go
  playground/go/query-suggestions.go
  playground/go/recommend.go
  playground/go/search.go
Due: none

feat(specs): update transformation specs for no-code - update required fields
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/createTransformation.json
  tests/CTS/requests/ingestion/updateTransformation.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: add playground
  playground/go/search.go
  templates/go/client.mustache
Due: none

feat(specs): update transformation specs for no-code - update description
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

feat(specs): update transformation specs for no-code - move deprecated field
  specs/ingestion/common/schemas/transformation.yml
Due: yarn eslint --ext=yml --fix

fix the guides
  templates/go/guides/search/saveImageClassifications.mustache
  templates/go/guides/search/saveImageClassificationsAndSettings.mustache
  templates/go/guides/search/savePopularRecords.mustache
Due: none

feat(specs): update transformation specs for no-code (#4901)
  specs/ingestion/common/schemas/transformation.yml
  tests/CTS/requests/ingestion/createTransformation.json
  tests/CTS/requests/ingestion/updateTransformation.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): add titles to oneOf options
  specs/common/schemas/HighlightResult.yml
  specs/common/schemas/SnippetResult.yml
Due: yarn eslint --ext=yml --fix

playground
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  playground/javascript/browser/eslint.config.js
  playground/javascript/browser/src/App.css
  playground/javascript/browser/src/App.tsx
  playground/javascript/browser/src/Panel.tsx
  playground/javascript/browser/src/main.tsx
  playground/javascript/browser/vite.config.ts
  playground/javascript/node/algoliasearch.ts
  playground/javascript/node/analytics.ts
  playground/javascript/node/composition.ts
  playground/javascript/node/compositionFull.ts
  playground/javascript/node/search.ts
  specs/search/paths/objects/object.yml
  specs/search/paths/objects/objects.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

fix(specs): add titles to oneOf options (#4929)
  specs/common/schemas/HighlightResult.yml
  specs/common/schemas/SnippetResult.yml
Due: yarn eslint --ext=yml --fix

chore: review
  generators/src/main/java/com/algolia/codegen/utils/ModelPruner.java
Due: yarn cli format java generators

chore: refresh locks
  clients/algoliasearch-client-javascript/yarn.lock
Due: none
