Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: refresh locks
  yarn.lock
Due: none

chore: build scripts
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

fix(specs): add titles to oneOf options (#4929) (generated) [skip ci]
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/bundled/recommend.json
  docs/bundled/recommend.yml
  docs/bundled/search.json
  docs/bundled/search.yml
  specs/bundled/algoliasearch.yml
  specs/bundled/composition-full.yml
  specs/bundled/composition.yml
  specs/bundled/recommend.yml
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): more indexing actions to push
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

feat(python): re-export models from __init__.py files (#4923)
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPhpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/ModelPruner.java
  templates/python/__init_model__.mustache
  templates/python/api.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/python/tests/requests/requests.mustache
Due: yarn cli format java generators

csharp
  templates/csharp/snippets/dotnet-tools.mustache
  templates/csharp/snippets/src.csproj.mustache
Due: none

chore(deps): dependencies 2025-06-02 (#4899)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  clients/algoliasearch-client-scala/project/build.properties
  config/.dart-version
  docs/guides/csharp/.config/dotnet-tools.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/.config/dotnet-tools.json
  docs/snippets/csharp/src/src.csproj
  eslint/package.json
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/javascript/browser/package.json
  playground/scala/project/build.properties
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/docker/Dockerfile.swift
  scripts/package.json
  templates/csharp/snippets/dotnet-tools.mustache
  templates/csharp/snippets/src.csproj.mustache
  templates/java/tests/build.mustache
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/kotlin/gradle/libs.versions.toml
  tests/output/scala/project/build.properties
  website/package.json
  website/yarn.lock
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

chore(deps): dependencies 2025-06-02 (#4899) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/composition/client.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-python/algoliasearch/search/models/__init__.py
  tests/output/java/build.gradle
  tests/output/javascript/package.json
Due: yarn fix:json

feat(clients): add generic parameter (#4922)
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  playground/javascript/browser/eslint.config.js
  playground/javascript/browser/src/App.css
  playground/javascript/browser/src/App.tsx
  playground/javascript/browser/src/Panel.tsx
  playground/javascript/browser/src/main.tsx
  playground/javascript/browser/vite.config.ts
  playground/javascript/node/algoliasearch.ts
  playground/javascript/node/analytics.ts
  playground/javascript/node/composition.ts
  playground/javascript/node/compositionFull.ts
  playground/javascript/node/search.ts
  specs/search/paths/objects/object.yml
  specs/search/paths/objects/objects.yml
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/operation/parameters.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

feat(clients): add generic parameter (#4922) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-search/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  docs/bundled/search.json
  docs/bundled/search.yml
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): more indexing actions to push (#4930)
  specs/ingestion/common/schemas/task.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add with transformation helpers
  specs/common/parameters/ingestion.yml
  specs/common/schemas/ingestion/Observability.yml
  specs/common/schemas/ingestion/WatchResponse.yml
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/parameters.yml
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/common.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/transformation.yml
  specs/ingestion/paths/push.yml
  specs/ingestion/paths/runs/events/eventID.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/sources/discover.yml
  specs/ingestion/paths/sources/runSource.yml
  specs/ingestion/paths/sources/validate.yml
  specs/ingestion/paths/sources/validateID.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
Due: yarn eslint --ext=yml --fix

fix(specs): more indexing actions to push (#4930) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Ingestion/Action.cs
  clients/algoliasearch-client-go/algolia/ingestion/model_action.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/ingestion/Action.java
  clients/algoliasearch-client-javascript/packages/ingestion/model/action.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/ingestion/Action.kt
  clients/algoliasearch-client-php/lib/Model/Ingestion/Action.php
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/action.py
  clients/algoliasearch-client-ruby/lib/algolia/models/ingestion/action.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/ingestion/Action.scala
  clients/algoliasearch-client-swift/Sources/Ingestion/Models/IngestionAction.swift
  docs/bundled/ingestion.json
  docs/bundled/ingestion.yml
  specs/bundled/ingestion.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(go): add bridge to transformation on search (#4924)
  playground/go/search.go
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/configuration.mustache
  templates/go/search_helpers.mustache
Due: none

feat(go): add bridge to transformation on search (#4924) (generated) [skip ci]
  clients/algoliasearch-client-go/algolia/abtesting/client.go
  clients/algoliasearch-client-go/algolia/analytics/client.go
  clients/algoliasearch-client-go/algolia/composition/client.go
  clients/algoliasearch-client-go/algolia/ingestion/client.go
  clients/algoliasearch-client-go/algolia/insights/client.go
  clients/algoliasearch-client-go/algolia/monitoring/client.go
  clients/algoliasearch-client-go/algolia/personalization/client.go
  clients/algoliasearch-client-go/algolia/query-suggestions/client.go
  clients/algoliasearch-client-go/algolia/recommend/client.go
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-go/algolia/search/client.go
  clients/algoliasearch-client-go/algolia/search/configuration.go
Due: none

chore: prepare release 2025-06-03
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: bundlesize
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

fix: wrong ACL for getSettings
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): wrong ACL for getSettings (#4933)
  specs/search/paths/settings/settings.yml
Due: yarn eslint --ext=yml --fix

fix(specs): wrong ACL for getSettings (#4933) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Clients/SearchClient.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/api/search_client.dart
  clients/algoliasearch-client-go/algolia/search/api_search.go
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/api/SearchClient.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-ruby/lib/algolia/api/search_client.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
  clients/algoliasearch-client-swift/Sources/Search/SearchClient.swift
  docs/bundled/search.json
  docs/bundled/search.yml
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2025-06-04
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-06-04 (#4934)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

feat(javascript): add `exactOptionalPropertyTypes` to tsconfig
  clients/algoliasearch-client-javascript/packages/client-common/src/createIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/logger/createNullLogger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/helpers.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/cache.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createClient.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/createIterablePromise.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/host.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/logger.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/requester.ts
  clients/algoliasearch-client-javascript/packages/client-common/src/types/transporter.ts
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/helpers.mustache
  templates/javascript/clients/client/api/hosts.mustache
  templates/javascript/clients/client/api/nodeHelpers.mustache
  templates/javascript/clients/client/api/operation/legacySearchCompatible/model.mustache
  templates/javascript/clients/client/api/operation/parameters.mustache
  templates/javascript/clients/client/builds/definition.mustache
  templates/javascript/clients/client/model/clientMethodProps.mustache
  templates/javascript/clients/client/model/types/dataType.mustache
  templates/javascript/clients/model.mustache
  templates/javascript/clients/tsconfig.mustache
Due: none

chore: enforce common pkgs as well
  clients/algoliasearch-client-javascript/packages/logger-console/src/logger.ts
  clients/algoliasearch-client-javascript/packages/requester-fetch/src/createFetchRequester.ts
  clients/algoliasearch-client-javascript/packages/requester-testing/src/createEchoRequester.ts
  clients/algoliasearch-client-javascript/tsconfig.json
  templates/javascript/clients/tsconfig.mustache
Due: yarn fix:json

chore: use helpers
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

chore: templates
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: none

fix: swifty nifty duplicaty
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

chore: review
  specs/common/schemas/ingestion/WatchResponse.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/javascript/clients/algoliasearch/builds/definition.mustache
Due: yarn eslint --ext=yml --fix

feat(specs): add with transformation helpers (#4931)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  specs/common/parameters/ingestion.yml
  specs/common/schemas/ingestion/Observability.yml
  specs/common/schemas/ingestion/WatchResponse.yml
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/parameters.yml
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/common.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/transformation.yml
  specs/ingestion/paths/push.yml
  specs/ingestion/paths/runs/events/eventID.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/sources/discover.yml
  specs/ingestion/paths/sources/runSource.yml
  specs/ingestion/paths/sources/validate.yml
  specs/ingestion/paths/sources/validateID.yml
  specs/ingestion/paths/tasks/v2/pushTask.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  specs/search/spec.yml
  templates/javascript/clients/algoliasearch/builds/definition.mustache
  templates/javascript/clients/algoliasearch/builds/models.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

chore: more
  scripts/cts/testServer/pushMock.ts
Due: none

chore: only test supported languages
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
Due: yarn eslint --ext=yml --fix

chore: add tests for WithTransformation methods
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/pushMock.ts
  templates/go/tests/client/createClient.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/python/tests/client/createClient.mustache
  tests/CTS/client/search/partialUpdateObjectsWithTransformation.json
  tests/CTS/client/search/saveObjectsWithTransformation.json
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn fix:json

chore: assert
  scripts/cts/runCts.ts
Due: none

fix: forward hosts to ingestion transporter
  scripts/cts/testServer/pushMock.ts
  templates/go/client.mustache
  templates/python/api.mustache
  tests/CTS/client/search/partialUpdateObjectsWithTransformation.json
  tests/CTS/client/search/saveObjectsWithTransformation.json
Due: yarn fix:json

chore: add tests for WithTransformation methods (#4936)
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  scripts/cts/runCts.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/pushMock.ts
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/go/client.mustache
  templates/go/tests/client/createClient.mustache
  templates/javascript/tests/client/createClient.mustache
  templates/python/api.mustache
  templates/python/tests/client/createClient.mustache
  tests/CTS/client/search/partialUpdateObjectsWithTransformation.json
  tests/CTS/client/search/saveObjectsWithTransformation.json
  tests/output/javascript/yarn.lock
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix
