Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix: better error handling
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  tests/CTS/client/search/indexExists.json
  tests/CTS/client/search/replaceAllObjects.json
  tests/CTS/client/search/saveObjects.json
Due: yarn fix:json

chore: benchmarking
  templates/scala/tests/client/benchmark.mustache
  templates/scala/tests/client/tests.mustache
Due: none

chore: benchmark correct package name
  templates/scala/tests/client/benchmark.mustache
  templates/scala/tests/e2e/e2e.mustache
Due: none

chore: review
  scripts/common.ts
  templates/scala/tests/client/benchmark.mustache
Due: none

chore(ci): use macos to run swift
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

downgrade
  .github/actions/setup/action.yml
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

wrong job
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore(ci): use macos to run swift (#4509)
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
Due: yarn github-actions:lint --fix

fix(scala): enable helpers snippets
  templates/scala/snippets/method.mustache
Due: none

fix(scala): enable helpers snippets (#4510)
  templates/scala/snippets/method.mustache
Due: none

fix(scala): enable helpers snippets (#4510) (generated) [skip ci]
  docs/bundled/abtesting-snippets.json
  docs/bundled/abtesting.yml
  docs/bundled/analytics-snippets.json
  docs/bundled/analytics.yml
  docs/bundled/composition-snippets.json
  docs/bundled/composition.yml
  docs/bundled/ingestion-snippets.json
  docs/bundled/ingestion.yml
  docs/bundled/insights-snippets.json
  docs/bundled/insights.yml
  docs/bundled/monitoring-snippets.json
  docs/bundled/monitoring.yml
  docs/bundled/personalization-snippets.json
  docs/bundled/personalization.yml
  docs/bundled/query-suggestions-snippets.json
  docs/bundled/query-suggestions.yml
  docs/bundled/recommend-snippets.json
  docs/bundled/recommend.yml
  docs/bundled/search-snippets.json
  docs/bundled/search.yml
  docs/snippets/scala/src/main/scala/Abtesting.scala
  docs/snippets/scala/src/main/scala/Analytics.scala
  docs/snippets/scala/src/main/scala/Composition.scala
  docs/snippets/scala/src/main/scala/Ingestion.scala
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/scala/src/main/scala/Monitoring.scala
  docs/snippets/scala/src/main/scala/Personalization.scala
  docs/snippets/scala/src/main/scala/QuerySuggestions.scala
  docs/snippets/scala/src/main/scala/Recommend.scala
  docs/snippets/scala/src/main/scala/Search.scala
Due: yarn fix:json

chore: prepare release 2025-03-03
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

template
  templates/kotlin/snippets/build.gradle.mustache
Due: none

missing ones
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.6.0.cjs
  clients/algoliasearch-client-javascript/.yarn/releases/yarn-4.7.0.cjs
  clients/algoliasearch-client-javascript/.yarnrc.yml
  tests/output/javascript/.yarn/releases/yarn-4.6.0.cjs
  tests/output/javascript/.yarn/releases/yarn-4.7.0.cjs
  tests/output/javascript/.yarnrc.yml
Due: none

template
  clients/algoliasearch-client-scala/build.sbt
  templates/scala/snippets/build.mustache
Due: none

template
  templates/csharp/snippets/src.csproj.mustache
Due: none

downgrade
  eslint/package.json
  package.json
Due: yarn fix:json

lock
  tests/output/javascript/yarn.lock
Due: none

lock
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  yarn.lock
Due: none

fix(specs): Increase optionalWords visibility in docs
  specs/common/schemas/CustomRequest.yml
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

fix(specs): Increase optionalWords visibility in docs (#4559)
  specs/common/schemas/CustomRequest.yml
  specs/common/schemas/IndexSettings.yml
  specs/search/paths/advanced/getLogs.yml
Due: yarn eslint --ext=yml --fix

chore: prepare release 2025-03-05
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-03-05 (#4561)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: only gh auth login for the ci
  scripts/ci/codegen/pushToRepository.ts
Due: none

chore: only gh auth login for the ci (#4562)
  scripts/ci/codegen/pushToRepository.ts
Due: none

chore(ci): always run all clients
  .github/workflows/check.yml
  scripts/ci/githubActions/createMatrix.ts
  scripts/ci/githubActions/types.ts
Due: yarn github-actions:lint --fix

docs(java): fix typo on README
  clients/algoliasearch-client-java/README.md
Due: none

delete code
  scripts/common.ts
Due: none

docs(java): fix typo on README (#4564)
  clients/algoliasearch-client-java/README.md
Due: none

chore: remove gh auth login
  scripts/ci/codegen/pushToRepository.ts
Due: none

chore: remove gh auth login (#4565)
  scripts/ci/codegen/pushToRepository.ts
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
