Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

chore: prepare release 2024-07-12
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore: prepare release 2024-07-12 (#3352)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

chore(ci): check the success of macos CI
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: keep guides for docs close to snippets
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/specs/format.ts
Due: none

chore: guides folder
  snippets/guides/.gitkeep
Due: none

fix(specs): recommend non required parameters
  specs/recommend/common/schemas/TrendingItemsQuery.yml
Due: yarn eslint --ext=yml --fix

chore: keep guides for docs close to snippets (#3354)
  scripts/ci/codegen/pushToAlgoliaDoc.ts
  scripts/specs/format.ts
  snippets/guides/.gitkeep
Due: none

chore: generated code for commit 258df91440035b8db395f1392663c2be07826e9f. [skip ci]
  snippets/guides/abtesting-snippets.json
  snippets/guides/analytics-snippets.json
  snippets/guides/crawler-snippets.json
  snippets/guides/ingestion-snippets.json
  snippets/guides/insights-snippets.json
  snippets/guides/monitoring-snippets.json
  snippets/guides/personalization-snippets.json
  snippets/guides/query-suggestions-snippets.json
  snippets/guides/recommend-snippets.json
  snippets/guides/search-snippets.json
  snippets/guides/usage-snippets.json
Due: yarn fix:json

dont run e2e when empty
  scripts/cts/runCts.ts
Due: none

chore(ci): check the success of macos CI (#3353)
  .github/workflows/check.yml
  scripts/cts/runCts.ts
Due: yarn github-actions:lint --fix

fix(specs): results is required in GetRecommendationsResponse
  specs/recommend/paths/getRecommendations.yml
Due: yarn eslint --ext=yml --fix

of course there is an edge case
  scripts/cts/runCts.ts
Due: none

fix(specs): results is required in GetRecommendationsResponse (#3357)
  scripts/cts/runCts.ts
  specs/recommend/paths/getRecommendations.yml
Due: yarn eslint --ext=yml --fix

chore: generated code for commit 337eea93e5a96a9f541400d293466dfd5a0fa1d4. [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Recommend/GetRecommendationsResponse.cs
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/get_recommendations_response.dart
  clients/algoliasearch-client-dart/packages/algoliasearch/lib/src/model/get_recommendations_response.g.dart
  clients/algoliasearch-client-dart/packages/client_recommend/example/example.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/get_recommendations_response.dart
  clients/algoliasearch-client-dart/packages/client_recommend/lib/src/model/get_recommendations_response.g.dart
  clients/algoliasearch-client-go/algolia/recommend/model_get_recommendations_response.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/recommend/GetRecommendationsResponse.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/model/getRecommendationsResponse.ts
  clients/algoliasearch-client-javascript/packages/recommend/model/getRecommendationsResponse.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/recommend/GetRecommendationsResponse.kt
  clients/algoliasearch-client-php/lib/Model/Recommend/GetRecommendationsResponse.php
  clients/algoliasearch-client-python/algoliasearch/recommend/models/get_recommendations_response.py
  clients/algoliasearch-client-ruby/lib/algolia/models/recommend/get_recommendations_response.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/recommend/GetRecommendationsResponse.scala
  clients/algoliasearch-client-swift/Sources/Recommend/Models/GetRecommendationsResponse.swift
  specs/bundled/algoliasearch.yml
  specs/bundled/recommend.doc.yml
  specs/bundled/recommend.yml
Due: yarn eslint --ext=yml --fix

fix(specs): recommend non required parameters (#3355)
  specs/recommend/common/schemas/TrendingItemsQuery.yml
Due: yarn eslint --ext=yml --fix

chore(scripts): generate clients in parallel
  scripts/common.ts
  scripts/pre-gen/generateOpenapitools.ts
  scripts/spinners.ts
Due: none

chore: format
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaPythonGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaRubyGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/SwiftCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
Due: yarn cli format java generators

only local
  scripts/common.ts
Due: none

chore: refresh lock
  clients/algoliasearch-client-javascript/yarn.lock
Due: none

fix(go): use functional options pattern
  clients/algoliasearch-client-go/algolia/utils/utils.go
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  templates/go/tests/generateInnerParams.mustache
Due: none

chore: generated code for commit 73da052b64a7a91ea3c6c5398ac2fcbe84404b59. [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/AbtestingClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/AnalyticsClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/IngestionClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/InsightsClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/MonitoringClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/PersonalizationClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/QuerySuggestionsClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/UsageClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/JsonSerializer.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/utils/ExecutorUtils.java
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  tests/output/java/src/test/java/com/algolia/client/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/client/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/client/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/client/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/client/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/java/src/test/java/com/algolia/client/Usage.test.java
Due: yarn fix:json

chore: prepare release 2024-07-15
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
Due: yarn fix:json

fix: needs
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

chore: swifty nifty slowy languagy
  scripts/cts/testServer/timeout.ts
Due: none

chore: prepare release 2024-07-15 (#3378)
  .github/workflows/check.yml
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
  scripts/cts/testServer/timeout.ts
Due: yarn github-actions:lint --fix, yarn fix:json

Revert "chore: prepare release 2024-07-15 (#3378)"
  .github/workflows/check.yml
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-usage/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  config/release.config.json
  scripts/cts/testServer/timeout.ts
Due: yarn github-actions:lint --fix, yarn fix:json

fix: run swift everytime, default success to false
  .github/workflows/check.yml
  scripts/cts/testServer/timeout.ts
Due: yarn github-actions:lint --fix

chore: checkgreen
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

good for the client
  clients/algoliasearch-client-go/.golangci.yml
  clients/algoliasearch-client-go/algolia/errs/wait_err.go
  clients/algoliasearch-client-go/algolia/utils/options.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  playground/go/ingestion.go
  playground/go/insights.go
  playground/go/personalization.go
  playground/go/recommend.go
  playground/go/search.go
  templates/go/api.mustache
  templates/go/search_helpers.mustache
Due: none

cts good
  clients/algoliasearch-client-go/algolia/utils/options.go
  clients/algoliasearch-client-go/algolia/utils/utils.go
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/search_helpers.mustache
  templates/go/snippets/method.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/go/tests/requests/requests.mustache
Due: none

fix mustache
  clients/algoliasearch-client-go/algolia/utils/utils.go
  templates/csharp/tests/client/suite.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/go/tests/client/method.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/requests/helpers.mustache
  templates/java/tests/e2e/e2e.mustache
  templates/java/tests/requests/requests.mustache
  templates/javascript/tests/client/suite.mustache
  templates/javascript/tests/e2e/e2e.mustache
  templates/kotlin/tests/client/suite.mustache
  templates/php/tests/client/suite.mustache
  templates/php/tests/e2e/e2e.mustache
  templates/php/tests/requests/requests.mustache
  templates/python/tests/client/suite.mustache
  templates/python/tests/e2e/e2e.mustache
  templates/ruby/tests/client/suite.mustache
  templates/ruby/tests/e2e/e2e.mustache
  templates/scala/tests/client/suite.mustache
  templates/scala/tests/e2e/e2e.mustache
  templates/swift/tests/client/suite.mustache
  templates/swift/tests/e2e/e2e.mustache
Due: none

test with skipped
  .github/workflows/check.yml
Due: yarn github-actions:lint --fix

fix(specs): update shopify feature flags
  specs/ingestion/common/schemas/source.yml
Due: yarn eslint --ext=yml --fix

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
