Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore(csharp): test the support of multiple dotnet versions (#5620)
  .github/workflows/check.yml
  clients/algoliasearch-client-csharp/.github/workflows/release.yml
  clients/algoliasearch-client-csharp/global.json
  config/clients.config.json
  config/clients.schema.json
  config/generation.config.mjs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CSharpCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/CTSManagerFactory.java
  generators/src/main/java/com/algolia/codegen/cts/manager/DartCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavaCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/JavascriptCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/KotlinCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/manager/RubyCTSManager.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsGenerator.java
  playground/csharp/Performances/Performances.csproj
  playground/csharp/Playground/Playground.csproj
  renovate.json
  scripts/buildLanguages.ts
  scripts/ci/githubActions/createMatrix.ts
  scripts/cli/index.ts
  scripts/docs/generate.ts
  scripts/install.sh
  scripts/package.json
  scripts/playground.ts
  templates/csharp/globaljson.mustache
  templates/csharp/snippets/src.csproj.mustache
  templates/csharp/tests/Algolia.Search.Tests.csproj.mustache
  tests/output/csharp/global.json
  tests/output/csharp/src/ClientExtensionsTests.cs
Due: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json

fix(specs): add tags and scope to rules (#5625)
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add tags and scope to rules (#5625) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Search/Rule.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/rule.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/rule.g.dart
  clients/algoliasearch-client-go/algolia/search/model_rule.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/Rule.java
  clients/algoliasearch-client-javascript/packages/client-search/model/rule.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/Rule.kt
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
  clients/algoliasearch-client-php/lib/Model/Search/Rule.php
  clients/algoliasearch-client-python/algoliasearch/search/models/rule.py
  clients/algoliasearch-client-ruby/lib/algolia/models/search/rule.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/Rule.scala
  clients/algoliasearch-client-swift/Sources/Search/Models/Rule.swift
  docs/bundled/search.json
  docs/bundled/search.yml
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2025-11-14
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

Update specs/search/helpers/replaceAllObjects.yml
  specs/search/helpers/replaceAllObjects.yml
Due: yarn eslint --ext=yml --fix

chore(specs): improve description and details for replaceAllObjects operation
  specs/search/helpers/replaceAllObjects.yml
Due: yarn eslint --ext=yml --fix

chore(specs): streamline error handling description in replaceAllObjects.yml
  specs/search/helpers/replaceAllObjects.yml
Due: yarn eslint --ext=yml --fix

chore(specs): improve description and details for replaceAllObjects operation (#5622)
  specs/search/helpers/replaceAllObjects.yml
Due: yarn eslint --ext=yml --fix

chore(specs): improve description and details for replaceAllObjects operation (#5622) (generated) [skip ci]
  docs/bundled/search.json
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2025-11-14 (#5628)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(scripts): disable doclint when releasing java
  clients/algoliasearch-client-java/algoliasearch/build.gradle
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

fix(scripts): disable doclint when releasing java (#5629)
  clients/algoliasearch-client-java/algoliasearch/build.gradle
  clients/algoliasearch-client-scala/.github/workflows/release.yml
Due: none

chore: prepare release 2025-11-15
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-11-15 (#5630)
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: release 2025-11-15 [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/BuildConfig.java
  clients/algoliasearch-client-java/gradle.properties
  clients/algoliasearch-client-scala/version.sbt
  docs/guides/java/build.gradle
  docs/snippets/java/build.gradle
  tests/output/java/build.gradle
  tests/output/java/src/test/java/com/algolia/client/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/client/AbtestingV3.test.java
  tests/output/java/src/test/java/com/algolia/client/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/client/Composition.test.java
  tests/output/java/src/test/java/com/algolia/client/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/client/Monitoring.test.java
  tests/output/java/src/test/java/com/algolia/client/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/client/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/client/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/scala/src/test/scala/algoliasearch/client/AbtestingTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/AbtestingV3Test.scala
  tests/output/scala/src/test/scala/algoliasearch/client/AnalyticsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/CompositionTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/IngestionTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/MonitoringTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/PersonalizationTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/QuerySuggestionsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/RecommendTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/SearchTest.scala
Due: none

fix(specs): use summary fields
  specs/abtesting-v3/spec.yml
  specs/abtesting/spec.yml
  specs/advanced-personalization/spec.yml
  specs/analytics/spec.yml
  specs/composition/spec.yml
  specs/crawler/spec.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

chore(deps): dependencies 2025-11-17 (#5624)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-scala/build.sbt
  config/.dart-version
  eslint/package.json
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/python/requirements.txt
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  yarn.lock
Due: yarn fix:json

fix(swift): make response and disjunctiveFacets public in SearchDisjunctiveFacetingResponse
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
Due: none

fix(swift): make response and disjunctiveFacets public in SearchDisjunctiveFacetingResponse (#5647)
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
Due: none

chore: prepare release 2025-11-18
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(specs): fix example in Composition API specs
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

refact(specs): sort query params for Run request aphabetically
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

feat(specs): allow `enablePersonalization` query parameter at run time for Composition API
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

attempt to fix ?
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

list of list
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

feat(specs): allow `enablePersonalization` query parameter at run time for Composition API (#5651)
  specs/composition/common/schemas/requestBodies/RunParams.yml
Due: yarn eslint --ext=yml --fix

feat(specs): allow `enablePersonalization` query parameter at run time for Composition API (#5651) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Composition/Params.cs
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/params.dart
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/params.g.dart
  clients/algoliasearch-client-go/algolia/composition/model_params.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/composition/Params.java
  clients/algoliasearch-client-javascript/packages/composition/model/params.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/composition/Params.kt
  clients/algoliasearch-client-php/lib/Model/Composition/Params.php
  clients/algoliasearch-client-python/algoliasearch/composition/models/params.py
  clients/algoliasearch-client-ruby/lib/algolia/models/composition/params.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/Params.scala
  clients/algoliasearch-client-swift/Sources/Composition/Models/CompositionParams.swift
  docs/bundled/composition-snippets.json
  docs/bundled/composition.json
  docs/bundled/composition.yml
  docs/snippets/swift/Sources/Composition.swift
  specs/bundled/composition.yml
  tests/output/swift/Tests/requests/CompositionTests.swift
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): fix example in Composition API specs (#5650)
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

skip validate
  scripts/pre-gen/generateOpenapitools.ts
Due: none

fix(specs): use summary fields (#5645)
  scripts/pre-gen/generateOpenapitools.ts
  specs/abtesting-v3/spec.yml
  specs/abtesting/spec.yml
  specs/advanced-personalization/spec.yml
  specs/analytics/spec.yml
  specs/composition/spec.yml
  specs/crawler/spec.yml
  specs/ingestion/spec.yml
  specs/insights/spec.yml
  specs/monitoring/spec.yml
  specs/personalization/spec.yml
  specs/query-suggestions/spec.yml
  specs/recommend/spec.yml
  specs/search/spec.yml
Due: yarn eslint --ext=yml --fix

fix(swift): remove unnecessary host reset in retry strategy
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
Due: none

fix(cts): test retry strat happy path
  scripts/cts/runCts.ts
  scripts/cts/testServer/error.ts
  scripts/cts/testServer/index.ts
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix(swift): add success server implementation and assertions
  scripts/cts/runCts.ts
  scripts/cts/testServer/error.ts
  scripts/cts/testServer/index.ts
  scripts/cts/testServer/success.ts
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix(swift): testing that the test works as expected
  clients/algoliasearch-client-swift/Sources/Core/Networking/RetryStrategy/AlgoliaRetryStrategy.swift
Due: none
