Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

build
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

chore(scripts): remove dotenv (#5088)
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/package.json
  scripts/release/createReleasePR.ts
  templates/javascript/tests/e2e/e2e.mustache
  templates/javascript/tests/package.mustache
  tests/output/javascript/src/e2e/composition.test.ts
  tests/output/javascript/vitest.config.ts
  tests/output/javascript/yarn.lock
  yarn.lock
Due: yarn fix:json

chore(scripts): remove dotenv (#5088) (generated) [skip ci]
  tests/output/javascript/package.json
  tests/output/javascript/src/e2e/abtesting.test.ts
  tests/output/javascript/src/e2e/algoliasearch.test.ts
  tests/output/javascript/src/e2e/compositionFull.test.ts
  tests/output/javascript/src/e2e/ingestion.test.ts
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/e2e/querySuggestions.test.ts
  tests/output/javascript/src/e2e/recommend.test.ts
  tests/output/javascript/src/e2e/search.test.ts
Due: yarn fix:json

fix(specs): `averageClickPosition` return type
  specs/abtesting/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): `averageClickPosition` return type (#5089)
  specs/abtesting/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): `averageClickPosition` return type (#5089) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Abtesting/Variant.cs
  clients/algoliasearch-client-go/algolia/abtesting/model_variant.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/abtesting/Variant.java
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/abtesting/Variant.kt
  clients/algoliasearch-client-php/lib/Model/Abtesting/Variant.php
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/variant.py
  clients/algoliasearch-client-ruby/lib/algolia/models/abtesting/variant.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/abtesting/Variant.scala
  clients/algoliasearch-client-swift/Sources/Abtesting/Models/Variant.swift
  docs/bundled/abtesting.json
  docs/bundled/abtesting.yml
  specs/bundled/abtesting.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(spec): abtest v3 naming conflict with Metric type
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix: metric name in timeseries
  specs/abtesting-v3/common/schemas/Timeseries.yml
  specs/abtesting-v3/paths/timeseries.yml
Due: yarn eslint --ext=yml --fix

feat: reduce confusion further
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
Due: yarn eslint --ext=yml --fix

feat: reduce confusion further (generated)
  clients/algoliasearch-client-javascript/packages/abtesting/model/addABTestsRequest.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/createMetric.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/index.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricDate.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricName.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricResult.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/scheduleABTestsRequest.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/variant.ts
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  specs/bundled/abtesting-v3.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): update rubygems/release-gem digest to 11f20f5 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/ruby/insights.rb
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
Due: yarn fix:json

chore(deps): update dependency google/google-java-format to v1.28.0 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): update dependency chai to v5.2.1 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): update dependency dotenv.net to v4 (generated)
  docs/bundled/insights-snippets.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/csharp/src/src.csproj
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
Due: yarn fix:json

fix(deps): update dependency org.jetbrains.kotlinx:kotlinx-datetime to v0.7.1-0.6.x-compat (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
Due: yarn fix:json

chore(deps): update plugin spotless to v7.1.0 (generated)
  docs/bundled/insights-snippets.json
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
Due: yarn fix:json

chore(deps): update dependency esbuild to v0.25.6 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/csharp/src/src.csproj
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): update dependency oxlint to v1.6.0 (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  docs/bundled/insights-snippets.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/csharp/src/src.csproj
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

Update api.mustache
  templates/php/api.mustache
Due: none

chore: lock
  yarn.lock
Due: none

chore: actions
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
Due: none

chore(deps): dependencies 2025-07-14 (#5091)
  .github/actions/setup/action.yml
  clients/algoliasearch-client-csharp/global.json
  clients/algoliasearch-client-java/build.gradle
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/gradle/libs.versions.toml
  config/.csharp-version
  docs/guides/csharp/.config/dotnet-tools.json
  docs/guides/csharp/src/src.csproj
  docs/snippets/csharp/.config/dotnet-tools.json
  docs/snippets/csharp/src/src.csproj
  eslint/package.json
  package.json
  playground/csharp/Performances/Performances.csproj
  playground/csharp/Playground/Playground.csproj
  playground/java/build.gradle
  playground/javascript/browser/package.json
  playground/kotlin/build.gradle.kts
  scripts/ci/actions/restore-artifacts/builddir/index.cjs
  scripts/docker/Dockerfile.base
  scripts/docker/Dockerfile.swift
  scripts/package.json
  templates/javascript/clients/package.mustache
  templates/javascript/tests/package.mustache
  tests/output/csharp/global.json
  tests/output/csharp/src/Algolia.Search.Tests.csproj
  tests/output/kotlin/gradle/libs.versions.toml
  yarn.lock
Due: yarn github-actions:lint --fix, yarn fix:json

fix(specs): abtest v3 naming conflict with Metric type (#5090)
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/Timeseries.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/abtests.yml
  specs/abtesting-v3/paths/scheduleABTest.yml
  specs/abtesting-v3/paths/timeseries.yml
Due: yarn eslint --ext=yml --fix

fix(specs): abtest v3 naming conflict with Metric type (#5090) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/abtesting/model/addABTestsRequest.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/createMetric.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/index.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricDate.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricName.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricResult.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/scheduleABTestsRequest.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/variant.ts
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  specs/bundled/abtesting-v3.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(php): batchSize docblocks type (#5109)
  templates/php/api.mustache
Due: none

fix(php): batchSize docblocks type (#5109) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Api/SearchClient.php
Due: none

chore: prepare release 2025-07-15
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-07-15 (#5118)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

tmp: delete file to rename them
  specs/composition-full/common/schemas/batchCompositionAction.yml
  specs/composition-full/common/schemas/compositionBehavior.yml
  specs/composition-full/common/schemas/compositionRule.yml
  specs/composition-full/common/schemas/listCompositionsResponse.yml
  specs/composition-full/common/schemas/rulesBatchCompositionAction.yml
Due: yarn eslint --ext=yml --fix

fix: apply fix from linter
  specs/composition-full/common/schemas/BatchCompositionAction.yml
  specs/composition-full/paths/manage_compositions/listCompositions.yml
  specs/composition-full/paths/objects/objects.yml
Due: yarn eslint --ext=yml --fix

refact(specs): rename files + small updates
  specs/composition-full/common/schemas/BatchCompositionAction.yml
  specs/composition-full/common/schemas/Composition.yml
  specs/composition-full/common/schemas/CompositionBehavior.yml
  specs/composition-full/common/schemas/CompositionRule.yml
  specs/composition-full/common/schemas/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/RulesBatchCompositionAction.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/paths/manage_compositions/listCompositions.yml
Due: yarn eslint --ext=yml --fix

fix
  specs/composition-full/paths/objects/multipleBatch.yml
  specs/composition-full/paths/rules/rule.yml
  specs/composition-full/paths/rules/saveRules.yml
  specs/composition-full/paths/rules/searchRules.yml
Due: yarn eslint --ext=yml --fix

fix
  specs/composition-full/common/schemas/CompositionRule.yml
  specs/composition-full/common/schemas/RulesBatchCompositionAction.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add back rate-limit information for crawlUrls
  specs/crawler/paths/crawlerCrawl.yml
Due: yarn eslint --ext=yml --fix
