Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

withFilters
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

progress
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeQuotesLambda.java
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn cli format java generators, yarn fix:json

done
  t.txt
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

assign
  tests/CTS/requests/search/assignUserId.json
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn fix:json

fix
  tests/CTS/requests/search/assignUserId.json
Due: yarn fix:json

funny regex
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/go/tests/generateInnerParams.mustache
  templates/python/tests/generateInnerParams.mustache
Due: yarn cli format java generators

miss
  t.txt
Due: none

fail
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
Due: yarn cli format java generators

fix: do not escape expected
  tests/CTS/requests/search/searchSingleIndex.json
  tests/output/javascript/yarn.lock
Due: yarn fix:json

fix: python
  templates/python/tests/requests/requests.mustache
Due: none

fix: php
  templates/php/tests/generateParams.mustache
Due: none

fix: ruby
  templates/ruby/tests/generateInnerParams.mustache
Due: none

fix: dart
  templates/dart/tests/param_value.mustache
Due: none

fix: scala
  templates/scala/tests/param_value.mustache
  templates/scala/tests/requests/requestOptionsParams.mustache
Due: none

fix generics
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
  specs/recommend/paths/batchRecommendRules.yml
  templates/javascript/clients/client/model/types/isGeneric.mustache
Due: yarn cli format java generators, yarn eslint --ext=yml --fix

dont gen for swift
  config/clients.config.json
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
Due: yarn cli format java generators, yarn fix:json

fix: java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeEscapedQuotesLambda.java
  templates/java/tests/requests/requests.mustache
Due: yarn cli format java generators

fix: swift
  templates/swift/tests/paramValue.mustache
Due: none

rollback a bit
  clients/algoliasearch-client-javascript/yarn.lock
  generators/src/main/java/com/algolia/codegen/utils/GenericPropagator.java
Due: yarn cli format java generators

why not another lambda
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeJSONLambda.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/csharp/tests/generateInnerParams.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/dart/tests/requests/requests.mustache
  templates/java/tests/generateInnerParams.mustache
  templates/java/tests/requests/requests.mustache
  templates/kotlin/tests/param_value.mustache
  templates/php/tests/generateParams.mustache
  templates/python/tests/client/tests.mustache
  templates/python/tests/generateInnerParams.mustache
  templates/swift/tests/client/tests.mustache
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn cli format java generators, yarn fix:json

leftover
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  templates/csharp/tests/generateInnerParams.mustache
  templates/java/tests/generateInnerParams.mustache
  templates/kotlin/tests/param_value.mustache
  templates/php/tests/generateParams.mustache
  templates/python/tests/generateInnerParams.mustache
Due: yarn cli format java generators

fix dart
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeSlashLambda.java
Due: yarn cli format java generators

swift
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/requests/requests.mustache
Due: none

undo yarn.lock
  tests/output/javascript/yarn.lock
Due: none

guides: search snippets (#4379)
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeJSONLambda.java
  generators/src/main/java/com/algolia/codegen/cts/lambda/EscapeSlashLambda.java
  generators/src/main/java/com/algolia/codegen/cts/tests/ParametersWithDataType.java
  templates/csharp/tests/generateInnerParams.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/dart/tests/param_value.mustache
  templates/dart/tests/requests/requests.mustache
  templates/go/tests/generateInnerParams.mustache
  templates/java/tests/generateInnerParams.mustache
  templates/java/tests/requests/requests.mustache
  templates/kotlin/tests/param_value.mustache
  templates/php/tests/generateParams.mustache
  templates/python/tests/client/tests.mustache
  templates/python/tests/generateInnerParams.mustache
  templates/python/tests/requests/requests.mustache
  templates/ruby/tests/generateInnerParams.mustache
  templates/scala/tests/param_value.mustache
  templates/scala/tests/requests/requestOptionsParams.mustache
  templates/swift/tests/client/tests.mustache
  templates/swift/tests/e2e/e2e.mustache
  templates/swift/tests/paramValue.mustache
  templates/swift/tests/requests/requests.mustache
  tests/CTS/requests/search/assignUserId.json
  tests/CTS/requests/search/searchSingleIndex.json
Due: yarn cli format java generators, yarn fix:json

no isSnippet here
  tests/CTS/client/search/generateSecuredApiKey.json
Due: yarn fix:json

feat: saveRules
  tests/CTS/requests/search/saveRules.json
Due: yarn fix:json

fix: deprecated options
  tests/CTS/requests/search/saveRules.json
Due: yarn fix:json

fix: cts
  tests/CTS/requests/search/saveRules.json
Due: yarn fix:json

chore: prepare release 2025-01-22
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(javascript): use beta version
  clients/algoliasearch-client-javascript/packages/composition/package.json
Due: yarn fix:json

fix: lock file
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/models.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/worker.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/README.md
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/src/compositionClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

fix: package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
Due: yarn fix:json

fix: build composition
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

fix(javascript): use beta version (#4385)
  clients/algoliasearch-client-javascript/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/browser.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/fetch.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/models.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/node.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/builds/worker.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/composition/README.md
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/composition/src/compositionClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
