Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

wip
  specs/composition-full/common/schemas/CompositionBehavior.yml
  specs/composition-full/common/schemas/entities/Composition.yml
  specs/composition-full/common/schemas/entities/CompositionBehavior.yml
  specs/composition-full/common/schemas/entities/CompositionRule.yml
  specs/composition-full/common/schemas/entities/Injection.yml
  specs/composition-full/common/schemas/entities/Sources.yml
  specs/composition-full/common/schemas/requests/Batch.yml
  specs/composition-full/common/schemas/requests/BatchCompositionAction.yml
  specs/composition-full/common/schemas/requests/RulesBatchCompositionAction.yml
  specs/composition-full/common/schemas/requests/SearchParams.yml
  specs/composition-full/common/schemas/requests/parameters.yml
  specs/composition-full/common/schemas/responses/GetTaskResponse.yml
  specs/composition-full/common/schemas/responses/Hit.yml
  specs/composition-full/common/schemas/responses/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition-full/common/schemas/responses/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): abtests metadata mean
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): abtests metadata mean (#5121)
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

fix(specs): abtests metadata mean (#5121) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricMetadata.ts
  clients/algoliasearch-client-javascript/packages/abtesting/model/metricResult.ts
  docs/bundled/abtesting-v3.json
  docs/bundled/abtesting-v3.yml
  specs/bundled/abtesting-v3.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): add back rate-limit information for crawlUrls (#5120)
  specs/crawler/paths/crawlerCrawl.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add back rate-limit information for crawlUrls (#5120) (generated) [skip ci]
  docs/bundled/crawler.json
  docs/bundled/crawler.yml
  specs/bundled/crawler.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): cleanup for composition API clients (#5119)
  specs/composition-full/common/schemas/BatchCompositionAction.yml
  specs/composition-full/common/schemas/Composition.yml
  specs/composition-full/common/schemas/CompositionBehavior.yml
  specs/composition-full/common/schemas/CompositionRule.yml
  specs/composition-full/common/schemas/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/RulesBatchCompositionAction.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/paths/manage_compositions/listCompositions.yml
  specs/composition-full/paths/objects/multipleBatch.yml
  specs/composition-full/paths/objects/objects.yml
  specs/composition-full/paths/rules/rule.yml
  specs/composition-full/paths/rules/saveRules.yml
  specs/composition-full/paths/rules/searchRules.yml
Due: yarn eslint --ext=yml --fix

fix(specs): cleanup for composition API clients (#5119) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-composition/model/condition.ts
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  specs/bundled/composition-full.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: apply comments
  specs/composition-full/common/schemas/Identifiers.yml
  specs/composition-full/common/schemas/components/Composition.yml
  specs/composition-full/common/schemas/components/CompositionRule.yml
  specs/composition-full/common/schemas/requestBodies/BatchCompositionAction.yml
  specs/composition-full/common/schemas/requestBodies/RulesBatchCompositionAction.yml
  specs/composition-full/paths/urlParams.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): create `composition-full/schemas/components` directory
  specs/composition-full/common/schemas/BatchCompositionAction.yml
  specs/composition-full/common/schemas/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/RulesBatchCompositionAction.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/common/schemas/components/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/CompositionRule.yml
  specs/composition-full/common/schemas/components/Injection.yml
  specs/composition-full/paths/advanced/getTask.yml
  specs/composition-full/paths/objects/objects.yml
  specs/composition-full/paths/rules/rule.yml
  specs/composition-full/paths/rules/saveRules.yml
  specs/composition-full/paths/rules/searchRules.yml
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
  specs/composition-full/paths/urlParams.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): create `composition-full/schemas/responses` directory
  specs/composition-full/common/schemas/responses/GetTaskResponse.yml
  specs/composition-full/common/schemas/responses/Hit.yml
  specs/composition-full/common/schemas/responses/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition-full/common/schemas/responses/SearchResponse.yml
  specs/composition-full/helpers/waitForCompositionTask.yml
  specs/composition-full/paths/advanced/getTask.yml
  specs/composition-full/paths/manage_compositions/listCompositions.yml
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): create `composition-full/schemas/requestBodies` directory
  specs/composition-full/common/schemas/components/CompositionRule.yml
  specs/composition-full/common/schemas/requestBodies/Batch.yml
  specs/composition-full/common/schemas/requestBodies/BatchCompositionAction.yml
  specs/composition-full/common/schemas/requestBodies/RulesBatchCompositionAction.yml
  specs/composition-full/paths/objects/multipleBatch.yml
  specs/composition-full/paths/rules/saveRules.yml
Due: yarn eslint --ext=yml --fix

chore(CODEOWNERS): add composition team as code owner of API client specs
  CODEOWNERS
Due: none

refactor(specs): group files for composition api (#5122)
  specs/composition-full/common/schemas/Identifiers.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/common/schemas/components/Composition.yml
  specs/composition-full/common/schemas/components/CompositionBehavior.yml
  specs/composition-full/common/schemas/components/CompositionRule.yml
  specs/composition-full/common/schemas/components/Injection.yml
  specs/composition-full/common/schemas/requestBodies/Batch.yml
  specs/composition-full/common/schemas/requestBodies/BatchCompositionAction.yml
  specs/composition-full/common/schemas/requestBodies/RulesBatchCompositionAction.yml
  specs/composition-full/common/schemas/responses/GetTaskResponse.yml
  specs/composition-full/common/schemas/responses/Hit.yml
  specs/composition-full/common/schemas/responses/ListCompositionsResponse.yml
  specs/composition-full/common/schemas/responses/SearchForFacetValuesResponse.yml
  specs/composition-full/common/schemas/responses/SearchResponse.yml
  specs/composition-full/helpers/waitForCompositionTask.yml
  specs/composition-full/paths/advanced/getTask.yml
  specs/composition-full/paths/manage_compositions/listCompositions.yml
  specs/composition-full/paths/objects/multipleBatch.yml
  specs/composition-full/paths/objects/objects.yml
  specs/composition-full/paths/rules/rule.yml
  specs/composition-full/paths/rules/saveRules.yml
  specs/composition-full/paths/rules/searchRules.yml
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
  specs/composition-full/paths/urlParams.yml
Due: yarn eslint --ext=yml --fix

refactor(specs): group files for composition api (#5122) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/client-composition/model/composition.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/compositionRule.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/deleteCompositionAction.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/deleteCompositionRuleAction.ts
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/bundled/composition.json
  docs/bundled/composition.yml
  specs/bundled/composition-full.yml
  specs/bundled/composition.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

refactor(specs): add interface to manipulate query parameter between composition API & Search API
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/params/Search.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/common/schemas/components/Injection.yml
  specs/composition-full/common/schemas/requestBodies/RunParams.yml
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
Due: yarn eslint --ext=yml --fix

wip
  specs/common/schemas/IndexSettings.yml
  specs/common/schemas/SearchParams.yml
  specs/composition-full/common/params/Search.yml
Due: yarn eslint --ext=yml --fix

chore(CODEOWNERS): add composition team as code owner of Composition API client specs (#5124)
  CODEOWNERS
Due: none

chore(CODEOWNERS): add composition team as code owner of Composition API client specs (#5124) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat(predict): add lastUpdatedAt to real-time user
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
Due: yarn eslint --ext=yml --fix

add description & example
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add lastUpdatedAt to personalization real-time user (#5126)
  specs/advanced-personalization/common/schemas/RealtimeUser.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add lastUpdatedAt to personalization real-time user (#5126) (generated) [skip ci]
  clients/algoliasearch-client-javascript/packages/advanced-personalization/model/realtimeUser.ts
  docs/bundled/advanced-personalization.json
  docs/bundled/advanced-personalization.yml
  specs/bundled/advanced-personalization.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore: prepare release 2025-07-17
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

chore: prepare release 2025-07-17 (#5127)
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-composition/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

fix(dart): deps constraints for null-aware-elements
  clients/algoliasearch-client-dart/packages/algoliasearch/build.yaml
  clients/algoliasearch-client-dart/packages/client_composition/build.yaml
  clients/algoliasearch-client-dart/packages/client_insights/build.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/build.yaml
  clients/algoliasearch-client-dart/packages/client_search/build.yaml
  templates/dart/pubspec.mustache
  templates/dart/serialization/json_serializable/build.yaml.mustache
Due: none

fix(dart): deps constraints for null-aware-elements (#5128)
  clients/algoliasearch-client-dart/packages/algoliasearch/build.yaml
  clients/algoliasearch-client-dart/packages/client_composition/build.yaml
  clients/algoliasearch-client-dart/packages/client_insights/build.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/build.yaml
  clients/algoliasearch-client-dart/packages/client_search/build.yaml
  templates/dart/pubspec.mustache
  templates/dart/serialization/json_serializable/build.yaml.mustache
Due: none

Add customSearchParameters to Variant schema, and add direction query param for GET abtests
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/Variant.yml
  specs/abtesting-v3/paths/abtests.yml
Due: yarn eslint --ext=yml --fix

Merge branch 'main' into clara/refact/add-params-interface (generated)
  clients/algoliasearch-client-csharp/algoliasearch/Models/Composition/Params.cs
  clients/algoliasearch-client-dart/packages/client_composition/lib/src/model/params.dart
  clients/algoliasearch-client-go/algolia/composition/model_params.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/composition/Params.java
  clients/algoliasearch-client-javascript/packages/client-composition/model/baseInjectionQueryParameters.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/index.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/injectedItemSourceSearch.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/injectedItemsQueryParameters.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/mainInjectionQueryParameters.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/optionalWords.ts
  clients/algoliasearch-client-javascript/packages/client-composition/model/params.ts
  clients/algoliasearch-client-javascript/packages/composition/model/params.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/composition/Params.kt
  clients/algoliasearch-client-php/lib/Model/Composition/Params.php
  clients/algoliasearch-client-python/algoliasearch/composition/models/params.py
  clients/algoliasearch-client-ruby/lib/algolia/models/composition/params.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/composition/Params.scala
  clients/algoliasearch-client-swift/Sources/Composition/Models/CompositionParams.swift
  docs/bundled/composition-full.json
  docs/bundled/composition-full.yml
  docs/bundled/composition.json
  docs/bundled/composition.yml
  specs/bundled/composition-full.yml
  specs/bundled/composition.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

refactor(specs): add interface to manipulate query parameter between composition API & Search API (#5123)
  specs/composition-full/common/params/Composition.yml
  specs/composition-full/common/params/Search.yml
  specs/composition-full/common/schemas/SearchParams.yml
  specs/composition-full/common/schemas/components/Injection.yml
  specs/composition-full/common/schemas/requestBodies/RunParams.yml
  specs/composition-full/paths/search/search.yml
  specs/composition-full/paths/search/searchForFacetValues.yml
Due: yarn eslint --ext=yml --fix

Update clients/algoliasearch-client-java/.java-version
  clients/algoliasearch-client-java/.java-version
Due: none
