Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(specs): keep example field alongside examples to preserve code sample generation
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

fix(specs): add swift switch case
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

fix(swift): use generic_type for optional-path dictionary cast in modelObject
  templates/swift/modelObject.mustache
Due: none

fix(specs): clean up abTest schema on listIndices response
  specs/search/common/schemas/listIndicesResponse.yml
Due: yarn eslint --ext=yml --fix

fix(specs): clean up abTest schema on listIndices response (#6448)
  specs/search/common/schemas/listIndicesResponse.yml
Due: yarn eslint --ext=yml --fix

fix(swift): preserve host URL path prefix in Transporter
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
Due: none

fix(specs): clean up abTest schema on listIndices response (#6448) (generated) [skip ci]
  clients/algoliasearch-client-csharp/algoliasearch/Models/Search/FetchedIndexAbTest.cs
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/fetched_index_ab_test.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/model/fetched_index_ab_test.g.dart
  clients/algoliasearch-client-go/algolia/search/model_fetched_index_ab_test_.go
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/model/search/FetchedIndexAbTest.java
  clients/algoliasearch-client-javascript/packages/client-search/model/fetchedIndexAbTest.ts
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/model/search/FetchedIndexAbTest.kt
  clients/algoliasearch-client-php/lib/Model/Search/FetchedIndexAbTest.php
  clients/algoliasearch-client-python/algoliasearch/search/models/fetched_index_ab_test.py
  clients/algoliasearch-client-ruby/lib/algolia/models/search/fetched_index_ab_test.rb
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/search/FetchedIndexAbTest.scala
  clients/algoliasearch-client-swift/Sources/Search/Models/FetchedIndexAbTest.swift
  docs/bundled/search.json
  docs/bundled/search.yml
  specs/bundled/search.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(python): handle non-JSON string responses in ApiResponse deserialization
  clients/algoliasearch-client-python/algoliasearch/http/api_response.py
Due: none

fix(specs): recreate agent-studio e2e objects and update CTS test data
  tests/CTS/requests/agent-studio/bulkCreateAllowedDomains.json
  tests/CTS/requests/agent-studio/bulkDeleteAllowedDomains.json
  tests/CTS/requests/agent-studio/consolidateMemories.json
  tests/CTS/requests/agent-studio/createAgent.json
  tests/CTS/requests/agent-studio/createAgentAllowedDomain.json
  tests/CTS/requests/agent-studio/createAgentCompletion.json
  tests/CTS/requests/agent-studio/createFeedback.json
  tests/CTS/requests/agent-studio/createSecretKey.json
  tests/CTS/requests/agent-studio/deleteAgent.json
  tests/CTS/requests/agent-studio/deleteAgentConversations.json
  tests/CTS/requests/agent-studio/deleteAllowedDomain.json
  tests/CTS/requests/agent-studio/deleteConversation.json
  tests/CTS/requests/agent-studio/deleteProvider.json
  tests/CTS/requests/agent-studio/exportConversations.json
  tests/CTS/requests/agent-studio/extractEpisodicMemories.json
  tests/CTS/requests/agent-studio/extractSemanticMemories.json
  tests/CTS/requests/agent-studio/getAgent.json
  tests/CTS/requests/agent-studio/getAllowedDomain.json
  tests/CTS/requests/agent-studio/getConversation.json
  tests/CTS/requests/agent-studio/getProvider.json
  tests/CTS/requests/agent-studio/getSecretKey.json
  tests/CTS/requests/agent-studio/invalidateAgentCache.json
  tests/CTS/requests/agent-studio/listAgentAllowedDomains.json
  tests/CTS/requests/agent-studio/listAgentConversations.json
  tests/CTS/requests/agent-studio/listAgents.json
  tests/CTS/requests/agent-studio/listProviderModels.json
  tests/CTS/requests/agent-studio/publishAgent.json
  tests/CTS/requests/agent-studio/unpublishAgent.json
  tests/CTS/requests/agent-studio/updateAgent.json
  tests/CTS/requests/agent-studio/updateProvider.json
  tests/CTS/requests/agent-studio/updateSecretKey.json
Due: yarn fix:json

fix(go): rename GetConfiguration to GetAgentStudioConfiguration for agent-studio client
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
Due: yarn cli format java generators

fix(specs): update e2e conversation title to match current data
  tests/CTS/requests/agent-studio/getConversation.json
  tests/CTS/requests/agent-studio/listAgentConversations.json
Due: yarn fix:json

fix(go): conditional GetConfiguration rename in CTS manager
  generators/src/main/java/com/algolia/codegen/cts/manager/GoCTSManager.java
Due: yarn cli format java generators

fix(dart): deprecate dead maxRetries param and reorder chunkedOptions
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/transformation.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

fix(csharp): use typed constructor in oneOf to avoid duplicate signatures
  templates/csharp/modelOneOf.mustache
Due: none

fix(csharp): use typed constructor in oneOf to avoid duplicate signat… (#6449)
  templates/csharp/modelOneOf.mustache
Due: none

fix(swift): searchResult fallback failures (#6447)
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  templates/swift/modelObject.mustache
Due: none

feat(dart): configurable retries on chunked helpers via ChunkedHelperOptions (#6428)
  clients/algoliasearch-client-dart/packages/client_core/lib/algolia_client_core.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/config/chunked_helper_options.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/transformation.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
Due: none

fix(specs): update agent-studio specs from upstream
  specs/agent-studio/common/schemas/AgentCompletionAlgoliaParams.yml
  specs/agent-studio/common/schemas/AgentCompletionRequest.yml
  specs/agent-studio/common/schemas/AgentConfigCreate.yml
  specs/agent-studio/common/schemas/AgentConfigUpdate.yml
  specs/agent-studio/common/schemas/AgentConsolidateRequest.yml
  specs/agent-studio/common/schemas/AgentMemorizeRequest.yml
  specs/agent-studio/common/schemas/AgentPonderRequest.yml
  specs/agent-studio/common/schemas/AgentTestConfiguration.yml
  specs/agent-studio/common/schemas/ApplicationConfigPatch.yml
  specs/agent-studio/common/schemas/AssistantMessageV4.yml
  specs/agent-studio/common/schemas/AssistantMessageV5.yml
  specs/agent-studio/common/schemas/FeedbackCreationRequest.yml
  specs/agent-studio/common/schemas/ProviderAuthenticationPatch.yml
  specs/agent-studio/common/schemas/SearchParametersOverrides.yml
  specs/agent-studio/common/schemas/SecretKeyPatch.yml
  specs/agent-studio/common/schemas/ToolInvocationV4.yml
  specs/agent-studio/common/schemas/ToolPartV5.yml
  specs/agent-studio/common/schemas/UserMessageMetadataV5.yml
  specs/agent-studio/common/schemas/UserMessageV4.yml
  specs/agent-studio/common/schemas/UserMessageV5.yml
Due: yarn eslint --ext=yml --fix

fix(specs): update agent-studio specs from upstream
  specs/agent-studio/common/schemas/AgentConfigUpdate.yml
  specs/agent-studio/common/schemas/AgentConsolidateResponse.yml
  specs/agent-studio/common/schemas/AgentMemorizeResponse.yml
  specs/agent-studio/common/schemas/AgentPonderResponse.yml
  specs/agent-studio/common/schemas/AgentWithVersionResponse.yml
  specs/agent-studio/common/schemas/ApplicationConfigPatch.yml
  specs/agent-studio/common/schemas/ConversationBaseResponse.yml
  specs/agent-studio/common/schemas/ConversationFullResponse.yml
  specs/agent-studio/common/schemas/ConversationMetadata.yml
  specs/agent-studio/common/schemas/FeedbackResponse.yml
  specs/agent-studio/common/schemas/MemoryRecord.yml
  specs/agent-studio/common/schemas/MessageResponse.yml
  specs/agent-studio/common/schemas/ProviderAuthenticationPatch.yml
  specs/agent-studio/common/schemas/ProviderAuthenticationResponse.yml
  specs/agent-studio/common/schemas/SecretKeyPatch.yml
  specs/agent-studio/common/schemas/SecretKeyResponse.yml
  specs/agent-studio/common/schemas/ToolApprovalRequestPart.yml
  specs/agent-studio/common/schemas/ToolCallPart.yml
  specs/agent-studio/common/schemas/ToolResultPart.yml
Due: yarn eslint --ext=yml --fix

fix(specs): mark lastUsedAt as nullable in agent-studio response schemas
  specs/agent-studio/common/schemas/AgentConsolidateResponse.yml
  specs/agent-studio/common/schemas/AgentMemorizeResponse.yml
  specs/agent-studio/common/schemas/AgentPonderResponse.yml
  specs/agent-studio/common/schemas/AgentWithVersionResponse.yml
  specs/agent-studio/common/schemas/ConversationBaseResponse.yml
  specs/agent-studio/common/schemas/ConversationFullResponse.yml
  specs/agent-studio/common/schemas/ConversationMetadata.yml
  specs/agent-studio/common/schemas/FeedbackResponse.yml
  specs/agent-studio/common/schemas/MemoryRecord.yml
  specs/agent-studio/common/schemas/MessageResponse.yml
  specs/agent-studio/common/schemas/ProviderAuthenticationResponse.yml
  specs/agent-studio/common/schemas/SecretKeyResponse.yml
  specs/agent-studio/common/schemas/ToolApprovalRequestPart.yml
  specs/agent-studio/common/schemas/ToolCallPart.yml
  specs/agent-studio/common/schemas/ToolResultPart.yml
Due: yarn eslint --ext=yml --fix

fix(swift): preserve host URL path prefix in Transporter (#6445)
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
Due: none

fix(swift): preserve host URL path prefix in Transporter (#6445) (generated) [skip ci]
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

feat(kotlin): expose maximum number of retries
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/ChunkedHelperOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/internal/Retry.kt
Due: none

feat(scala): expose maximum number of retries
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/ChunkedHelperOptions.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/internal/RetryUntil.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/extension/package.scala
Due: none

fix(specs): add mix example showing wildcard with disjunctive modifier
  specs/composition/common/params/Composition.yml
Due: yarn eslint --ext=yml --fix

feat(swift): expose maximum number of retries
  clients/algoliasearch-client-swift/Sources/Search/Extra/ChunkedHelperOptions.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat(ruby): expose maximum number of retries
  clients/algoliasearch-client-ruby/lib/algolia.rb
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
  config/generation.config.mjs
  templates/ruby/ingestion_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

chore(ruby): harmonize poll-exhausted error wording
  templates/ruby/ingestion_helpers.mustache
  templates/ruby/search_helpers.mustache
Due: none

fix(ruby): drop frozen_string_literal
  clients/algoliasearch-client-ruby/lib/algolia/chunked_helper_options.rb
Due: none

chore(swift): harmonize poll-exhausted error wording
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat(kotlin): add TransformationOptions for ingestion transporter
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/TransformationOptions.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/IngestionClient.kt
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  scripts/cts/runCts.ts
  specs/ingestion/helpers/chunkedPush.yml
  specs/search/helpers/partialUpdateObjectsWithTransformation.yml
  specs/search/helpers/replaceAllObjectsWithTransformation.yml
  specs/search/helpers/saveObjectsWithTransformation.yml
  templates/kotlin/api.mustache
  templates/kotlin/tests/client/createClient.mustache
Due: yarn eslint --ext=yml --fix

fix(kotlin): drop default arg from actual constructor in native ClientOptions
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
Due: none

refactor(kotlin): drop transformationOptions from shared ClientOptions
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/ClientOptions.kt
  clients/algoliasearch-client-kotlin/client/src/jvmMain/kotlin/com/algolia/client/configuration/ClientOptions.jvm.kt
  clients/algoliasearch-client-kotlin/client/src/nativeMain/kotlin/com/algolia/client/configuration/ClientOptions.native.kt
  templates/kotlin/api.mustache
Due: none

docs(kotlin): update transformation helper docs after ClientOptions refactor
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

refactor(kotlin): hide ingestionTransporter from consumers
  templates/kotlin/api.mustache
Due: none

docs(kotlin): drop stale ClientOptions.transformationOptions reference
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/TransformationOptions.kt
Due: none

refactor(kotlin): nest ClientOptions inside TransformationOptions
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/configuration/TransformationOptions.kt
  templates/kotlin/api.mustache
  templates/kotlin/tests/client/createClient.mustache
Due: none

fix(kotlin): preserve original exception when replaceAllObjects rollback fails
  clients/algoliasearch-client-kotlin/client/src/commonMain/kotlin/com/algolia/client/extensions/SearchClient.kt
Due: none

chore: prepare release 2026-05-26
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_composition/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/abtesting/package.json
  clients/algoliasearch-client-javascript/packages/advanced-personalization/package.json
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/composition/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/logger-console/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
  docs/versions-history-with-sla-and-support-policy.json
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
