Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: docker exec -t api-client yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix

.lintstagedrc:

{
  "generators/**/*.java": "docker exec -t api-client yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts)": "yarn scripts:lint --fix"
}

feat(specs): DamCou's review
  specs/ingestion/paths/authentications/searchAuthentications.yml
  specs/ingestion/paths/destinations/searchDestinations.yml
  specs/ingestion/paths/sources/searchSources.yml
  specs/ingestion/paths/tasks/searchTasks.yml
Due: none

feat(specs): add search endpoint to every item type (#1274)
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/paths/authentications/searchAuthentications.yml
  specs/ingestion/paths/destinations/searchDestinations.yml
  specs/ingestion/paths/sources/searchSources.yml
  specs/ingestion/paths/tasks/searchTasks.yml
  specs/ingestion/spec.yml
Due: none

common ID objects
  specs/ingestion/common/authenticationParameters.yml
  specs/ingestion/common/destinationParameters.yml
  specs/ingestion/common/parameters.yml
  specs/ingestion/common/schemas/common.yml
  specs/ingestion/common/sourceParameters.yml
  specs/ingestion/common/taskParameters.yml
  specs/ingestion/paths/authentications/authenticationID.yml
  specs/ingestion/paths/destinations/destinationID.yml
  specs/ingestion/paths/runs/events/eventID.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runID.yml
  specs/ingestion/paths/runs/tasks/taskID.yml
  specs/ingestion/paths/sources/sourceID.yml
  specs/ingestion/paths/tasks/disableTask.yml
  specs/ingestion/paths/tasks/enableTask.yml
  specs/ingestion/paths/tasks/runTask.yml
  specs/ingestion/paths/tasks/taskID.yml
Due: none

chore: generated code for commit 46c1e2e9ba1bafe237df752fbf36f0e3d7ff0f58. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/authenticationSearch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/destinationSearch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceSearch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/taskSearch.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  specs/bundled/ingestion.yml
Due: none

reuse object
  specs/ingestion/common/destinationParameters.yml
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/sourceParameters.yml
  specs/ingestion/common/taskParameters.yml
Due: none

chore: prepare release 2023-01-30
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

more reuse object
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
Due: none

chore: prepare release 2023-01-30 (#1275)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-01-30 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

feat(specs): source update changes
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/paths/sources/sourceID.yml
Due: none

fix(specs): remove redundant type from source update
  specs/ingestion/common/schemas/source.yml
Due: none

add descriptions for auth
  specs/ingestion/common/authenticationParameters.yml
  specs/ingestion/common/schemas/authentication.yml
Due: none

uppercase uuid
  specs/ingestion/common/parameters.yml
  specs/ingestion/common/schemas/common.yml
Due: none

fix(specs): add few descriptions
  specs/ingestion/common/schemas/source.yml
Due: none

feat(specs): source update changes (#1276)
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/paths/sources/sourceID.yml
Due: none

chore: generated code for commit 859c0a97af56fadd6f91ed172eccc928126c68da. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceBigCommerce.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdate.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateCommercetools.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateInput.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/sourceUpdateJson.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  specs/bundled/ingestion.yml
Due: none

endpoint descriptions
  specs/ingestion/paths/authentications/authenticationID.yml
  specs/ingestion/paths/authentications/authentications.yml
  specs/ingestion/paths/destinations/destinationID.yml
  specs/ingestion/paths/destinations/destinations.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/sources/sourceID.yml
  specs/ingestion/paths/sources/sources.yml
  specs/ingestion/paths/tasks/disableTask.yml
  specs/ingestion/paths/tasks/enableTask.yml
  specs/ingestion/paths/tasks/tasks.yml
Due: none

docs description
  specs/ingestion/spec.yml
Due: none

endpoints and payload description
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/common.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/common/schemas/source.yml
Due: none

fix(specs): add query params for observability
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/runs/tasks/taskID.yml
  specs/ingestion/spec.yml
Due: none

fix(specs): add query params for observability (#1277)
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/runs/tasks/taskID.yml
  specs/ingestion/spec.yml
Due: none

chore: generated code for commit 3739451a086d5c886c8eb47e3ce49e4e99dd9831. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/clientMethodProps.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/eventType.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/listEventsResponse.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/runStatus.ts
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  specs/bundled/ingestion.yml
Due: none

ref
  specs/ingestion/common/observabilityParameters.yml
Due: none

Update specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/schemas/task.yml
Due: none

Update specs/ingestion/common/sourceParameters.yml
  specs/ingestion/common/sourceParameters.yml
Due: none

review
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/tasks/taskID.yml
Due: none

api description
  specs/ingestion/spec.yml
Due: none

feat(specs): add more descriptions to the Ingestion API (#1273)
  specs/ingestion/common/authenticationParameters.yml
  specs/ingestion/common/destinationParameters.yml
  specs/ingestion/common/observabilityParameters.yml
  specs/ingestion/common/parameters.yml
  specs/ingestion/common/schemas/authentication.yml
  specs/ingestion/common/schemas/common.yml
  specs/ingestion/common/schemas/destination.yml
  specs/ingestion/common/schemas/event.yml
  specs/ingestion/common/schemas/run.yml
  specs/ingestion/common/schemas/source.yml
  specs/ingestion/common/schemas/task.yml
  specs/ingestion/common/sourceParameters.yml
  specs/ingestion/common/taskParameters.yml
  specs/ingestion/paths/authentications/authenticationID.yml
  specs/ingestion/paths/authentications/authentications.yml
  specs/ingestion/paths/destinations/destinationID.yml
  specs/ingestion/paths/destinations/destinations.yml
  specs/ingestion/paths/runs/events/eventID.yml
  specs/ingestion/paths/runs/events/events.yml
  specs/ingestion/paths/runs/runID.yml
  specs/ingestion/paths/runs/runs.yml
  specs/ingestion/paths/sources/sourceID.yml
  specs/ingestion/paths/sources/sources.yml
  specs/ingestion/paths/tasks/disableTask.yml
  specs/ingestion/paths/tasks/enableTask.yml
  specs/ingestion/paths/tasks/runTask.yml
  specs/ingestion/paths/tasks/taskID.yml
  specs/ingestion/paths/tasks/tasks.yml
  specs/ingestion/spec.yml
Due: none

chore: prepare release 2023-01-31
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: prepare release 2023-01-31 (#1278)
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json

chore: release 2023-01-31 [skip ci]
  clients/algoliasearch-client-javascript/packages/algoliasearch/lite/src/liteClient.ts
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/src/abtestingClient.ts
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/src/analyticsClient.ts
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/src/insightsClient.ts
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/src/personalizationClient.ts
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/src/querySuggestionsClient.ts
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/client-search/src/searchClient.ts
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
  clients/algoliasearch-client-javascript/packages/predict/package.json
  clients/algoliasearch-client-javascript/packages/predict/src/predictClient.ts
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/recommend/src/recommendClient.ts
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.json
Due: yarn fix:json

fix(specs): correct types for Tasks trigger
  specs/ingestion/common/schemas/task.yml
Due: none

fix(specs): correct types for Tasks trigger (#1279)
  specs/ingestion/common/schemas/task.yml
Due: none

chore: generated code for commit a1c7c24518b1132cdd9681a92f9dc7dd330cac8c. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/model/index.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/onDemandTrigger.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/onDemandTriggerType.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/scheduleTrigger.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/scheduleTriggerInput.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/scheduleTriggerType.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/subscriptionTrigger.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/task.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/taskTrigger.ts
  clients/algoliasearch-client-javascript/packages/ingestion/model/trigger.ts
  specs/bundled/ingestion.yml
Due: none

feat(specs): update isIngestionClient property
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  templates/javascript/clients/api-single.mustache
Due: docker exec -t api-client yarn cli format java generators

feat(javascript): add task trigger type guards
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/guards.mustache
  templates/javascript/clients/client/api/imports.mustache
Due: none

feat(javascript): add task trigger type guards (#1280)
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaScriptGenerator.java
  templates/javascript/clients/api-single.mustache
  templates/javascript/clients/client/api/guards.mustache
  templates/javascript/clients/client/api/imports.mustache
Due: docker exec -t api-client yarn cli format java generators

chore: generated code for commit 91f214873a588b77b1c30b82a5fdd72324f6fc7e. [skip ci]
  clients/algoliasearch-client-javascript/packages/ingestion/src/ingestionClient.ts
Due: none

chore: prepare release 2023-02-03
  clients/algoliasearch-client-java-2/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-php/CHANGELOG.md
  config/clients.config.json
  config/openapitools.json
Due: yarn fix:json
