Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

docs(insights): Update the user token deletion summary (#6225)
  specs/insights/paths/deleteUserToken.yml
Due: yarn eslint --ext=yml --fix

docs(insights): Update the user token deletion summary (#6225) (generated) [skip ci]
  clients/algoliasearch-client-php/lib/Api/InsightsClient.php
  docs/bundled/insights.json
  docs/bundled/insights.yml
  specs/bundled/insights.yml
Due: yarn fix:json, yarn eslint --ext=yml --fix

feat(specs): add extensions field for Query Categorization to SearchForHits and SearchResponse
  specs/common/schemas/SearchResponse.yml
  specs/search/common/schemas/SearchQuery.yml
  tests/CTS/requests/search/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

refactor(specs): split injection schema
  specs/composition/common/schemas/components/injection/Behaviour.yml
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/Main.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
Due: yarn eslint --ext=yml --fix

test: update manual tests
  tests/output/go/tests/manual/composition_oneof_test.go
Due: none

fix: apply comments ?
  specs/composition/common/schemas/components/injection/Behaviour.yml
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
Due: yarn eslint --ext=yml --fix

feat(python): add TransformationOptions object
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/client.mustache
  templates/python/tests/client/createClient.mustache
Due: none

fix: attempt 2 ?
  specs/composition/common/schemas/components/injection/Behaviour.yml
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/Main.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

feat(specs): add extensions field for Query Categorization to SearchForHits and SearchResponse
  specs/search/common/schemas/SearchQuery.yml
  specs/search/common/schemas/SearchResponse.yml
  tests/CTS/requests/search/search.json
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix: attemps 3 ?
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/Main.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

fix: attempt 4
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/Main.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

fix: attempt 5
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
Due: yarn eslint --ext=yml --fix

feat(python): fix dead setter trap
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
  tests/output/python/tests/manual/test_dead_setter_trap.py
Due: none

fix(specs): move Query Categorization schemas to search-specific spec
  specs/common/schemas/SearchResponse.yml
Due: yarn eslint --ext=yml --fix

feat(python): add deprecation warning
  templates/python/config.mustache
Due: none

feat(python): move set_transformation_options to client, remove lazy init
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/createClient.mustache
Due: none

feat(python): move set_transformation_options to client, remove lazy init
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/createClient.mustache
  tests/output/python/tests/manual/test_dead_setter_trap.py
Due: none

feat(python): change error messages
  templates/python/search_helpers.mustache
Due: none

feat(python): change docstrings
  templates/python/search_helpers.mustache
Due: none

fix(python): close ingestion transporter on client close
  templates/python/api.mustache
  templates/python/config.mustache
  templates/python/search_helpers.mustache
  templates/python/tests/client/createClient.mustache
Due: none

refactor(specs): split injection schema (#6224)
  specs/composition/common/schemas/components/injection/Behaviour.yml
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/Main.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  specs/composition/common/schemas/components/injection/SearchQueryParams.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

tests: add CTS tests
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/saveRules.json
Due: yarn fix:json

feat(specs): introduce recommend source for main feed and injected items in injection
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  specs/composition/common/schemas/components/injection/RecommendModel.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

fix
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn eslint --ext=yml --fix

add tests
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/saveRules.json
Due: yarn fix:json

removed categorization fields from response
  tests/CTS/requests/search/search.json
Due: yarn fix:json

feat(specs): introduce recommend source in Comp API client (#6227)
  specs/composition/common/schemas/components/injection/InjectedItem.yml
  specs/composition/common/schemas/components/injection/InjectedItemSource.yml
  specs/composition/common/schemas/components/injection/MainSource.yml
  specs/composition/common/schemas/components/injection/RecommendModel.yml
  tests/CTS/requests/composition/putComposition.json
  tests/CTS/requests/composition/saveRules.json
  tests/output/go/tests/manual/composition_oneof_test.go
Due: yarn fix:json, yarn eslint --ext=yml --fix

fix(python): remove newline between tests
  templates/python/tests/client/createClient.mustache
Due: none

fix(python): use constructor in tests instead of create_with_config
  templates/python/tests/client/createClient.mustache
Due: none

Revert "fix(python): use constructor in tests instead of create_with_config"
  templates/python/tests/client/createClient.mustache
Due: none

Revert "fix(python): use constructor in tests instead of create_with_config" (generated)
  clients/algoliasearch-client-python/algoliasearch/abtesting/client.py
  clients/algoliasearch-client-python/algoliasearch/abtesting_v3/client.py
  clients/algoliasearch-client-python/algoliasearch/analytics/client.py
  clients/algoliasearch-client-python/algoliasearch/composition/client.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injected_item_external.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injected_item_external_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injected_item_recommend_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injected_item_search.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injected_item_search_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injection_injected_item.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injection_main.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injection_main_recommend_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injection_main_search_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/injection_main_source.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/main_recommend.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/main_search.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/model.py
  clients/algoliasearch-client-python/algoliasearch/composition/models/recommend.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/client.py
  clients/algoliasearch-client-python/algoliasearch/insights/client.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/client.py
  clients/algoliasearch-client-python/algoliasearch/personalization/client.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/client.py
  clients/algoliasearch-client-python/algoliasearch/recommend/client.py
  clients/algoliasearch-client-python/algoliasearch/search/client.py
  clients/algoliasearch-client-python/algoliasearch/search/config.py
  docs/bundled/insights-snippets.json
  docs/snippets/python/composition.py
  docs/snippets/python/insights.py
  specs/bundled/composition.yml
  tests/output/python/tests/client/search_test.py
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/composition_test.py
  tests/output/python/tests/requests/insights_test.py
Due: yarn fix:json, yarn eslint --ext=yml --fix

chore(deps): update dependency json_serializable to <6.14.0 (generated)
  clients/algoliasearch-client-dart/packages/client_abtesting_v3/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_composition/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_recommend/pubspec.yaml
Due: none

chore(deps): update dependency coverlet.collector to v10 (generated)
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

chore(deps): update dependency coverlet.collector to 8.0.1 (generated)
  tests/output/csharp/src/Algolia.Search.Tests.csproj
Due: none

chore(deps): update node.js to v24.15.0 (#6271) (generated)
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/yarn.lock
  clients/algoliasearch-client-php/composer.lock
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/dart/lib/insights.dart
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/javascript/src/insights.ts
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

chore(deps): update actions/github-script action to v9 (generated)
  clients/algoliasearch-client-csharp/.github/workflows/issue.yml
  clients/algoliasearch-client-go/.github/workflows/issue.yml
  clients/algoliasearch-client-java/.github/workflows/issue.yml
  clients/algoliasearch-client-kotlin/.github/workflows/issue.yml
  clients/algoliasearch-client-php/.github/workflows/issue.yml
  clients/algoliasearch-client-python/.github/workflows/issue.yml
  clients/algoliasearch-client-ruby/.github/workflows/issue.yml
  clients/algoliasearch-client-scala/.github/workflows/issue.yml
  clients/algoliasearch-client-swift/.github/workflows/issue.yml
  docs/bundled/insights-snippets.json
  docs/snippets/csharp/src/Insights.cs
  docs/snippets/go/src/insights.go
  docs/snippets/java/src/test/java/com/algolia/Insights.java
  docs/snippets/kotlin/src/main/kotlin/com/algolia/snippets/Insights.kt
  docs/snippets/php/src/Insights.php
  docs/snippets/python/insights.py
  docs/snippets/ruby/insights.rb
  docs/snippets/scala/src/main/scala/Insights.scala
  docs/snippets/swift/Sources/Insights.swift
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: yarn fix:json

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
