Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

fix(dart): never override a caller-supplied x-algolia-request-id query parameter (API-520)
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/request_id.dart
  clients/algoliasearch-client-dart/packages/client_core/lib/src/transport/retry_strategy.dart
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
  tests/output/dart/test/manual/request_id_test.dart
Due: none

feat(cts): enable the Request-ID client tests for dart (API-520)
  scripts/cts/runCts.ts
  scripts/cts/testServer/requestId.ts
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
Due: yarn fix:json

fix(dart): gate the helper default-headers check on the default requester (API-520)
  clients/algoliasearch-client-dart/packages/client_search/lib/src/extension/wait_task.dart
  tests/output/dart/test/manual/request_id_test.dart
Due: none

fix(go): forward caller header and query params to the rescue DeleteIndex (API-518)
  templates/go/api.mustache
  templates/go/search_helpers.mustache
  tests/output/go/tests/manual/request_id_test.go
Due: none

chore(generators): use the shared requestIdSupport predicate in kotlin and scala (API-518)
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
Due: yarn cli format java generators

fix(go): keep concurrent fallback Request-IDs distinct within one clock tick (API-518)
  clients/algoliasearch-client-go/algolia/transport/request_id.go
Due: none

feat(go): Request-ID and Correlation-ID support (#6868)
  clients/algoliasearch-client-go/algolia/errs/deserialization_err.go
  clients/algoliasearch-client-go/algolia/errs/http_status_err.go
  clients/algoliasearch-client-go/algolia/errs/no_more_host_to_try_err.go
  clients/algoliasearch-client-go/algolia/transport/configuration.go
  clients/algoliasearch-client-go/algolia/transport/request_id.go
  clients/algoliasearch-client-go/algolia/transport/transport.go
  generators/src/main/java/com/algolia/codegen/AlgoliaGoGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavascriptGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaKotlinGenerator.java
  generators/src/main/java/com/algolia/codegen/AlgoliaScalaGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/AlgoliaCTSGenerator.java
  generators/src/main/java/com/algolia/codegen/utils/Helpers.java
  scripts/cts/testServer/requestId.ts
  templates/go/api.mustache
  templates/go/client.mustache
  templates/go/search_helpers.mustache
  templates/go/tests/e2e/e2e.mustache
  templates/go/tests/method.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/output/go/tests/manual/request_id_test.go
  tests/output/go/tests/manual/transport_stream_test.go
Due: yarn cli format java generators, yarn fix:json

chore(javascript): raise abtesting bundle budget
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

fix(java): apply review feedback on Request-ID support
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
Due: yarn cli format java generators

chore(javascript): raise abtesting bundle budget (#6884)
  clients/algoliasearch-client-javascript/package.json
Due: yarn fix:json

feat(specs): add A/B test settings endpoints to abtesting-v3
  generators/src/main/java/com/algolia/codegen/cts/tests/Snippet.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsRequest.java
  playground/javascript/node/abtestingV3.ts
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTestSettings.yml
  specs/abtesting-v3/paths/applyVariantSettings.yml
  specs/abtesting-v3/paths/settings.yml
  specs/abtesting-v3/paths/variantSettings.yml
  specs/abtesting-v3/spec.yml
  tests/CTS/requests/abtesting-v3/applyVariantSettings.json
  tests/CTS/requests/abtesting-v3/getABTestSettings.json
  tests/CTS/requests/abtesting-v3/saveVariantSettings.json
Due: yarn cli format java generators, yarn fix:json, yarn eslint --ext=yml --fix

fix(specs): require abtesting hypothesis response
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(specs): extend ABTest data model with Bayesian fields
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/common/schemas/Variant.yml
Due: yarn eslint --ext=yml --fix

feat(specs): make primaryMetric an enum and clarify method semantics
  specs/abtesting-v3/common/schemas/ABTest.yml
Due: yarn eslint --ext=yml --fix

feat(specs): add abtesting hypothesis
  specs/abtesting-v3/common/parameters.yml
  specs/abtesting-v3/common/schemas/ABTest.yml
  specs/abtesting-v3/paths/abtests.yml
Due: yarn eslint --ext=yml --fix

test(java): pin default-headers behavior in a manual test instead of a java-only CTS test
  generators/src/main/java/com/algolia/codegen/cts/tests/TestsClient.java
  templates/java/tests/client/client.mustache
  templates/java/tests/client/createClient.mustache
  tests/CTS/client/search/requestId.json
  tests/output/java/src/test/java/com/algolia/manual/DefaultHeadersTest.java
Due: yarn cli format java generators, yarn fix:json

chore(java): review fixes: addDefaultHeader javadoc, @Nonnull isPresent, retry Correlation-ID coverage
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/ClientOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/RequestId.java
  tests/output/java/src/test/java/com/algolia/manual/RetryCorrelationIdTest.java
Due: none

feat(java): Request-ID and Correlation-ID support (#6870)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/ApiClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/config/ClientOptions.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaApiException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRequestException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/exceptions/AlgoliaRetryException.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/RequestId.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/HeaderInterceptor.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RequestIdInterceptor.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/interceptors/RetryStrategy.java
  generators/src/main/java/com/algolia/codegen/AlgoliaJavaGenerator.java
  scripts/cts/testServer/requestId.ts
  templates/java/api.mustache
  templates/java/api_helpers.mustache
  templates/java/tests/e2e/e2e.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
  tests/output/java/src/test/java/com/algolia/manual/DefaultHeadersTest.java
  tests/output/java/src/test/java/com/algolia/manual/RetryCorrelationIdTest.java
Due: yarn cli format java generators, yarn fix:json

feat(csharp): send Request-ID and surface Correlation-ID on errors (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Defaults.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RequestIdHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  templates/csharp/Configuration.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/method.mustache
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn cli format java generators

feat(cts): enable the Request-ID client and e2e tests for csharp (API-518)
  scripts/cts/testServer/requestId.ts
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
Due: yarn fix:json

feat(csharp): surface the Correlation-ID on host-exhaustion errors (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaUnreachableHostException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  tests/output/csharp/src/RequestIdTests.cs
Due: none

docs(csharp): document the named-argument constraint in the test method template (API-518)
  templates/csharp/tests/method.mustache
Due: none

fix(csharp): never override a caller-supplied x-algolia-request-id query parameter (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RequestIdHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/CTS/requests/composition/getComposition.json
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn fix:json

fix(csharp): apply PR review suggestions on the Request-ID port (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/output/csharp/src/RequestIdTests.cs
Due: none

fix(csharp): resolve request-id support from the shared generator predicate (API-518)
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn cli format java generators

fix(csharp): keep the error message machine-parsable and carry the Correlation-ID on decode errors (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Defaults.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RequestIdHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/CTS/client/search/requestId.json
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn fix:json

fix(csharp): decorate the error message with the Correlation-ID and expose the raw body (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  tests/CTS/client/search/requestId.json
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn fix:json

fix(csharp): expose the raw response body and address review nits (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RequestIdHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/method.mustache
  tests/output/csharp/src/RequestIdTests.cs
Due: none

test(csharp): strengthen the Request-ID cleanup and helper guard tests (API-518)
  tests/output/csharp/src/RequestIdTests.cs
Due: none

feat(cts): assert the absence of a minted request-id header on the query-parameter tests (API-518)
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestProp.java
  templates/csharp/tests/requests/requests.mustache
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
Due: yarn cli format java generators, yarn fix:json

feat(cts): render the absentHeaders assertion in the javascript, kotlin and scala requests tests (API-518)
  templates/javascript/tests/requests/requests.mustache
  templates/kotlin/tests/intercept.mustache
  templates/scala/tests/requests/requests.mustache
Due: none

fix(csharp): never let a failing cleanup delete replace the root cause (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/CTS/requests/search/searchRules.json
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn fix:json

fix(csharp): strip caller timeouts from rescue cleanups and address review nits (API-518)
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  tests/output/csharp/src/RequestIdTests.cs
Due: none

feat(csharp): Request-ID and Correlation-ID support (#6869)
  clients/algoliasearch-client-csharp/algoliasearch/Clients/AlgoliaConfig.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaApiException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Exceptions/AlgoliaUnreachableHostException.cs
  clients/algoliasearch-client-csharp/algoliasearch/Http/RequestOptions.cs
  clients/algoliasearch-client-csharp/algoliasearch/Transport/HttpTransport.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/Defaults.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/RequestIdHelper.cs
  clients/algoliasearch-client-csharp/algoliasearch/Utils/SearchClientExtensions.cs
  generators/src/main/java/com/algolia/codegen/AlgoliaCSharpGenerator.java
  generators/src/main/java/com/algolia/codegen/cts/tests/RequestProp.java
  scripts/cts/testServer/requestId.ts
  templates/csharp/Configuration.mustache
  templates/csharp/tests/e2e/e2e.mustache
  templates/csharp/tests/method.mustache
  templates/csharp/tests/requests/requests.mustache
  templates/javascript/tests/requests/requests.mustache
  templates/kotlin/tests/intercept.mustache
  templates/scala/tests/requests/requests.mustache
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
  tests/CTS/requests/search/searchRules.json
  tests/output/csharp/src/RequestIdTests.cs
Due: yarn cli format java generators, yarn fix:json

feat(swift): send Request-ID and surface Correlation-ID on errors (API-518)
  clients/algoliasearch-client-swift/Sources/Core/Networking/BaseConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestID.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
  scripts/cts/runCts.ts
  templates/swift/client_configuration.mustache
  templates/swift/tests/e2e/e2e.mustache
  tests/output/swift/Tests/manual/RequestIdTests.swift
Due: yarn cli format java generators

fix(swift): use uppercase ID casing on the new public API (API-518)
  clients/algoliasearch-client-swift/Sources/Core/Networking/BaseConfiguration.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/HTTP/HTTPError.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/RequestID.swift
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientTransformationExtension.swift
  templates/swift/client_configuration.mustache
  tests/output/swift/Tests/manual/RequestIdTests.swift
Due: none

feat(cts): enable the Request-ID client and e2e tests for swift (API-518)
  scripts/cts/testServer/requestId.ts
  tests/CTS/client/composition/requestId.json
  tests/CTS/client/recommend/requestId.json
  tests/CTS/client/search/requestId.json
  tests/CTS/requests/composition/getComposition.json
Due: yarn fix:json

chore(swift): address round-four review nits on the Request-ID port (API-518)
  clients/algoliasearch-client-swift/Sources/Core/Common/RequestOptions.swift
  tests/output/swift/Tests/manual/RequestIdTests.swift
Due: none

chore(generators): use the shared requestIdSupport predicate in swift (API-518)
  generators/src/main/java/com/algolia/codegen/AlgoliaSwiftGenerator.java
Due: yarn cli format java generators

chore(swift): mint through RequestID.withRequestID in the transporter (API-518)
  clients/algoliasearch-client-swift/Sources/Core/Networking/Transporter.swift
Due: none

Path conditions:
  yarn cli format java generators: any of: generators/**/*.java
  yarn github-actions:lint --fix: any of: .github/**/*.yml
  yarn fix:json: any of: *.json
  yarn scripts:lint --fix: any of: scripts/**/*.(js|ts|mjs|cjs)
  yarn eslint --ext=yml --fix: any of: specs/**/*.yml
