Repository algolia/api-clients-automation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn cli format java generators, yarn github-actions:lint --fix, yarn fix:json, yarn scripts:lint --fix, yarn eslint --ext=yml --fix

.lintstagedrc:

{
  "generators/**/*.java": "yarn cli format java generators",
  ".github/**/*.yml": "yarn github-actions:lint --fix",
  "*.json": "yarn fix:json",
  "scripts/**/*.(js|ts|mjs|cjs)": "yarn scripts:lint --fix",
  "specs/**/*.yml": "yarn eslint --ext=yml --fix"
}

chore: prepare release 2024-09-19 [skip-bc] (#3776)
  clients/algoliasearch-client-csharp/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/algoliasearch/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_core/pubspec.yaml
  clients/algoliasearch-client-dart/packages/client_insights/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_recommend/CHANGELOG.md
  clients/algoliasearch-client-dart/packages/client_search/CHANGELOG.md
  clients/algoliasearch-client-go/CHANGELOG.md
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-kotlin/CHANGELOG.md
  clients/algoliasearch-client-php/CHANGELOG.md
  clients/algoliasearch-client-python/CHANGELOG.md
  clients/algoliasearch-client-ruby/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix: only unset?
  templates/python/model_generic.mustache
Due: none

feat(swift): add disjunctive faceting
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchQueryExtension.swift
  templates/swift/tests/Package.mustache
  tests/output/swift/Tests/manual/SearchTests.swift
Due: none

chore: gen
  config/generation.config.mjs
Due: none

fix(python): exclude unset API values on model dump (#3777)
  config/generation.config.mjs
  playground/python/app/search.py
  playground/python/poetry.lock
  playground/python/pyproject.toml
  playground/python/requirements.txt
  scripts/formatter.ts
  templates/python/model_generic.mustache
Due: none

chore: prepare release 2024-09-19
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-09-19 (#3779)
  clients/algoliasearch-client-python/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

fix: make helper internal
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
Due: none

chore: release 2024-09-19 [skip ci]
  clients/algoliasearch-client-python/algoliasearch/__init__.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/__init__.py
  clients/algoliasearch-client-python/algoliasearch/abtesting/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/analytics/__init__.py
  clients/algoliasearch-client-python/algoliasearch/analytics/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/http/__init__.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/__init__.py
  clients/algoliasearch-client-python/algoliasearch/ingestion/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/insights/__init__.py
  clients/algoliasearch-client-python/algoliasearch/insights/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/__init__.py
  clients/algoliasearch-client-python/algoliasearch/monitoring/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/personalization/__init__.py
  clients/algoliasearch-client-python/algoliasearch/personalization/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/__init__.py
  clients/algoliasearch-client-python/algoliasearch/query_suggestions/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/recommend/__init__.py
  clients/algoliasearch-client-python/algoliasearch/recommend/models/__init__.py
  clients/algoliasearch-client-python/algoliasearch/search/__init__.py
  clients/algoliasearch-client-python/algoliasearch/search/models/__init__.py
  clients/algoliasearch-client-python/pyproject.toml
  snippets/python/poetry.lock
  tests/output/python/poetry.lock
  tests/output/python/tests/client/abtesting_test.py
  tests/output/python/tests/client/analytics_test.py
  tests/output/python/tests/client/ingestion_test.py
  tests/output/python/tests/client/insights_test.py
  tests/output/python/tests/client/monitoring_test.py
  tests/output/python/tests/client/personalization_test.py
  tests/output/python/tests/client/query_suggestions_test.py
  tests/output/python/tests/client/recommend_test.py
  tests/output/python/tests/client/search_test.py
Due: none

chore: more explicit documentation
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
Due: none

feat(swift): add disjunctive faceting (#3778)
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchQueryExtension.swift
  templates/swift/tests/Package.mustache
  tests/output/swift/Tests/manual/SearchTests.swift
Due: none

feat(swift): add disjunctive faceting (#3778) (generated) [skip ci]
  clients/algoliasearch-client-swift/Sources/Search/Extra/DisjunctiveFaceting.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchClientExtension.swift
  clients/algoliasearch-client-swift/Sources/Search/Extra/SearchQueryExtension.swift
  tests/output/swift/Package.swift
Due: none

fix(python): pydantic warnings and template update
  playground/python/app/search.py
  templates/python/imports.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

fix(java): use the dsn with the read transporter
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  templates/java/api.mustache
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
Due: none

feat(specs): add recommend batch rules endpoint
  specs/common/schemas/Rule.yml
  specs/recommend/common/schemas/RecommendRule.yml
  specs/recommend/paths/batchRecommendRules.yml
  specs/recommend/spec.yml
  specs/search/paths/rules/common/schemas.yml
Due: yarn eslint --ext=yml --fix

fix(clients): use the dsn with the read transporter (#3781)
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/internal/HttpRequester.scala
  templates/java/api.mustache
  tests/CTS/client/search/api.json
Due: yarn fix:json

fix(clients): use the dsn with the read transporter (#3781) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/internal/HttpRequester.java
  tests/output/csharp/src/generated/client/Search.test.cs
  tests/output/dart/test/client/search_test.dart
  tests/output/go/tests/client/search_test.go
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/javascript/src/client/search.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/client/SearchTest.kt
  tests/output/php/src/client/SearchTest.php
  tests/output/python/tests/client/search_test.py
  tests/output/ruby/test/client/search_test.rb
  tests/output/scala/src/test/scala/algoliasearch/client/SearchTest.scala
  tests/output/swift/Tests/client/SearchTests.swift
Due: none

chore: prepare release 2024-09-19
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: prepare release 2024-09-19 (#3783)
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-scala/CHANGELOG.md
  clients/algoliasearch-client-swift/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: release 2024-09-19 [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/BuildConfig.java
  clients/algoliasearch-client-java/gradle.properties
  clients/algoliasearch-client-scala/version.sbt
  clients/algoliasearch-client-swift/AlgoliaSearchClient.podspec
  clients/algoliasearch-client-swift/Sources/Core/Helpers/Version.swift
  snippets/java/build.gradle
  tests/output/java/build.gradle
  tests/output/java/src/test/java/com/algolia/client/Abtesting.test.java
  tests/output/java/src/test/java/com/algolia/client/Analytics.test.java
  tests/output/java/src/test/java/com/algolia/client/Ingestion.test.java
  tests/output/java/src/test/java/com/algolia/client/Insights.test.java
  tests/output/java/src/test/java/com/algolia/client/Monitoring.test.java
  tests/output/java/src/test/java/com/algolia/client/Personalization.test.java
  tests/output/java/src/test/java/com/algolia/client/QuerySuggestions.test.java
  tests/output/java/src/test/java/com/algolia/client/Recommend.test.java
  tests/output/java/src/test/java/com/algolia/client/Search.test.java
  tests/output/scala/src/test/scala/algoliasearch/client/AbtestingTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/AnalyticsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/IngestionTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/MonitoringTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/PersonalizationTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/QuerySuggestionsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/RecommendTest.scala
  tests/output/scala/src/test/scala/algoliasearch/client/SearchTest.scala
  tests/output/swift/Tests/client/AbtestingTests.swift
  tests/output/swift/Tests/client/AnalyticsTests.swift
  tests/output/swift/Tests/client/IngestionTests.swift
  tests/output/swift/Tests/client/InsightsTests.swift
  tests/output/swift/Tests/client/MonitoringTests.swift
  tests/output/swift/Tests/client/PersonalizationTests.swift
  tests/output/swift/Tests/client/QuerySuggestionsTests.swift
  tests/output/swift/Tests/client/RecommendTests.swift
  tests/output/swift/Tests/client/SearchTests.swift
Due: none

fix(error-transporter): add override to name property
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
Due: none

chore: tsconfig
  clients/algoliasearch-client-javascript/tsconfig.json
Due: yarn fix:json

chore: comments
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
Due: none

fix(go): true speed of benchmark
  .github/ISSUE_TEMPLATE/Bug_report.yml
  config/clients.config.json
  scripts/buildClients.ts
  scripts/cts/runCts.ts
  scripts/cts/testServer/benchmark.ts
  scripts/formatter.ts
  scripts/playground.ts
  templates/Bug_report.yml
  templates/go/tests/client/benchmark.mustache
  tests/CTS/benchmark/search/benchmark.json
Due: yarn github-actions:lint --fix, yarn fix:json

feat: simpler deserializing
  templates/python/model_generic.mustache
  tests/CTS/requests/search/partialUpdateObject.json
Due: yarn fix:json

fix(javascript): add override to name property (#3785)
  clients/algoliasearch-client-javascript/packages/client-common/src/transporter/errors.ts
  clients/algoliasearch-client-javascript/tsconfig.json
Due: yarn fix:json

fix(javascript): add override to name property (#3785) (generated) [skip ci]
  tests/output/csharp/src/generated/e2e/Insights.test.cs
  tests/output/csharp/src/generated/requests/Insights.test.cs
  tests/output/dart/test/requests/insights_test.dart
  tests/output/go/tests/e2e/insights_test.go
  tests/output/go/tests/requests/insights_test.go
  tests/output/java/src/test/java/com/algolia/e2e/Insights.test.java
  tests/output/java/src/test/java/com/algolia/requests/Insights.test.java
  tests/output/javascript/src/e2e/insights.test.ts
  tests/output/javascript/src/requests/insights.test.ts
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/e2e/InsightsTest.kt
  tests/output/kotlin/src/commonTest/kotlin/com/algolia/requests/InsightsTest.kt
  tests/output/php/src/e2e/InsightsTest.php
  tests/output/php/src/requests/InsightsTest.php
  tests/output/python/tests/e2e/insights_test.py
  tests/output/python/tests/requests/insights_test.py
  tests/output/ruby/test/e2e/insights_test.rb
  tests/output/ruby/test/requests/insights_test.rb
  tests/output/scala/src/test/scala/algoliasearch/e2e/InsightsTest.scala
  tests/output/scala/src/test/scala/algoliasearch/requests/InsightsTest.scala
  tests/output/swift/Tests/e2e/InsightsTests.swift
  tests/output/swift/Tests/requests/InsightsTests.swift
Due: none

fix(clients): use the correct host for search
  templates/java/api.mustache
  templates/scala/api.mustache
Due: none

fix(clients): use the correct host for search (#3787)
  templates/java/api.mustache
  templates/scala/api.mustache
Due: none

fix this another time
  templates/Bug_report.yml
Due: none

fix: enum values
  templates/python/model_enum.mustache
  templates/python/model_generic.mustache
  templates/python/model_oneof.mustache
  tests/output/python/requirements.txt
Due: none

fix(clients): use the correct host for search (#3787) (generated) [skip ci]
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/RecommendClient.java
  clients/algoliasearch-client-java/algoliasearch/src/main/java/com/algolia/api/SearchClient.java
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/RecommendClient.scala
  clients/algoliasearch-client-scala/src/main/scala/algoliasearch/api/SearchClient.scala
Due: none

chore: prepare release 2024-09-20
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: no dict cases
  templates/python/model_generic.mustache
Due: none

chore: prepare release 2024-09-20 (#3788)
  clients/algoliasearch-client-java/CHANGELOG.md
  clients/algoliasearch-client-javascript/CHANGELOG.md
  clients/algoliasearch-client-javascript/packages/algoliasearch/package.json
  clients/algoliasearch-client-javascript/packages/client-abtesting/package.json
  clients/algoliasearch-client-javascript/packages/client-analytics/package.json
  clients/algoliasearch-client-javascript/packages/client-common/package.json
  clients/algoliasearch-client-javascript/packages/client-insights/package.json
  clients/algoliasearch-client-javascript/packages/client-personalization/package.json
  clients/algoliasearch-client-javascript/packages/client-query-suggestions/package.json
  clients/algoliasearch-client-javascript/packages/client-search/package.json
  clients/algoliasearch-client-javascript/packages/ingestion/package.json
  clients/algoliasearch-client-javascript/packages/monitoring/package.json
  clients/algoliasearch-client-javascript/packages/recommend/package.json
  clients/algoliasearch-client-javascript/packages/requester-browser-xhr/package.json
  clients/algoliasearch-client-javascript/packages/requester-fetch/package.json
  clients/algoliasearch-client-javascript/packages/requester-node-http/package.json
  clients/algoliasearch-client-javascript/packages/requester-testing/package.json
  clients/algoliasearch-client-scala/CHANGELOG.md
  config/clients.config.json
Due: yarn fix:json

chore: unused prop
  templates/python/model_generic.mustache
Due: none
